<div class="row footer-logos">
  <div class="col-sm-3 col-md-4 left">
    <a href="http://movements.org" alt="movements.org" target="_blank"><img src="{{ STATIC_URL }}images/logos/movements-165x36.png" alt="movements.org"/></a>
  </div>
  <div class="col-sm-6 col-md-4 middle">
    <a href="http://advancinghumanrights.org" alt="Advancing Human Rights" target="_blank"><img src="{{ STATIC_URL }}images/logos/ahr-311x39.png" alt="Advancing Human Rights"/></a>
  </div>
  <div class="col-sm-3 col-md-4 right">
    <a href="https://www.uproxy.org/" alt="uProxy" target="_blank"><img src="{{ STATIC_URL }}images/logos/uproxy-218x37.png" alt="uProxy"/></a>
  </div>
</div>
