{% extends "base_public.html" %}
{% load socialaccount %}
{% load i18n %}

{% block head_title %}{% trans "Exchangivist - Contact Us" %}{% endblock %}

{% block public-content %}
  <div class="dialog content-page">
    <div>
      <h1>Contact Us</h1>
      <h4>Thanks for your interest in Exchangivist beta.</h4><br/>
      <p>Exchangivist is a new innovative platform, which aims to create better in the world by crowdsourcing human rights. The site it currently in beta, so if you have any thoughts or comments on how we can make it better, we would love to hear from you, and can be contacted using the information below.</p>
      
      <h4>Address:</h4>
      Advancing Human Rights<br/>
      PO Box 85<br/>
      New York, NY 10116<br/><br/>

      <h4>Email:</h4>
      <a href="mailto:info@advancinghumanrights.org">info@advancinghumanrights.org</a>
    </div>
  </div>
{% endblock %}