{% extends "base_v2.html" %}
{% load cms_tags sekizai_tags %}
{% load i18n %}

{% block head_title %}
Movements: Creating offers
{% endblock %}

{% block content %}
<div style="height:30px;"></div>
<div class="content-page">
  <div class="row">
    <div class="col-md-offset-2 col-md-8 cms-body-content">
      <h1 style="text-align: center; margin-bottom: 30px;">How to create an offer</h1>
      <div class="videoWrapper">
        <!-- Copy & Pasted from YouTube -->
        <iframe width="560" height="349" src="http://www.youtube.com/embed/foDR7ioL9kE?rel=0&hd=1"
                frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
  </div>
</div>
{% endblock %}