{% extends "base_v2.html" %}

{% load url from future %}
{% load i18n %}
{% load cms_tags %}
{% load thumbnail %}

{% block header_nav %}
<!--
<nav class="navbar navbar-default header-nav home-page-nav" role="navigation">
  <div class="navbar-left">
    <img src="{{ STATIC_URL }}images/v2/logo.png" alt="Movements Logo" />
  </div>
  <div class="navbar-right">
    <div class="action-item"><span id="AlreadyHaveText">{%trans "Already have an account?" %}&nbsp;</span><a href="{% url 'account_login' %}">{%trans "Login"%}</a></div>
    <div id="view-content-menu" class="menu-selector">
      <div class="menu-icon"></div>
    </div>
  </div>
</nav>
-->
{% endblock %}

{% block header_padding %}{% endblock %}
{% block footer_padding %}{% endblock %}

{% block content_outside_container %}
  <div class="landing-page-carousel">
    <div class="container-fluid">
      <div class="page-banner">
        <div id="home-page-carousel" class="carousel slide">
          <div class="carousel-inner">
            <div class="item active" style="background-image: url('{{ STATIC_URL }}images/v2/backgrounds/shutterstock_185872262_reduced.jpg');">
              <div class="carousel-filter">
                <div class="container carousel-content">
                  <div class="carousel-title">
                    {% blocktrans %}Crowdsourcing human rights.{% endblocktrans %}
                  </div>
                  <div class="carousel-blurb">
                    <div>{% blocktrans %}Movements is crowdsourcing human rights. It connects human rights activists in closed societies with those with skills to help them around the world. Join today and help a dissident in need.{% endblocktrans %}</div>
                  </div>
                  <div class="carousel-button">
                    <a href="{% url 'signup_start' %}">
                      <button class="btn btn-action">{%trans "Sign up now"%}</button>
                    </a>
                  </div>
                  <div class="carousel-button" id="FindOutMoreButton">
                    <a href="{% page_url 'how_it_works' %}">
                      <button class="btn btn-action">{%trans "Find out more"%}</button>
                    </a>
                  </div>
                  <div class="carousel-button" id="BlogButton">
                    <a target="_blank" href="{{ config.BLOG_URL }}">
                      <button class="btn btn-action">{%trans "Movements Blog"%}</button>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="item" style="background-image: url('{{ STATIC_URL }}images/v2/backgrounds/shutterstock_165869969_reduced.jpg');">
              <div class="carousel-filter">
                <div class="container carousel-content">
                  <div class="carousel-title">
                    {% blocktrans %}Request help from people across the globe, offer help to an activist in need.{% endblocktrans %}
                  </div>
                  <div class="carousel-blurb">
                    <div>{% blocktrans %}Whether you’re a journalist, artist, technologist, policy-maker, linguist or PR agent - everyone has skills that can advance human rights.{% endblocktrans %}</div>
                  </div>
                  <div class="carousel-button">
                    <a href="{% url 'signup_start' %}">
                      <button class="btn btn-action">{%trans "Sign up now"%}</button>
                    </a>
                  </div>
                  <div class="carousel-button" id="FindOutMoreButton">
                    <a href="{% page_url 'how_it_works' %}">
                      <button class="btn btn-action">{%trans "Find out more"%}</button>
                    </a>
                  </div>
                  <div class="carousel-button" id="BlogButton">
                    <a target="_blank" href="{{ config.BLOG_URL }}">
                      <button class="btn btn-action">{%trans "Movements Blog"%}</button>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="left-control">
            <a href="#home-page-carousel" data-slide="prev">
              <img width="50px;" src="{{ STATIC_URL }}images/v2/carousel_left.jpg" >
            </a>
          </div>
          <div class="right-control">
            <a href="#home-page-carousel" data-slide="next">
              <img width="50px;" src="{{ STATIC_URL }}images/v2/carousel_right.jpg" >
            </a>
          </div>
          <div id="language-flags">
            <a data-language="en" class="set-lang" href="#"><img src="{{ STATIC_URL }}images/v2/flag_uk.png" ></a>
            <a data-language="ar" class="set-lang" href="#"><img src="{{ STATIC_URL }}images/v2/flag_arabic.png" ></a>
            <a data-language="zh-cn" class="set-lang" href="#"><img src="{{ STATIC_URL }}images/v2/flag_chinese.png" ></a>
            <a data-language="uk" class="set-lang" href="#"><img src="{{ STATIC_URL }}images/v2/flag_ukrainian.png" ></a>
            <a data-language="ru" class="set-lang" href="#"><img src="{{ STATIC_URL }}images/v2/flag_russian.png" ></a>
            <a data-language="fa" class="set-lang" href="#"><img src="{{ STATIC_URL }}images/v2/flag_iran.png" ></a>
          </div>
          {% if config.DONATE_BUTTON_LANDING %}{{ config.DONATE_BUTTON_LANDING|safe }}{% endif %}
          <div class="stats-banner" style="display:none;"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="landing-page">
    {% if partners %}
      <div class="partners">
        <div class="container">
          <div class="row">
            <div class="col-sm-offset-1 col-sm-10">
              <div class="title">{% trans 'Our Partners' %}</div>
            </div>
          </div>
        </div>
        <div class="list">
          {% for partner in partners %}
            {% thumbnail partner.logo 0x40 upscale as thumb %}
            <div class="partner">
              <a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-placement="bottom"
                 title="{{ partner.title }}" data-content="{{ partner.text }}">
                <img src="{{ thumb.url }}" width="{{ thumb.width }}" height="{{ thumb.height }}"/></a>
            </div>
            {% if forloop.counter|divisibleby:5 %}
            <br />
            {% endif %}
          {% endfor %}
        </div>
      </div>
    {% endif %}
    <div class="container">
      <div class="testimonial">
        <div class="row">
          <div class="col-sm-offset-1 col-sm-10">
            <div class="author statement-font">{% trans "About MOVEMENTS" %}</div>
            <div class="statement statement-font">{% trans "In closed societies around the world, brave human rights defenders face enormous hurdles to advance human rights.  Movements.org is a new platform that allows people everywhere to help protect basic freedoms.  This online platform connects activists in closed societies with people around the globe with skills to help. Whether you’re a journalist, politician, activist, artist, technologist or you speak a few languages, everyone has a role to play." %}</div>
            <div class="statement statement-font" style="margin-top:10px;"><a href="{% page_url 'how_it_works' %}">{%  trans "Find out more" %}&nbsp;>></a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="landing-content request-background">
        <div class="container">
          <div>
            <h3>{%trans "Create a Request"%}</h3>
            <p>{% blocktrans %}Are you an activist in need of help? Movements.org leverages technology to help those in closed societies find the assistance they need to amplify their voice and expand their influence.{% endblocktrans %}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="testimonial">
        <div class="row">
          <div class="col-sm-offset-1 col-sm-10">
            <div class="author statement-font">{%trans "Getting Started" %}</div>
            <div class="statement statement-font">{%trans "The Movements platform enables dissidents who need help to connect to activists and others who can provide it. Get started by joining today." %}</div>
            <div class="statement statement-font" style="margin-top:10px;"><a href="{% url 'signup_start' %}">{%trans "Sign up now" %}&nbsp;>></a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="landing-content offer-background">
        <div class="container">
          <div>
            <h3>{%trans "Offer your Services"%}</h3>
            <p>{% blocktrans %}If you’ve ever wanted to help a human rights activist, here’s your opportunity. All of us have skills that can be put to use to advance basic liberties.{% endblocktrans %}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}


{% block content %}
{% endblock %}

{% block javascript %}
  <script type="text/javascript">
  $(document).ready(function(){
    $("#home-page-carousel").carousel({interval: 8000, pause: 'hover'});
    $('.partners a').popover();
    $('.set-lang').click(function(ev){
      ev.preventDefault();
      var lang = $(ev.currentTarget).data('language');
      $.ajax({
        url: '{% url 'set_lang' %}',
        type: 'POST',
        dataType: 'json',
        data: {
          language_code: lang
        },
        success: function(ev){
          if(ev.result === 'success'){
            window.location.reload();
          }
        }
      });
    });
    window.ahr.widgets.initStats();
  });
  </script>
{% endblock %}
