{% extends "base_v2.html" %}

{% load url from future %}
{% load i18n %}
{% load cms_tags %}

{% block header_nav %}
<nav class="navbar navbar-default header-nav home-page-nav" role="navigation">
  <div class="navbar-left">
    <img src="{{ STATIC_URL }}images/v2/logo.png" alt="Movements Logo" />
  </div>
  <div class="navbar-right">
    <div class="action-item">Already have an account?&nbsp;<a href="{% url 'account_login' %}">{%trans "Login"%}</a></div>
  </div>
</nav>
{% endblock %}

{% block header_padding %}{% endblock %}
{% block footer_padding %}{% endblock %}

{% block content_outside_container %}
  <div class="landing-page-carousel">
    <div class="container-fluid">
      <div class="page-banner">
        <div id="home-page-carousel" class="carousel slide">
          <div class="carousel-inner">
            <div class="item active" style="background-image: url('{{ STATIC_URL }}images/v2/backgrounds/shutterstock_185872262_reduced.jpg');">
              <div class="carousel-filter">
                <div class="container carousel-content">
                  <div class="carousel-title">
                    {% blocktrans %}The Skills exchange platform for people out in the field.{% endblocktrans %}
                  </div>
                  <div class="carousel-blurb">
                    <div>{% blocktrans %}Movements is a new innovative platform which is crowdsourcing the fight for human rights. It is an online portal that connects people and communities around the World with the tools and expertise they need to advance human rights in closed societies.{% endblocktrans %}</div>
                  </div>
                  <div class="carousel-button">
                    <a href="{% url 'signup_start' %}">
                      <button class="btn btn-action">{%trans "Sign up now"%}</button>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="item" style="background-image: url('{{ STATIC_URL }}images/v2/backgrounds/shutterstock_165869969_reduced.jpg');">
              <div class="carousel-filter">
                <div class="container carousel-content">
                  <div class="carousel-title">
                    {% blocktrans %}Request help from people across the globe, or Offer help to those most in need.{% endblocktrans %}
                  </div>
                  <div class="carousel-blurb">
                    <div>{% blocktrans %}Movements is a trust based platform. To access information about other users, everyone needs to undergo a vetting process which ensure safety.{% endblocktrans %}</div>
                  </div>
                  <div class="carousel-button">
                    <a href="{% page_url 'how_it_works' %}">
                      <button class="btn btn-action">{%trans "Find out more"%}</button>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="left-control">
            <a href="#home-page-carousel" data-slide="prev">
              <img width="50px;" src="{{ STATIC_URL }}images/v2/carousel_left.jpg" >
            </a>
          </div>
          <div class="right-control">
            <a href="#home-page-carousel" data-slide="next">
              <img width="50px;" src="{{ STATIC_URL }}images/v2/carousel_right.jpg" >
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="landing-page">
    <div class="container">
{#      <div class="testimonial row">#}
{#        <div class="col-xs-2 person-image">#}
{#          <img src="{{ STATIC_URL }}images/v2/temp/person_2.png" >#}
{#        </div>#}
{#        <div class="col-xs-10 person-comment">#}
{#          <div class="statement statement-font">Movements helped me get support for a technology project which is now helping people in Iran. I would recommend movements to anyone trying to make a difference in their communities.</div>#}
{#          <div class="author statement-font">- Simon M.</div>#}
{#        </div>#}
{#      </div>#}
      <div class="testimonial">
        <div class="row">
          <div class="col-sm-offset-1 col-sm-10">
            <div class="author statement-font">About movements</div>
            <div class="statement statement-font">Movements is a Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-offset-1 col-sm-2" style="margin-top:20px;" >
            <a href="{% page_url 'how_it_works' %}" >
              <button class="btn btn-action full-width">{%trans "Find out more"%}</button>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="landing-content request-background">
        <div class="container">
          <div>
            <h3>{%trans "Request"%}</h3>
            <p>{% blocktrans %}To protect the safety of our members we vet all applicants to make sure their intentions are aligned with ours. The more information you give the quicker you become a fully qualified member.{% endblocktrans %}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
{#      <div class="testimonial row">#}
{#        <div class="col-xs-2 person-image">#}
{#          <img src="{{ STATIC_URL }}images/v2/temp/person_1.png" >#}
{#        </div>#}
{#        <div class="col-xs-10 person-comment">#}
{#          <div class="statement statement-font">If it wasn't for movements, I don't think I would have been able to support as many people as I have. They helped me every step of the way as soon as I connected with them.</div>#}
{#          <div class="author statement-font">- Mary</div>#}
{#        </div>#}
{#      </div>#}
      <div class="testimonial">
        <div class="row">
          <div class="col-sm-offset-1 col-sm-10">
            <div class="author statement-font">Getting Started</div>
            <div class="statement statement-font">Sign up to movements and access consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-offset-1 col-sm-2" style="margin-top:20px;" >
            <a href="{% url 'signup_start' %}">
              <button class="btn btn-action full-width">{%trans "Sign up now"%}</button>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="landing-content offer-background">
        <div class="container">
          <div>
            <h3>{%trans "Offer"%}</h3>
            <p>{% blocktrans %}To protect the safety of our members we vet all applicants to make sure their intentions are aligned with ours. The more information you give the quicker you become a fully qualified member.{% endblocktrans %}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}


{% block content %}
{% endblock %}

{% block javascript %}
  <script type="text/javascript">
  $(document).ready(function(){
      $("#home-page-carousel").carousel({interval: 8000, pause: "none"});
  });
  </script>
{% endblock %}