{% extends "base_v2.html" %}

{% load url from future %}
{% load i18n %}
{% load cms_tags %}
{% load thumbnail %}

{% block header_padding %}{% endblock %}
{% block footer_padding %}{% endblock %}

{% block content_outside_container %}
  <div class="landing-page-carousel">
    <div class="container-fluid">
      <div class="page-banner">
        <div id="home-page-carousel" class="carousel slide">
          <div class="carousel-inner">
          {% for item in banner %}
            <div class="item {% if forloop.first %}active{% endif %}" style="background-image: url('{{ item.main_image.url }}');">
              <div class="carousel-filter">
                <div class="container carousel-content">
                  <div class="carousel-title">
                    {{ item.title_text }}
                  </div>
                  <div class="carousel-blurb hidden-xs">
                    <div>{{ item.sub_text }}</div>
                  </div>
                  {% include 'ahr/snippets/_carousel_buttons.html' %}
                </div>
              </div>
            </div>
          {% endfor %}
          </div>
          <div class="left-control hidden-sm hidden-xs">
            <a href="#home-page-carousel" data-slide="prev">
              <img width="50px;" src="{{ STATIC_URL }}images/v2/carousel_left.jpg" >
            </a>
          </div>
          <div class="right-control hidden-sm hidden-xs">
            <a href="#home-page-carousel" data-slide="next">
              <img width="50px;" src="{{ STATIC_URL }}images/v2/carousel_right.jpg" >
            </a>
          </div>
          <div id="language-flags" class="hidden-xs">
            <a data-language="en" class="set-lang" href="#"><img src="{{ STATIC_URL }}images/v2/flag_uk.png" ></a>
            <a data-language="ar" class="set-lang" href="#"><img src="{{ STATIC_URL }}images/v2/flag_arabic.png" ></a>
            <a data-language="zh-cn" class="set-lang" href="#"><img src="{{ STATIC_URL }}images/v2/flag_chinese.png" ></a>
            <a data-language="uk" class="set-lang" href="#"><img src="{{ STATIC_URL }}images/v2/flag_ukrainian.png" ></a>
            <a data-language="ru" class="set-lang" href="#"><img src="{{ STATIC_URL }}images/v2/flag_russian.png" ></a>
            <a data-language="fa" class="set-lang" href="#"><img src="{{ STATIC_URL }}images/v2/flag_iran.png" ></a>
{#            <a data-language="fr" class="set-lang" href="#"><img src="{{ STATIC_URL }}images/v2/flag_french.png" ></a>#}
          </div>
{#          {% if config.DONATE_BUTTON_LANDING %}{{ config.DONATE_BUTTON_LANDING|safe }}{% endif %}#}
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" class="home-page-donate">
            <input type="hidden" name="cmd" value="_donations">
            <input type="hidden" name="business" value="clarke@advancinghumanrights.org">
            <input type="hidden" name="lc" value="US">
            <input type="hidden" name="item_name" value="Movements Tax Exempt Donation">
            <input type="hidden" name="page_style" value="MOVEMENTS">
            <input type="hidden" name="no_note" value="0">
            <input type="hidden" name="currency_code" value="USD">
            <input type="hidden" name="bn" value="PP-DonationsBF:btn_donateCC_LG.gif:NonHostedGuest">
            <button type="submit" class="btn action-btn" style="top: 20px; position: absolute; right: 75px; color: white; background-color: #005d86;">
              DONATE
            </button>
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
          </form>
          <div class="stats-banner" style="display:none;"></div>
          <div class="carousel-signup visible-xs">
            <a href="{% url 'signup_start' %}">
              <button class="btn btn-action">{%trans "Sign up now"%}</button>
            </a>
          </div>
          <div class="carousel-login visible-xs">
            <a href="{% url 'account_login' %}">
              <button class="btn btn-secondary">{%trans "Login"%}</button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="landing-page">
    {% if partners_first %}
      <div class="partners">
        <div class="container">
          <div class="row">
            <div class="col-sm-offset-1 col-sm-10">
              <div class="title">{% trans 'Our Partners' %}</div>
            </div>
          </div>
          <div class="row partner-section">
            {% for partner in partners_first %}
              {% thumbnail partner.logo 0x40 upscale as thumb %}
              <div class="{{ partner.css }} partner">
                <a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-placement="bottom"
                   title="{{ partner.title }}" data-content="{{ partner.text }}">
                  <img src="{{ thumb.url }}" width="{{ thumb.width }}"/></a>
              </div>
            {% endfor %}
            {% if partners_rest %}
              <div class="col-sm-offset-1 col-sm-10 visible-xs statement statement-font">
                <a data-toggle="collapse"
                   href="#collasePartners"
                   aria-expanded="false"
                   aria-controls="collasePartners">{% trans 'more' %}&nbsp;<span class="caret"></span></a></div>
              <div  class="collapse collapse-non-xs" id="collasePartners">
              {% for partner in partners_rest %}
                {% thumbnail partner.logo 0x40 upscale as thumb %}
                <div class="{{ partner.css }} partner">
                  <a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-placement="bottom"
                     title="{{ partner.title }}" data-content="{{ partner.text }}">
                    <img src="{{ thumb.url }}" width="{{ thumb.width }}"/></a>
                </div>
              {% endfor %}
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    {% endif %}
    <div class="container">
      <div class="testimonial">
        <div class="row">
          <div class="col-sm-offset-1 col-sm-10">
            <div class="author statement-font">{% trans "About MOVEMENTS" %}</div>
            <div class="statement statement-font">{% trans "In closed societies around the world, brave human rights defenders face enormous hurdles to advance human rights.  Movements.org is a new platform that allows people everywhere to help protect basic freedoms.  This online platform connects activists in closed societies with people around the globe with skills to help. Whether you’re a journalist, politician, activist, artist, technologist or you speak a few languages, everyone has a role to play." %}</div>
            <div class="statement statement-font" style="margin-top:10px;"><a href="{% page_url 'how_it_works' %}">{%  trans "Find out more" %}&nbsp;>></a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="landing-content request-background">
        <div class="container">
          <a href="{% url 'create_request' %}">
            <div class="visible-xs">
              <h3>{%trans "Create a Request"%}</h3>
              <p>{% blocktrans %}Are you an activist in need of help? Movements.org leverages technology to help those in closed societies find the assistance they need to amplify their voice and expand their influence.{% endblocktrans %}</p>
            </div>
          </a>
          <div class="hiddenxs">
            <h3>{%trans "Create a Request"%}</h3>
            <p>{% blocktrans %}Are you an activist in need of help? Movements.org leverages technology to help those in closed societies find the assistance they need to amplify their voice and expand their influence.{% endblocktrans %}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="testimonial">
        <div class="row">
          <div class="col-sm-offset-1 col-sm-10">
            <div class="author statement-font">{%trans "Getting Started" %}</div>
            <div class="statement statement-font">{%trans "The Movements platform enables dissidents who need help to connect to activists and others who can provide it. Get started by joining today." %}</div>
            <div class="statement statement-font" style="margin-top:10px;"><a href="{% url 'signup_start' %}">{%trans "Sign up now" %}&nbsp;>></a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="landing-content offer-background">
        <div class="container">
          <a href="{% url 'create_offer' %}">
            <div class="visible-xs">
              <h3>{%trans "Offer your Services"%}</h3>
              <p>{% blocktrans %}If you’ve ever wanted to help a human rights activist, here’s your opportunity. All of us have skills that can be put to use to advance basic liberties.{% endblocktrans %}</p>
            </div>
          </a>
          <div class="hiddenxs">
            <h3>{%trans "Offer your Services"%}</h3>
            <p>{% blocktrans %}If you’ve ever wanted to help a human rights activist, here’s your opportunity. All of us have skills that can be put to use to advance basic liberties.{% endblocktrans %}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}


{% block content %}
{% endblock %}

{% block javascript %}
  <script type="text/javascript">
  $(document).ready(function(){
    $("#home-page-carousel").carousel({interval: 8000, pause: 'hover'});
    $('.partner a').popover();
    window.ahr.widgets.initStats();
  });
  </script>
{% endblock %}
