{% extends "base.html" %}
{% load socialaccount %}
{% load i18n %}

{% block head_title %}{% trans "Exchangivist" %}{% endblock %}

{% block content %}

<div class="hero-text">
    {% blocktrans %}Exchangivist is an online portal giving activists the tools they need to advance human rights in closed societies around the world.{% endblocktrans %}
</div>

<div class="row">
  <div class="col-lg-5 col-md-6 col-sm-7 ">
    <div class="dialog sign-up-form">
      <div><h1>{% trans "Sign Up" %}</h1></div>
      <form id="signup_form" action="{% url 'sign_up' %}" method="POST" class="form-horizontal" role="form">
        {% csrf_token %}
        <div class="form-group">
          <div class="col-xs-6">
            <input type="text" class="form-control" name="first_name" placeholder="First Name" required>
          </div>
          <div class="col-xs-6">
            <input type="text" class="form-control" name="last_name" placeholder="Last Name" required>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-12">
            <input type="email" class="form-control" name="email" placeholder="myname@email.com" required>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-12 text-center">
            <input type="checkbox" name="tnccheckbox" id="tnccheckbox" required/>
            <label for="tnccheckbox">I agree to the </label> <a href="{% url 'terms_and_conditions' %}" target="_blank" alt="terms and conditions">Terms &amp; Conditions</a>
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-6">
            <button type="submit" name="activist" class="btn full-width">{% trans "I'M AN ACTIVIST" %}</button>
          </div>
          <div class="col-xs-6">
            <button type="submit" name="helper" class="btn full-width">{% trans "I'M READY TO HELP" %}</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="col-lg-4 col-lg-offset-3 col-sm-5 col-md-offset-2 col-md-4 social-sign-up">
    <div class="dialog">
      <a href="{% provider_login_url "twitter" %}">
        <img src="{{ STATIC_URL }}images/twitter-24x18.png" alt="Google+"/>
        SIGN UP WITH TWITTER
      </a>
    </div>
    <div class="dialog">
      <a href="{% provider_login_url "facebook" method="oauth2" %}">
        <img src="{{ STATIC_URL }}images/facebook-12x23.png" alt="Facebook"/>
        SIGN UP WITH FACEBOOK
      </a>
    </div>
    <div class="dialog">
      <a href="{% provider_login_url "google" %}">
        <img src="{{ STATIC_URL }}images/google-plus-23x20.png" alt="Google+"/>
        SIGN UP WITH GOOGLE PLUS
      </a>
    </div>
  </div>
</div>

<div class="hero-text">
  {% blocktrans %}Activists and experts can connect to exchange their expertise in support of basic freedoms like speech, press, association, religion and movement.{% endblocktrans %}
</div>

{% include 'ahr/_footer_logos.html' %}

{% endblock %}

{% block javascript %}
  <script type="text/javascript">
    $.backstretch("{{ STATIC_URL }}images/landing-bg-1920x1202-blended.jpg");
  </script>
{% endblock %}