{% extends "base.html" %}
{% load socialaccount %}
{% load i18n %}

{% block head_title %}{% trans "Exchangivist - How It Works" %}{% endblock %}

{% block outsidecontainer %}
<div class="filter-banner-spacer"></div>
<div class="exchange-filter">
  <div class="container">
  </div>
</div>
{% endblock %}


{% block content %}
<div style="height:50px;"></div>
<div class="dialog content-page">
  <div class="row">
    <div class="col-md-12">
      {% blocktrans %}
      <h1>How It Works</h1>
      <p>Welcome to Exchangivist, the online portal giving users the ability to connect with one another. Now that you’ve joined our community as an Exchangivist, it’s very easy to get started.</p>
      <h4>Creating an offer to help:</h4>

      <p>To offer your expertise, skills, or services, visit the ‘ Exchange’ page and then click on the ‘Create an Offer’ button. Make sure to add a title to your post that will tell users how you can help. Select as many options as you feel you need from the drop down menu to make it easier for other users to see what you are offering; the more detail you add the better. This also helps Exchangivist find matches for its users.</p>

      <h4 >Requesting help:</h4>
      <p>To ask for help with expertise, skills or services, visit the ‘Exchange’ page, and then click on ‘Create a Request’ button. Make sure to add a title to your post that will help users understand what you need. Select as many options you feel you need from the drop down menu to make it easier for users to understand your post; the more detail you can add the better. This also helps Exchangivist find matches for its users.</p>

      <h4>Searching for offers or requests:</h4>
      <p>You can browse all ‘Offers’ and ‘Requests’ by visiting the Exchange. Use the search bar to search for key-words or click ‘Show Filters’ on the right-hand side of the page to filter posts based on country and skills.</p>

      <h4>Replying to offers and requests:</h4>
      <p>To respond to an Offer or Request, click on the post you would like to respond to and enter your comment below the post. To send a private message to the Exchangivist who created the post, click on the three horizontal bars at the top right of the post. The drop down menu also allows you to recommend the post to another user, rate the user, or report an abusive post.</p>

      <h4>Keeping up to date:</h4>
      <p>Exchangivist has been designed to make connecting easy, whenever someone else responds to, comments on or adds a post relevant to you, the notifications icon on the top of the page on the navigation bar will appear highlighted in red, simply click on the notifications button to see the latest notifications.</p>
      {% endblocktrans %}
    </div>
  </div>
</div>
{% endblock %}