{% extends "base_public.html" %}
{% load socialaccount %}
{% load i18n %}

{% block head_title %}{% trans "Exchangivist - How It Works" %}{% endblock %}

{% block public-content %}
  <div class="dialog content-page">
    <div>
        <h1>How It Works</h1>
        <h4>What is it?</h4>
        <p>Exchangivist is an online portal created to help make better in the world. By allowing users to offer and request, help and services, giving them the opportunity to connect with one another.</p>

        <h4>Why use it?</h4>
        <p>Exchangivist aims to make a difference in the darkest places on earth, by connecting people who both need and want to offer help. Together we can create better.</p>

        <h4>Creating a profile</h4>
        <p>To get started you will first need to sign up and create a profile. Then you you will be asked to confirm your email address. As Exchangivist is in closed beta, we will then confirm your information and assign a rating based on the information provided to us. By vetting each individual user, Exchangivist is able to protect our users and their information.</p>

        <h4>Getting started & your privacy</h4>
        <p>As soon as you have an account you will be able to login and finish creating your profile. Exchangivist users are able to choose what they make public to the community, and each user can hide any, or all information about themselves.</p>
        
        <h4>Creating offers and requests</h4>
        <p>Once you have completed your profile, you will be able to join the Exchange  and start posting by either creating offers or requests. You can create an offer or request using our tags and categories that make it easier to find a match for your needs or skills.</p>
    </div>
  </div>
{% endblock %}