{% extends "base_public.html" %}
{% load socialaccount %}
{% load i18n %}

{% block head_title %}{% trans "Exchangivist - How It Works" %}{% endblock %}

{% block public-content %}
  <div class="dialog">
    <div>
        <legend>How It Works</legend>
        <h4 style="margin:0;color:#333333;">What is it?</h4>
        <p style="margin-bottom:20px;">
            Exchangivist is an online portal created to help make better in the world by allowing users to offer and request
            help and services, giving them the opportunity to connect with one another.
        </p>

        <h4 style="margin:0;color:#333333;">Why use it?</h4>
        <p style="margin-bottom:20px;">
            Exchangivist aims to make a difference in the darkest  places on earth, by connecting people who both need and
            want to offer help. <br/>Together we can create better.
        </p>

        <h4 style="margin:0;color:#333333;">Creating a profile</h4>
        <p style="margin-bottom:20px;">
            To get started you will first need to sign up and create a profile. Then you you will be asked to confirm your
            email address.<br/> As Exchangivist is in closed beta, we will then confirm your information and assign a rating
            based on the information provided to us. <br/>By vetting each individual user, Exchangivist is able to protect our
            users and their information.
        </p>

        <h4 style="margin:0;color:#333333;">Getting started & Your Privacy</h4>
        <p style="margin-bottom:20px;">
            As soon as you have an account you will be able to login and finish creating your profile. <br/>Exchangivist users
            are able to choose what they make public to the community and each user can hide any or all information about
            themselves.
        </p>

        <h4 style="margin:0;color:#333333;">Creating offers and requests</h4>
        <p style="margin-bottom:20px;">
            Once you have completed your profile, you will be able to join the Exchange  and start posting by either
            creating offers or requests. You can create an offer or request using our tags and categories that make it
            easier to find a match for your needs or skills.
        </p>
    </div>
  </div>
{% endblock %}