{% extends "base.html" %}
{% load socialaccount %}
{% load i18n %}

{% block head_title %}{% trans "Exchangivist - How It Works" %}{% endblock %}

{% block outsidecontainer %}
<div class="filter-banner-spacer"></div>
<div class="exchange-filter">
  <div class="container">
  </div>
</div>
{% endblock %}


{% block content %}
<div class="dialog content-page">
  <div class="row">
    <div class="col-md-12">
      <h1>How It Works</h1>
      <p>Welcome to Exchangivist, the online portal giving users the ability to connect with one another. Now that you’ve joined our community as an Exchangivist, it’s very easy to get started.</p>
      <h4>Creating an offer to help:</h4>

      <p>To offer your expertise, skills, or services, visit the ‘ Exchange’ page and then click on the ‘Create an Offer’ button. Make sure to add a title to your post that will tell users how you can help. Select as many options as you feel you need from the drop down menu to make it easier for other users to see what you are offering; the more detail you add the better. This also helps Exchangivist find matches for its users.</p>

      <h4 >Requesting help:</h4>
      <p>To ask for help with expertise, skills or services, visit the ‘Exchange’ page, and then click on ‘Create a Request’ button. Make sure to add a title to your post that will help users understand what you need. Select as many options you feel you need from the drop down menu to make it easier for users to understand your post; the more detail you can add the better. This also helps Exchangivist find matches for its users.</p>

      <h4>Searching for offers or requests:</h4>
      <p>You can browse all ‘Offers’ and ‘Requests’ by visiting the Exchange. Use the search bar to search for key-words or click ‘Show Filters’ on the right-hand side of the page to filter posts based on country and skills.</p>

      <h4>Replying to offers and requests:</h4>
      <p>To respond to an Offer or Request, click on the post you would like to respond to and enter your comment below the post. To send a private message to the Exchangivist who created the post, click on the three horizontal bars at the top right of the post. The drop down menu also allows you to recommend the post to another user, rate the user, or report an abusive post.</p>

      <h4>Keeping up to date:</h4>
      <p>Exchangivist has been designed to make connecting easy, whenever someone else responds to, comments on or adds a post relevant to you, the notifications icon on the top of the page on the navigation bar will appear highlighted in red, simply click on the notifications button to see the latest notifications.</p>

      <h4>Is this secure?</h4>
        <p>First, you should remember that no computer platform is 100% secure.  Please know that we have gone to great lengths to protect your privacy and security.  We are working with some of the best experts in the field who share and appreciate your concern for digital security.   However it is always incumbent on you to be prudent about what information you share on the Internet.</p>

        <h4>Can I remain anonymous?</h4>
        <p>Yes.  When you register you can create any screen name you like.  We will never willingly share your identifying information with anyone.  If you send a private message or post a comment only your screen name will be shared with the recipient. </p>

        <h4>Are these people vetted?</h4>
        <p>We endeavor to check each request to join Exchangivist.  During this limited beta test we know each member or a trusted colleague has vouched for them.  If a member has 3 or more “AHR Stars” you can feel confident that they can be trusted.  As the user base grows other members will rate and vouch for other users.  You will be able to use this Community Rating Stars as an additional source of confidence.</p>

        <h4>About the Star Ratings</h4>
        <p>When a new Exchangivists joins the market we use the extent of their digital presence to indicate a degree of confidence in who they are and what they can do. If you sign up with just an email address you will be given one star. The more information you provide—and we can verify – the higher your AHR Star Rating.
        The Community Rating comes from other Exchangivist. Just like on Amazon or Ebay as you interact with other users they will have the option of expressing their confidence rating. To rate a member click on the STAR icon in their Member card.   <<Several folks have had trouble finding this.  An next gen issue>>
        You can request that your Rating be reviewed by <<HOW TO MESSAGE THE ADMIN>> </p>

        <h4>The country I want to deal with isn’t on the list.  / How do you pick the countries on Exchangivist? </h4>
        <p>Freedom House has created a list of the Not Free and Partially Free counties.  Of these we are currently supporting those with populations over 10 million.  As Exchangivist expands we look forward to helping in additional Not Free and Partially Free countries.  Given limited resources we have chosen to focus on the largest dictatorships.  We focus on closed societies because free and mostly free countries have alternates means of addressing their human rights short comings.</p>

        <h4>What am I allowed to post?</h4>
        <p>You may post anything that can reasonably be answered and addresses a human rights abuse or short coming.  However you should remember that Requests for advice, contacts, services, or knowledge are much more readily supported than requests for equipment and other hardware that would need to be shipped internationally or would involve import/export restrictions in the effected countries.</p>

        <h4>Is anything off limits?</h4>
        <p>Anything that incites violence, hatred, religious intolerance, or sectarian division.   At this time Exchangivist does not support requests for donations or monetary transfers. </p>

        <h4>How can I improve the response I get to a request or offer?</h4>
        <p>Be as specific as possible.  If you need a camera indicate whether you need a video or regular camera.  If you need a lawyer for an asylum request are you hoping to request political asylum?  The more specific you are the easier it will be for someone to know if and how they can help.</p>

        <h4>Is the board moderated?</h4>
        <p>The Exchangivist reserves the right to delete any offending or inappropriate posts.  In most cases we will attempt to contact the user before removing a post but that may not always be feasible.
        In the event of duplicate posts we may merge or delete posts as necessary.</p>

    </div>
  </div>
</div>
{% endblock %}