{% extends "base_public.html" %}
{% load socialaccount %}
{% load i18n %}

{% block head_title %}{% trans "Exchangivist - How It Works" %}{% endblock %}

{% block public-content %}
  <div class="dialog content-page">
    <div>
        <h1>How It Works</h1>
        <h4>What is it?</h4>
        <p>Exchangivist is an online portal created to help make better in the world. By allowing users to offer and request, help and services, giving them the opportunity to connect with one another.</p>

        <h4>Why use it?</h4>
        <p>Exchangivist aims to make a difference in the darkest places on earth, by connecting people who both need and want to offer help. Together we can create better.</p>

        <h4>Creating a profile</h4>
        <p>To get started you will first need to sign up and create a profile. Then you you will be asked to confirm your email address. As Exchangivist is in closed beta, we will then confirm your information and assign a rating based on the information provided to us. By vetting each individual user, Exchangivist is able to protect our users and their information.</p>

        <h4>Getting started & your privacy</h4>
        <p>As soon as you have an account you will be able to login and finish creating your profile. Exchangivist users are able to choose what they make public to the community, and each user can hide any, or all information about themselves.</p>

        <h4>Creating offers and requests</h4>
        <p>Once you have completed your profile, you will be able to join the Exchange  and start posting by either creating offers or requests. You can create an offer or request using our tags and categories that make it easier to find a match for your needs or skills.</p>

        <h4>Is this secure?</h4>
        <p>First, you should remember that no computer platform is 100% secure.  Please know that we have gone to great lengths to protect your privacy and security.  We are working with some of the best experts in the field who share and appreciate your concern for digital security.   However it is always incumbent on you to be prudent about what information you share on the Internet.</p>

        <h4>Can I remain anonymous?</h4>
        <p>Yes.  When you register you can create any screen name you like.  We will never willingly share your identifying information with anyone.  If you send a private message or post a comment only your screen name will be shared with the recipient. </p>

        <h4>Are these people vetted?</h4>
        <p>We endeavor to check each request to join Exchangivist.  During this limited beta test we know each member or a trusted colleague has vouched for them.  If a member has 3 or more “AHR Stars” you can feel confident that they can be trusted.  As the user base grows other members will rate and vouch for other users.  You will be able to use this Community Rating Stars as an additional source of confidence.</p>

        <h4>About the Star Ratings</h4>
        <p>When a new Exchangivists joins the market we use the extent of their digital presence to indicate a degree of confidence in who they are and what they can do. If you sign up with just an email address you will be given one star. The more information you provide—and we can verify – the higher your AHR Star Rating.
        The Community Rating comes from other Exchangivist. Just like on Amazon or Ebay as you interact with other users they will have the option of expressing their confidence rating. To rate a member click on the STAR icon in their Member card.
        You can request that your Rating be reviewed by sending an email to Info@exchangivist.org</p>

        <h4>The country I want to deal with isn’t on the list.  / How do you pick the countries on Exchangivist? </h4>
        <p>Freedom House has created a list of the Not Free and Partially Free counties.  Of these we are currently supporting those with populations over 10 million.  As Exchangivist expands we look forward to helping in additional Not Free and Partially Free countries.  Given limited resources we have chosen to focus on the largest dictatorships.  We focus on closed societies because free and mostly free countries have alternates means of addressing their human rights short comings.</p>

        <h4>What am I allowed to post?</h4>
        <p>You may post anything that can reasonably be answered and addresses a human rights abuse or short coming.  However you should remember that Requests for advice, contacts, services, or knowledge are much more readily supported than requests for equipment and other hardware that would need to be shipped internationally or would involve import/export restrictions in the effected countries.</p>

        <h4>Is anything off limits?</h4>
        <p>Anything that incites violence, hatred, religious intolerance, or sectarian division.   At this time Exchangivist does not support requests for donations or monetary transfers. </p>

        <h4>How can I improve the response I get to a request or offer?</h4>
        <p>Be as specific as possible.  If you need a camera indicate whether you need a video or regular camera.  If you need a lawyer for an asylum request are you hoping to request political asylum?  The more specific you are the easier it will be for someone to know if and how they can help.</p>

        <h4>Is the board moderated?</h4>
        <p>The Exchangivist reserves the right to delete any offending or inappropriate posts.  In most cases we will attempt to contact the user before removing a post but that may not always be feasible.
        In the event of duplicate posts we may merge or delete posts as necessary.</p>

  </div>
</div>

{% endblock %}