<div class="exchange-banner {{ init }}">
  <div class="exchange-opacity">
    <div class="container" >
      <div class="row">
        <div class="col-md-12 {{init}} exchange-banner-outerthing">
          <div id="infobar"></div>
          <div class="exchange-banner-inner-thing">
            <div class="">
              <div class="col-md-12 dialog">
                <h4>{{ title }}</h4>
{#                <hr class="hr-no-margin" />#}
                <div class="message-text">{% include help_text_template %}</div>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>