<div class="exchange-banner {{ init }}">
  <div class="exchange-opacity">
    <div class="container" >
      <div class="row">
        <div class="col-md-12 {{init}}" style="display: table; height:300px; overflow: hidden;">
          <div id="infobar"></div>
          <div style="display: table-cell; vertical-align: middle;">
            <div class="">
              <div class="col-md-6 dialog">
                <h1>{{ title }}</h1>
{#                <hr class="hr-no-margin" />#}
                <div class="message-text">{% include help_text_template %}</div>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>