{% extends "base_public.html" %}
{% load socialaccount %}
{% load i18n %}
{% load url from future %}

{% block head_title %}{% trans "Exchangivist - Privacy" %}{% endblock %}

{% block public-content %}
  <div style="height:50px;"></div>
  <div class="dialog">
    <h1>{%trans "Privacy"%}</h1>
    <div>
      {% url 'contact_us' as contactus_url%}
      {% blocktrans %}
      <p>Welcome to Exchangivist.org.</p>

      <p>
      Advancing Human Rights and Exchangivist.org is committed to protecting the privacy of visitors to our website.
      When you visit Exchangivist.org the site automatically recognizes your domain name,
      IP address and the type of web browser you are using. Exchangivist.org does not acquire your e-mail address or other
      information without your knowledge. We use the information we collect as you browse our site to manage the site more
      efficiently and improve its content and functionality.
      </p>

      <p>
      <strong>Cookies.</strong> The Exchangivist.org web server may ask your browser to store a “cookie,” which is a small piece of information
      that the web server uses to keep track of the use preferences.
      Cookies are not used to save or retrieve any sensitive data about visitors to the site.
      </p>

      <p>
      <strong>Access to Registration Information.</strong> Exchangivist.org will under no circumstances give access to your registration
      information to any third party for any purpose, either commercial or otherwise.
      Your information is maintained on a secure web server in what we believe to be a well-protected environment.
      Neither Exchangivist.org nor any website operation, however, can guarantee that your information will
      remain secure from unauthorized access.
      </p>

      <p>
      <strong>Use of Public Information.</strong> By posting communications on or through the website,
      you automatically grant Exchangivist.org a royalty-free, perpetual, irrevocable,
      non-exclusive license to use, reproduce, modify, publish, edit, translate, distribute,
      perform, and display the information alone or as part of other works in any form, media,
      or technology whether now known or subsequently developed. The foregoing grants shall
      include the right to exploit any proprietary rights in such communication, including but
      not limited to rights upon copyright, trademark, service mark or patent laws under any relevant jurisdiction.
      </p>

      <p>
      <strong>Links to Other Websites.</strong> Exchangivist.org website contains many links to other websites.
      Exchangivist.org is not responsible for the privacy practices or the content of such websites.
      No Exchangivist.org personal information resulting from user registration is shared with such websites,
      although Exchangivist.org may share aggregate data with such websites (such as how many people use our site).
      </p>

      <p>
      Thank you for visiting our website and reviewing our Privacy Policy. This website,
      Exchangivist.org ("Site"), is operated on behalf of Advancing Human Rights
      ("<strong>Exchangivist,</strong>" "<strong>we,</strong>" "<strong>us,</strong>" and "<strong>our</strong>").
      Exchangivist.org is an interactive
      ite where people and communities can find the skills, expertise and tools
      they need to advance human rights around the world.
      By using or accessing this site, you agree to the terms and practices of our Privacy Policy.
      Although being a part of Exchangivist.org means sharing information about
      yourself and communicating with us, other Site members and groups, and the
      public at large, your privacy is important to us.
      The use of this Site and its services is subject to our terms and conditions,
      which you may access at any time by clicking on the link at the bottom of any page on this Site.
      As with any other site on the Internet, we collect certain information about
      you that may identify you personally through your use of this Site and its services, such as:
      Profile Information. If you choose to use certain features and functions of
      the Site, we ask you to provide certain personally identifiable information about
      yourself without which some of these features cannot work. By providing such information,
      you consent to our collection and use of it, as described in this Privacy Policy
      and in accordance with the Terms and Conditions.
      </p>

      <p>
      The Profile Information that we collect includes:
      Mandatory basic information that is provided during our profile creation process
      Optional additional information for your personal profile
      </p>

      <p>
      We do not collect any of this information about you when you visit the Site
      unless you give us that information.
      Information From Other Members. We may collect information about you from
      other Exchangivist.org members such as if you were referred by another Exchangivist.
      We use personal information that you give us to provide services that you
      request; respond to your questions or inquiries; identify areas of member
      interest; consider potential improvements to our Site; and provide a forum
      to connect people and organizations.
      We do not sell or trade or provide your personal information to marketing
      companies or information brokers or any other organization or individual for commercial or marketing purposes.
      You may control the visibility of most of the information you share with
      others on the Site and change or remove your profile information at any time through your settings.
      There are links on this Site to other sites of interest. We do not endorse
      the content of these sites or guarantee that they will abide by this Privacy
      Policy. Your use of such linked sites is subject to the terms and conditions
      and privacy policies of the providers of those sites. We encourage our members
      to be aware when they leave our Site and to read the privacy policies of each
      site that collects personal information.
      We do our best to keep your information secure, but you must actively
      participate in the process of keeping your information safe.
      We keep your account information on a secured server behind a firewall.
      When you enter sensitive information (like your password), the information
      is encrypted using secure socket layer technology (SSL). We also reserve
      the right to analyze accounts for fraudulent or irregular behavior and we
      may limit use of site features in response to possible signs of abuse.
      Although you can change your privacy options to limit outside access to
      your account, please be aware that none of these security measures are
      impermeable. We cannot control the actions of other Site members and third
      party organizations. You can reduce the inherent risks associated with
      social networking by exercising common sense and discretion: for example,
      you should choose a strong password, use different passwords for different
      websites and services, and use updated antivirus software. You should
      report any security violations to us as outlined in the section below.
      We may change this Privacy Policy from time to time. If we do make a change,
      we will announce and post the revised Privacy Policy on this Site.
      We encourage you to review this Privacy Policy periodically.
      If you continue to use this Site after the announcement of the revised Privacy Policy,
      you will be deemed to have agreed to the changed terms and practices. Questions,
      comments, or complaints about our Privacy Policy should be submitted to us by contacting us
      <a href="{{contactus_url}}">here</a>.
      <p>

      {% endblocktrans %}
    </div>
  </div>
{% endblock %}