<!DOCTYPE html>
<head>
	<title>Admin Logout</title>
	<style type="text/css">
		body {
			font-family:Georgia;
			font-size:14px;
			line-height:20px;
		}
	
		h1, h2, h3, h4, h5, h6 {
			margin:0px;
			padding:0px;
		}
	
		#wrapper {
			width:300px;
			margin:300px auto;
			padding:0px;
		}
		
		#logout_msg {
			padding:5px;
			border:1px solid black;
			text-align:center;
			background: #EEEEEE;
		}
	</style>
</head>
<body>
<div id="wrapper">
	<div id="logout_msg">
		<h5>Logout Successful!</h5>
		<p>You are now logged out.<br/>
		Please click to return <a href="/">home</a></p>
	</div>
</div>
</body>
</html>
