{% extends "base_form.html" %}

{% load i18n %}
{% load account %}
{% load url from future %}
{% load socialaccount %}
{% load widget_tweaks %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}
{% block sign_in %}{% endblock %}

{% block public-content-message %}
<div class="row dialog movements-form">
  <div class="col-xs-12">
    <div class="form-title"><h1>{% trans "Sign In" %}</h1></div>
    <p>
      {% url 'signup_start' as home_url %}
      {% blocktrans %}
      Welcome to Movements, please sign in below. If you don't have an account yet, please sign up <a href="{{ home_url }}" alt="sign up">here</a>
      {% endblocktrans %}
    </p>
    <form id="login" action="{% url 'account_login' %}" method="POST" class="form-horizontal" role="form">
    {% csrf_token %}
      <div class="form-group">
        <div class="col-xs-12">
          <label for="{{ form.login.auto_id }}">{%trans "Email or Username"%}</label>
          {% render_field form.login class="form-control input-sm" required="true" autofocus="autofocus" placeholder="" %}
          {{ form.login.errors }}
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-12">
          <label for="{{ form.password.auto_id }}">{%trans "Password"%}</label>
          {% render_field form.password class="form-control input-sm" required="true" placeholder="" %}
          {{ form.password.errors }}
        </div>
      </div>
      <div>
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
      </div>
      <div class="row action-text">
        <div class="col-md-offset-1 col-md-4 form-main-button">
          <a class="action-link" href="{% url 'account_reset_password' %}">Forgot Password?</a>
        </div>
        <div class="col-md-6 form-main-button">
          <button type="submit" class="btn btn-action full-width">{% trans "Sign In" %}</button>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="row extended-form">
  <div class="col-md-offset-2 col-md-8 form-main-button">
    <a href="{% provider_login_url "facebook" %}">
      <button class="btn btn-social btn-social-facebook full-width"><img src="{{ STATIC_URL }}images/v2/facebook-social.png">Sign In with Facebook</button>
    </a>
     <a href="{% provider_login_url "twitter" %}">
       <button class="btn btn-social btn-social-twitter full-width"><img src="{{ STATIC_URL }}images/v2/twitter.png">Sign In with Twitter</button>
     </a>
  </div>
</div>
{% endblock %}
