{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div class="row" style="margin-top:10px;">
  <div class="col-md-offset-2 col-md-8">
    <div class="dialog">
      <h1>{% trans "Password Reset" %}</h1>

      {% if user.is_authenticated %}
      {% include "account/snippets/already_logged_in.html" %}
      {% endif %}

      <p>
      {% blocktrans %}
      We have sent you an e-mail. Please <a href="{% url 'contact_us' %}">contact us</a> if you do not receive it within a few minutes.
      {% endblocktrans %}
      </p>
    </div>
  </div>
</div>
{% endblock %}
