{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}
{% load widget_tweaks %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

<div class="row" style="margin-top:10px;">
  <div class="col-md-offset-3 col-md-6">
    <div class="dialog">
{% if token_fail %}
      <h1>{% trans "Bad Token" %}</h1>
      {% url 'account_reset_password' as passwd_reset_url %}
      <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
{% else %}
    {% if form %}

      <form method="POST" action="" class="uniForm form-horizontal" role="form">
        {% csrf_token %}
        <div><h4>{% trans "Change Password" %}</h4></div>
        <div class="form-group">
          <div class="col-sm-12">
            {{ form.password1.errors }}
            {% render_field form.password1 class="form-control input-sm" placeholder="New Password" %}
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-12">
            {{ form.password2.errors }}
            {% render_field form.password2 class="form-control input-sm" placeholder="New Password (again)" %}
          </div>              
        </div>
        <div class="form-group">
          <div class="col-xs-offset-6 col-xs-6">
            <button class="btn full-width" type="submit">{% trans "Change Password" %}</button>
          </div>
        </div>
      </form>

    {% else %}
      <p>{% trans 'Your password is now changed.' %}</p>
    {% endif %}
{% endif %}
  </div>
</div>


{% endblock %}
