{% extends "avatar/base.html" %}

{% load avatar_tags %}
{% load i18n %}
{% load widget_tweaks %}
{% load account %}
{% block content %}
<div class="row">
  <div class="col-md-offset-3 col-md-6">
    <div class="in-container dialog">
     {% if message %}
          <p> {%trans "Password changed successfully"%}</p>
     {% else %}
      <form method="POST" action="" class="password_change form-horizontal">
          {% csrf_token %}
          {% for field in form %}
          <div class="form-group">
            <div class="col-sm-12">
              {{ field.errors }}
              {% render_field field class="form-control input-sm" placeholder=field.label %}
            </div>
          </div>
        {% endfor %}
        <div class="form-group">
          <div class="col-xs-offset-6 col-xs-6">
            <button class="btn btn-default full-width" id="changepasswordbutton" type="submit">{% trans "Change Password" %}</button>
          </div>
        </div>
      </form>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}