{% extends "base_form.html" %}

{% load i18n %}

{% block head_title %}{% trans "Account Inactive" %}{% endblock %}
{% block sign_in %}{% endblock %}

{% block public-content-message %}
  <div class="row dialog movements-form">
      <div class="col-xs-12">
        <div class="form-title"><h1>{% trans "Ratelimit Triggered" %}</h1></div>

        <p>{% blocktrans %}
          We've detected an unusual number of login attempts and that's triggered this automatic message. Please try again
          later or contact support if the problem persists.
        {% endblocktrans %}</p>
      </div>
  </div>
{% endblock %}
