{% extends "base_form.html" %}

{% load url from future %}
{% load i18n %}
{% load widget_tweaks %}
{% load socialaccount %}

{% block menu_singup %}
{% endblock %}

{% block public-content-message %}
<div class="row dialog movements-form">
  <div class="col-xs-12">
    <div class="form-title"><h1>{% trans "About you" %}</h1></div>
    <p>
      {% if account.get_provider %}
        {% blocktrans with provider_name=account.get_provider.name site_name=site.name %}You are about to use your {{provider_name}} account to login. We first need a few more details before you get started.{% endblocktrans %}
      {% endif %}
      {% blocktrans %}First we would like to know a little more about you.{% endblocktrans %}
    </p>
    <form class="form-horizontal" class="signup" id="signup_form" method="post" action="{{ post_url }}">
    {% csrf_token %}
      <div class="form-group">
        <div class="col-xs-12">
          <label for="{{ form.username.auto_id }}">{%trans "Username (We recommend that you do not use your real name)"%}</label>
          {% render_field form.username class="form-control input-sm" required="true" autofocus="autofocus" placeholder="" %}
          {{ form.non_field_errors }}
          {{ form.username.errors }}
        </div>
      </div>
    {% if account.get_provider %}
      <div class="form-group">
        <div class="col-xs-12">
          <label for="{{ form.email.auto_id }}">{%trans "Email" %}</label>
          {% render_field form.email class="form-control input-sm" required="true" autofocus="autofocus" placeholder="" %}
          {{ form.username.errors }}
        </div>
      </div>
    {% endif %}
      <p>{% trans "All the following information is optional but will help Movements.org ensure that you see the postings that are most relevant to your needs and interests."%}</p>
      <div class="form-group">
        <div class="col-xs-6">
          <label for="{{ form.first_name.auto_id }}">{%trans "First Name"%}</label>
          {% render_field form.first_name class="form-control input-sm" placeholder="" %}
          {{ form.first_name.errors }}
        </div>
        <div class="col-xs-6">
          <label for="{{ form.last_name.auto_id }}">{%trans "Last Name"%}</label>
          {% render_field form.last_name class="form-control input-sm" placeholder=""%}
          {{ form.last_name.errors }}
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-12">
          <label for="{{ form.resident_country.auto_id }}">{%trans "Country of Residence"%}</label>
          {% render_field form.resident_country class="form-control input-sm"%}
          {{ form.resident_country.errors }}
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-12">
          <label for="{{ form.bio.auto_id }}">{%trans "Biography"%}</label>
          <p>{% trans "If you want other users to know something about you. You can control how much if any information to make public."%}</p>
          {% render_field form.bio class="form-control input-sm"%}
          {{ form.bio.errors }}
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <h2>{%trans "Social Vetting"%}</h2>
          <p>{% blocktrans %}To protect the safety of our members we attempt to vet all applicants to make sure that their intentions are in accord with our <a href="/movements/terms-and-conditions" target="_blank">terms &amp; conditions</a>. This information is optional but the more you provide the easier it will be for others to trust you.{% endblocktrans %}</p>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-12">
          <label for="{{ form.linkedin_url.auto_id }}">{%trans "Linked In Profile Url"%}</label>
          {% render_field form.linkedin_url class="form-control input-sm" placeholder="https://www.linkedin.com/in/username" %}
          {{ form.linkedin_url.errors }}
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-12">
          <label for="{{ form.tweet_url.auto_id }}">{%trans "Twitter Handle"%}</label>
          {% render_field form.tweet_url class="form-control input-sm" placeholder="@username" %}
          {{ form.tweet_url.errors }}
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-12">
          <label for="{{ form.fb_url.auto_id }}">{%trans "Facebook Profile Url"%}</label>
          {% render_field form.fb_url class="form-control input-sm" placeholder="https://www.facebook.com/username" %}
          {{ form.fb_url.errors }}
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-12">
          <label for="{{ form.web_url.auto_id }}">{%trans "Website or Blog Url"%}</label>
          {% render_field form.web_url class="form-control input-sm" placeholder="" %}
          {{ form.web_url.errors }}
        </div>
      </div>
      {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <div class="row action-text">
        <div class="col-sm-offset-2 col-sm-2 form-main-button">
          <a class="action-link" href="{% url 'home' %}">{% trans 'Cancel' %}</a>
        </div>
        <div class="col-sm-6 form-main-button">
          <button type="submit" class="btn btn-action full-width">{% trans 'Next' %}</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}


{% block endjavascript %}
  <script type="text/javascript">
    $(function(){
      window.ahr.widgets.initSignup();
    });
  </script>
{% endblock %}
