{% extends "base_message.html" %}
{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content-message %}
  <div class="content-wrap">
    <div class="movements-form dialog">
      <h1>{% trans "Verify Your E-mail Address" %}</h1>
      <p>{% trans "You've now created an account. We've sent you an email to verify your email address, once you've done this you will have full access to the Movements platform." %}</p>
      {% url 'contact_us' as contactUrl %}
      <p>{% blocktrans %}Please <a href="{{ contactUrl }}">contact us</a> if you do not receive an email within a few minutes.{% endblocktrans %}</p>
    </div>
  </div>
{% endblock %}
