{% extends "account/signup_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block public-content %}
<div class="row dialog sign-up-form">
  <h1>{% trans "Verify Your E-mail Address" %}</h1>
  <p>{% blocktrans %}We have sent an e-mail to the address that you provided at sign-up for verification. Follow the link provided to finalize the signup process. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
</div>
{% endblock %}
