{% extends "base_message.html" %}
{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content-message %}
  <div class="content-wrap">
    <div class="movements-form dialog">
      <h1>{% trans "Verify Your E-mail Address" %}</h1>
      <p>{% trans "You've now created an account. We've sent you an email to verify your email address, once you've done this you will have full access to the Movements platform." %}</p>
      {% url 'contact_us' as contactUrl %}
      <p>{% blocktrans %}Please <a href="{{ contactUrl }}">contact us</a> if you do not receive an email within a few minutes.{% endblocktrans %}</p>
    </div>
  </div>


  <!-- Google Code for Sign up Conversion Page -->
  <script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 954823776;
    var google_conversion_language = "en";
    var google_conversion_format = "3";
    var google_conversion_color = "ffffff";
    var google_conversion_label = "rQQ-CLSHylwQ4OilxwM";
    var google_remarketing_only = false;
    /* ]]> */
  </script>
  <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
  </script>
  <noscript>
    <div style="display:inline;">
      <img height="1" width="1" style="border-style:none;" alt=""
           src="//www.googleadservices.com/pagead/conversion/954823776/?label=rQQ-CLSHylwQ4OilxwM&amp;guid=ON&amp;script=0"/>
    </div>
  </noscript>
{% endblock %}
