*.pyc

app/static/css/site.css
app/static/js/packed.js
app/media/
app/static/admin/
app/static/tiny_mce/
app/static/.webassets-cache/

env_*

*.wpr
*.wpu

test.lite

# PyCharm project files
.idea
.elasticbeanstalk/aws_credential_file
