*.pyc
*.log
app/static/css/site.css
app/static/css/site-xs.css
app/static/css/packed.css
app/static/js/packed.js
app/media/
app/static/admin/
app/static/tiny_mce/
app/static/.webassets-cache/
app/db.sqlite3
app/celerybeat-schedule
bin/
include/
local/

env_*

*.wpr
*.wpu

test.lite
setenv.sh

# PyCharm project files
.idea
.elasticbeanstalk/aws_credential_file

dump.rdb
_makefile
