<table>
  <tr>
    <td><%- connections %></td><td><%- human_rights_text %></td>
  </tr>
  <tr>
    <td><%- users %></td><td><%- active_users_text %></td>
  </tr>
  <tr>
    <td><%- countries %></td><td><%- countries_text %></td>
  </tr>
</table>