<table>
  <tr>
    <td><%- connections %></td><td>Human Rights Connections</td>
  </tr>
  <tr>
    <td><%- users %></td><td>Active Users</td>
  </tr>
  <tr>
    <td><%- countries %></td><td>Countries</td>
  </tr>
</table>