<span class="rateit"
      data-rateit-readonly="true"
      data-rateit-value="<%- rating %>"
      data-rateit-min="0"
      data-rateit-starwidth="22"
      data-rateit-starheight="17"
      data-rateit-max="5"></span>