{% extends "postman/base_folder.html" %}
{% load i18n %}

{% block head_title %}{% trans "Archived Messages" %}{% endblock %}

{% block pm_folder_title %}{% trans "Archived Messages" %}{% endblock %}
{% block pm_archive_button %}{% endblock %}
{% block pm_undelete_button %}{% endblock %}
{% block pm_footer_info %}
<div class="alert alert-info alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  {% trans "Messages in this folder will never be removed. You can use this folder for long term storage." %}
</div>
{% endblock %}

{% block endjavascript %}

<script type="text/javascript">
  $(document).ready(function(){
    var dfrd = window.ahr.getStatics();
    dfrd.done(function(){
      window.ahr.messages.initInbox();
    });
  });
</script>

{% endblock %}