{% extends "base_v2.html" %}
{% load url from future %}
{% load i18n postman_tags %}
{% load pagination_tags %}
{% load avatar_tags %}

{% comment %}
  WARNING: 'pagination_tags' is a name from the django-pagination application.
  For convenience, the design of this template is done with the use of that application.
  Django-postman will still be working, even if that application is not installed, by providing a mock
  for the template tag library.
  If the real implementation is to be used, just make sure that 'pagination' is declared before 'postman'
  in the INSTALLED_APPS setting.
{% endcomment %}

{% block header_padding %}{% endblock %}
{% block content_outside_container %}
    {% include "users/snippets/profile_navigation.html" with page_type="inbox" %}
{% endblock %}

{% block content %}
{% block headerinfo %}{% endblock %}
{% url 'postman_inbox' as inbox %}
{% url 'postman_sent' as sent %}
{% url 'postman_trash' as trash%}
{% with request.get_full_path as path %}
<div id="postman" data-folder-type="{% if path == sent %}outbox{% endif %}{% if path == inbox %}inbox{% endif %}">
  <div class="row no-gutter">
    <div class="col-md-4 sidebar">
      <div class="btn-group folder-select btn-group-justified btn-group-md" id="messagenav">
        <a type="button" class="btn btn-tab {% if path == inbox %}selected{% endif %}" href="{{inbox}}">Inbox</a>
        <a type="button" class="btn btn-tab {% if path == sent %}selected{% endif %}" href="{{sent}}">Sent</a>
      </div>
      {% if pm_messages %}
      <div class="messagelist">
        {% for message in pm_messages %}
          <div class="message{% if forloop.counter|divisibleby:2 %} alt{% endif %}{% if message.is_new %} new{% endif %}"
               href="{% if by_conversation and message.thread_id %}{% url 'postman_view_conversation' message.thread_id %}{% else %}{{ message.get_absolute_url }}{% endif %}?next={{ current_url|urlencode }}">
            <div class="message-well">
              <div class="status"></div>
              <div class="name-and-date">
                <div class="date">
                  {{ message.sent_at|compact_date:_("g:i A,M j,n/j/y") }}
                </div>
                <h4>
                  {% block pm_sender_cell %}
                    {{ message.obfuscated_sender|or_me:user }}
                  {% endblock %}
                  {% block pm_recipient_cell %}
                    {{ message.obfuscated_recipient|or_me:user }}
                  {% endblock %}
                </h4>
              </div>
              <div class="subject">
                {% block pm_subject %}
                  {% include "postman/inc_subject_ex.html" %}
                {% endblock %}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      {% else %}
        <p>{% trans "No messages." %}</p>
      {% endif %}

      <div id="paginationblock">
        {% paginate %}
      </div>

      {% autopaginate pm_messages %}
      {% if invalid_page %}
        <p>{% trans "Sorry, this page number is invalid." %}</p>
      {% else %}
      {% endif %}
    </div>
    <div class="col-md-8" id="conversation">
    </div>
  </div>
</div>

{% endwith %}
{% endblock content %}

{% block endjavascript %}
  <script type="text/javascript">
    window.ahr.messages.initInbox();
  </script>
{% endblock %}
