{% extends "base.html" %}
{% load url from future %}
{% load i18n postman_tags %}
{% load pagination_tags %}
{% load avatar_tags %}

{% comment %}
  WARNING: 'pagination_tags' is a name from the django-pagination application.
  For convenience, the design of this template is done with the use of that application.
  Django-postman will still be working, even if that application is not installed, by providing a mock
  for the template tag library.
  If the real implementation is to be used, just make sure that 'pagination' is declared before 'postman'
  in the INSTALLED_APPS setting.
{% endcomment %}

{% block content %}
{% block headerinfo %}{% endblock %}
{% url 'postman_inbox' as inbox %}
{% url 'postman_sent' as sent %}
{% url 'postman_archives' as archive %}
{% url 'postman_trash' as trash%}
{% with request.get_full_path as path %}

<div class="row" id="postman">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12 pull-left">
        <div class="btn-group btn-group-justified btn-group-md" id="messagenav" style="padding:0 10px 10px 10px">
          <a type="button" class="btn btn-default {%if path == inbox %} selected {% endif %}" href="{{inbox}}">Inbox</a>
          <a type="button" class="btn btn-default {%if path == sent %} selected {% endif %}" href="{{sent}}">Sent</a>
          <a type="button" class="btn btn-default {%if path == archive %} selected {% endif %}" href="{{archive}}">Archive</a>
          <a type="button" class="btn btn-default {%if path == trash %} selected {% endif %}" href="{{trash}}">Trash</a>
        </div>
      </div>
    </div>
    <div class="row">
    {% autopaginate pm_messages %}
    {% if invalid_page %}
      <p>{% trans "Sorry, this page number is invalid." %}</p>
    {% else %}
      {% if pm_messages %}
      <form action="{% block pm_form_action %}{% endblock %}" method="post">{% csrf_token %}
        <div id="pm_messages">
          <div class="col-md-12" id="message-col">
            <div class="">
              <div class="">
                {% block pm_form_buttons %}
                 <div style="margin-bottom:15px;" class="row">
                  <div class="col-md-12" id="pm_buttons">
                    {% block pm_delete_button %}
                      <button style="width:100px;" type="submit" class="btn btn-default btn-sm" onclick="this.form.action='{% url 'postman_delete' %}'">
                        <span class="glyphicon glyphicon-trash"></span> {% trans "Trash" %}
                      </button>

                    {% endblock %}
                    {% block pm_archive_button %}
                      <button style="width:100px;" type="submit" class="btn btn-default btn-sm" onclick="this.form.action='{% url 'postman_archive' %}'">
                        <span class="glyphicon glyphicon-save"></span> {% trans "Archive" %}
                      </button>
                    {% endblock %}
                    {% block pm_undelete_button %}
                      <button style="width:100px;" type="submit" class="btn btn-default btn-sm" onclick="this.form.action='{% url 'postman_undelete' %}'">
                        <span class="glyphicon glyphicon-open"></span> {% trans "Undelete" %}
                      </button>
                    {% endblock %}
                  </div>
                  {% endblock %}
                  <!--<div class="col-md-12" style="margin-top:10px;">
                    Order By:
                    {% block pm_sender_header %}
                    <div class="btn btn-xs default-btn"><a href="{% postman_order_by sender %}">{% trans "Sender" %}</a></div>
                    {% endblock %}
                    {% block pm_recipient_header %}
                    <div class="btn btn-xs default-btn"><a href="{% postman_order_by recipient %}">{% trans "Recipient" %}</a></div>
                    {% endblock %}
                    <div class="btn btn-xs default-btn"><a href="{% postman_order_by subject %}">{% trans "Subject" %}</a></div>
                    <div class="btn btn-xs default-btn"><a href="{% postman_order_by date %}">{% block pm_date %}{% trans "Date" %}{% endblock %}</a></div>
                  </div>
                  {% block pm_by_modes %}
                   <div id="pm_by_modes" style="margin-top:10px;">
                    <div class="col-md-12 pm_by_mode">
                    List by:
                    {% if by_message %}
                      <div class="btn btn-xs default-btn"><a href="{{ by_conversation_url }}">{% trans "conversation" %}</a></div>
                      <div class="btn btn-xs default-btn disabled">{% trans "message" %}</div>
                    {% endif %}
                    {% if by_conversation %}
                      <div class="btn btn-xs default-btn disabled">{% trans "conversation" %}</div>
                      <div class="btn btn-xs default-btn"><a href="{{ by_message_url }}">{% trans "message" %}</a></div>
                    {% endif %}
                    </div>
                  </div>-->
                  {% endblock pm_by_modes %}
                </div>
              </div>
              <div class="dialog">
                <div class="row messagelist">
                  {% for message in pm_messages %}
                  <div class="col-xs-12 message">
                    <div class="container-fixed">
                      <div class="message-well">
                        <div class="messageavatar">
                          <input type="checkbox" {% if by_conversation and message.thread_id %}name="tpks" value="{{ message.thread_id }}"{% else %}name="pks" value="{{ message.pk }}"{% endif %} />
                          {% primary_avatar message.sender 40 %}
                        </div>
                        <div class="conv_link" href="{% if by_conversation and message.thread_id %}{% url 'postman_view_conversation' message.thread_id %}{% else %}{{message.get_absolute_url }}{% endif %}?next={{ current_url|urlencode }}">
                        <div class="hidden-xs hidden-sm col-sm-3 col-md-2 sender">
                          <strong>
                          {% block pm_sender_cell %}
                            {{ message.obfuscated_sender|or_me:user }}{% if message.count %} ({{ message.count }}){% endif %}
                          {% endblock %}
                          {% block pm_recipient_cell %}
                            {{ message.obfuscated_recipient|or_me:user }}
                            {% if message.count %}
                              ({{ message.count }})
                             {% endif %}
                          {% endblock %}
                          </strong>
                        </div>
                        <div class="col-xs-6 col-sm-7 col-md-7 subject">
                            {%if path != sent %}{% if message.is_new %}<strong>{% endif %}{% endif %}
                            {% if message.is_replied %}<em>{% endif %}

                            {% block pm_subject %}
                                {% include "postman/inc_subject_ex.html" %}
                            {% endblock %}

                            {% if message.is_replied %}</em>{% endif %}
                            {%if path != sent %}{% if message.is_new %}</strong>{% endif %}{% endif %}
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-2" style="text-align:right;line-height:45px;">
                          {{ message.sent_at|compact_date:_("g:i A,M j,n/j/y") }}
                        </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
            <div id="paginationblock">
            {% paginate %}
            </div>
          </div>

          <div class="col-md-3 nanamorde-mobile">
            <div class="profilecontainer"></div>
            <div class="action-container"></div>
            <div style="clear:both;"></div>
          </div>

          <div class="col-md-9" id="conversation-cont">
            <div class="panel" id="back" style="margin-top:10px;">
                <ol class="breadcrumb" style="margin-bottom: 0px;">
                  <li id="backtofolder" style="cursor:pointer;" class="">
                  {%if path == inbox %}
                    Inbox
                  {% elif path == sent %}
                    Sent
                  {% elif path == trash %}
                    Trash
                  {% else %}
                    Archive
                  {%endif%}
                  </li>
                  <li class="active" id="breadsubject"></li>
                </ol>
            </div>
            <div class="panel">
              <a id="convst"></a>
              <div class="col-md-12" id="conversation"></div>
            </div>
          </div>

          <div class="panel col-md-3 nanamorde" style="margin-top:10px;">
            <div class="profilecontainer"></div>
            <div class="action-container"></div>
            <div style="clear:both;"></div>
          </div>

        </div>
      </form>

      {% else %}
        <div class="col-md-12">
          <div class="dialog">
            <p>{% trans "No messages." %}</p>
          </div>
        </div>
      {% endif %}
    {% endif %}
    </div>
    <div class="row">
      <div class="col-md-12">
        {% block pm_footer_info %}
        {% endblock %}
      </div>
    </div>
  </div>
</div>

{% include 'market/clientside/userprofile.html' %}
{% include 'market/clientside/reportuserdialog.html' %}
{% include "market/clientside/messagedialog.html" %}
{% include "market/clientside/recommenddialog.html" %}
{% include "market/clientside/ratedialog.html" %}
<script type="text/template" id="useraction-template">
  {% include "market/clientside/useractions.html"%}
</script>
{% endwith %}
{% endblock content %}



