{% extends "base.html" %}

{% load url from future %}
{% load i18n postman_tags %}
{% load pagination_tags %}
{% load avatar_tags %}

{% comment %}
  WARNING: 'pagination_tags' is a name from the django-pagination application.
  For convenience, the design of this template is done with the use of that application.
  Django-postman will still be working, even if that application is not installed, by providing a mock
  for the template tag library.
  If the real implementation is to be used, just make sure that 'pagination' is declared before 'postman'
  in the INSTALLED_APPS setting.
{% endcomment %}

{% block content %}
<div class="row" id="postman">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12">
        <h3>{% block pm_folder_title %}{% endblock %}</h3>
      </div>
    </div>
    <div class="row">
    {% autopaginate pm_messages %}
    {% if invalid_page %}
      <p>{% trans "Sorry, this page number is invalid." %}</p>
    {% else %}
      {% if pm_messages %}
      <form action="{% block pm_form_action %}{% endblock %}" method="post">{% csrf_token %}
        <div id="pm_messages">
          <div class="col-md-5" id="message-col">
            <div class="panel panel-default panel-sm">

              <!-- <div class="panel-heading">
                {% block pm_form_buttons %}
                 <div class="row">
                  <div class="col-md-12" id="pm_buttons">
                    Actions:
                    {% block pm_delete_button %}
                      <button type="submit" class="btn default-btn btn-xs" onclick="this.form.action='{% url 'postman_delete' %}'">{% trans "Delete" %}</button>
                    {% endblock %}
                    {% block pm_archive_button %}
                      <button type="submit" class="btn default-btn btn-xs" onclick="this.form.action='{% url 'postman_archive' %}'">{% trans "Archive" %}</button>
                    {% endblock %}
                    {% block pm_undelete_button %}
                      <button type="submit" class="btn default-btn btn-xs" onclick="this.form.action='{% url 'postman_undelete' %}'">{% trans "Undelete" %}</button>
                    {% endblock %}
                  </div>
                  {% endblock %}
                  <div class="col-md-12" style="margin-top:10px;">
                    Order By:
                    {% block pm_sender_header %}
                    <div class="btn btn-xs default-btn"><a href="{% postman_order_by sender %}">{% trans "Sender" %}</a></div>
                    {% endblock %}
                    {% block pm_recipient_header %}
                    <div class="btn btn-xs default-btn"><a href="{% postman_order_by recipient %}">{% trans "Recipient" %}</a></div>
                    {% endblock %}
                    <div class="btn btn-xs default-btn"><a href="{% postman_order_by subject %}">{% trans "Subject" %}</a></div>
                    <div class="btn btn-xs default-btn"><a href="{% postman_order_by date %}">{% block pm_date %}{% trans "Date" %}{% endblock %}</a></div>
                  </div>
                  {% block pm_by_modes %}
                   <div id="pm_by_modes" style="margin-top:10px;">
                    <div class="col-md-12 pm_by_mode">
                    List by:
                    {% if by_message %}
                      <div class="btn btn-xs default-btn"><a href="{{ by_conversation_url }}">{% trans "conversation" %}</a></div>
                      <div class="btn btn-xs default-btn disabled">{% trans "message" %}</div>
                    {% endif %}
                    {% if by_conversation %}
                      <div class="btn btn-xs default-btn disabled">{% trans "conversation" %}</div>
                      <div class="btn btn-xs default-btn"><a href="{{ by_message_url }}">{% trans "message" %}</a></div>
                    {% endif %}
                    </div>
                  </div>
                  {% endblock pm_by_modes %}
                </div>
              </div> -->
              <div _class="panel-body">
                <div class="row messagelist">
                  {% for message in pm_messages %}
                  <div class="col-md-12">
                    <div class="container-fixed">
                      <div class="message-well">
                        <div class="col-xs-2 messageavatar">
                          <!-- <input type="checkbox" {% if by_conversation and message.thread_id %}name="tpks" value="{{ message.thread_id }}"{% else %}name="pks" value="{{ message.pk }}"{% endif %} /> -->
                          {% avatar message.sender 70 %}
                        </div>
                        <div class="col-xs-7">
                          <div style="margin-left:10px;">
                            <strong>
                            {% block pm_sender_cell %}
                              {{ message.obfuscated_sender|or_me:user }}{% if message.count %} ({{ message.count }}){% endif %}
                            {% endblock %}
                            {% block pm_recipient_cell %}
                              {{ message.obfuscated_recipient|or_me:user }}
                              {% if message.count %}
                                ({{ message.count }})
                               {% endif %}
                            {% endblock %}
                            </strong><br/>

                            {% if message.is_new %}<strong>{% endif %}{% if message.is_replied %}<em>{% endif %}

                            {% block pm_subject %}
                            <a class="conv_link" href="{% if by_conversation and message.thread_id %}{% url 'postman_view_conversation' message.thread_id %}{% else %}{{message.get_absolute_url }}{% endif %}?next={{ current_url|urlencode }}">
                                {% include "postman/inc_subject_ex.html" %}
                            </a>
                            {% endblock %}

                            {% if message.is_replied %}</em>{% endif %}{% if message.is_new %}</strong>{% endif %}
                          </div>
                        </div>
                        <div class="col-xs-3 pull-right">
                          {{ message.sent_at|compact_date:_("g:i A,M j,n/j/y") }}
                        </div>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
            <div id="paginationblock">
            {% paginate %}
            </div>
          </div>
          <div class="col-md-7">
            <div class="row" style="border: 1px solid #D8DCDD;">
              <a id="convst"></a>
              <div class="col-md-12" id="conversation"></div>
            </div>
          </div>
        </div>
      </form>

      {% else %}
        <div class="col-md-12">
          <p>{% trans "No messages." %}</p>
        </div>
      {% endif %}
    {% endif %}
    </div>
    <div class="row">
      <div class="col-md-12">
        {% block pm_footer_info %}
        {% endblock %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}




