{% extends "postman/base_folder.html" %}
{% load i18n %}

{% block headerinfo %}
    <div style="margin-top:10px;">
    <div class="alert alert-info alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        {% trans "Please note that items moved to the deleted items box, will be removed, and cannot be re instated. Only move messages that you are sure you do not want to keep to your deleted items folder." %}
    </div>
    </div>
{% endblock %}

{% block head_title %}{% trans "Deleted Messages" %}{% endblock %}

{% block pm_folder_title %}{% trans "Deleted Messages" %}{% endblock %}
{% block pm_delete_button %}{% endblock %}
{% block pm_archive_button %}{% endblock %}
{% block pm_subject %}{# no link #}
     {% include "postman/inc_subject_ex.html" %}
{% endblock %}


{% block pm_footer_info %}{% endblock %}

{% block endjavascript %}
<script type="text/javascript">
  $(document).ready(function(){
    var dfrd = window.ahr.getStatics();
    dfrd.done(function(){
      window.ahr.messages.initInbox();
    });
  });
</script>
{% endblock %}