{% extends "postman/base_folder.html" %}
{% load i18n %}

{% block headerinfo %}{% endblock %}

{% block head_title %}{% trans "Deleted Messages" %}{% endblock %}

{% block pm_archive_button %}{% endblock %}
{% block pm_unarchive_button %}{% endblock %}
{% block pm_subject %}{# no link #}
     {% include "postman/inc_subject_ex.html" %}
{% endblock %}


{% block pm_footer_info %}{% endblock %}

{% block endjavascript %}
  {{ block.super }}
  <script type="text/javascript">
    window.ahr.messages.initInbox();
  </script>
{% endblock %}