{% load url from future %}

{% load i18n %}
{% load postman_tags %}

{% block content %}

<div class="conversation-header">
  <h1 id="messagesubjectheader">{% if pm_messages|length > 0 %}{{ pm_messages.0.subject }}{% endif %}</h1>
</div>
{% if reply_to_pk %}
<div class="clearfix replyarea" id="replyarea">
  <form id="replyform" action="{% url 'postman_reply' reply_to_pk %}?next={{ next_url|urlencode }}" method="post">
    {% csrf_token %}
    <div id="pm_reply">{{ form.body }}</div>
    <div class="pull-right">
      <button type="submit" id="reply-btn" class="btn btn-action">{% trans 'Reply' %}</button>
    </div>
  </form>
</div>
{% endif %}
<div class="conversation-body">
  {% for message in pm_messages %}
  <div class="message{% if forloop.counter|divisibleby:2 %} alt{% endif %}">
    <div class="message-header" href="#message-{{ forloop.counter }}">
      <span class="message-date pull-right">{{ message.sent_at|date:"M d Y H:i" }}</span>
      <span class="send-receive">
        <a href="{% url 'user_profile_for_user' message.sender.username %}">{% if message.sender == request.user %}Me{% else %}{{ message.obfuscated_sender }}{% endif %}</a> to
        <a href="{% url 'user_profile_for_user' message.recipient.username %}">{% if message.recipient == request.user %}Me{% else %}{{ message.obfuscated_recipient }}{% endif %}</a>
      </span>
    </div>
    <div class="message-body{% if forloop.counter0 != 0 %} collapse{% endif %}">
      <hr/>
      {{ message.body|linebreaksbr }}
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
