{% load i18n avatar_tags %}

{% block greeting %}
  <p>{% trans "Hello Movements.Org user,"%}</p>
{% endblock %}

{% block body %}
{% endblock %}

{% block footer %}
  <hr/>
  <p>{% trans "The Movements.Org Team"%}</p>
  <p>{% trans "Movements are made up of individuals. Movements.Org brings them together."%}</p>
{% endblock %}

{% block update_settings %}
  <p style="font-size: 10px;">{% trans "You can update your notification preferences in "%}<a
      href="{{ base_url }}{% url 'user_settings' %}">{% trans "your settings page."%}</a></p>
{% endblock %}