<h4>Dear {{user.username }}</h4>

<p>
Thank you for signing up to be part of Exchangivist, a new innovative platform 
that is crowd-sourcing the fight for human rights. We are writing to confirm that 
you are now approved to use the site as an Exchangivist. To get started, 
log-in <a href="{{login_url}}">here</a> (using the username and password you signed up with) 
and create a user profile. Once you're finished, you can begin posting on the Exchange!
</p>

<p>
Kind Regards<br/>
The Exchangivist Team
</p>