{% extends 'emails/base_email.html' %}
{% load i18n avatar_tags %}

{% block body %}
  <p>{% trans "You have the following new notifications."%}</p>

  {% for notification in notifications %}
    <p>
      {% if notification.translation %}
        {% if notification.translation == notification.STATUSES.TRANSLATION_COUNT %}
          <a href="{{ base_url }}{% url 'show_translations' %}">
            {% if notification.text.total == 1 %}
              {% trans "There is 1 item that we need your help translating." %}
            {% else %}
                {% trans "There are " %}{{ notification.text.total }}{% trans " items that we need your help translating." %}
            {% endif %}
          </a>
        {% elif notification.translation == notification.STATUSES.APPROVAL_COUNT %}
          <a href="{{ base_url }}{% url 'show_translations' %}">
            {% if notification.text.total == 1 %}
              {% trans "There is 1 translation that needs your approval." %}
            {% else %}
              {% trans "There are " %}{{ notification.text.total }}{% trans " translations that need your approval." %}
            {% endif %}
          </a>
        {% endif %}
      {% elif notification.comment %}
          {% trans "On"%} {{ notification.pub_date }} {{ notification.comment.owner.username}} {% trans "commented on a post titled"%}
          <a href="{{ base_url }}/market/{{ notification.item.id }}"><em>{{ notification.text.title}}</em></a>.
      {% elif notification.item %}
          {% trans "On"%} {{ notification.pub_date }} {{ notification.item.owner.username }}
          {% if notification.text.update %}{% trans "updated"%}{% else %}{% trans "created"%}{% endif %} {% trans "the"%} {{ notification.item.item_type }}
          <a href="{{ base_url }}/market/{{ notification.item.id }}"><em>{{ notification.text.title }}</em></a>.
      {% else %}
          {% trans "On"%} {{ notification.pub_date }} {{ notification.text.sender }} {% trans "sent you"%} <a href="{{ base_url }}{% url 'postman_inbox' %}">{% trans "a private message"%}</a>
          {% trans "with the subject"%} <em>{{ notification.text.subject }}</em>.
      {% endif %}
    </p>
  {% endfor %}
{% endblock %}
