{% extends 'emails/base_email.html' %}
{% load i18n avatar_tags %}

{% block body %}
  <p>{% trans "You have the following new notifications."%}</p>

  {% for notification in notifications %}
    <p>
      {% if notification.translation %}
        {% trans 'The object translate status changed to' %} {{ notification.get_translation_display }}
        {% if notification.reminder %}
          {% trans 'It is a reminder. The object status is' %}
        {% else %}
          {% trans 'The object translation status changed to' %}
        {% endif %}
        - {{ notification.get_translation_display }} ({{ notification.language }})
        {% if notification.item_type %}
          <br>
          {{ notification.item.item_type|capfirst }}
          <a href="{{ base_url }}/market/{{ notificationication.item.id }}">
            <em>{{ notification.text.title }}</em>
          </a>
          {% if notification.timeto %}
            {% trans 'The time to completion' %} {{ notification.timeto }}
          {% endif %}
        {% endif %}
      {% elif notification.comment %}
          {% trans "On"%} {{ notification.pub_date }} {{ notification.comment.owner.username}} {% trans "commented on a post titled"%}
          <a href="{{ base_url }}/market/{{ notification.item.id }}"><em>{{ notification.text.title}}</em></a>.
      {% elif notification.item %}
          {% trans "On"%} {{ notification.pub_date }} {{ notification.item.owner.username }}
          {% if notification.text.update %}{% trans "updated"%}{% else %}{% trans "created"%}{% endif %} {% trans "the"%} {{ notification.item.item_type }}
          <a href="{{ base_url }}/market/{{ notification.item.id }}"><em>{{ notification.text.title }}</em></a>.
      {% else %}
          {% trans "On"%} {{ notification.pub_date }} {{ notification.text.sender }} {% trans "sent you"%} <a href="{{ base_url }}{% url 'postman_inbox' %}">{% trans "a private message"%}</a>
          {% trans "with the subject"%} <em>{{ notification.text.subject }}</em>.
      {% endif %}
    </p>
  {% endfor %}
{% endblock %}
