{% extends 'emails/base_email.html' %}
{% load i18n avatar_tags %}

{% block greeting %}
  <p>{% trans "A message from Movements.Org,"%}</p>
{% endblock %}

{% block body %}
  <p>
  {{ message }}
  </p>

  <p>
    {% blocktrans %}This email was sent to you by {{ screen_name }}, a registered user on Movements.org.
    Movements helps activists in need connect directly with the people who have the skills and
    expertise that can help.{% endblocktrans %}
  </p>
  <p>
    {% blocktrans %}All personal information on Movements.org is confidential. To view the full post that they
    have recommended to you please go to {{ post_link }}. If you wish to respond to the post please
    <a href="{{ registration_link }}">register</a>. The registration process is designed to help protect the security and privacy of all users.{% endblocktrans %}
  </p>
  {% if post_title %}
    <p>{% trans "Post Title:"%} {{ post_title }}</p>
  {% endif %}
  {% if post_link %}
    <p>{% trans "Post URL:"%} {{ post_link }}</p>
  {% endif %}
  {% if post_date %}
    <p>{% trans "Date of Post:"%} {{ post_date }}</p>
  {% endif %}
  <p>
    {% blocktrans %}This email was automatically created by Movements.org. You cannot reply to this email but can reply
    to {{ screen_name }} on Movements.org once you register.{% endblocktrans %}
  </p>
  <br>
  <p>{% trans "Thank you,"%}</p>
{% endblock %}

{% block update_settings %}
{% endblock %}
