{% extends 'emails/base_email.html' %}

{% block body %}
  <p>
    This email was sent to you by {{ screen_name }}, a registered user on Movements.org.
    Movements helps activists in need connect directly with the people who have the skills and
    expertise that can help.
  </p>
  <p>
    All personal information on Movements.org is confidential. To view the full post that they
    have recommended to you please go to {{ post_link }}. If you wish to respond to the post please
    <a href="{{ registration_link }}">register</a>. The registration process is designed to help protect the security and privacy of all users.
  </p>
  {% if post_title %}
    <p>Post Title: {{ post_title }}</p>
  {% endif %}
  {% if post_link %}
    <p>Post URL {{ post_link }}</p>
  {% endif %}
  {% if post_date %}
    <p>Date of Post {{ post_date }}</p>
  {% endif %}
  <p>
    This email was automatically created by Movements.org. You cannot reply to this email but can reply
    to {{ screen_name }} on Movements.org once your register.
  </p>
  <br>
  <p>Thank you,</p>
{% endblock %}
