{% extends "base_form.html" %}

{% load url from future %}
{% load i18n %}
{% load widget_tweaks %}

{% block public-content-message %}
  {{ form }}
<div class="row dialog movements-form more-about-you-widget">
  <div class="col-xs-12">
    <div class="progress-counter" style="display: none;"></div>
    <form class="form-horizontal"  method="post" action="{{ post_url }}">
    {% csrf_token %}
      <div id="step1" class="step" >
        <div class="form-title"><h1>{% trans "Welcome to Movements" %}</h1></div>
        <div class="form-select-multi">
          <p>{% blocktrans %}Your account is now fully active.{% endblocktrans %}</p>
          <p>{% blocktrans %}As a new user you should either <strong>Request</strong> support or <strong>Offer</strong>
            your skills. After you enter some basic information you can create your first post.{% endblocktrans %}
          <p>{% blocktrans %}You can skip this step but you’ll be mostly invisible to the people you would want to connect
            with. {% endblocktrans %}</p>
          <div class="col-md-offset-2 col-md-8 form-main-button">
            <button id="create-offer-button" class="btn btn-action full-width">{% trans "Create an Offer" %}&nbsp;>></button>
          </div>
          <div class="col-md-offset-2 col-md-8 form-main-button">
            <button id="create-request-button" class="btn btn-action full-width">{% trans "Create a Request" %}&nbsp;>></button>
          </div>
          {{ settings_form.post_type.as_hidden }}
        </div>
        <div class="row action-text">
          <div class="col-sm-12 form-main-button">
            <a id="create-post-later" class="action-link" href="">{% trans "I'll create a post later" %}</a>
          </div>
        </div>
      </div>

      <div id="step1-5" class="step"  style="display: none;">  <!-- Start User Type -->
        <div class="form-title"><h1>{% trans "Your Movements.Org goals" %}</h1></div>
        <div class="row">
          <div class="col-sm-12">
            <p style="text-align: center;">{% blocktrans %}Will you be looking to offer your skills or ask for help?{% endblocktrans %}</p>
            <div class="col-sm-offset-4 select-user-type">{{ settings_form.user_preference_type }}</div>
          </div>
        </div>
        <div class="row action-text">
          <div class="col-sm-offset-2 col-sm-2 form-main-button">
            <a class="action-link skip-link" href="">{% trans "Skip" %}</a>
          </div>
          <div class="col-sm-6 form-main-button">
            <button class="btn btn-action full-width next-button render-steps">{% trans "Next" %}</button>
          </div>
        </div>
      </div>  <!-- End User Type -->

      <div id="step2" class="step" style="display: none;" >  <!-- Start Languages -->
        <div class="form-title"><h1>{% trans "Languages" %}</h1></div>
        <div class="form-select-multi">
          <p>
            {% blocktrans %}Please indicate which languages you speak. Google Translate is also available, but it is not fully accurate.{% endblocktrans %}
          </p>
          {{ settings_form.languages }}
        </div>
        <div class="row action-text">
          <div class="col-sm-offset-2 col-sm-2 form-main-button">
            <a class="action-link skip-link" href="">{% trans "Skip" %}</a>
          </div>
          <div class="col-sm-6 form-main-button">
            <button class="btn btn-action full-width next-button">{% trans "Next" %}</button>
          </div>
        </div>
      </div> <!-- End Languages -->

      <div id="step3" class="step" style="display: none;" > <!-- Start Regions -->
        <div class="form-title"><h1>{% trans "Countries" %}</h1></div>
        <div class="form-select-multi">
          <p>
            {% blocktrans %}Please indicate which regions and countries you are interested in helping.{% endblocktrans %}
          </p>
          {{ settings_form.countries }}
        </div>
        <div class="row action-text">
          <div class="col-sm-offset-2 col-sm-2 form-main-button">
            <a class="action-link skip-link" href="">{% trans "Skip" %}</a>
          </div>
          <div class="col-sm-6 form-main-button">
            <button class="btn btn-action full-width next-button">{% trans "Next" %}</button>
          </div>
        </div>
      </div> <!-- End Regions -->

      <div id="step4" class="step" style="display: none;" >  <!-- Start Interests -->
        <div class="form-title"><h1>{% trans "Skills" %}</h1></div>
        <div class="form-select-multi">
          <p>
            {% blocktrans %}Please indicate your skill set.{% endblocktrans %}
          </p>
          {{ settings_form.interests }}
        </div>
        <div class="row action-text">
          <div class="col-sm-offset-2 col-sm-2 form-main-button">
            <a class="action-link skip-link" href="">{% trans "Skip" %}</a>
          </div>
          <div class="col-sm-6 form-main-button">
            <button class="btn btn-action full-width next-button">{% trans "Next" %}</button>
          </div>
        </div>
      </div>   <!-- End Interests -->

      <div id="step5" class="step" style="display: none;">
        <div class="form-title"><h1>{% trans "How you can help" %}</h1></div>
        <div class="form-select-multi">
          {% blocktrans %}
          <p>
              While there are certain skills that are particularly in demand from our activist users — namely,
              legal assistance, media coverage — there are plenty of ways you can be involved if you do not fall into
              those categories.
          </p>
          <ul>
            <li>
              <strong>Social media.</strong> Share Movements’ posts across your social media platforms. For example,
              you can share Movements’ users’ requests with your representatives.
            </li>
            <li>
              <strong>Tweet</strong> the posts that most interest you. There’s a button on almost every post.
            </li>
            <li>
              <strong>Recommend a friend.</strong> If you have a friend with the skills in demand on our network, tell
              them about us!
            </li>
          </ul>
          {% endblocktrans %}
        </div>

        <div class="form-title"><h1>{% trans "Done" %}</h1></div>
        <div class="form-select-multi">
          <p>
            {% blocktrans %}Thank You! You are one step closer to opening a closed society!{% endblocktrans %}
          </p>
          <p>
            {% blocktrans %}If you would like to update these details at any time, this can be done in easily in your settings panel.{% endblocktrans %}
          </p>
          <h3>{% trans "Your Safety" %}</h3>
          <p>
            {% blocktrans %}Please remember that no online platform is 100% secure. We have gone to great lengths to try and protect your personal privacy and are working with some of the best experts in the field who share and appreciate your concern for digital security. However it is important to always stay safe online and only share personal information with people you trust. Please see our Security and Privacy pages for more information.{% endblocktrans %}
          </p>
        </div>
        <div class="row action-text">
          <div class="col-sm-offset-2 col-sm-8 form-main-button">
            <button type="submit" class="btn btn-action full-width">{% trans "Finish" %}</button>
          </div>
        </div>
      </div>


    </form>
  </div>
</div>
{% endblock %}

{% block endjavascript %}
<script type="text/javascript">
  $(document).ready(function(){
    var steps = [{ id: 1, title: '{% trans "Start" %}'},
                 { id: 2, title: '{% trans "Languages" %}'},
                 { id: 3, title: '{% trans "Regions" %}'},
                 { id: 4, title: '{% trans "Skills" %}'},
                 { id: 5, title: '{% trans "Finish" %}'}];
    var args = {
      steps: steps
    };
    window.ahr.widgets.initMoreAboutYou(args);
    window.ahr.widgets.initAccordionView();
  });
</script>
{% endblock %}
