{% extends "base_form.html" %}

{% load url from future %}
{% load i18n %}
{% load widget_tweaks %}

{% block public-content-message %}
  {{ form }}
<div class="row dialog movements-form more-about-you-widget">
  <div class="col-xs-12">
    <div class="progress-counter">
      <div class="progress-item step1 current">
        <div class="complete-state"><span>&#8226;</span></div>
        <div class="progress-item-description">{% trans "Start" %}</div>
      </div>
      <div class="progress-item step2 outstanding">
        <div class="complete-state"><span>&#8226;</span></div>
        <div class="progress-item-description">{% trans "Languages" %}</div>
      </div>
      <div class="progress-item step3 outstanding">
        <div class="complete-state"><span>&#8226;</span></div>
        <div class="progress-item-description">{% trans "Regions" %}</div>
      </div>
      <div class="progress-item step4 outstanding">
        <div class="complete-state"><span>&#8226;</span></div>
        <div class="progress-item-description">{% trans "Skills" %}</div>
      </div>
      <div class="progress-item step5 outstanding">
        <div class="complete-state"><span>&#8226;</span></div>
        <div class="progress-item-description">{% trans "Finish" %}</div>
      </div>
    </div>
    <form class="form-horizontal"  method="post" action="{{ post_url }}">
    {% csrf_token %}
      <div id="step1" class="step" >
        <div class="form-title"><h1>{% trans "Welcome to Movements" %}</h1></div>
        <div class="form-select-multi">
          <p>
            {% blocktrans %}You're account is now fully active. Fill out additional profile details now or you can skip this step and do it later in your settings page.{% endblocktrans %}
          </p>
          <h3>Create a Request</h3>
          <p>
            {% blocktrans %}Are you an activist in need of help?  Movements.org leverages technology to help those in closed societies find the assistance they need to amplify their voice and expand their influence.{% endblocktrans %}
          </p>
          <h3>Offer your Services</h3>
          <p>
            {% blocktrans %}If you’ve ever wanted to help a human rights activist, here’s your opportunity. All of us have skills that can be put to use to advance basic liberties.{% endblocktrans %}
          </p>
        </div>
        <div class="row action-text">
          <div class="col-sm-offset-2 col-sm-2 form-main-button">
            <a class="action-link skip-link" href="">{% trans "Skip" %}</a>
          </div>
          <div class="col-sm-6 form-main-button">
            <button class="btn btn-action full-width next-button">{% trans "Next" %}</button>
          </div>
        </div>
      </div>

      <div id="step2" class="step" style="display: none;" >  <!-- Start Languages -->
        <div class="form-title"><h1>{% trans "Languages" %}</h1></div>
        <div class="form-select-multi">
          <p>
            {% blocktrans %}Please indicate which languages you speak. Google Translate is also available, but it is not fully accurate.{% endblocktrans %}
          </p>
          {{ settings_form.languages }}
        </div>
        <div class="row action-text">
          <div class="col-sm-offset-2 col-sm-2 form-main-button">
            <a class="action-link skip-link" href="">{% trans "Skip" %}</a>
          </div>
          <div class="col-sm-6 form-main-button">
            <button class="btn btn-action full-width next-button">{% trans "Next" %}</button>
          </div>
        </div>
      </div> <!-- End Languages -->

      <div id="step3" class="step" style="display: none;" > <!-- Start Regions -->
        <div class="form-title"><h1>{% trans "Countries" %}</h1></div>
        <div class="form-select-multi">
          <p>
            {% blocktrans %}Please indicate which regions and countries you are interested in helping.{% endblocktrans %}
          </p>
          {{ settings_form.countries }}
        </div>
        <div class="row action-text">
          <div class="col-sm-offset-2 col-sm-2 form-main-button">
            <a class="action-link skip-link" href="">{% trans "Skip" %}</a>
          </div>
          <div class="col-sm-6 form-main-button">
            <button class="btn btn-action full-width next-button">{% trans "Next" %}</button>
          </div>
        </div>
      </div> <!-- End Regions -->

      <div id="step4" class="step" style="display: none;" >  <!-- Start Interests -->
        <div class="form-title"><h1>{% trans "Skills" %}</h1></div>
        <div class="form-select-multi">
          <p>
            {% blocktrans %}Please indicate your skill set.{% endblocktrans %}
          </p>
          {{ settings_form.interests }}
        </div>
        <div class="row action-text">
          <div class="col-sm-offset-2 col-sm-2 form-main-button">
            <a class="action-link skip-link" href="">{% trans "Skip" %}</a>
          </div>
          <div class="col-sm-6 form-main-button">
            <button class="btn btn-action full-width next-button">{% trans "Next" %}</button>
          </div>
        </div>
      </div>   <!-- End Interests -->

      <div id="step5" class="step" style="display: none;">
        <div class="form-title"><h1>{% trans "Done" %}</h1></div>
        <div class="form-select-multi">
          <p>
            {% blocktrans %}Thank You! You are one step closer to opening a closed society!{% endblocktrans %}
          </p>
          <p>
            {% blocktrans %}If you would like to update this details at any time, this can be done in easily in your settings panel.{% endblocktrans %}
          </p>
          <h3>Your Safety</h3>
          <p>
            {% blocktrans %}Please remember that no online platform is 100% secure. We have gone to great lengths to try and protect your personal privacy and are working with some of the best experts in the field who share and appreciate your concern for digital security. However it is important to always stay safe online and only share personal information with people you trust.  Please see our <a href="/movements/about-movements/your-safety/">Security</a> and <a href="/movements/privacy/">Privacy</a> pages for more information.{% endblocktrans %}
          </p>
        </div>
        <div class="row action-text">
          <div class="col-sm-offset-2 col-sm-8 form-main-button">
            <button type="submit" class="btn btn-action full-width">{% trans "Finish" %}</button>
          </div>
        </div>
      </div>


    </form>
  </div>
</div>
{% endblock %}

{% block endjavascript %}
<script type="text/javascript">
  $(document).ready(function(){
    window.ahr.widgets.initMoreAboutYou();
    window.ahr.widgets.initAccordionView();
  });
</script>
{% endblock %}
