{% extends "base_site.html" %}
{% load socialaccount %}
{% load avatar_tags %}
{% load widget_tweaks %}

{% block body %}

<div class="row">
  <div class="col-md-5"></div>
  <div class="col-md-4">
    <form class="form-horizontal" method="POST" action="" enctype="multipart/formdata" role="form">{% csrf_token %}
      {% for field in form %}
        {% if field.label = "Is journalist" %}
        <div class="form-group">
          <div class="col-sm-12">
            {{ field }} <small>I am a journalist</small>
          </div>
        </div> 
      {% elif field.label = "Get newsletter" %}
        <div class="form-group">
          <div class="col-sm-12">
            {{ field }} <small>Sign up for the Exchangivist Newsletter</small>
          </div>
        </div> 
      {% elif field.label = "Is organisation" %}
        <div class="form-group">
          <div class="col-sm-12">
            <small><b>I am...</b></small>
          </div>
          <div class="col-sm-2"></div>
          <div class="col-sm-5 radio">
            <label>
              {{ form.is_individual | attr:"name:inorgradio" | attr:"type:radio" | attr:"value:individual" }}
              <small>an individual</small>
            </label>
          </div>
          <div class="col-sm-5 radio">
            <label>
              {{ form.is_organisation | attr:"name:inorgradio" | attr:"type:radio" | attr:"value:organisation" }}
              <small>an organisation</small>
            </label>
          </div>
        </div> 
      {% elif field.label = "First name" %}
        <div class="form-group">
          <div class="col-sm-6">
            {% render_field form.first_name class="form-control input-sm" placeholder="First Name" %}
          </div>
          <div class="col-sm-6">
            {% render_field form.last_name class="form-control input-sm" placeholder="Last Name" %}
          </div> 
        </div>
      {% elif field.label = "Is individual" or field.label = "Last name" %} 
      {% else %}
        <div class="form-group">
          <div class="col-sm-12">
            {{ field.errors }}
            {% render_field field class="form-control input-sm" placeholder=field.label %}
          </div>
        </div>
      {% endif %}
      {% endfor %}
    <div class="form-group">
        <div class="col-sm-7"></div>
        <div class="col-sm-5">
          <button type="submit" class="btn btn-block">Update Settings</button>
        </div>
      </div>
</form>
  </div>
  <div class="col-mid-3"></div>
</div>

{% endblock %}