{% extends "base_v2.html" %}
{% load avatar_tags %}
{% load account %}
{% load compress %}
{% load i18n %}

{% block header_padding %}{% endblock %}

{% block content_outside_container %}
  {% if is_self %}
    {% include "users/snippets/profile_navigation.html" %}
  {% endif %}
{% endblock %}

{% block content %}
<div id="profile-view" class="row setting-page">
  <div class="col-xs-4">
    <div class="poster clearfix">
      <div class="avatar">
        {% primary_avatar user_details 60 %}
      </div>
      <div class="poster-details">
        <div class="poster-name">{{ user_details.username }}</div>
        <div class="poster-rating"><span class="rateit"
              data-rateit-readonly="true"
              data-rateit-value="{{ user_profile.score }}"
              data-rateit-min="0"
              data-rateit-starwidth="22"
              data-rateit-starheight="17"
              data-rateit-max="5"></span>
          </div>
      </div>
    </div>
    {% if not is_self %}
    <hr />
    <div class="profile-actions">
      <div username="{{ user_profile.user.username }}" score="{{ user_profile.score }}" usercore="{{ user_profile.score }}" ratecount="{{ user_profile.ratecount }}" class="rate-user rate">
        <div class="profile-action-icon rate-icon"></div>
        <div class="profile-action-text">Rate User</div>
      </div>
      <div username="{{ user_profile.user.username }}" class="message-user private-message">
        <div class="profile-action-icon message-icon"></div>
        <div class="profile-action-text">Direct Message</div>
      </div>
      <div username="{{ user_profile.user.username }}" class="report-user report_user">
        <div class="profile-action-icon report-icon"></div>
        <div class="profile-action-text">Report User</div>
      </div>
    </div>
    {% endif %}
    <hr />
    <div class="settings-title">Bio</div>
    <div class="bio">
      {{ user_profile.bio }}
    </div>
    <hr />
    <div class="settings-title">Skills</div>
    <div class="tags">
      {% for interest in user_profile.interests.all %}
        <div class="tag">{{ interest }}</div>
      {% endfor %}
    </div>
  </div>
  <div class="col-xs-8">
    <div id="marketitems"></div>
    <div id="ajaxloader">
      <img src="{{ STATIC_URL }}images/ajax-loader.gif"/>
    </div>
  </div>
</div>
{% endblock %}

{% block endjavascript %}
  {% include "market/clientside/marketitem.html" %}
  {% include "market/clientside/closemarketitemdialog.html"%}
  {% include "market/clientside/reportdialog.html" %}

  {% include "market/clientside/messagedialog.html" %}
  {% include 'market/clientside/reportuserdialog.html' %}
  {% include "market/clientside/ratedialog.html" %}


  <script type="text/javascript">
    $(document).ready(function(){
      window.GuerillaMarket = window.GuerillaMarket || {};
      window.GuerillaMarket.userDefaultTags = {'skills': [], 'issues': [], 'countries': []};
      var userId = null;
      {% if not is_self %}
      userId = {{ user_details.id }};
      {% endif %}
      window.ahr.market.initProfile(userId);
    });
  </script>

  <script type="text/javascript">
  $(function(){
    var ProfileView = Backbone.View.extend({
      resetitemrate: function (username, rate) {
        window.location.reload();
      },

      initialize: function(){
        this.message_widget = window.ahr.messagedialog_widget.initWidget('body', '#infobar');
        this.reportUserWidget = window.ahr.reportUserDialog.initWidget('body');
        this.rate_widget = window.ahr.rate_form_dialog.initWidget('body', this.resetitemrate);
      }
    });
    var profileView = new ProfileView();
  });
  </script>
{% endblock %}