{% extends "base.html" %}


{% load avatar_tags %}
{% load i18n %}
{% load widget_tweaks %}
{% load account %}

{% block head_title %}{% trans "User Settings" %}{% endblock %}

{% block outsidecontainer %}
<div class="filter-banner-spacer"></div>
<div class="exchange-filter">
  <div class="container">
    <div class="settings-change-avatar">
      <div id="settingavatar">{% primary_avatar user 120 %}</div>
      <br />
      <a class="btn btn-default btn-sm" id="changeavatar" href="{% url 'avatar_change' %}">Set Picture</a>
    </div>
  </div>
</div>
<div class="header-spacer"></div>
{% endblock %}

{% block content %}

<div id="usersettingpage">

    <div class="in-container dialog">
      <form method="post" class="form-horizontal" id="settingform" role="form">
        {% csrf_token %}

        <!-- personal info -->
        <div class"col-md-12">
          <div class="row">
            <div class="col-md-12">
              <legend>Your Settings</legend>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
          </div>

          <br /><br />

          <div class="row">

            <div class="col-md-6">
              <legend>General</legend>
              <div class="form-group">
                <div class="col-sm-12">
                  <label for="{{settings_form.first_name.auto_id}}">Name:</label>
                </div>
                <div class="col-sm-5">
                  {{ user_form.first_name.errors }}
                  {% render_field user_form.first_name class="form-control input-sm" placeholder="First Name" required="true" %}
                </div>
                <div class="col-sm-5">
                  {{ user_form.last_name.errors }}
                  {% render_field user_form.last_name class="form-control input-sm" placeholder="Last Name" required="true" %}
                </div>
                <div class="col-sm-2">
                  <label><input type="checkbox" name="notperm-name"/> Hide</label>
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-12">
                  <label for="{{ settings_form.username.auto_id }}">Username:</label>
                </div>
                <div class="col-sm-10">
                  {{ user_form.username.errors }}
                  {% render_field user_form.username class="form-control input-sm" placeholder="Username" required="true" %}
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-12">
                  <label for="{{settings_form.tag_ling.auto_id}}">Tag Line:</label>
                </div>
                <div class="col-sm-10">
                  {{ settings_form.tag_ling.errors }}
                  {% render_field settings_form.tag_ling class="form-control input-sm" placeholder="Tag Line" %}
                </div>
                <div class="col-sm-2">
                  <label><input type="checkbox" name="notperm-tag_ling"/> Hide</label>
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-12">
                  <label for="{{settings_form.tag_ling.auto_id}}">Bio:</label>
                </div>
                <div class="col-sm-10">
                  {{ settings_form.bio.errors }}
                  {% render_field settings_form.bio class="form-control input-sm" placeholder="Bio" %}
                </div>
                <div class="col-sm-2" style="vertical-align:bottom;">
                  <label><input type="checkbox" name="notperm-bio"/> Hide</label>
                </div>
              </div>


              <div class="form-group">
                <div class="col-sm-12">
                  <label for="{{settings_form.expertise.auto_id}}">Expertise:</label>
                </div>
                <div class="col-sm-10">
                  {{ settings_form.expertise.errors }}
                  {% render_field settings_form.expertise class="form-control input-sm" placeholder="Area of expertise if any" %}
                </div>
                <div class="col-sm-2">
                  <label><input type="checkbox" name="notperm-experties"/> Hide</label>
                </div>
              </div>


            </div>


            <!-- social info -->
            <div class="col-md-6">
              <legend>More About You</legend>

              <div class="form-group">
                <div class="col-sm-12">
                  <label for="{{settings_form.nationality.auto_id}}">Nationality:</label>
                </div>
                <div class="col-sm-10">
                  {{ settings_form.nationality.errors }}
                  {% render_field settings_form.nationality class="form-control input-sm" placeholder="Nationality" required="true" %}
                </div>
                <div class="col-sm-2">
                  <label><input type="checkbox" name="notperm-nationality"/> Hide</label>
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-12">
                  <label for="{{settings_form.occupation.auto_id}}">Occupation:</label>
                </div>
                <div class="col-sm-10">
                  {{ settings_form.occupation.errors }}
                  {% render_field settings_form.occupation class="form-control input-sm" placeholder="Occupation" %}
                </div>
                <div class="col-sm-2">
                  <label><input type="checkbox" name="notperm-occupation"/> Hide</label>
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-12">
                  <label for="{{settings_form.resident_country.auto_id}}">Country of Residence:</label>
                </div>
                <div class="col-sm-10">
                  {{ settings_form.resident_country.errors }}
                  {% render_field settings_form.resident_country class="form-control input-sm" placeholder="Country of Residence" required="true" %}
                </div>
                <div class="col-sm-2">
                  <label><input type="checkbox" name="notperm-resident_country"/> Hide</label>
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-12">
                  {{ settings_form.is_organisation.errors }}
                  {{ settings_form.is_organisation }}
                  <label for="{{settings_form.is_organisation.auto_id}}">I am an organisation</label>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-12">
                  {{ settings_form.is_journalist.errors }}
                  {{ settings_form.is_journalist }}
                  <label for="{{settings_form.is_journalist.auto_id}}">I am a journalist</label>
                </div>
              </div>

              <legend>Update Password</legend>
              <div><a class="btn btn-default" id="changepassword" href="{% url 'account_change_password' %}">Change Password</a></div>

            </div>

          </div>

          <!-- Social -->
          <br /><br />
          <div class="row">
            <div class="col-md-10">

              <legend>Social</legend>
              <div class="form-group">
                <div class="col-sm-12">
                  <label for="{{settings_form.web_url.auto_id}}">Website/Blog:</label>
                </div>
                <div class="col-sm-10">
                  {{ settings_form.web_url.errors }}
                  {% render_field settings_form.web_url class="form-control input-sm" placeholder="Website/Blog URL" %}
                </div>
                <div class="col-sm-2">
                  <label><input type="checkbox" name="notperm-web_url"/> Hide</label>
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-12">
                  <label for="{{settings_form.fb_url.auto_id}}">Facebook:</label>
                </div>
                <div class="col-sm-10">
                  {{ settings_form.fb_url.errors }}
                  {% render_field settings_form.fb_url class="form-control input-sm" placeholder="Facebook Page" %}
                </div>
                <div class="col-sm-2">
                  <label><input type="checkbox" name="notperm-fb_url"/> Hide</label>
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-12">
                  <label for="{{settings_form.linkedin_url.auto_id}}">LinkedIn:</label>
                </div>
                <div class="col-sm-10">
                  {{ settings_form.linkedin_url.errors }}
                  {% render_field settings_form.linkedin_url class="form-control input-sm" placeholder="LinkedIn Page" %}
                </div>
                <div class="col-sm-2">
                  <label><input type="checkbox" name="notperm-linkedin_url"/> Hide</label>
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-12">
                  <label for="{{settings_form.tweet_url.auto_id}}">Twitter:</label>
                </div>
                <div class="col-sm-10">
                  {{ settings_form.tweet_url.errors }}
                  {% render_field settings_form.tweet_url class="form-control input-sm" placeholder="Twitter Handle" %}
                </div>
                <div class="col-sm-2">
                  <label><input type="checkbox" name="notperm-tweet_url"/> Hide</label>
                </div>
              </div>

            </div>
          </div>


          <br /><br />

          <div class="row">
            <div class="col-md-10">
              <legend>Areas of Interest</legend>

              <div class="form-group">
                <div class="col-sm-12">
                  <div class="row">
                    <div id="issues_place"></div>
                    <span id="issues">
                      {{ settings_form.issues.errors }}
                      {% render_field settings_form.issues class="form-control input-sm input-extra-height" %}
                    </span>
                  </div>
                </div>
              </div>


              <div class="form-group">
                <div class="col-sm-12">
                  <div class="row">
                    <div id="countries_place"></div>
                    <span id="countries">
                      {{ settings_form.countries.errors }}
                      {% render_field settings_form.countries class="form-control input-sm input-extra-height" %}
                    </span>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-12">
                  <div class="row">
                    <div id="skills_place"></div>
                    <span id="skills">
                      {{ settings_form.skills.errors }}
                      {% render_field settings_form.skills class="form-control input-sm input-extra-height" %}
                    </span>
                  </div>
                </div>
              </div>

            </div>
          </div>

          <br /><br />

          <div class="row">
            <div class="col-md-10">
              <legend>Stay In Touch</legend>
              <div class="form-group">
                <div class="col-sm-12">
                  {{ settings_form.get_newsletter.errors }}
                  {{ settings_form.get_newsletter }}
                  <label for="{{settings_form.get_newsletter.auto_id}}">I would like to recieve a weekly newsletter</label>
                </div>
              </div>
            </div>
          </div>

          <br />

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <div class="col-md-offset-9 col-md-3">
                  {% if initial %}
                  <button type="submit" class="submitsetting btn btn-default full-width">{% trans "Continue" %}</button>
                  {% else %}
                  <button type="submit" class="submitsetting btn btn-default full-width">{% trans "Save" %}</button>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>

        </div>
      </form>
    </div>


</div>

<div id="changeavatardialog" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Upload Avatar</h4>
      </div>
      <div class="modal-body">
        <div id="avataralert"></div>
        <div id="profile_change_stuff" style="width:100%;"></div>
        <!--<div class="modal-footer">-->
          <!--<span class="col-xs-offset-6 col-xs-6 pull-right">-->
            <!--<div class="row">-->
              <!--<button type="button" class="btn btn-default cancelrec" data-dismiss="modal">Close</button>-->
            <!--</div>-->
          <!--</span>-->
        <!--</div>-->
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div id="changepassworddialog" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Change Password</h4>
      </div>
      <div class="modal-body">
        <div id="profile_change_password" style="width:100%;"></div>
        <!--<div class="modal-footer">-->
          <!--<span class="col-xs-offset-6 col-xs-6 pull-right">-->
            <!--<div class="row">-->
              <!--<button type="button" class="btn btn-default cancelrec" data-dismiss="modal">Close</button>-->
            <!--</div>-->
          <!--</span>-->
        <!--</div>-->
      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% include "market/clientside/typeahead.html" %}

{% endblock %}


{%block endjavascript%}
<script type="text/javascript">

  var UserSettingView = Backbone.View.extend({
    el: 'body',
    events:{
      'click #changeavatar': 'ShowAvChange',
      'click #changepassword' : 'ShowChangePass',
    },

    ShowChangePass:function(ev){
      ev.preventDefault();
      var that = this;
      var dfrd = $.ajax({url:window.ahr.app_urls.changepassword});
      dfrd.done(function(data){
        $('#profile_change_password').html($('form',data).parent().html());
        var func = _.bind(that.changepassword,that);
        $('#changepasswordbutton').on('click',func);
      });
      $('#changepassworddialog').modal('show');
      return false;
    },

    ShowAvChange: function(ev){
      ev.preventDefault();
      $('#avataralert').empty();
      var that = this;
      var href = document.getElementById('changeavatar').href;
      var dfrd = $.ajax({url:href});
      dfrd.done(function(data){
        $('#profile_change_stuff').html($('form',data).parent().parent().html());
        if($('#avatarchangeimage').length>0){
          var func = _.bind(that.changeavatar,that);
          $('#avatarchangeimage').on('click',func);
        }
        var func = _.bind(that.uploadnewimage,that);
        $('#avatarnewimageupload').on('click',func);
        $('#changeavatardialog').modal('show');
      });
      return(false);
    },

    changeavatar:function(ev){
      ev.preventDefault();
      var href = $('form','#profile_change_stuff')[0].action;
      var dfrd = $.ajax({
        url:href,
        type: 'post',
        data:$($('form','#profile_change_stuff')[0]).serialize()
      });
      dfrd.done(function(data){
        $('#changeavatardialog').modal('hide');
      });
      return false;
    },

    uploadnewimage:function(ev){
      ev.preventDefault();
      formdata = new FormData();
      var fileinp = $('input[type=file]', $('#changeavatardialog'));
      if(fileinp[0].value==""){
        return false;
      }


      var file = fileinp[0].files[0];
      if (!file.type.match(/image.*/)){
        window.ahr.alert('The file you selected is not an image','#avataralert');
        return false;
      }
      var reader = new window.FileReader();
      reader.readAsDataURL(file);
      formdata.append('avatar', file);
      var token = $('input[name="csrfmiddlewaretoken"]',$(ev.currentTarget).closest('form')).val()
      formdata.append('csrfmiddlewaretoken',token);
      var dfrd = $.ajax({
        url:$(ev.currentTarget).closest('form').attr('action'),
        data: formdata,
        processData: false,
        contentType: false,
        type: 'post'
      });
      dfrd.done(function(data){
        $('#changeavatardialog').modal('hide');
      });

      return false;
    },

    changepassword:function(ev){
      ev.preventDefault();
      var that = this;
      var form = $(ev.currentTarget).closest('form');
      var dfrd = $.ajax({
        url:window.ahr.app_urls.changepassword,
        type: 'post',
        data: form.serialize()
        });
      dfrd.done(function(data){
        $('#changepasswordbutton').off('click');
        if($('form',data).length==0){
          $('#changepassworddialog').modal('hide');
          return false;
        }
        $('#profile_change_password').html($('form',data).parent().html());
        var func = _.bind(that.changepassword, that);
        $('#changepasswordbutton').on('click',func);
      });
      return false;
    },

    initialize : function(){
      $('#changeavatardialog').on('hidden.bs.modal', function () {
        $('#profile_change_stuff').empty();
        var href = document.getElementById('changeavatar').href;
        $('#profile_change_stuff').attr('src', href);
        var dfrd = $.ajax({
          url : window.ahr.app_urls.getavatar.replace(0,window.ahr.user_id)+'80'
        });
        dfrd.done(function(data){
          $('#settingavatar>img').attr('src',data.avatar+'?' + new Date().getTime());
        });
        var dfrd2 = $.ajax({
          url : window.ahr.app_urls.getavatar.replace(0,window.ahr.user_id)+'50'
        });
        dfrd2.done(function(data){
          $('.navavatar img').attr('src',data.avatar+'?' + new Date().getTime());
        });
      });
      return this;
    }

  });


  (function(){
    window.ahr.issues=  window.ahr.getpkname({{issues|safe}},'issues');
    window.ahr.issues_lookup =  window.ahr.getpklookup(window.ahr.issues);

    window.ahr.countries=  window.ahr.getpkname({{countries|safe}},'countries');
    window.ahr.countries_lookup =  window.ahr.getpklookup(window.ahr.countries);

    window.ahr.skills=  window.ahr.getpkname({{skills|safe}},'skills');
    window.ahr.skills_lookup =  window.ahr.getpklookup(window.ahr.skills);

    {% if notperms|length %}
    var perms = null;
    {% else %}
    var perms = {{notperm|safe}};
    {% endif %}

    $('#countries').hide();
    $('#issues').hide();
    $('#skills').hide();
    var countries=[],issues=[],skills=[];

    $('#countries select option:selected').each(function(){
      countries.push(parseInt(this.value));
    });
    $('#skills select option:selected').each(function(){
      skills.push(parseInt(this.value));
    });
    $('#issues select option:selected').each(function(){
      issues.push(parseInt(this.value));
    });


    var issues_widget,countries_widget,skills_widget;

    issues_widget = window.ahr.typeahead_widget.initWidget(
                        '#issues_place',
                        {title:'Add issues that interest you:', jsonfield:'issues'},
                        issues);

    countries_widget = window.ahr.typeahead_widget.initWidget(
                '#countries_place',
                {title:'Add countries that interest you:',  jsonfield:'countries'},
                countries);

    skills_widget = window.ahr.typeahead_widget.initWidget(
                '#skills_place',
                {title:'Add skills that interest you:',  jsonfield:'skills'},
                skills);

    if (perms) {
      for(item in perms){
        $('input[name=notperm-'+item+']').attr('checked', true);
      }
    } else {
      $('input[name^=notperm-]').attr('checked', true);
    }

    $('.submitsetting').on('click',function(e){
        e.preventDefault();

        $("#skills select option").each(function(){$(this).prop("selected", false);});
        $("#issues select option").each(function(){$(this).prop("selected", false);});
        $("#countries select option").each(function(){$(this).prop("selected", false);});

        _.each(skills_widget.getval(),function(id){
          $("#skills select option[value='" + id + "']").prop("selected", true);
        });
        _.each(issues_widget.getval(),function(id){
          $("#issues select option[value='" + id + "']").prop("selected", true);
        });
        _.each(countries_widget.getval(),function(id){
          $("#countries select option[value='" + id + "']").prop("selected", true);
        });

        $('#settingform').serialize();
        $('#settingform').submit();
    });

    var us = new UserSettingView();
  })();

</script>
{%endblock%}
