{% extends "base.html" %}
{% load avatar_tags %}
{% load account %}
{% load i18n %}

{% block head_title %}{% trans "Profile" %}{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-offset-4 col-md-4">
    <div class="row in-container dialog" style="margin-top: 20px; margin-bottom: 20px;">
      <div class="col-md-12">
        <h4>
        {% if is_self %}
        My Public Profile <a href="{% url 'user_settings' %}">edit</a>
        {% else %}
        Profile for {{ user_details.username }}
        {% endif %}
        </h4>
      </div>
      <div class="col-md-12 col-spacing-bottom">
        {% avatar user_details 100 %}

      </div>
      <div class="col-md-12 col-spacing-bottom">
        <div class="row">
          <div class="col-md-3">
            <strong>Rating:</strong>
          </div>
          <div class="col-md-9">
            {{ user_profile.score }} stars <em>({{ user_profile.ratecount }} {% if user_profile.ratecount == 1 %}vote{% else %}votes{% endif %})</em>
          </div>
        </div>
      </div>
      {% if user_profile.notperm.name != 'on' %}
      <div class="col-md-12 col-spacing-bottom">
        <div class="row">
          <div class="col-md-3">
            <strong>Name:</strong>
          </div>
          <div class="col-md-9">
            {{ user_details.first_name }}&nbsp;{{ user_details.last_name }} <em>({{ user_details.username }})</em>
          </div>
        </div>
      </div>
      {% endif %}
<!--       {% if user_profile.notperm.email != 'on' %}
      <div class="col-md-12 col-spacing-bottom">
        <div class="row">
          <div class="col-md-3">
            <strong>Email:</strong>
          </div>
          <div class="col-md-9">
            {{ user_details.email }}
          </div>
        </div>
      </div>
      {% endif %} -->
      {% if user_profile %}
      {% if user_profile.notperm.nationality != 'on' %}
      <div class="col-md-12 col-spacing-bottom">
        <div class="row">
          <div class="col-md-3">
            <strong>Nationality:</strong>
          </div>
          <div class="col-md-9">
            {{ user_profile.nationality }}
          </div>
        </div>
      </div>
      {% endif %}
      {% if user_profile.notperm.occupation != 'on' %}
      <div class="col-md-12 col-spacing-bottom">
        <div class="row">
          <div class="col-md-3">
            <strong>Occupation:</strong>
          </div>
          <div class="col-md-9">
            {{ user_profile.occupation }}
          </div>
        </div>
      </div>
      {% endif %}
      {% if user_profile.notperm.expertise != 'on' %}
      <div class="col-md-12 col-spacing-bottom">
        <div class="row">
          <div class="col-md-3">
            <strong>Area of expertise:</strong>
          </div>
          <div class="col-md-9">
            {{ user_profile.expertise }}
          </div>
        </div>
      </div>
      {% endif %}
      {% if user_profile.web_url %}
      {% if user_profile.notperm.web_url != 'on' %}
      <div class="col-md-12 col-spacing-bottom">
        <div class="row">
          <div class="col-md-3">
            <strong>Website:</strong>
          </div>
          <div class="col-md-9">
            <a target="_blank" href="{{ user_profile.web_url }}">{{ user_profile.web_url }}</a>
          </div>
        </div>
      </div>
      {% endif %}
      {% endif %}
      {% if user_profile.fb_url %}
      {% if user_profile.notperm.fb_url != 'on' %}
      <div class="col-md-12 col-spacing-bottom">
        <div class="row">
          <div class="col-md-3">
            <strong>Facebook:</strong>
          </div>
          <div class="col-md-9">
            <a target="_blank" href="{{ user_profile.fb_url }}">{{ user_profile.fb_url }}</a>
          </div>
        </div>
      </div>
      {% endif %}
      {% endif %}

      {% if user_profile.linkedin_url %}
      {% if user_profile.notperm.linkedin_url != 'on' %}
      <div class="col-md-12 col-spacing-bottom">
        <div class="row">
          <div class="col-md-3">
            <strong>LinkedIn:</strong>
          </div>
          <div class="col-md-9">
            <a target="_blank" href="{{ user_profile.linkedin_url }}">{{ user_profile.linkedin_url }}</a>
          </div>
        </div>
      </div>
      {% endif %}
      {% endif %}

      {% if user_profile.tweet_url %}
      {% if user_profile.notperm.tweet_url != 'on' %}
      <div class="col-md-12 col-spacing-bottom">
        <div class="row">
          <div class="col-md-3">
            <strong>Twitter:</strong>
          </div>
          <div class="col-md-9">
            <a target="_blank" href="{{ user_profile.get_twitter_url }}">{{ user_profile.tweet_url }}</a>
          </div>
        </div>
      </div>
      {% endif %}
      {% endif %}
      {% if user_profile.notperm.tag_ling != 'on' %}
      <div class="col-md-12 col-spacing-bottom">
        <div class="row">
          <div class="col-md-3">
            <strong>Tag:</strong>
          </div>
          <div class="col-md-9">
            {{ user_profile.tag_ling }}
          </div>
        </div>
      </div>
      {% endif %}
      {% if user_profile.notperm.bio != 'on' %}
      <div class="col-md-12 col-spacing-bottom">
        <div class="row">
          <div class="col-md-3">
            <strong>Bio:</strong>
          </div>
          <div class="col-md-9">
            {{ user_profile.bio }}
          </div>
        </div>
      </div>
      {% endif %}
      <div class="col-md-12 col-spacing-bottom">
        <div class="row">
          <div class="col-md-3">
            <strong>Issues:</strong>
          </div>
          <div class="col-md-9">
            {% for issue in user_profile.issues.all %}
            <span class="tm-tag">
              <span>{{ issue }}</span>
            </span>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="col-md-12 col-spacing-bottom">
        <div class="row">
          <div class="col-md-3">
            <strong>Countries:</strong>
          </div>
          <div class="col-md-9">
            {% for country in user_profile.countries.all %}
            <span class="tm-tag">
              <span>{{ country }}</span>
            </span>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="col-md-12 col-spacing-bottom">
        <div class="row">
          <div class="col-md-3">
            <strong>Skills:</strong>
          </div>
          <div class="col-md-9">
            {% for skill in user_profile.skills.all %}
            <span class="tm-tag">
              <span>{{ skill }}</span>
            </span>
            {% endfor %}
          </div>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}


{%block endjavascript%}

  <script type="text/javascript">
    $(function(){
      $.backstretch("{{ STATIC_URL }}images/landing-bg-1920x1202-blended.jpg");
    });
  </script>

{% endblock %}