{% extends "base_v2.html" %}
{% load avatar_tags %}
{% load account %}
{% load i18n %}

{% block header_padding %}{% endblock %}

{% block content_outside_container %}
  {% if is_self and not is_public %}
    {% include "users/snippets/profile_navigation.html" with page_type="profile" %}
  {% endif %}
{% endblock %}

{% block content %}
<div id="profile-view" class="row setting-page">
  <div class="col-xs-4">
    <div class="poster clearfix">
      <div class="avatar">
        {% primary_avatar user_details 60 %}
      </div>
      <div class="poster-details">
        <div class="poster-name">{{ user_profile.user.username }}</div>
        {% include "users/snippets/star_rating.html" with rating=ahr_rating %}
      </div>
    </div>
    {% if is_self and not is_public %}
    <div class="view-public action-font"><a href="?public">{% trans "View Public Profile"%}</a></div>
    {% endif %}
    {% if not is_self %}
    <hr />
    <div class="profile-actions">
      <div username="{{ user_profile.user.username }}" class="message-user private-message">
        <div class="profile-action-icon message-icon"></div>
        <div class="profile-action-text">{% trans "Direct Message"%}</div>
      </div>
      <div username="{{ user_profile.user.username }}" class="report-user report_user">
        <div class="profile-action-icon report-icon"></div>
        <div class="profile-action-text">{% trans "Report User"%}</div>
      </div>
      {% if is_cm %}
       <div username="{{ user_profile.user.username }}" class="rate-user rate_user">
        <div class="profile-action-icon rate-icon"></div>
        <div class="profile-action-text">{% trans "Rate user language skills"%}</div>
      </div>
      {% endif %}
    </div>
    {% endif %}

    {% if visibility_settings >= 1 %}
      {% if visibility_settings >= 2 %}
      <hr />
      <div class="settings-title">{% trans "About"%}</div>
      <div class="row">
        <div class="col-xs-4">{% trans "Name:"%}</div>
        <div class="col-xs-8">{{ user_details.first_name }}&nbsp;{{ user_details.last_name }}</div>
        <div class="col-xs-4">{% trans "Nationality:"%}</div>
        <div class="col-xs-8">{{ user_profile.nationality }}</div>
        <div class="col-xs-4">{% trans "Residence:"%}</div>
        <div class="col-xs-8">{{ user_profile.resident_country }}</div>
      </div>
      {% endif %}
      <hr />
      <div class="settings-title">{% trans "Bio"%}</div>
      <div class="bio">
        {{ user_profile.bio }}
      </div>
      <hr />
      <div class="settings-title">{% trans "Skills"%}</div>
      {% if  user_profile.interests.all.count > 0 %}
      <div class="tags">
        {% for interest in user_profile.interests.all %}
          <div class="tag">{{ interest }}</div>
        {% endfor %}
      </div>
      {% else %}
        {% trans "No interests specified" %}
      {% endif %}
      <div class="clearfix" ></div>
      <div class="settings-title" style="margin-top: 10px;">{% trans "Languages"%}</div>
      {% if  user_profile.languages.all.count > 0 %}
      <div class="tags">
        {% for language in user_profile.languages.all %}
          <div class="tag">{{ language }}</div>
        {% endfor %}
      </div>
      {% else %}
        {% trans "No languages specified"%}
      {% endif %}
    {% endif %}
  </div>

  <div class="col-xs-8" id="market-main">
    <div id="marketitems" class="item-container"></div>
    <div class="ajaxloader">
      <img src="{{ STATIC_URL }}images/ajax-loader.gif"/>
    </div>
    <div class="pagination"></div>
  </div>
</div>
{% endblock %}

{% block endjavascript %}
  {% include "market/clientside/marketitem.html" %}
  {% include "market/clientside/textarea.html" %}
  {% include "market/clientside/dropdown.html" %}
  {% include "market/clientside/closemarketitemdialog.html"%}
  {% include "market/clientside/reportdialog.html" %}

  {% include "market/clientside/messagedialog.html" %}
  {% include 'market/clientside/reportuserdialog.html' %}
  {% include "market/clientside/pagination_template.html"%}

  <script type="text/javascript">
    $(document).ready(function(){
      var userId = null;
      {% if not is_self %}
      userId = {{ user_details.id }};
      {% endif %}
      window.ahr.market.initProfile({userId: userId, userDefaultLangage: '{{ LANGUAGE_CODE }}'});
      $('.gpopover').popover({
        html: true
      });
      $('.tpopover').popover({
        html: true
      });
    });
  </script>

  <script type="text/javascript">
  $(function(){
    var ProfileView = Backbone.View.extend({
      initialize: function(){
        this.message_widget = window.ahr.messagedialog_widget.initWidget('body', '#infobar');
        this.reportUserWidget = window.ahr.reportUserDialog.initWidget('body');
      }
    });
    var profileView = new ProfileView();
  });
  </script>
{% endblock %}
