{% extends "base_public.html" %}
{% load socialaccount %}
{% load i18n %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block public-content %}
  <div class="dialog">
    <h1>{% trans "Thank You!" %}</h1>
    <div>
      <h4>
        Thank You for joining Exchangivist - You have successfully activated your account.
      </h4>
      
      <p>      
        Welcome to Exchngivist,  an online portal that connects people and communities around the world,  with the tools and expertise they need to advance human rights in closed societies. To get started we suggest that you fill out all your profile information and choose your settings. Your settings will allow you to set the privacy around your own personal data and helps you control what other users on the site can and cannot see. Once you have completed your profile information and you can get started in the Exchange. 
      </p>
      
      <!--<p>-->
        <!--So lets get started by clicking here.-->
      <!--<p>-->
      
      <p>
        * We Recommend that for your own safety and security, users should  not share personal contact information (such as your phone number, address, email address, etc.) with other users. 
      </p>
      

    </div>
    <div class="row">
      <div class="col-xs-6 col-sm-offset-1 col-sm-4 col-md-offset-2 col-md-3">
        <a href="{% url 'user_settings' %}">
          <button class="btn btn-default full-width">View Settings</button>
        </a>
      </div>
      <div class="col-xs-6 col-sm-offset-2 col-sm-4 col-md-offset-2 col-md-3">
        <a href="{% url 'show_market' %}">
          <button class="btn btn-default full-width">Continue</button>
        </a>
      </div>
    </div>
  </div>
{% endblock %}

