{% extends "base_public.html" %}
{% load socialaccount %}
{% load i18n %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block public-content %}
  <div class="dialog">
    <h1>{% trans "Thank You!" %}</h1>
    <div>
      <h4>You've successfully activated you account</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit amet posuere nisl, non pellentesque lorem. Donec non cursus nisi. Suspendisse vel urna mauris. Nulla orci odio, pellentesque et venenatis in, tincidunt quis massa. Nulla ut auctor quam, vel semper augue. Sed nulla nisi, varius ac sapien sed, vestibulum sollicitudin augue. Integer porttitor libero a libero molestie scelerisque. Curabitur iaculis imperdiet lobortis. Sed at sapien iaculis, faucibus magna in, blandit tortor. Aenean vel sapien ut enim ullamcorper feugiat. In vitae libero consequat, imperdiet turpis nec, pretium diam.
      </p>
      <p>
        Cras condimentum leo quis risus porta rutrum. Curabitur sollicitudin turpis nec sem bibendum, sit amet vulputate velit consectetur. Sed non lacus metus. Phasellus quis vulputate ante. Etiam commodo magna ac nunc placerat blandit. Nullam ut nibh nec neque porttitor condimentum. Suspendisse scelerisque orci non ante semper ullamcorper. Maecenas urna justo, auctor gravida lorem eget, elementum tempus erat. In porttitor sollicitudin sapien et porta.
      </p>
      <p>
        Cras molestie eros erat. Pellentesque hendrerit interdum justo, sed aliquam dui tempus vitae. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Integer eget vehicula massa, nec bibendum libero. Vivamus elementum tortor sodales erat dictum ullamcorper. Proin non egestas velit. Nullam dapibus ac ante in posuere. Sed cursus, arcu et auctor molestie, nulla ligula pulvinar magna, condimentum dapibus nulla magna non turpis. Mauris aliquet eros metus. Morbi et lacus aliquam, tempus lorem quis, dignissim enim. Nulla at ultricies quam. Donec non lobortis eros, ut vulputate lacus.
      </p>
    </div>
    <div class="row">
      <div class="col-xs-6 col-sm-offset-1 col-sm-4 col-md-offset-2 col-md-3">
        <a href="{% url 'user_settings' %}">
          <button class="btn btn-default full-width">View Settings</button>
        </a>
      </div>
      <div class="col-xs-6 col-sm-offset-2 col-sm-4 col-md-offset-2 col-md-3">
        <a href="{% url 'show_market' %}">
          <button class="btn btn-default full-width">Continue</button>
        </a>
      </div>
    </div>
  </div>
{% endblock %}

