{% extends "base_public.html" %}
{% load socialaccount %}
{% load i18n %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block public-content %}
  <div class="dialog content-page">
    <h1>{% trans "Getting started" %}</h1>
    {% blocktrans %}
    <div>
      <h4>Thank You for joining Movements.</h4>
      <p>You have now successfully activated your account and can get started on the Exchange by creating offers and requests.</p>

      <h4>Settings</h4>
      <p>You can change or update your information and settings at any point by selecting the setting menu item from the dropdown menu under your profile. Be sure to make sure any information that you not comfortable with sharing is hidden.</p>

      <h4>Ratings</h4>
      <p>Each Member has two types of rating. Advancing Human Rights gives each Member a rating based on the information they provided during the vetting process. You can see a users AHR rating by checking out their profile page. In addition each Member on the site can be rated by other Members. You can also see these ratings on the profile page, and we encourage you to rate users after you connect with them to help build up a trust network.</p>

      <h4>Staying Safe</h4>
      <p>We Recommend that for your own safety and security, users should not share personal contact information (such as your phone number, address, email address, etc.) with other users.</p>

      <h4>Get Started</h4>
      <p>To get started on the Exchange, simply click on the Get Started button below. Let's create better together...</p>
    </div>
    {% endblocktrans %}
    <div class="row">
      <div class="col-xs-6 col-sm-offset-1 col-sm-4 col-md-offset-2 col-md-3">
        <a href="{% url 'user_settings' %}">
          <button class="btn btn-default full-width">View Settings</button>
        </a>
      </div>
      <div class="col-xs-6 col-sm-offset-2 col-sm-4 col-md-offset-2 col-md-3">
        <a href="{% url 'show_market' %}">
          <button class="btn btn-default full-width">{%trans "Get Started"%}</button>
        </a>
      </div>
    </div>
  </div>
{% endblock %}

