packages:
  yum:
    libxml2: []
    libxslt: []
    libxml2-devel: []
    libxslt-devel: []
    libjpeg-turbo-devel: []
    zlib-devel: []
    freetype-devel: []
    postgresql-devel: []
    git: []
    gcc: []
    gcc-c++: []

container_commands:
  01_install_node:
    command: "yum install -y --enablerepo=epel nodejs"
  02_install_npm:
    command: "yum install -y --enablerepo=epel npm"
  03_install_stylus:
    command: "npm install stylus -g"
  04_sync_db:
    command: "cd app && python manage.py syncdb --settings=app.settings.testing --noinput"
  05_run_migrates:
    command: "cd app && python manage.py migrate --settings=app.settings.testing --noinput"
  06_collect_static:
    command: "cd app && python manage.py collectstatic --settings=app.settings.testing --noinput"
  07_auto_assign_groups:
    command: "cd app && python manage.py auto_assign_groups --settings=app.settings.testing"

commands:
  supress-unzip-output:
    command: sed -i s/unzip\ -d/unzip\ -q\ -d/ /opt/elasticbeanstalk/hooks/appdeploy/pre/02unzip.py

option_settings:
  - namespace: aws:elasticbeanstalk:container:python:staticfiles
    option_name: /static/
    value: app/static/
  - namespace: aws:elasticbeanstalk:container:python
    option_name: WSGIPath
    value: app/beanstalk.py
  - option_name: DJANGO_SETTINGS_MODULE
    value: app.settings.testing
