packages:
  yum:
    libxml2: []
    libxslt: []
    libxml2-devel: []
    libxslt-devel: []
    libjpeg-devel: '6b'
    zlib-devel: []
    freetype-devel: []
    postgresql-devel: []

container_commands:
  01_install_node:
    command: "yum install -y --enablerepo=epel nodejs"

option_settings:
  - namespace: aws:elasticbeanstalk:container:python
    option_name: WSGIPath
    value: app/beanstalk.py
