{% load socialaccount %}

<!--
<div class="social-sign-up">
  <div class="dialog">
    <a href="{% provider_login_url "twitter" %}">
      <img src="{{ STATIC_URL }}images/twitter-24x18.png" alt="Google+"/>
      SIGN IN WITH TWITTER
    </a>
  </div>
  <div class="dialog">
    <a href="{% provider_login_url "facebook" method="oauth2" %}">
      <img src="{{ STATIC_URL }}images/facebook-12x23.png" alt="Facebook"/>
      SIGN IN WITH FACEBOOK
    </a>
  </div>
  <div class="dialog">
    <a href="{% provider_login_url "google" %}">
      <img src="{{ STATIC_URL }}images/google-plus-23x20.png" alt="Google+"/>
      SIGN IN WITH GOOGLE PLUS
    </a>
  </div>
</div>
->>