{% extends 'emails/base_email.html' %}
{% load i18n avatar_tags %}

{% block body %}

  <p>
    {% trans "Thank you for registering on Movements.Org, the platform that is crowdsourcing the fight for human rights."%}
  </p>

  <p>
    {% trans "Please confirm your email address by following the link below. It will take you to the Sign-In page where you will enter your screen name and the password you created."%}
  </p>

  <p>
    {% trans "This process helps to ensure your security."%}
  </p>

  <p>
    {% trans "By creating an account you are agreeing to all of our terms and conditions."%}
  </p>

  <p><a href="{{ activate_url }}">{% trans "Confirm your email address"%}</a></p>

  <p>{% trans "Thanks for joining the fight."%}</p>

{% endblock %}