<pre>
A new user has signed up on Exchangivist with the below details:

First Name : {{ form.data.first_name }}
Last Name  : {{ form.data.last_name }}
Username   : {{ user.username }}
Email      : {{ user.email }}
Linked In  : {{ form.data.linkedin_url }}
Facebook   : {{ form.data.fb_url }}
Twitter    : {{ form.data.tweet_url }}
Website    : {{ form.data.web_url }}

You will get another email once they have confirmed their email address. Of the above details only the username and email are currently stored on the server. Once vetted the user can enter whatever information they're comfortable with on the site.
</pre>