{% include 'market/clientside/actions/user_actions.html' %}
{% include 'market/clientside/actions/item_actions.html' %}
{% include 'market/clientside/actions/comment_actions.html' %}

<script type="text/javascript" id="actions_view">
  (function(){
    var actionView = window.ahr.BaseView.extend({
      get: function(type, data){
        if(type === 'user'){
          return _.template(this.userTmp, data);
        }else if (type === 'comment'){
          return _.template(this.commentTmp, data);
        }else if (type === 'item'){
          return _.template(this.itemTmp, data);
        }
      },
      initialize: function(){
        this.userTmp = $('#user-actions').html();
        this.commentTmp = $('#comment-actions').html();
        this.itemTmp = $('#item-actions').html();
      }
    });
    window.ahr.actions_view = function(){
      var viewInst = new actionView();
      return viewInst;
    };
})();
</script>