{% load i18n %}

<script type="text/template" id="comment-actions">
  <div class="actions">
    <% if (ownerid !== window.ahr.user_id){ %>
    <div username="<%- username %>" title=" {% trans "Send private message" %}" class="private-message actionitem">
      <div class="text">
        {% trans "Private Message" %}
      </div>
    </div>
    <div class="actionitem">-</div>

    <div username="<%- username %>"  class="report_user actionitem">
        <div class="text">
          {% trans "Report" %}
        </div>
    </div>

    <div class="rate rate_user actionitem right-on-large" title="Rate" image_src = "<%- avatar %>" rateing="user" username="<%- username %>" score="<%- score %>" ratecount="<%- ratecount %>" >
      <div class="item-glyph glyphicon glyphicon-star-empty" image_src = "<%- avatar %>" rateing="user" username="<%- username %>" score="<%- score %>" ratecount="<%- ratecount %>"></div>
    </div>
    <div class="clearfix"></div>
    <%}%>
    <% if (ownerid == window.ahr.user_id){ %>
      <div  class="comment-delete actionitem" comment-id="<%- pk %>" href="<%- window.ahr.app_urls.deletecomment+pk %>">
        <div class="text">{% trans "Delete" %}</div>
      </div>
      <div class="clearfix"></div>
    <%}%>
  </div>
</script>
