<script type="text/template" id="user-actions">
  <div class="actions">
    <div username="<%- username %>" rec_type="user" title="Recommend" class="recommend actionitem">
      <div class="text">
        Recommend
      </div>
    </div>
    <div class="actionitem">-</div>

    <div username="<%- username %>" title="Send private message" class="private-message actionitem">
      <div class="text">
        Private Message
      </div>
    </div>
    <div class="actionitem">-</div>

    <div username="<%- username %>" class="report_user actionitem">
      <div class="text">
        Report
      </div>
    </div>

    <div class="rate rate_user actionitem right-on-big"
    title="Rate"
    rateing="user"
    username="<%- username %>"
    score="<%- usercore %>"
    image_src = "<%- avatar %>"
    ratecount="<%- ratecount %>" >
      <div class="rate rate_user  item-glyph glyphicon glyphicon-star-empty"
      rateing="user"
      username="<%- username %>"
      score="<%- usercore %>"
      image_src = "<%- avatar %>"
      ratecount="<%- ratecount %>">
      </div>
    </div>
  </div>
</script>