{% load i18n %}

<script type="text/template" id="user-actions">
  <div class="actions">
    <div username="<%- username %>"
    rec_type="user"
    obj_id ="<%- username %>"
    title="{% trans "Recommend"%}"
    subject = "<%- window.ahr.username %> {% trans "recommends " %}<%- username %>"
    message = "{% blocktrans %}Hey,

I think it might be worth having a look at this user.

Best,
<%-window.ahr.username%> {% endblocktrans %}"
    class="recommend actionitem">
      <div class="text">
        {% trans "Recommend" %}
      </div>
    </div>
    <div class="actionitem dot">.</div>

    <div username="<%- username %>" title="Send private message" class="private-message actionitem">
      <div class="text">
        {% trans "Private Message" %}
      </div>
    </div>
    <div class="actionitem dot">.</div>

    <div username="<%- username %>" class="report_user actionitem">
      <div class="text">
        {% trans "Report"%}
      </div>
    </div>

    <div class="rate rate_user actionitem right-on-big"
    title="{% trans "Rate"%}"
    rateing="user"
    username="<%- username %>"
    score="<%- usercore %>"
    image_src = "<%- avatar %>"
    ratecount="<%- ratecount %>" >
      <div class="rate rate_user item-glyph glyphicon glyphicon-star-empty"
      rateing="user"
      username="<%- username %>"
      score="<%- usercore %>"
      image_src = "<%- avatar %>"
      ratecount="<%- ratecount %>">
      </div>
    </div>
  </div>
</script>