<script type="text/template" id="expdate_template">
  <div class="col-md-12 ">
    <div class="<%- jsonfield %> error"></div>
  </div>
  <div class="col-md-12">  
    <label for="<%- jsonfield %>"><%- title %></label>        
  </div>
  <div class="col-md-6">
    <input type='text' id="<%- jsonfield %>"  name="<%- jsonfield %>" class="form-control input-sm" />    
  </div>
  <div class="col-md-6">
    <label for="expdate-neverexpire"><input type="checkbox" id="expdate-neverexpire" name="expdate-neverexpire"/>Never expire</label>
  </div>
  
</script>

<script type="text/javascript" id="expdate_view">
 (function(){

    var ExpdateWidget = window.ahr.BaseView.extend({
        el: '#itemform',
        neverexp: function(ev){
            if($(ev.currentTarget).prop('checked') === false){
                $('#'+this.jsonfield).attr('readonly',false);
                $('#'+this.jsonfield).show();
            }else{
                $('#'+this.jsonfield).attr('readonly',true);
                $('#'+this.jsonfield).hide();
            }
        },
        
        setExpDate: function(obj){           
            days = moment(obj.exp_date).diff(moment(),'days');
            $('#'+this.jsonfield).val(days);
            if (moment(obj.pub_date).diff(moment(obj.exp_date),'days') <= -36500){
                $('#'+this.jsonfield).attr('readonly',true);   
                $('#'+this.jsonfield).hide();
                $('#expdate-neverexpire').prop('checked',true);
            }
        },
        
        getExpDate: function(){
            var val;
            if($('#expdate-neverexpire').prop('checked') === true){
                val = 36500;
            } else {
                val = $('#'+this.item.jsonfield).val();
            }
        
            if(val===""){return "";}
            var date = moment().add('days', parseInt(val, 10) + 1).format("D/M/YYYY HH:m");
            return date;
        },
        
        initialize: function(data){
            var that = this;
            this.container = data.cont;
            this.item = data.itm;
            this.jsonfield = data.itm.jsonfield;
            var tmpl = _.template($('#expdate_template').html());
            var html = tmpl({title:this.item.title,jsonfield: this.item.jsonfield});
            $(this.container).html(html);            
            this.delegateEvents(_.extend(this.events,{'click #expdate-neverexpire' : 'neverexp'}));
            if(data.prvl){
                this.setExpDate(data.prvl);
            }
        }
    });
    window.ahr.expdate_widget = window.ahr.expdate_widget || {};
    window.ahr.expdate_widget.initWidget= function(container,item,preval){
        var widget = new ExpdateWidget({'cont':container,'itm':item,'prvl':preval});
        return widget;
        
    };
})();
</script>