<div id="messagedialog" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">New message to <span id="usernameh"></span></h4>
        <div id="pmerror"></div>
      </div>
      <div class="modal-body">
       <div>Subject</div>
          <div style="margin-bottom:5px;">
            <input  class="form-control" id="msgsub" type="text" name="subject" required="true"/>
          </div>
          <div>Message</div>
          <div>
            <textarea class="form-control" name="newmessage" id="newmessage" rows="4" placeholder="" required="true"></textarea>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default cancelpm" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary sendpm">Send</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{# compress js #}
<!--<script type="text/javascript" id="expdate_view">-->
 <!--(function(){-->

    <!--var ExpdateWidget = window.ahr.BaseView.extend({-->
  <!--});-->
    <!--window.ahr.expdate_widget = window.ahr.expdate_widget || {};-->
    <!--window.ahr.expdate_widget.initWidget= function(container,item,preval){-->
        <!--var widget = new ExpdateWidget({el: container, 'container':container,'settings':item,'preset':preval});-->
        <!--return widget;-->

    <!--};-->
<!--})();-->
<!--</script>-->
{# endcompress #}