{% load i18n %}

<div id="offerdialog" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">OFFER A SERVICE</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" role="form" enctype="multipart/form-data" id="offerform">
          <div id="itemformerror"></div>
          <div class="form-group" id="issues_place"></div>
          <div class="form-group" id="countries_place"></div>
          <div class="form-group" id="skills_place"></div>
          <div class="form-group" id="title_place"></div>
          <div class="form-group" id="exp_date_place"></div>
          <div class="form-group"  id="details_place"></div>
          <div class="modal-footer">
            <span class="col-xs-offset-6 col-xs-6 pull-right">
              <button type="submit" class="btn btn-success full-width pull-right">{% trans "Save" %}</button>
            </span>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
(function(){
    var OfferDialogView = window.ahr.item_form_base.extend({
        item:'',
        el: '#offerform',
        init:function(){
            this.url = window.ahr.app_urls.addmarketitem+'offer';
        },
        getFormData: function(){
            var that = this;
            var retdict={};
            retdict['skills'] = that.skills_widget.getTagIds();
            retdict['countries'] = that.countries_widget.getTagIds();
            retdict['issues'] = that.issues_widget.getTagIds();
            retdict['exp_date'] = that.expdate_widget.getExpDate();
            retdict['title'] = that.title_widget.getval();
            retdict['details'] = that.details_widget.getval();
            retdict.csrfmiddlewaretoken=that.csrf;
            return retdict;
        },

        makeWidget: function(){
            var that = this;
            this.issues_widget = window.ahr.typeahead_widget.initWidget(
                        '#issues_place',
                        {title:'I can help to advance freedom of:', jsonfield:'issues'},
                        this.item_obj);

            this.countries_widget = window.ahr.typeahead_widget.initWidget(
                        '#countries_place',
                        {title:'Please select the countries where you can help',  jsonfield:'countries'},
                        this.item_obj);

            this.skills_widget = window.ahr.typeahead_widget.initWidget(
                        '#skills_place',
                        {title:'Skills',  jsonfield:'skills'},
                        this.item_obj);

            this.expdate_widget = window.ahr.expdate_widget.initWidget(
                        '#exp_date_place',
                        {title:'Expires in days', jsonfield:'exp_date'},
                        this.item_obj);

            this.title_widget = window.ahr.input_widget.initWidget(
                        '#title_place',
                        {title:'Title of post', jsonfield:'title', placeholder:''},
                        this.item_obj? this.item_obj.title : null);

            this.details_widget = window.ahr.textarea_widget.initWidget(
                        '#details_place',
                        {title:'', jsonfield:'details', placeholder:'Please give details of what you can help with?'},
                        this.item_obj? this.item_obj.details : null);
        },

        showModal:function(){
          var that = this;
          $('#'+that.el.id+' #itemformerror').empty();
          $('#offerdialog').modal('show');
          window.ahr.getcsrf(function(csrf){
              if(csrf==false){
                  that.alert('Unable to send report. please try again','#reporterror');
                  return;
              }
              that.csrf = csrf.csrfmiddlewaretoken;
            });
        },

        aftersubmit:function(){
          $('#offerdialog').modal('hide');
          this.skills_widget.empty();
          this.countries_widget.empty();
          this.issues_widget.empty();
          $('input,textarea',$('#offerdialog')).val('');

        },
    });

    window.ahr.offer_form_dialog = window.ahr.offer_form_dialog|| {};
    window.ahr.offer_form_dialog.initItem= function(item){
        var offer_form = new OfferDialogView(item);
        return offer_form;
    };
})();
</script>