<script type="text/template" id="textarea_template">
  <div class="col-md-12">
    <textarea class="form-control" name="<%=jsonfield%>" id="<%=jsonfield%>" rows="6" placeholder="<%=placeholder%>" required="true"></textarea>
  </div>
  <div class="col-md-12">
    <div class="<%=jsonfield%> error"></div>
  </div>
</script>


<script type="text/template" id="input_template">
  <div class="col-md-12">
    <label for="<%=jsonfield%>"><%=title%></label>
    <input id="<%=jsonfield%>" name="<%=jsonfield%>" class="form-control input-sm" type="text" placeholder="<%=placeholder%>" required="true" />
  </div>
  <div class="col-md-12">
    <div class="<%=jsonfield%> error"></div>
  </div>
</script>


<script type="text/template" id="datetimepicker_template">
  <div class="col-md-12">
    <label for="<%=jsonfield%>"><%=title%></label>
    <div class='input-group date' id='datetimepicker-<%=jsonfield%>'>
      <input type='text' id="<%=jsonfield%>"  name="<%=jsonfield%>" class="form-control input-sm" required="true" />
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span>
      </span>
    </div>
  </div>
  <div class="col-md-12">
    <div class="<%=jsonfield%> error"></div>
  </div>
</script>


<script type="text/template" id="typeahead_template">
  <div class="col-md-12">
    <label for="<%=item%>"><%=title%></label>
    <div class="input-group">
      <input id="<%=item%>" class="form-control input-sm" type="text" required="true" />
      <span class="input-group-addon">
        <span class="glyphicon <%=item%>">Add</span>
      </span>
    </div>
  </div>
  <div class="col-md-12" style="margin-top:5px">
    <div class="input-group" id="<%=item%>Tags"></div>
  </div>
  <div class="col-md-12">
    <div class="<%=item%> error"></div>
  </div>
</script>


<script type="text/template" id="afile_template">

    <div class="row">
        <div class="form-group">
            <label for="post-title" class="col-sm-2 control-label"><%=title%></label>
            <div class="col-sm-4">
                <input id="<%=jsonfield%>" name="<%=jsonfield%>" class="form-control file-input" type="file" placeholder="<%=placeholder%>"/>
            </div>
        </div>
    </div>

</script>


<script type="text/template" id="comment_view_template">

    <div class="comment row well" comment-owner="<%=owner%>" comment-id="<%=pk%>">
        <div class="comment-wrap">
            <div class="comment-userpic col-lg-2"><img width="100" height="100" src="<%=userpic%>"/></div>
            <div class="comment-right col-lg-10">
                <div class="comment-head">
                    <div class="comment-user col-lg-3"><strong><%=user%></strong></div>
                    <div class="comment-date  col-lg-3"><strong><%=pub_date%></strong></div>
                    <div class="comment-date col-lg-offset-4 col-lg-2">&nbsp;<% if(owner===window.user_id){ %> <a href="<%= window.ahr.app_urls.formeditcomment+pk %>">Edit</a> <% } %></div>
                </div>
                <div class="comment-content" style="margin-top:30px;"><%=content%></div>
            </div>
        </div>
    </div>

</script>


<script type="text/template" id="comment_edit_template">

    <div class="comment" comment-id="<%=pk%>">
        <div class="comment-wrap">
            <div class="comment-userpic"><img src="<%=userpic%>"/></div>
            <div class="comment-right">
                <div class="comment-head">
                    <div class="comment-user"><%=user%></div>
                    <div class="comment-date"><%=pub_date%></div>
                </div>
                <div class="comment-content"><%=content%></div>
            </div>
        </div>
    </div>

</script>


<script type="text/template" id="comment_add_template">

    <div class="new-comment row well" >
        <div class="comment-wrap">			
            <div>
                <textarea class="form-control" name="newcomment" id="newcomment" rows="3" placeholder="Post a comment"></textarea>
            </div>
        </div>
        <div class="btn pull-right btn-default btn-sm comment-btn" style="margin-top: 5px;"> Comment </div>
    </div>

</script>


<script type="text/template" id="item_template">

  <div class="row item_container" item_id="<%=pk%>">
    <div class="col-md-12">
      <div class="well well-sm">
        <div class="row">
          <div class="col-md-10"><h4><%=title%></h4></div>
          <div class="col-md-2"><strong><%=item_type%></strong></div>
        </div>
        <div class="row" style="margin-bottom: 10px;">
          <div class="item-header" style="margin-left:15px;margin-bottom:10px;">
            <!-- TODO: Remove hardcoded path --> 
            <div class="item-user">By <strong><a href="/user/profile/<%=owner%>"><%=owner%></a></strong></div>
            <div class="item-pub-date"><%=moment(pub_date).format("D MMM YYYY")%></div>
          </div>
          <div class="item-contents col-md-12"><%=details%></div>
        </div>
        <div class="row">
          <div class="col-md-2"><%=commentcount%> Comments</div>
          <div class="col-md-10">Tags:
            <% _.each(issues, function(ind) { %> <div class="btn btn-default disabled btn-xs"> <%= window.issues[ind] %> </div> <% }); %>
            <% _.each(countries, function(ind) { %> <div class="btn btn-default disabled btn-xs"> <%= window.countries[ind] %> </div> <% }); %>
            <% _.each(skills, function(ind) { %> <div class="btn btn-default disabled btn-xs"> <%= window.skills[ind] %> </div> <% }); %>
          </div>
        </div>
      </div>
    </div>
  </div>

</script>


<script type="text/template" id="filter-tag">

    <div style="display:inline-block;margin:3px;">
        <button type="button" class="btn btn-default btn-xs tagbutton <%=active%>"><%=filtertag%></button>
    </div>

</script>


<script type="text/template" id="type-tag">

    <button type="button" class="btn item-type offer btn-default btn-sm btn-success"><%=typetag%></button>
    
</script>


<script type="text/template" id="user-template">
    <div class="row">
        <img src=""/>
        <div></div>
        <button type="button" class="btn btn-default btn-sm"> Recommend </button>
        <button type="button" class="btn btn-default btn-sm"> Private message </button>
        <button type="button" class="btn btn-default btn-sm"> Rate user </button>
    </div>
</script>



<script type="text/javascript" id="api_urls">
    window.ahr= window.ahr || {};
    try{
        window.user_id = {{ user.id }};
    }catch(err){
         window.user_id = 0;
    }

    window.ahr.market_filter_custom = {skills:[1],country:[1],issues:[1,2,3]};

    window.ahr.app_urls={
        getcsrf: "{% url 'get_csrftoken' 'json' %}",
        getuserdetail: "{% url 'get_userdetail' 'json' 0 %}".slice(0,-1),
        getavatar: "{% url 'get_avatar' 'json' 0 %}".slice(0,-1),
        getusercount: "{% url 'get_usercount' 'json' %}",
        getuserfromto: "{% url 'get_user_fromto' 'json' 0 0 %}".slice(0,-1),

        getissues: "{% url 'get_issues' 'json' %}",
        getskills: "{% url 'get_skills' 'json' %}",
        getcountries: "{% url 'get_countries' 'json' %}",
        getNationalities: "{% url 'get_nationalities' 'json' %}",
    
        viewitem: "{% url 'view_item' 'offer' 0 %}".slice(0,-1),
        edititem: "{% url 'form_edit_item' 0 %}".slice(0,-1),
        getitemform:  "{% url 'form_add_item' 'offer' %}",
    
        market: "{% url 'show_market' %}",        
        getposts:  "{% url 'posts'  %}",
        getmarketitem: "{% url 'get_marketitem' 'json' 0 %}".slice(0,-1),
        getmarketitemlast: "{% url 'get_marketitems_last' 'json' 0 %}".slice(0,-1),
        getmarketitemfromto: "{% url 'get_marketitems_fromto' 'json' 0 0 %}".slice(0,-1),
        getmarketcount: "{% url 'get_marketitem_count' 'json' %}",
        addmarketitem: "{% url 'add_marketitem' 'json' 'offer' %}".slice(0,-5),
        editmarketitem: "{% url 'edit_marketitem' 'json' 0 %}".slice(0,-1),
        deletemarketitem: "{% url 'delete_marketitem' 'json' 0 %}".slice(0,-1),
        getuseritems: "{% url 'user_marketitems' 'json' %}",
    
        formeditcomment: "{% url 'form_edit_comment' 0 %}".slice(0,-1),		
    
        addcomment: "{% url 'add_comment' 'json' 0 %}".slice(0,-1),
        getcomment: "{% url 'get_comment' 'json' 0 %}".slice(0,-1),
        getcommentsrange: "{% url 'get_comments_range' 'json' 0 'stdate' 'enddate' %}",
        getcommentslast: "{% url 'get_comments_last' 'json' 0 0 %}".slice(0,-1),
        editcomment: "{% url 'edit_comment' 'json' 0 %}".slice(0,-1),
        deletecomment: "{% url 'delete_comment' 'json' 0 %}".slice(0,-1)
    };

    window.getcsrf = function(callback){
        $.getJSON(window.ahr.app_urls.getcsrf, function(data){callback(data);});
    }

    function getpkname(data,item){
        var ar={};
        for(index in data){
            ar[data[index].pk] = data[index].fields[item];
        }
        return ar;
    }    
    
    
    function getstatics(){
    var dfrd = $.Deferred();
    var dfrd1=$.ajax({url:window.ahr.app_urls.getissues,dataType:'json'});
    dfrd1.done(function(data){
        window.issues = getpkname(data,'issues');
        var dfrd2 = $.ajax({url:window.ahr.app_urls.getskills,dataType:'json'});
        dfrd2.done(function(data){
            window.skills = getpkname(data,'skills');
            var dfrd3 = $.ajax({url:window.ahr.app_urls.getcountries,dataType:'json'});
            dfrd3.done(function(data){
                window.countries = getpkname(data,'countries');
                dfrd.resolve();
            });
        });
    });
    return dfrd;
    }

</script>
