<script type="text/template" id="typeahead_template">
  <div class="col-md-12">
    <div class="<%- item %> error"></div>
  </div>
  <div class="col-md-12">
    <label for="<%- item %>"><%- title %></label>
    <div class="input-group">
      <input id="<%- item %>" class="form-control input-sm typeaheadtag_input" type="text"/>
      <span class="input-group-addon">
        <span class="glyphicon <%- item %>">Add</span>
      </span>
    </div>
  </div>
  <div class="col-md-12" style="margin-top:5px">
    <div class="input-group" id="<%- item %>Tags"></div>
  </div>
</script>

<script type="text/javascript" id="typeahead_view">
  (function(){

    var TypeaheadWidget = window.ahr.BaseView.extend({
        tagdict: {},
        change:function(item){
            this.empty();
            this.setPrefilledVals(item[0].fields[this.item.jsonfield]);
            for(i in this.pref){
                $('#'+this.item.jsonfield,$(this.container)).tagsManager('pushTag',this.pref[i]);
            }

        },

        typeAheadTemplate: function(title,  item){
            if (this.typeAheadTag  === undefined){
                this.typeAheadTag = _.template($('#typeahead_template').html());
            }
            return this.typeAheadTag({'title':title,'item':item});
        },

        makeTypeAhead: function(jsonfield, func){
            var that = this;
            $('#'+jsonfield,$(this.container)).typeahead({
                limit: 5,
                local: that.typeaheadval
                }).on('typeahead:selected', function (e, d) {
                    $('#'+jsonfield,$(that.container)).tagsManager("pushTag", d.value);
            }).blur(function(){
                $('#'+jsonfield,$(that.container)).val('');
            });
            func(this.values);
        },

        setPrefilledVals:function(prefilled){
            var pref=[];
            inv = this.invert(this.tagdict);
            _.each(prefilled,function(id){
                pref.push(inv[id]);
            });
            this.pref = pref;
        },

        makeWidget: function (jsonfield, prefilled){
            var that = this;
            this.makeTypeAhead(jsonfield, function(data){
                var pref=[];
                that.values = data;
                if (prefilled){
                    inv = that.invert(that.tagdict);
                    _.each(prefilled,function(id){
                        pref.push(inv[id]);
                    });
                }

                $('#'+jsonfield,$(that.container)).tagsManager({
                    tagsContainer: that.container+' #'+jsonfield+'Tags',
                    deleteTagsOnBackspace: false,
                    blinkBGColor_1: '#FFFF9C',
                    blinkBGColor_2: '#CDE69C',
                    hiddenTagListName: 'hidden-'+jsonfield+'_'+that.container,
                    prefilled: pref,
                    validator:function(tag){
                        if (that.values.indexOf(tag)!=-1){
                            return true;
                        }else{
                            return false;
                        }
                    }
                });

            });
        },

        empty:function(){
            $('#'+this.item.jsonfield,$(this.container)).tagsManager('empty');
        },

        getval:function(){
            return this.getTagIds();
        },

        getTagIds: function(){
            var that = this;
            var val_ids=[],
                val_names = $('input[name="hidden-'+this.item.jsonfield+'_'+this.container+'"]',$(this.container)).val().split(',');
            _.each(val_names,function(val){
                val_ids.push(that.tagdict[val]);
            });
            return val_ids;
        },

        genWidgetHTML: function (item, preval){
            var that = this;
            $(this.container).html(that.typeAheadTemplate(item.title, item.jsonfield));
        },

        initialize: function(initobj){
            this.container = initobj.cont;
            this.item = initobj.itm;
            this.typeaheadval = [];
            this.values=[];
            this.tagdict={};
            var data = window.ahr[initobj.itm.jsonfield];
            for (var i = 0; i < data.length; i++){
                this.typeaheadval.push({
                    tokens: [data[i].value,],
                    value: data[i].value
                });
                this.values.push(data[i].value);
                this.tagdict[data[i].value]=data[i].pk;
            }
            this.genWidgetHTML(initobj.itm, initobj.prvl);
            this.makeWidget(initobj.itm.jsonfield, initobj.prvl? initobj.prvl[initobj.itm.jsonfield]: null);
        }

    });

    window.ahr.typeahead_widget = window.typeahead_widget|| {};
    window.ahr.typeahead_widget.initWidget= function(container,item,preval){
        var widget = new TypeaheadWidget({'cont':container,'itm':item,'prvl':preval});
        return widget;
    };
})();
</script>