<script type="text/template" id="typeahead_template">
  <div class="col-md-12">
    <div class="<%- item %> error"></div>
  </div>
  <div class="col-md-12">
    <label for="<%- item %>"><%- title %></label>
    <div class="input-group">
      <input id="<%- item %>" class="form-control input-sm typeaheadtag_input" type="text"/>
      <span class="input-group-addon">
        <span class="glyphicon <%- item %>">Add</span>
      </span>
    </div>
  </div>
  <div class="col-md-12" style="margin-top:5px">
    <div class="input-group" id="<%- item %>Tags"></div>
  </div>
</script>

<script type="text/javascript" id="typeahead_view">
  (function(){

    var TypeaheadWidget = window.ahr.BaseView.extend({
        generateTypeAhead: function(title,  item){
            if (this.typeAheadTag  === undefined){
                this.typeAheadTag = _.template($('#typeahead_template').html());
            }
            return this.typeAheadTag({'title':title,'item':item});
        },

        makeTypeAhead: function(jsonfield, func){
            var that = this;
            var typeaheadval = [],values=[];
            var data = window.ahr[jsonfield];
            for (var i = 0; i < data.length; i++){
                typeaheadval.push({
                    tokens: [data[i].value,],
                    value: data[i].value
                });
                values.push(data[i].value);
                that.tagdict[data[i].value]=data[i].pk;
            }
            $('#'+jsonfield,$(this.container)).typeahead({
                limit: 5,
                local: typeaheadval
                }).on('typeahead:selected', function (e, d) {
                    $('#'+jsonfield,$(that.container)).tagsManager("pushTag", d.value);
            }).blur(function(){
                $('#'+jsonfield,$(that.container)).val('');
            });
            func(values);
        },

        makeTagWidget: function (jsonfield, prefilled){
            var that = this;
            this.makeTypeAhead(jsonfield, function(data){
                var pref=[],values = data;
                if (prefilled){
                    inv = that.invert(that.tagdict);
                    _.each(prefilled,function(id){
                        pref.push(inv[id]);
                    });
                }

                $('#'+jsonfield,$(that.container)).tagsManager({
                    tagsContainer: that.container+' #'+jsonfield+'Tags',
                    deleteTagsOnBackspace: false,
                    blinkBGColor_1: '#FFFF9C',
                    blinkBGColor_2: '#CDE69C',
                    hiddenTagListName: 'hidden-'+jsonfield+'_'+that.container,
                    prefilled: pref,
                    validator:function(tag){
                        if (values.indexOf(tag)!=-1){
                            return true;
                        }else{
                            return false;
                        }
                    }
                });
            });
        },

        getTagIds: function(){
            var that = this;
            var val_ids=[],
                val_names = $('input[name="hidden-'+this.item.jsonfield+'_'+this.container+'"]',$(this.container)).val().split(',');
            _.each(val_names,function(val){
                val_ids.push(that.tagdict[val]);
            });
            return val_ids;
        },

        genTagWidget: function (item, preval){
            var that = this;
            $(this.container).html(that.generateTypeAhead(item.title, item.jsonfield));
            this.makeTagWidget(item.jsonfield, preval? preval[item.jsonfield]: null);
        },

        initialize: function(initobj){
            this.container = initobj.cont;
            this.item = initobj.itm;
            this.genTagWidget(initobj.itm, initobj.prvl);
            return this;
        }

    });

    window.ahr.typeahead_widget = window.typeahead_widget|| {};
    window.ahr.typeahead_widget.initWidget= function(container,item,preval){
        var widget = new TypeaheadWidget({'cont':container,'itm':item,'prvl':preval});
        return widget;
    };
})();
</script>