<html prefix="og: http://ogp.me/ns#">
<head>
<title>Title Item</title>
<meta property="og:title" content="Graph Test Title" />
<meta property="og:type" content="article" />
<meta property="og:url" content="http://www.newyorktimes.com/test-article" />
<meta property="og:image" content="http://www.newyorktimes.com/image1.jpg" />
<meta property="og:description" content="This is a short description" />
<meta property="og:site_name" content="NYTimes" />
<meta property="article:author" content="{{ base_url }}/market/test/open-graph-author" />
<meta name="date" content="2016-01-02" />
</head>
<body>
<h1>Test Page</h1>
</body>
</html>