{% extends "base.html" %}

{% block content %}

    <div id="market" class="container">
        <div class="row">
            <div class="input-group col-lg-offset-3 col-md-6">
            <input type="text" class="form-control" id="q" name="q">
                <span class="input-group-addon btn" id="searchbtn">Search</span>
        </div>

    </div>
    <div class="row">
        <div class="col-lg-offset-3 col-lg-8">
            <h3>{{title}}</h3>
        </div>
    </div>
    <div class="row">
<div class="col-sm-3 panel panel-default text-center filters" style="margin-left:-30px;margin-right:30px;">
    <div class="panel-body">
        <h5> FILTER BY</h5>
    </div>
    <div class=" btn-group">
        <button type="button" class="btn btn-default">All</button>
        <button type="button" class="btn btn-default btn-success">Default</button>
        <button type="button" class="btn btn-default">Custom</button>
    </div>
    <div class="row"> &nbsp;</div>
    <div class="row">
        <button type="button" class="btn btn-default btn-success">Offers</button>
        <button type="button" class="btn btn-default btn-success">Request</button>
        <button type="button" class="btn btn-default btn-success">Resources</button>
    </div>
    <div class="row"> &nbsp;</div>
    <div class="row">
        <div class="pull-left" style="margin-left:30px;">
        <strong>Issues:</strong>
        </div>
    </div>
    <div class="row issues btn-group-sm pull-left" style="margin-left:10px;">

    </div>

    <div class="row"> &nbsp;</div><div class="row"> &nbsp;</div>
    <div class="row">
        <div class="pull-left" style="margin-left:30px;">
        <strong>Country:</strong>
        </div>
    </div>
    <div class="row countries btn-group-sm pull-left" style="margin-left:10px;">

    </div>
    <div class="row"> &nbsp;</div><div class="row"> &nbsp;</div>
    <div class="row">
        <div class="pull-left" style="margin-left:30px;">
        <strong>Skills:</strong>
        </div>
    </div>
    <div class="row skills btn-group-sm pull-left" style="margin-left:10px;">

    </div>
    <div class="row"> &nbsp;</div><div class="row"> &nbsp;</div>

    </div>
    <!--col-md-offset-1-->
    <div class="col-lg-7">
        <div id="marketitems"></div>
    </div>

    <div class="col-lg-2">

    <div class="small">
        <h4> How it works</h4>
        <p>Nulla pretium tempus ante in pharetra. Maecenas eleifend rhoncus congue.
        Sed eu massa eros. Suspendisse potenti. Quisque elementum nibh ligula, sed varius magna mollis pulvinar.
        Aliquam ipsum sapien, vehicula ac nunc nec, volutpat elementum arcu. Duis at pellentesque sapien.</p>
    </div>

    <button type="button" class="btn btn-default btn-sm btn-block">					
        <a href="#" onclick="window.location = window.app_urls.getitemform;">Create an offer</a>
    </button>

    <button type="button" class="btn btn-default btn-sm btn-block">
        <a href="#" onclick="window.location = window.app_urls.getitemform.replace('offer','request');">Create an request</a>
    </button>

    <button type="button" class="btn btn-default btn-sm btn-block">
        <a href="#" onclick="window.location = window.app_urls.getitemform.replace('offer','resource');">Share a resource</a>
    </button>
</div>

    </div>
</div>

{% endblock %}

{% block endjavascript %}

    <script type="text/javascript">

    $(document).ready(function(){
        var dfrd = getstatics();
        dfrd.done(function(){
            if("{{init}}"=="market"){
                window.market.initMarket({{tags|safe}});
            }else if("{{init}}"=="posts"){
                window.posts.initPosts();
            }
        });        
    });
    
    </script>

{% endblock %}