{% extends "base.html" %}
{% load i18n %}

{% block content %}
{% include "clientside/marketitem.html" %}
{% include "clientside/marketuser.html" %}
{% include "clientside/filtertag.html" %}
{% include "clientside/typetag.html" %}

<div class="row">
  <div id="market" class="col-md-12">
    <div id="infobar"></div>

    {% include "clientside/expdate.html"%}
    {% include "clientside/datetimepicker.html"%}
    {% include "clientside/typeahead.html" %}
    {% include "clientside/input.html" %}
    {% include "clientside/textarea.html" %}

    {% include "clientside/messagedialog.html" %}
    {% include "clientside/recommenddialog.html" %}
    {% include "clientside/rate.html" %}
    {% include "clientside/offer_form.html"%}
    {% include "clientside/request_form.html"%}

    <!-- Banner -->
    <div class="row">
      <div class="col-md-12 exchange-banner">
        <div class="row">
          <div class="">
            <div class="col-md-offset-6 col-md-3">
              
            </div>
            <div class="col-md-3"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- Search -->
    <div class="row">
      <div class="input-group col-md-offset-3 col-md-7">
        <form>
          <input type="text" class="form-control" id="q" name="q"/>
          <input type="submit" style="visibility:hidden;position: fixed;"/>
        </form>
        <span class="input-group-addon btn" id="searchbtn">Search</span>
      </div>
    </div>
    <!-- Title -->
    <div class="row">
      <div class="col-md-offset-3 col-md-7">
        <h3>{{title}}</h3>
      </div>
    </div>
    <!-- Market -->
    <div class="row">
      <!-- Filters -->
      <div class="col-md-3">
        <div class="panel panel-default center-content">
          <div class="panel-heading">
            <h3 class="panel-title">FILTER BY</h3>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="btn-group">
                <button type="button" class="btn btn-default filter-type all filter-fixed-width">All</button>
                <button type="button" class="btn btn-default btn-success filter-type default filter-fixed-width">Default</button>
                <button type="button" class="btn btn-default filter-type custom filter-fixed-width">Custom</button>
              </div>
            </div>
            <div class="row"> &nbsp;</div>
            <div class="row">
              <div class="col-md-12 typetags"></div>
            </div>
            <div class="row"> &nbsp;</div>
            <div class="row">
              <div class="col-md-12"><strong>Issues:</strong></div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="row issues btn-group-sm pull-left" item_title="issues"></div>
              </div>
            </div>
            <div class="row"> &nbsp;</div>
            <div class="row"> &nbsp;</div>
            <div class="row">
              <div class="col-md-12"><strong>Countries:</strong></div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="row countries btn-group-sm pull-left" item_title="countries"></div>
              </div>
            </div>
            <div class="row"> &nbsp;</div>
            <div class="row"> &nbsp;</div>
            <div class="row">
              <div class="col-md-12"><strong>Skills:</strong></div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="row skills btn-group-sm pull-left" item_title="skills"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Items -->
      <div class="col-md-7">
        <div class="row">
          <div class="col-md-12">
            <div id="marketitems"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <ul class="marketitems pagination"></ul>
          </div>
        </div>
      </div>
      <!-- Actions -->
      <div class="col-md-2">
        <div class="row">
          <div class="col-md-12 small">
              <h4> How it works</h4>
              {% block how_it_works %}
              <p>Nulla pretium tempus ante in pharetra. Maecenas eleifend rhoncus congue.
              Sed eu massa eros. Suspendisse potenti. Quisque elementum nibh ligula, sed varius magna mollis pulvinar.
              Aliquam ipsum sapien, vehicula ac nunc nec, volutpat elementum arcu. Duis at pellentesque sapien.</p>
              {% endblock %}
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 small">
            <button id="create_offer" type="button" class="btn btn-default btn-sm btn-block">
                <a href="#" >Create an offer</a>
            </button>
            <button id="create_request" type="button" class="btn btn-default btn-sm btn-block">
                <a href="#"  >Create an request</a>
            </button>
          </div>
        </div>
        <!--
        <div class="row"> &nbsp;</div>
        <div class="row">
          <div class="col-md-12 small">
            <button type="button" class="btn btn-default btn-sm btn-block">
                <a href="#" onclick="window.location = window.ahr.app_urls.getitemform.replace('offer','resource');">Share a resource</a>
            </button>
          </div>
        </div>
        -->
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block endjavascript %}

    <script type="text/javascript">

    $(document).ready(function(){
        var dfrd = window.ahr.getStatics();
        dfrd.done(function(){
            if("{{init}}"=="market"){
                window.ahr.market.initMarket({{tags|safe}});
            }else if("{{init}}"=="posts"){
                window.ahr.posts.initPosts({{tags|safe}});
            }else if ("{{init}}"=="users"){
                window.ahr.users.initUsers({{tags|safe}});
            }
        });
    });

    </script>

{% endblock %}


