
body
  direction rtl

.header-nav
  direction ltr

.select-checkbox
  .select-label
    margin-right 23px

.select-multi-checkbox
  .select-arrow
    float left
  .select-count
    float left
    margin-left 5px
  .select-label
    margin-right 23px


/* Inbox / Messages */

.message-header
  .message-date
    float left !important

.message-well
  .status
    float right !important
    margin-right 8px !important
    margin-left 12px !important
  .name-and-date
    .date
      float left !important
    .name
      margin-right 20px
  .subject
    margin-right 20px


/* Footers */
.footer-copyright
  direction ltr

.footer-nav-content
  direction ltr


/* Posts */

.view-post
  .post-actions
    a.recommend
      margin-left 40px
  .post-header
    span
      margin-right 50px
  .comment-count
    float left !important
.tags
  .tag
    float right

/* Misc */

.btn-social
  img
    margin-left 10px
    margin-right 0px

.item-menu-container
  direction ltr


.poster
  .avatar
    float right
  .poster-details
    float right
    margin-right 42px


.landing-page-center-content-wrap
  .landing-page-center-content
    .landing-page-middle
      .home-stats
        margin-left 0
        table
          td:first-child
            text-align left
          td:last-child
            text-align right