
body
  direction rtl

.header-nav
  direction ltr

.select-checkbox
  .select-label
    margin-right 23px

.select-multi-checkbox
  .select-arrow
    float left
  .select-count
    float left
    margin-left 5px
  .select-label
    margin-right 23px


/* Inbox / Messages */

.message-header
  .message-date
    float left !important

.message-well
  .status
    float right !important
    margin-right 8px !important
    margin-left 12px !important
  .name-and-date
    .date
      float left !important
    .name
      margin-right 20px
  .subject
    margin-right 20px