::-webkit-input-placeholder {
  font-style: normal;
  font-family: "LinotypeUnivers-330Light";
}
::-moz-placeholder {
  font-style: normal;
  font-family: "LinotypeUnivers-330Light";
}
:-ms-input-placeholder {
  font-style: normal;
  font-family: "LinotypeUnivers-330Light";
}
.movements-form {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  padding: 45px 65px 45px 65px;
  -webkit-box-shadow: 0 1px 1px 0 rgba(224,215,216,0.8);
  -moz-box-shadow: 0 1px 1px 0 rgba(224,215,216,0.8);
  -ms-box-shadow: 0 1px 1px 0 rgba(224,215,216,0.8);
  -o-box-shadow: 0 1px 1px 0 rgba(224,215,216,0.8);
  box-shadow: 0 1px 1px 0 rgba(224,215,216,0.8);
}
.movements-form h1 {
  color: #005e86;
}
.movements-form h2 {
  color: #262626;
  font-size: 20px;
}
.movements-form .form-title {
  text-align: center;
}
.movements-form .action-text {
  margin-top: 30px;
  text-align: center;
}
.movements-form .action-link {
  line-height: 40px;
  text-decoration: underline;
}
.movements-form .form-main-button {
  margin-top: 15px;
}
.movements-form a {
  color: #262626;
  font-weight: bold;
  text-decoration: underline;
}
.movements-form label {
  margin-top: 10px;
  font-family: "HurmeGeometricSans3-SemiBold";
  font-weight: normal;
}
.movements-form input,
.movements-form select,
.movements-form textarea {
  font-size: 16px;
}
.movements-form input[type=text]:focus,
.movements-form input[type=email]:focus,
.movements-form input[type=number]:focus,
.movements-form input[type=password]:focus,
.movements-form select:focus,
.movements-form textarea:focus {
  border-color: rgba(254,109,80,0.8);
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.075);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.075);
  -ms-box-shadow: 0 1px 1px rgba(0,0,0,0.075);
  -o-box-shadow: 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: 0 1px 1px rgba(0,0,0,0.075);
  outline: 0 none;
}
.movements-form input[type=text],
.movements-form input[type=email],
.movements-form input[type=number],
.movements-form input[type=password],
.movements-form select {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  height: 40px;
}
.movements-form .btn-group a {
  text-decoration: none;
  font-weight: normal;
  color: #b6aba5;
}
.movements-form .btn-group .selected {
  color: #fff;
}
.extended-form {
  margin-top: 30px;
  padding: 0 65px 0 65px;
}
.extended-form .action-text {
  margin-top: 30px;
  text-align: center;
}
.extended-form .form-main-button {
  margin-top: 15px;
}
.twitter-typeahead .tt-hint {
  font-size: 16px;
}
.btn {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 9px 12px;
  font-weight: bold;
  font-size: 16px;
}
.btn-tab {
  background-color: #fff;
  border-color: #b6aba5;
  color: #b6aba5;
}
.btn-tab:hover {
  color: #b6aba5;
}
.btn-tab.selected {
  background-color: #b6aba5;
  border-color: #b6aba5;
  color: #fff;
}
.btn-action {
  background-color: #fe6d50;
  color: #fff;
}
.btn-offer {
  background-color: #005d86;
  color: #fff;
}
.btn-request {
  background-color: #ff4545;
  color: #fff;
}
.btn-action:hover,
.btn-action:active,
.btn-action:focus,
.btn-request:hover,
.btn-request:focus,
.btn-offer:hover,
.btn-offer:focus {
  color: #fff;
}
.btn-social-facebook {
  background-color: #3c5a9a;
}
.btn-social-twitter {
  background-color: #4099ff;
}
.btn-social-google {
  background-color: #dd4b39;
}
.btn-social {
  margin-bottom: 15px;
  color: #fff;
}
.btn-social img {
  margin-right: 10px;
}
.btn-social:hover,
.btn-social:active,
.btn-social:focus {
  color: #fff;
}
.full-width {
  width: 100%;
}
.dialog {
  background-color: #fff;
}
.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}
.row.no-gutter > [class*='col-']:not(:first-child),
.row.no-gutter > [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
}
.modal-content {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
.modal-header {
  padding: 20px;
}
html {
  background-color: #b6aba5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  background-color: #f8f6f7;
  color: #262626;
  font-family: "LinotypeUnivers-330Light";
  font-size: 16px;
}
.avatar img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
.navbar-default {
  background-color: #f8f6f7;
}
.navbar-default .btn {
  font-size: 14px;
  padding: 4px 12px;
  margin-top: 7px;
}
.header-nav {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  border: 0;
  border-bottom: 4px solid #e0d7d8;
  margin-bottom: 0;
}
.header-nav .header-nav-wrapper {
  position: absolute;
  left: 50%;
  margin-left: -75px;
}
.header-nav .header-nav-wrapper .main-logo {
  padding-top: 15px;
}
.header-nav .navbar-left {
  position: relative;
}
.header-nav .navbar-left .menu-selector {
  position: absolute;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  top: -5px;
  left: -5px;
  width: 90px;
  height: 55px;
  border-bottom: 4px solid #e0d7d8;
  color: #756b65;
}
.header-nav .navbar-left .menu-selector .menu-icon {
  background-image: url("../images/v2/hamburger-v3.png");
  width: 30px;
  height: 24px;
  margin-top: 11px;
  margin-right: 3px;
  float: left;
}
.header-nav .navbar-left .menu-selector .action-font {
  padding-top: 3px;
}
.header-nav .navbar-left .menu-selector.selected {
  border-bottom: 4px solid #b6aba5;
  background-color: #b6aba5;
  color: #fff;
}
.header-nav .navbar-left .menu-selector.selected .menu-icon {
  background-image: url("../images/v2/hamburger-selected-v3.png");
}
.header-nav .navbar-left .nav-avatar {
  position: absolute;
  width: 90px;
  left: 90px;
  top: 9px;
  color: #756b65;
}
.header-nav .navbar-left .nav-avatar img {
  float: left;
  margin-right: 3px;
}
.header-nav .navbar-left .nav-avatar .action-font {
  display: inline-block;
  margin-top: 6px;
}
.home-page-nav {
  height: 85px;
  color: #756b65;
  margin-bottom: 0;
}
.home-page-nav .navbar-left {
  margin-left: 30px;
  margin-top: 13px;
}
.home-page-nav .navbar-right {
  margin-right: 30px;
  height: 85px;
  display: table;
}
.home-page-nav .navbar-right .action-item {
  display: table-cell;
  vertical-align: middle;
}
.home-page-nav a {
  color: #756b65;
  text-decoration: underline;
}
#add-post-popup-container .popover-content {
  width: 132px;
  padding: 9px;
}
#add-post-popup-container .btn {
  width: 115px;
}
#add-post-popup-container .btn img {
  margin-right: 5px;
}
#add-post-popup-container .btn-request {
  margin-top: 0;
}
#view-content-menu {
  line-height: 45px;
}
#view-content-menu:hover {
  cursor: pointer;
}
#view-profile-menu:hover {
  cursor: pointer;
}
#content-menu-container .popover {
  width: 213px;
}
#content-menu-container .nav-menu-item-wrap {
  text-align: center;
  font-size: 14px;
  color: #262626;
  font-family: "HurmeGeometricSans3-SemiBold";
  width: 90px;
  height: 70px;
  float: left;
}
#content-menu-container .nav-menu-item {
  width: 90px;
  margin-bottom: 5px;
  height: 30px;
  margin-top: 5px;
}
#content-menu-container .spacer {
  height: 5px;
}
#content-menu-container .nav-menu-item-wrap:hover {
  cursor: pointer;
  background-color: #b6aba5;
  color: #fff;
}
#content-menu-container .profile .nav-menu-item {
  background: url("../images/v2/nav-profile-icon.png ") center 0 no-repeat;
}
#content-menu-container .nav-menu-item-wrap.profile:hover .nav-menu-item {
  background: url("../images/v2/nav-profile-icon.png ") center -29px no-repeat;
}
#content-menu-container .settings .nav-menu-item {
  background: url("../images/v2/nav-settings-icon.png ") center 0 no-repeat;
}
#content-menu-container .nav-menu-item-wrap.settings:hover .nav-menu-item {
  background: url("../images/v2/nav-settings-icon.png ") center -30px no-repeat;
}
#content-menu-container .messages .nav-menu-item {
  background: url("../images/v2/nav-messages-icon.png ") center 0 no-repeat;
}
#content-menu-container .nav-menu-item-wrap.messages:hover .nav-menu-item {
  background: url("../images/v2/nav-messages-icon.png ") center -21px no-repeat;
}
#content-menu-container .logout .nav-menu-item {
  background: url("../images/v2/nav-logout-icon.png ") center 0 no-repeat;
}
#content-menu-container .nav-menu-item-wrap.logout:hover .nav-menu-item {
  background: url("../images/v2/nav-logout-icon.png ") center -30px no-repeat;
}
#main-cms-nav {
  background-color: #b6aba5;
  border-bottom: 4px solid #e0d7d8;
  padding-bottom: 15px;
}
#main-cms-nav h4 {
  color: #fff;
  margin-bottom: 5px;
}
#main-cms-nav a {
  color: #fff;
  text-decoration: underline;
}
#main-cms-nav li {
  list-style: none;
  line-height: 27px;
}
footer {
  padding-bottom: 30px;
  font-size: 14px;
  background-color: #b6aba5;
  border-top: 4px solid #e0d7d8;
  color: #fff;
}
footer h4 {
  color: #fff;
  margin-top: 30px;
}
footer .social-icons img {
  margin-right: 20px;
}
footer input {
  font-size: 14px;
}
footer input[type=text]:focus,
footer input[type=email]:focus {
  border-color: rgba(254,109,80,0.8);
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.075);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.075);
  -ms-box-shadow: 0 1px 1px rgba(0,0,0,0.075);
  -o-box-shadow: 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: 0 1px 1px rgba(0,0,0,0.075);
  outline: 0 none;
}
footer input[type=text],
footer input[type=email] {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  height: 30px;
  width: 80%;
}
footer hr {
  border-top: 1px solid #e0d7d8;
  margin-top: 5px;
  margin-bottom: 15px;
}
footer .footer-nav-content {
  text-align: right;
}
footer .footer-nav-content li {
  display: inline-block;
  border-left: 1px solid #e0d7d8;
  line-height: 16px;
}
footer .footer-nav-content li a {
  margin-left: 6px;
  margin-right: 3px;
  color: #fff;
  text-decoration: underline;
}
footer .footer-nav-content li:first-child {
  border-left: none;
}
footer .footer-nav-content li:last-child a {
  margin-right: 0;
}
.footer-navbar {
  background-color: #bdb4af;
  min-height: 35px;
  color: #fff;
  line-height: 35px;
}
.footer-navbar .right-elements {
  float: right;
}
.footer-navbar .right-elements img {
  margin-left: 15px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #005e86;
  font-family: "HurmeGeometricSans3-Bold";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.btn {
  font-family: "HurmeGeometricSans3-SemiBold";
  font-weight: normal;
}
.action-font,
.statement-font {
  font-family: "HurmeGeometricSans3-SemiBold";
  font-weight: normal;
}
.action-font a,
.statement-font a {
  color: #756b65;
  text-decoration: underline;
}
.statement-font {
  color: #756b65;
  font-family: "HurmeGeometricSans3-SemiBold";
  font-weight: normal;
}
.statement-font a {
  color: #756b65;
  text-decoration: underline;
}
.content-page a {
  color: #262626;
  font-weight: bold;
  text-decoration: underline;
}
.content-page h1,
.content-page h2,
.content-page h3,
.content-page h4,
.content-page h5,
.content-page h6 {
  color: #005e86;
}
.content-page h1 a,
.content-page h2 a,
.content-page h3 a,
.content-page h4 a,
.content-page h5 a,
.content-page h6 a {
  font-weight: normal;
}
.content-page h1 {
  font-size: 26px;
}
.content-block a {
  color: #262626;
  font-weight: bold;
  text-decoration: underline;
}
.avatar img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
.alert-danger {
  border: none;
  color: #262626;
  background: #ffbeb2 url("../images/v2/flag_icon_red.png") no-repeat 20px center;
  padding-left: 80px;
}
.alert-danger h4 {
  font-family: "HurmeGeometricSans3-SemiBold";
  margin-bottom: 0;
}
.ajaxloader {
  text-align: center;
}
.errorlist {
  padding: 0;
}
.errorlist li {
  color: #f00;
  list-style: none;
}
.tags {
  margin-left: -5px;
}
.tags .tag {
  float: left;
  margin-left: 5px;
  margin-bottom: 5px;
  color: #005d86;
  font-size: 14px;
  font-weight: bold;
  padding: 5px 8px 5px 8px;
  border: 2px solid #005d86;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
.content-wrap {
  min-height: 500px;
}
.page-banner {
  height: 550px;
  overflow: hidden;
}
.page-banner .carousel-filter {
  background-color: rgba(130,107,110,0.4);
}
.page-banner .carousel-inner img {
  height: 100%;
}
.page-banner .carousel-inner .item {
  height: 550px;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.page-banner .carousel-inner .carousel-content {
  height: 550px;
  position: relative;
  color: #fff;
  text-align: center;
}
.page-banner .carousel-inner .carousel-content .carousel-title {
  padding-left: 15%;
  padding-right: 15%;
  width: 100%;
  position: absolute;
  top: 150px;
  color: #fff;
  font-size: 36px;
  font-family: "HurmeGeometricSans3-SemiBold";
  font-weight: normal;
  line-height: 120%;
}
.page-banner .carousel-inner .carousel-content .carousel-blurb {
  padding-left: 20%;
  padding-right: 20%;
  width: 100%;
  position: absolute;
  top: 295px;
  font-size: 18px;
}
.page-banner .carousel-inner .carousel-content .carousel-button {
  position: absolute;
  top: 420px;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}
.page-banner .carousel-inner .carousel-content .carousel-button button {
  width: 40%;
  height: 50px;
  font-size: 22px;
}
.page-banner .left-control {
  position: absolute;
  left: 0;
  top: 0;
}
.page-banner .right-control {
  position: absolute;
  right: 0;
  top: 0;
}
.landing-page .landing-content {
  color: #fff;
  height: 499px;
}
.landing-page .landing-content h3 {
  color: #fff;
  font-family: "HurmeGeometricSans3-SemiBold";
  font-weight: normal;
}
.landing-page .landing-content .container {
  height: 490px;
  display: table;
}
.landing-page .landing-content .container div {
  display: table-cell;
  vertical-align: middle;
}
.landing-page .action-item {
  text-align: right;
  margin-top: 10px;
  margin-bottom: 20px;
}
.landing-page .request-background {
  background: url("../images/v2/request_background_v2.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.landing-page .request-background .container div {
  padding-left: 30%;
  padding-right: 10%;
}
.landing-page .offer-background {
  background: url("../images/v2/offer_background_v2.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.landing-page .offer-background .container div {
  padding-right: 30%;
  padding-left: 10%;
}
.testimonial {
  padding-bottom: 70px;
  padding-top: 70px;
}
.testimonial .person-image {
  text-align: center;
}
.testimonial .statement {
  font-size: 18px;
}
.testimonial .author {
  font-size: 24px;
}
.progress-counter {
  border-top: 2px solid #e0d7d8;
  margin-bottom: 60px;
  position: relative;
}
.progress-counter .progress-item {
  position: absolute;
  top: -14px;
}
.progress-counter .progress-item-description {
  font-weight: bold;
}
.progress-counter .complete-state {
  text-align: center;
  font-size: 35px;
  line-height: 34px;
}
.progress-counter .complete-state span {
  background-color: #fff;
  padding-left: 3px;
  padding-right: 3px;
}
.progress-counter .step1 {
  left: -20px;
}
.progress-counter .step2 {
  left: 15%;
}
.progress-counter .step3 {
  left: 42%;
}
.progress-counter .step4 {
  left: 70%;
}
.progress-counter .step5 {
  right: -20px;
}
.progress-counter .complete {
  color: #005e86;
}
.progress-counter .current {
  color: #262626;
}
.progress-counter .outstanding {
  color: #756b65;
}
.more-about-you-widget .form-select-multi {
  min-height: 250px;
}
.form-select-multi .row {
  margin-top: 10px;
}
.form-select-multi input[type=checkbox] {
  display: none;
}
.form-select-multi .select-multi-checkbox,
.form-select-multi .select-checkbox {
  width: 100%;
  height: 30px;
  padding: 6px;
  border: 1px solid #e0d7d8;
  -webkit-box-shadow: 0 1px 1px 0 rgba(224,215,216,0.8);
  -moz-box-shadow: 0 1px 1px 0 rgba(224,215,216,0.8);
  -ms-box-shadow: 0 1px 1px 0 rgba(224,215,216,0.8);
  -o-box-shadow: 0 1px 1px 0 rgba(224,215,216,0.8);
  box-shadow: 0 1px 1px 0 rgba(224,215,216,0.8);
  background-color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  color: #756b65;
  cursor: pointer;
}
.form-select-multi .select-multi-checkbox.checked,
.form-select-multi .select-checkbox.checked {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  background-color: #005d86;
  border: none;
  color: #fff;
}
.form-select-multi .select-multi-checkbox label,
.form-select-multi .select-checkbox label {
  margin: 0;
  cursor: pointer;
  position: absolute;
  width: 16px;
  height: 16px;
  border: 1px solid #e0d7d8;
  background-color: #fff;
}
.form-select-multi .select-multi-checkbox label:after,
.form-select-multi .select-checkbox label:after {
  opacity: 0;
  content: '';
  position: absolute;
  width: 17px;
  height: 9px;
  background: transparent;
  top: -1px;
  left: 2px;
  border: 3px solid #fff;
  border-top: none;
  border-right: none;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.form-select-multi .select-multi-checkbox input[type=checkbox]:checked + label:after,
.form-select-multi .select-checkbox input[type=checkbox]:checked + label:after {
  opacity: 1;
}
.form-select-multi .select-multi-checkbox input[type=checkbox]:checked + label,
.form-select-multi .select-checkbox input[type=checkbox]:checked + label {
  background-color: #0d2e3f;
  border: 1px solid #0d2e3f;
}
.form-select-multi .select-label {
  font-size: 12px;
  margin-left: 23px;
  line-height: 19px;
}
.form-select-multi .select-multi-checkbox,
.form-select-multi .select-multi-checkbox.checked {
  background-color: #b6aba5;
}
.form-select-multi .select-multi-checkbox .select-label,
.form-select-multi .select-multi-checkbox.checked .select-label {
  font-size: 16px;
}
.form-select-multi .select-multi-checkbox input[type=checkbox]:checked + label {
  background-color: #fff;
  border: 1px solid #fff;
}
.form-select-multi .select-multi-checkbox label:after {
  border: 3px solid #0d2e3f;
  border-top: none;
  border-right: none;
  opacity: 0;
}
.form-select-multi .select-arrow {
  background: url("../images/v2/multi-select-arrow.png");
  float: right;
  width: 12px;
  height: 10px;
  margin-top: 4px;
}
.form-select-multi .select-count {
  float: right;
  font-size: 14px;
  margin-right: 5px;
}
.form-select-multi .select-multi-checkbox.selected .select-arrow {
  background: url("../images/v2/multi-select-arrow.png") 0 -10px;
}
.share-twitter {
  display: none;
}
.exchange-filters {
  border-bottom: 2px solid #ded8d6;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.exchange-filters .search-expanded {
  margin-top: 5px;
}
.exchange-filters .search-expanded input.form-control {
  width: 188px;
  display: inline-block;
}
.exchange-filters .search-expanded button.btn {
  padding: 4px 12px;
}
.exchange-filters .categories h4 {
  color: #756b65;
  font-weight: normal;
  font-size: 16px;
  display: inline;
}
.exchange-filters .categories ul.category-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
}
.exchange-filters .categories ul.category-menu > li {
  margin-left: 20px;
  display: inline-block;
}
.exchange-filters .categories ul.category-menu > li a,
.exchange-filters .categories ul.category-menu > li a:hover,
.exchange-filters .categories ul.category-menu > li a:focus {
  text-decoration: none;
  height: 34px;
  display: inline-block;
}
.exchange-filters .categories ul.category-menu .popover {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
.exchange-filters .categories ul.category-menu .skills .popover-content {
  padding: 0;
}
.exchange-filters .categories ul.category-menu .skills .popover-content ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.exchange-filters .categories ul.category-menu .skills .popover-content ul li:first-child {
  border-top: none;
}
.exchange-filters .categories ul.category-menu .skills .popover-content ul li {
  display: block;
  border-top: 1px solid #e0d7d8;
  padding: 4px;
}
.exchange-filters .categories ul.category-menu .skills .popover-content ul li a.no-icon,
.exchange-filters .categories ul.category-menu .skills .popover-content ul li a.no-icon:hover {
  background-image: none;
}
.exchange-filters .categories ul.category-menu .skills .popover-content ul li a {
  background: url("../images/v2/select_plus.png") 210px center no-repeat;
  margin: 0;
  padding: 10px;
  width: 240px;
  height: 40px;
  display: block;
  text-decoration: none;
  color: #000;
}
.exchange-filters .categories ul.category-menu .skills .popover-content ul li a:hover {
  color: #fff;
  background: url("../images/v2/select_plus_hover.png") 210px center no-repeat;
  background-color: #beb4ae;
}
.exchange-filters .categories ul.category-menu .skills .popover-content ul li a.selected {
  background: url("../images/v2/select_tick.png") 210px center no-repeat;
  background-color: #fff;
  color: #ff6d50;
}
.exchange-filters .categories ul.category-menu .skills .popover-content ul li a.selected:hover {
  background: url("../images/v2/select_tick.png") 210px center no-repeat;
  background-color: #beb4ae;
}
.exchange-filters .categories ul.category-menu .skills .popover-content ul li a.plain {
  background-image: none;
}
.exchange-filters .categories ul.category-menu .regions .popover-content {
  padding: 0;
}
.exchange-filters .categories ul.category-menu .regions .popover-content ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.exchange-filters .categories ul.category-menu .regions .popover-content ul li:first-child {
  border-top: none;
}
.exchange-filters .categories ul.category-menu .regions .popover-content ul li {
  display: block;
  border-top: 1px solid #e0d7d8;
  padding: 4px;
}
.exchange-filters .categories ul.category-menu .regions .popover-content ul li a.no-icon,
.exchange-filters .categories ul.category-menu .regions .popover-content ul li a.no-icon:hover {
  background-image: none;
}
.exchange-filters .categories ul.category-menu .regions .popover-content ul li a {
  margin: 4px;
  padding: 10px;
  width: 248px;
  height: 40px;
  display: block;
  text-decoration: none;
  color: #000;
}
.exchange-filters .categories ul.category-menu .regions .popover-content ul li a:hover {
  color: #fff;
  background-color: #beb4ae;
}
.exchange-filters .categories ul.category-menu .regions .popover-content ul li a.selected {
  background-color: #fff;
  color: #ff6d50;
}
.exchange-filters .categories ul.category-menu .regions .popover-content ul li a.selected:hover {
  background-color: #beb4ae;
}
.exchange-filters .categories ul.category-menu .regions .popover-content ul li a.plain {
  background-image: none;
}
.exchange-filters .categories ul.category-menu .regions .popover-content ul.region-filter.expanded > li {
  border: none;
}
.exchange-filters .categories ul.category-menu .regions .popover-content ul.region-filter.expanded > li > a {
  display: none;
}
.exchange-filters .categories ul.category-menu .regions .popover-content ul.region-filter li {
  padding: 0;
}
.exchange-filters .categories ul.category-menu .regions .popover-content ul.region-filter li ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.exchange-filters .categories ul.category-menu .regions .popover-content ul.region-filter li ul li:first-child {
  border-top: none;
}
.exchange-filters .categories ul.category-menu .regions .popover-content ul.region-filter li ul li {
  display: block;
  border-top: 1px solid #e0d7d8;
  padding: 4px;
}
.exchange-filters .categories ul.category-menu .regions .popover-content ul.region-filter li ul li a.no-icon,
.exchange-filters .categories ul.category-menu .regions .popover-content ul.region-filter li ul li a.no-icon:hover {
  background-image: none;
}
.exchange-filters .categories ul.category-menu .regions .popover-content ul.region-filter li ul li a {
  background: url("../images/v2/select_plus.png") 210px center no-repeat;
  margin: 0;
  padding: 10px;
  width: 240px;
  height: 40px;
  display: block;
  text-decoration: none;
  color: #000;
}
.exchange-filters .categories ul.category-menu .regions .popover-content ul.region-filter li ul li a:hover {
  color: #fff;
  background: url("../images/v2/select_plus_hover.png") 210px center no-repeat;
  background-color: #beb4ae;
}
.exchange-filters .categories ul.category-menu .regions .popover-content ul.region-filter li ul li a.selected {
  background: url("../images/v2/select_tick.png") 210px center no-repeat;
  background-color: #fff;
  color: #ff6d50;
}
.exchange-filters .categories ul.category-menu .regions .popover-content ul.region-filter li ul li a.selected:hover {
  background: url("../images/v2/select_tick.png") 210px center no-repeat;
  background-color: #beb4ae;
}
.exchange-filters .categories ul.category-menu .regions .popover-content ul.region-filter li ul li a.plain {
  background-image: none;
}
.exchange-filters .type-menu,
.exchange-filters .hidden-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: 40px;
}
.exchange-filters .type-menu a,
.exchange-filters .hidden-menu a {
  color: #756b65;
  font-family: "HurmeGeometricSans3-SemiBold";
  padding-bottom: 4px;
}
.exchange-filters .type-menu a:hover,
.exchange-filters .hidden-menu a:hover,
.exchange-filters .type-menu a:focus,
.exchange-filters .hidden-menu a:focus {
  text-decoration: none;
}
.exchange-filters .type-menu li,
.exchange-filters .hidden-menu li {
  display: inline;
  margin-left: 10px;
}
.exchange-filters .type-menu li:first-child,
.exchange-filters .hidden-menu li:first-child {
  margin-left: 0;
}
.exchange-filters .type-menu li.active a,
.exchange-filters .hidden-menu li.active a {
  border-bottom: 2px solid #756b65;
}
#itemandsearchwrap h2 {
  font-size: 18px;
  margin: 0 0 10px 0;
  color: #756b65;
}
.featured {
  min-height: 150px;
  padding: 10px 15px;
  margin-bottom: 10px;
  color: #fff;
}
.featured a,
.featured a:hover,
.featured a:focus {
  color: #fff;
  text-decoration: underline;
  font-weight: bold;
}
.featured .header {
  text-align: right;
  margin-bottom: 10px;
}
.featured .header .item-menu {
  margin-left: 10px;
}
.featured .feature-type {
  font-family: "HurmeGeometricSans3-SemiBold";
  font-size: 14px;
}
.featured .title {
  font-family: "HurmeGeometricSans3-SemiBold";
  margin: 2px 0;
}
.featured .details {
  font-size: 14px;
}
.featured.featured-request {
  background-color: #ff4545;
}
.featured.featured-request .header {
  background: url("../images/v2/request_icon.png") no-repeat left center;
}
.featured.featured-offer {
  background-color: #005d86;
}
.featured.featured-offer .header {
  background: url("../images/v2/offer_icon.png") no-repeat left center;
}
#marketitems .market-place-item,
#stuck-marketitems .market-place-item {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
  padding-left: 50px;
}
#marketitems .market-place-item a,
#stuck-marketitems .market-place-item a,
#marketitems .market-place-item a:hover,
#stuck-marketitems .market-place-item a:hover {
  text-decoration: none;
}
#marketitems .market-place-item .item-type,
#stuck-marketitems .market-place-item .item-type {
  font-family: "HurmeGeometricSans3-SemiBold";
  font-size: 14px;
}
#marketitems .market-place-item .title,
#stuck-marketitems .market-place-item .title {
  color: #262626;
  font-family: "HurmeGeometricSans3-SemiBold";
}
#marketitems .market-place-item .details,
#stuck-marketitems .market-place-item .details {
  color: #756b65;
  font-size: 14px;
}
#marketitems .market-place-item .details a,
#stuck-marketitems .market-place-item .details a,
#marketitems .market-place-item .details a:hover,
#stuck-marketitems .market-place-item .details a:hover,
#marketitems .market-place-item .details a:focus,
#stuck-marketitems .market-place-item .details a:focus {
  color: #756b65;
  text-decoration: underline;
  font-weight: bold;
}
#marketitems .market-place-item .market-item-card,
#stuck-marketitems .market-place-item .market-item-card {
  background-color: #fff;
  padding: 10px 50px 10px 10px;
}
#marketitems .market-place-item .market-item-card .item-menu-container .popover,
#stuck-marketitems .market-place-item .market-item-card .item-menu-container .popover {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
#marketitems .market-place-item .market-item-card .item-menu-container .popover-content,
#stuck-marketitems .market-place-item .market-item-card .item-menu-container .popover-content {
  padding: 0;
}
#marketitems .market-place-item .market-item-card .item-menu-container .popover-content ul,
#stuck-marketitems .market-place-item .market-item-card .item-menu-container .popover-content ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
#marketitems .market-place-item .market-item-card .item-menu-container .popover-content ul li:first-child,
#stuck-marketitems .market-place-item .market-item-card .item-menu-container .popover-content ul li:first-child {
  border-top: none;
}
#marketitems .market-place-item .market-item-card .item-menu-container .popover-content ul li,
#stuck-marketitems .market-place-item .market-item-card .item-menu-container .popover-content ul li {
  display: block;
  border-top: 1px solid #e0d7d8;
  padding: 4px;
}
#marketitems .market-place-item .market-item-card .item-menu-container .popover-content ul li a.no-icon,
#stuck-marketitems .market-place-item .market-item-card .item-menu-container .popover-content ul li a.no-icon,
#marketitems .market-place-item .market-item-card .item-menu-container .popover-content ul li a.no-icon:hover,
#stuck-marketitems .market-place-item .market-item-card .item-menu-container .popover-content ul li a.no-icon:hover {
  background-image: none;
}
#marketitems .market-place-item .market-item-card .item-menu-container .popover-content ul li a,
#stuck-marketitems .market-place-item .market-item-card .item-menu-container .popover-content ul li a {
  background: url("../images/v2/select_plus.png") 110px center no-repeat;
  margin: 0;
  padding: 10px;
  width: 140px;
  height: 40px;
  display: block;
  text-decoration: none;
  color: #000;
}
#marketitems .market-place-item .market-item-card .item-menu-container .popover-content ul li a:hover,
#stuck-marketitems .market-place-item .market-item-card .item-menu-container .popover-content ul li a:hover {
  color: #fff;
  background: url("../images/v2/select_plus_hover.png") 110px center no-repeat;
  background-color: #beb4ae;
}
#marketitems .market-place-item .market-item-card .item-menu-container .popover-content ul li a.selected,
#stuck-marketitems .market-place-item .market-item-card .item-menu-container .popover-content ul li a.selected {
  background: url("../images/v2/select_tick.png") 110px center no-repeat;
  background-color: #fff;
  color: #ff6d50;
}
#marketitems .market-place-item .market-item-card .item-menu-container .popover-content ul li a.selected:hover,
#stuck-marketitems .market-place-item .market-item-card .item-menu-container .popover-content ul li a.selected:hover {
  background: url("../images/v2/select_tick.png") 110px center no-repeat;
  background-color: #beb4ae;
}
#marketitems .market-place-item .market-item-card .item-menu-container .popover-content ul li a.plain,
#stuck-marketitems .market-place-item .market-item-card .item-menu-container .popover-content ul li a.plain {
  background-image: none;
}
#marketitems .market-place-item .market-item-card .item-menu,
#stuck-marketitems .market-place-item .market-item-card .item-menu {
  position: absolute;
  right: 10px;
  top: 10px;
}
#marketitems .market-place-item .market-item-card .share-twitter,
#stuck-marketitems .market-place-item .market-item-card .share-twitter {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
#marketitems .market-place-item.request,
#stuck-marketitems .market-place-item.request {
  background: #ff4545 url("../images/v2/request_icon.png") no-repeat 10px center;
}
#marketitems .market-place-item.request .item-type,
#stuck-marketitems .market-place-item.request .item-type {
  color: #ff4545;
}
#marketitems .market-place-item.offer,
#stuck-marketitems .market-place-item.offer {
  background: #005d86 url("../images/v2/offer_icon.png") no-repeat 10px center;
}
#marketitems .market-place-item.offer .item-type,
#stuck-marketitems .market-place-item.offer .item-type {
  color: #005d86;
}
#marketitems .market-place-item.request.item-hidden .item-type {
  color: #fb9d9e;
}
#marketitems .market-place-item.offer.item-hidden .item-type {
  color: #7ca9bf;
}
#marketitems .market-place-item.item-hidden .market-item-card {
  background-color: #fbfafb;
}
#marketitems .market-place-item.item-hidden .market-item-card .title {
  color: #8f8e8f;
}
#featured-marketitems .item-menu-container .popover {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
#featured-marketitems .item-menu-container .popover-content {
  padding: 0;
}
#featured-marketitems .item-menu-container .popover-content ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
#featured-marketitems .item-menu-container .popover-content ul li:first-child {
  border-top: none;
}
#featured-marketitems .item-menu-container .popover-content ul li {
  display: block;
  border-top: 1px solid #e0d7d8;
  padding: 4px;
}
#featured-marketitems .item-menu-container .popover-content ul li a.no-icon,
#featured-marketitems .item-menu-container .popover-content ul li a.no-icon:hover {
  background-image: none;
}
#featured-marketitems .item-menu-container .popover-content ul li a {
  background: url("../images/v2/select_plus.png") 110px center no-repeat;
  margin: 0;
  padding: 10px;
  width: 140px;
  height: 40px;
  display: block;
  text-decoration: none;
  color: #000;
}
#featured-marketitems .item-menu-container .popover-content ul li a:hover {
  color: #fff;
  background: url("../images/v2/select_plus_hover.png") 110px center no-repeat;
  background-color: #beb4ae;
}
#featured-marketitems .item-menu-container .popover-content ul li a.selected {
  background: url("../images/v2/select_tick.png") 110px center no-repeat;
  background-color: #fff;
  color: #ff6d50;
}
#featured-marketitems .item-menu-container .popover-content ul li a.selected:hover {
  background: url("../images/v2/select_tick.png") 110px center no-repeat;
  background-color: #beb4ae;
}
#featured-marketitems .item-menu-container .popover-content ul li a.plain {
  background-image: none;
}
.view-post .post-header {
  padding: 10px 0;
}
.view-post .post-header span {
  font-size: 16px;
  font-weight: bold;
  margin-left: 50px;
  color: #fff;
}
.view-post .post-header.offer {
  background: #005d86 url("../images/v2/offer_icon.png") no-repeat 10px center;
}
.view-post .post-header.request {
  background: #ff4545 url("../images/v2/request_icon.png") no-repeat 10px center;
}
.view-post .post-date {
  font-size: 14px;
  font-weight: bold;
  margin: 20px 0;
}
.view-post h1 {
  margin-top: 0;
}
.view-post .post {
  margin: 20px 0;
}
.view-post .post pre {
  padding: 0;
  background: none;
  border: none;
  font-family: "LinotypeUnivers-330Light";
  font-size: 16px;
}
.view-post .post-actions a {
  font-family: "HurmeGeometricSans3-SemiBold";
  padding: 5px 0;
  padding-left: 30px;
  color: #756b65;
  margin-left: 40px;
}
.view-post .post-actions a.recommend {
  margin-left: 0;
  background: url("../images/v2/recommend_off.png") no-repeat left 1px;
}
.view-post .post-actions a.message {
  background: url("../images/v2/direct_message_icon.PNG") no-repeat left 4px;
}
.view-post .post-actions a.report {
  background: url("../images/v2/flag_icon_gray.png") no-repeat left 1px;
}
.view-post .post-actions ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.view-post .post-actions ul li {
  display: inline-block;
}
.view-post .comments {
  margin-top: 20px;
}
.view-post .comments .comments-header {
  font-family: "HurmeGeometricSans3-SemiBold";
  font-size: 18px;
  border-bottom: 1px solid #cdcbcc;
  margin-bottom: 15px;
  padding-bottom: 4px;
}
.view-post .comments .comments-header .comment-count {
  float: right;
  color: #756b65;
  font-size: 14px;
}
.view-post .comments form {
  margin-bottom: 20px;
}
.view-post .comments form .alert {
  margin-bottom: 10px;
}
.view-post .comments form textarea {
  margin-bottom: 10px;
}
.view-post .comment {
  min-height: 60px;
  margin-bottom: 30px;
  position: relative;
  padding-left: 70px;
}
.view-post .comment .avatar {
  position: absolute;
  left: 0;
  top: 0;
}
.view-post .comment .avatar img {
  width: 60px;
  height: 60px;
}
.view-post .comment .comment-header {
  font-family: "HurmeGeometricSans3-SemiBold";
  font-size: 14px;
  margin-bottom: 10px;
}
.view-post .comment .comment-header a {
  color: #262626;
  text-decoration: underline;
}
.view-post .comment .comment-body {
  background-color: #fff;
  padding: 15px;
  -webkit-box-shadow: 0 1px 1px 0 rgba(224,215,216,0.8);
  -moz-box-shadow: 0 1px 1px 0 rgba(224,215,216,0.8);
  -ms-box-shadow: 0 1px 1px 0 rgba(224,215,216,0.8);
  -o-box-shadow: 0 1px 1px 0 rgba(224,215,216,0.8);
  box-shadow: 0 1px 1px 0 rgba(224,215,216,0.8);
}
.view-post .comment .comment-body pre {
  padding: 0;
  background: none;
  border: none;
  font-family: "LinotypeUnivers-330Light";
  font-size: 16px;
}
.poster {
  font-family: "HurmeGeometricSans3-SemiBold";
}
.poster .avatar {
  float: left;
}
.poster .avatar img {
  width: 60px;
  height: 60px;
}
.poster .poster-details {
  float: left;
  margin-left: 20px;
}
.poster .poster-details .poster-name {
  margin: 6px 0 5px 0;
}
.poster .poster-details .poster-name a {
  color: #262626;
  text-decoration: underline;
}
.settings-bar {
  background-color: #b6aba5;
  border-bottom: 4px solid #e0d7d8;
}
.settings-bar .profile-nav-menu {
  display: table;
  margin: 0 auto;
}
.settings-bar .nav-icon {
  margin-left: 5px;
  margin-right: 5px;
  position: relative;
  text-align: center;
  font-size: 14px;
  color: #fff;
  font-family: "HurmeGeometricSans3-SemiBold";
  width: 90px;
  height: 70px;
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
.settings-bar .nav-menu-item {
  width: 90px;
  margin-top: 5px;
}
.settings-bar .spacer {
  height: 5px;
}
.settings-bar .nav-menu-text {
  position: absolute;
  bottom: 5px;
  width: 100%;
}
.settings-bar .nav-icon.selected,
.settings-bar .nav-icon:hover {
  cursor: pointer;
  background-color: #b6aba5;
  color: #756b65;
  background-color: #fff;
}
.settings-bar .inbox .nav-menu-item {
  height: 19px;
  background: url("../images/v2/profile-message-icon.png") center 0 no-repeat;
}
.settings-bar .inbox .spacer {
  height: 10px;
}
.settings-bar .nav-icon.inbox.selected .nav-menu-item,
.settings-bar .nav-icon.inbox:hover .nav-menu-item {
  background: url("../images/v2/profile-message-icon.png") center -19px no-repeat;
}
.settings-bar .notifications .nav-menu-item {
  height: 30px;
  background: url("../images/v2/profile-notifications-icon.png") center 0 no-repeat;
}
.settings-bar .nav-icon.notifications.selected .nav-menu-item,
.settings-bar .nav-icon.notifications:hover .nav-menu-item {
  background: url("../images/v2/profile-notifications-icon.png") center -30px no-repeat;
}
.settings-bar .profile .nav-menu-item {
  height: 30px;
  background: url("../images/v2/profile-profile-icon.png") center 0 no-repeat;
}
.settings-bar .nav-icon.profile.selected .nav-menu-item,
.settings-bar .nav-icon.profile:hover .nav-menu-item {
  background: url("../images/v2/profile-profile-icon.png") center -30px no-repeat;
}
.settings-bar .settings .nav-menu-item {
  height: 30px;
  background: url("../images/v2/profile-settings-icon.png") center 0 no-repeat;
}
.settings-bar .nav-icon.settings.selected .nav-menu-item,
.settings-bar .nav-icon.settings:hover .nav-menu-item {
  background: url("../images/v2/profile-settings-icon.png") center -30px no-repeat;
}
.setting-page {
  margin-top: 20px;
}
.setting-page hr {
  border-top: 1px solid #cdcbcc;
}
.setting-page .settings-title {
  font-family: "HurmeGeometricSans3-SemiBold";
  color: #756b65;
  margin-bottom: 10px;
}
.setting-page .profile-actions {
  font-family: "HurmeGeometricSans3-SemiBold";
  color: #756b65;
}
.setting-page .profile-actions .profile-action-icon {
  width: 35px;
  margin-right: 5px;
  float: left;
}
.setting-page .profile-actions .rate-user {
  margin-bottom: 8px;
}
.setting-page .profile-actions .rate-user .rate-icon {
  background: url("../images/v2/profile-rate.png") center 0 no-repeat;
  height: 22px;
}
.setting-page .profile-actions .rate-user .profile-action-text {
  line-height: 26px;
}
.setting-page .profile-actions .rate-user:hover {
  cursor: pointer;
  color: #262626;
}
.setting-page .profile-actions .rate-user:hover .rate-icon {
  background: url("../images/v2/profile-rate.png") center -22px no-repeat;
}
.setting-page .profile-actions .message-user {
  margin-bottom: 10px;
}
.setting-page .profile-actions .message-user .message-icon {
  background: url("../images/v2/profile-direct-message.png") center center no-repeat;
  height: 22px;
}
.setting-page .profile-actions .message-user .profile-action-text {
  line-height: 26px;
}
.setting-page .profile-actions .message-user:hover {
  cursor: pointer;
  color: #262626;
}
.setting-page .profile-actions .report-user {
  margin-bottom: 8px;
}
.setting-page .profile-actions .report-user .report-icon {
  background: url("../images/v2/profile-report.png") center 0 no-repeat;
  height: 21px;
}
.setting-page .profile-actions .report-user .profile-action-text {
  line-height: 23px;
}
.setting-page .profile-actions .report-user:hover {
  cursor: pointer;
  color: #262626;
}
.setting-page .profile-actions .report-user:hover .report-icon {
  background: url("../images/v2/profile-report.png") center -21px no-repeat;
}
.settings-form {
  margin-top: 20px;
}
.settings-form h1 {
  margin-top: 0;
}
.settings-form .settingavatar {
  text-align: center;
}
.settings-form .settingavatar img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
.settings-form #changeavatar {
  line-height: 100px;
}
.settings-form .folder-select {
  padding-top: 20px;
  padding-bottom: 20px;
}
#profile_change_stuff img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
#ratedialog .stars0 {
  background: url("/static/images/stars.png") 0 0px;
  width: 118px;
  height: 22px;
  display: inline-block;
}
#ratedialog .stars1 {
  background: url("/static/images/stars.png") 0 108px;
  width: 118px;
  height: 21px;
  display: inline-block;
}
#ratedialog .stars2 {
  background: url("/static/images/stars.png") 0 86px;
  width: 118px;
  height: 21px;
  display: inline-block;
}
#ratedialog .stars3 {
  background: url("/static/images/stars.png") 0 65px;
  width: 118px;
  height: 21px;
  display: inline-block;
}
#ratedialog .stars4 {
  background: url("/static/images/stars.png") 0 43px;
  width: 118px;
  height: 21px;
  display: inline-block;
}
#ratedialog .stars5 {
  background: url("/static/images/stars.png") 0 22px;
  width: 118px;
  height: 22px;
  display: inline-block;
}
#postman {
  margin-top: 20px;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 1px 0 rgba(224,215,216,0.8);
  -moz-box-shadow: 0 1px 1px 0 rgba(224,215,216,0.8);
  -ms-box-shadow: 0 1px 1px 0 rgba(224,215,216,0.8);
  -o-box-shadow: 0 1px 1px 0 rgba(224,215,216,0.8);
  box-shadow: 0 1px 1px 0 rgba(224,215,216,0.8);
}
#postman .folder-select {
  padding: 5px;
}
#postman .conv_link {
  cursor: pointer;
}
#postman .sidebar .message {
  padding: 5px 5px 5px 28px;
  background-color: #f8f6f7;
  position: relative;
  cursor: pointer;
}
#postman .sidebar .message .status {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  border: 2px solid #fe6d50;
  position: absolute;
  left: 8px;
  top: 12px;
}
#postman .sidebar .message h4 {
  font-family: "HurmeGeometricSans3-SemiBold";
  margin: 0;
  color: #262626;
}
#postman .sidebar .message .date {
  float: right;
}
#postman .sidebar .message.new .status {
  background-color: #fe6d50;
}
#postman .sidebar .message.new.selected .status {
  background-color: #fff;
}
#postman .sidebar .message.alt {
  background-color: #fff;
}
#postman .sidebar .message.selected {
  background-color: #fe6d50;
  color: #fff;
}
#postman .sidebar .message.selected h4 {
  color: #fff;
}
#postman .sidebar .message.selected .status {
  border-color: #fff;
}
#conversation {
  border-left: 1px solid #e0d7d8;
}
#conversation h1 {
  color: #262626;
  font-family: "HurmeGeometricSans3-SemiBold";
  margin: 0;
}
#conversation .conversation-header {
  padding: 10px;
  border-bottom: 1px solid #e0d7d8;
}
#conversation .replyarea {
  padding: 10px;
  border-bottom: 1px solid #e0d7d8;
}
#conversation .replyarea button {
  margin-top: 10px;
}
#conversation .message {
  border-bottom: 1px solid #e0d7d8;
}
#conversation .message.alt {
  background-color: #f8f6f7;
}
#conversation .message-header {
  padding: 10px;
  cursor: pointer;
}
#conversation .message-header .send-receive {
  font-family: "HurmeGeometricSans3-SemiBold";
}
#conversation .message-header a {
  color: #fe6d50;
  text-decoration: underline;
}
#conversation .message-body {
  padding: 0 10px 10px 10px;
}
#conversation .message-body hr {
  padding-bottom: 10px;
  margin: 0;
}
#conversation .message:last-child {
  border-bottom: none;
}
#profile-view .view-public {
  margin-top: 10px;
  text-align: right;
  font-size: 14px;
}
#profile-view .vetting-status .status.warn {
  color: #f00;
}
#notifications {
  margin-top: 20px;
}
#notifications .details.new {
  font-weight: bold;
}


@media (max-width: 992px) {
  .movements-form {
    padding: 25px 15px 25px 15px;
  }
  .extended-form {
    padding: 0 15px 0 15px;
  }
}

