@media (max-width: 767px)
  .market-action-wrap
    margin-top: 0
  .footer-logos
    .left
      text-align center
      margin-bottom 5px
    .middle
      text-align center
      margin-bottom 5px
    .right
      text-align center
  .navbar-fixed-bottom
    position relative
  .sign-up-initial
    margin-bottom 10px
  .social-sign-up
    margin-top 20px
  .market-place-item
    width: 100%
  .exchange-filter
    .market-filter-main
      .market-filter-border
        border-right: none
  .market-action
    font-size 80%

  #notificatoins
    font-size 90%

  .actions
   .item-glyph
     font-size 120%
   .commentcount
     font-size 100%
     vertical-align super
     margin-left 0


@media (max-width: 500px)
  .actions
    height auto
    .actionitem
      height 30px
    .right-on-large
      float left!important
    .rate.rate_user.actionitem
      padding-top: 5px!important;
      padding-bottom 5px

    .commentaction
      margin-left 10px
      margin-right 10px
      padding-top: 5px!important;

  .filter-toggle-button
    #filterbuttontext
      font-size 8px

  #create_offer
    margin-right 10px!important
    margin-left 0px!important

