::-webkit-input-placeholder {
  font-style: italic;
}
::-moz-placeholder {
  font-style: italic;
}
:-ms-input-placeholder {
  font-style: italic;
}
.movements-form {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  padding: 25px 15px 25px 15px;
  -webkit-box-shadow: 0 1px 1px 0 rgba(224,215,216,0.8);
  -moz-box-shadow: 0 1px 1px 0 rgba(224,215,216,0.8);
  -ms-box-shadow: 0 1px 1px 0 rgba(224,215,216,0.8);
  -o-box-shadow: 0 1px 1px 0 rgba(224,215,216,0.8);
  box-shadow: 0 1px 1px 0 rgba(224,215,216,0.8);
}
.movements-form h1 {
  color: #005e86;
}
.movements-form h2 {
  color: #262626;
  font-size: 20px;
}
.movements-form .form-title {
  text-align: center;
}
.movements-form .action-text {
  margin-top: 30px;
  text-align: center;
}
.movements-form .action-link {
  line-height: 40px;
}
.movements-form .form-main-button {
  margin-top: 15px;
}
.movements-form a {
  color: #262626;
  font-weight: bold;
}
.movements-form label {
  margin-top: 10px;
}
.movements-form input[type=text]:focus,
.movements-form input[type=email]:focus,
.movements-form input[type=number]:focus,
.movements-form input[type=password]:focus,
.movements-form select:focus,
.movements-form textarea:focus {
  border-color: rgba(254,109,80,0.8);
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.075);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.075);
  -ms-box-shadow: 0 1px 1px rgba(0,0,0,0.075);
  -o-box-shadow: 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: 0 1px 1px rgba(0,0,0,0.075);
  outline: 0 none;
}
.movements-form input[type=text],
.movements-form input[type=email],
.movements-form input[type=number],
.movements-form input[type=password],
.movements-form select {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  height: 40px;
}
.extended-form {
  margin-top: 30px;
}
.extended-form .action-text {
  margin-top: 30px;
  text-align: center;
}
.extended-form .form-main-button {
  margin-top: 15px;
}
.btn {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 9px 12px;
  font-weight: bold;
}
.btn-action {
  background-color: #fe6d50;
  color: #fff;
}
.btn-action:hover {
  color: #fff;
}
.btn-social-facebook {
  background-color: #3c5a9a;
  color: #fff;
}
.btn-social-facebook img {
  margin-right: 10px;
}
.btn-social-facebook:hover {
  color: #fff;
}
html {
  background-color: #f8f6f7;
}
body {
  background-color: #f8f6f7;
  color: #262626;
}
.container {
  max-width: 960px;
}
.navbar-default {
  background-color: #f8f6f7;
}
.header-nav {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  border: 0;
  border-bottom: 5px solid #e0d7d8;
}
.header-nav .header-nav-wrapper {
  text-align: center;
}
.header-nav .header-nav-wrapper .main-logo {
  padding-top: 15px;
}
.footer-navbar {
  background-color: #bdb4af;
  min-height: 35px;
  color: #fff;
  line-height: 35px;
}
.footer-navbar .right-elements {
  float: right;
}
.footer-navbar .right-elements img {
  margin-left: 15px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #005e86;
}

