@media (max-width: 767px)
  #view-content-menu
    width 41px
    .action-font
      display none
  #view-profile-menu
    width 41px
    left 45px
    .action-font
      display none

@media (max-width: 479px)
  .header-nav
    .header-nav-wrapper
      left 56%
  #AddPostText
    display none
  #add-post-popup-container
    .arrow
      left 112px