$page-banner-height-xs = 350px

@media (max-width: 767px)
  .navbar
    min-height 50px
  .navbar-header
    height 75px
  .navbar-header-top
    .main-logo
      margin-top 8px
      margin-left 15px
    .navbar-nav > li, .navbar-nav > li:last-child
      border-left none
      border-right none
    .navbar-toggle
      margin-top 5px
    .user-info
      padding-top 0
      margin-bottom 10px
      font-size 16px
  #collapse-menu
    li
      text-align right
      margin-right 0
      a
        line-height 35px
      .open-account
        margin-bottom 10px
      .dropdown-flag
        img
          float right
          margin-left 20px
          padding-top 6px
    .dropdown-menu
      li
        a
          line-height 30px
  .navbar-collapse
    max-height inherit
  .page-banner
    height $page-banner-height-xs
    .carousel-inner
      .item
        height $page-banner-height-xs
      .carousel-content
        height $page-banner-height-xs
        .carousel-title
          font-size 24px
          padding-left inherit
          padding-right inherit
          width inherit
          top inherit
          bottom 195px
          left 0
          text-align left
    .stats-banner
      max-width 370px
      bottom 70px
      left 14px
  .landing-page
    .landing-content
      height auto
      .container
        height auto
    .request-background
      background url("../images/v2/request_background_mobile.jpg")
      background-repeat repeat
      .container
        div
          padding 10px 0
    .offer-background
      background url("../images/v2/offer_background_mobile.jpg")
      background-repeat repeat
      .container
        div
          padding 10px 0
  .testimonial
    padding-top 20px
    padding-bottom 20px
  footer
    .footer-copyright
      text-align center
    .footer-nav-content
      text-align center
      margin-top 15px


@media (min-width: 767px)
  .partner-section
    .collapse-non-xs
      height auto
      display block

@media (max-width: 991px)
  .stats-banner
    bottom 15px
    right 15px
  .cms-left-column
    padding-top 0
    .left-navigation.toggled
      display none