@media (max-width: 500px)
  .actions
    .routehref
      clear left
    .right-on-large
      float left!important
  .filter-toggle-button
    #filterbuttontext
      font-size 8px

  #create_offer
    margin-right 10px!important
    margin-left 0px!important



/* catch iPad in landscape */
@media only screen and (max-device-width : 1024px)
  .affix
    position: inherit

@media (max-width: 992px)
  #google_translate_element
    margin-top 0px
    margin-left 10px

  .market-place-item
    width: 48.8%
  .hero-text
    font-size 1.3em

  .hidelarge
    display inline

  .hidemobile
    display none!important

  #postman_message
    #back
      visibility visible;
  li.navavatar
    display: none

  .affix
    position: inherit

  #create_offer
    margin-right: 70px;
    margin-left 10px


  /* Reduce collapse point of nav bar */
  .navbar-header
    float: none

  .navbar-toggle
    display: block

  .exchange-filter
    .filterbuttons-cont
      max-height none
      height auto
      overflow auto
      padding-left 20px
      padding-right 10px
    .market-filter-main
      .market-filter-border
        border: 0px

  .filter-toggle-button
    margin-top 15px
    margin-right 10px

  .navbar-collapse
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1)
    max-height: none;

  .navbar-collapse.collapse
    display: none!important

  .navbar-nav
    float: none!important;
    margin: 7.5px -15px

  .navbar-nav>li
    float: none

  .navbar-nav>li>a
    padding-top: 10px
    padding-bottom: 10px

  .navbar-nav .open .dropdown-menu
    background-color: rgba(0, 0, 0, 0);
    border: 0 none;
    box-shadow: none;
    float: none;
    margin-top: 0;
    position: static;
    width: auto;

  .nanamorde
    display none

  .nanamorde-mobile
    margin-bottom 10px
    padding-top 10px
    display block

  #messages-title
    display inline

  .left-on-big
    float none

  .actions
    .actionitem
      float left
    .right-on-large
      float right
      margin-top 0
    .item-glyph
      font-size 150%
    .commentcount
      font-size 100%
      vertical-align super
      margin-left 0
  .user-profile
    .actions
      width inherit
      margin-left 5px
      float none

