$border-color = #e7e7e7;
$warn-color = #FF0000;

vendor(prop, args)
  -webkit-{prop} args
  -moz-{prop} args
  -ms-{prop} args
  -o-{prop} args
  {prop} args

border-radius()
  vendor('border-radius', arguments)

box-shadow()
  vendor('box-shadow', arguments)

.container-liquid
  padding: 0 15px
  margin: 0 auto

.center-content
  text-align: center

.full-width
  width: 100%

.filter-fixed-width
  width: 70px

.in-container
  border: 1px solid $border-color
  padding: 15px
  border-radius: 5px

.align-right
  text-align: right  

.errorlist
  padding 0
  li 
    color $warn-color
    list-style none

.col-spacing-bottom
  margin-bottom: 15px

select.input-extra-height
  height: 90px

.item_container:hover
  cursor: pointer


.item-contents
  max-height: 101px
  overflow: hidden

.message-well
  background-color #f5f5f5
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05)
  padding: 9px
  height: 53px
