// **************************************
// default colors
// **************************************
$primary-color = #FE6D50
$primary-color-alpha = rgba(254, 109, 80, 0.8)
$secondary-color = #BDB4AF
$third-color = #005D86
$background-color = #F8F6F7
$border-color = #E0D7D8
$border-color-alpha = rgba(224, 215, 216, 0.8)
$facebook-blue = #3C5A9A
$separator-color = #ded8d6
$footer-color =  #B6ABA5

// **************************************
// font colors
// **************************************
$main-font = #262626
$white-font = #FFFFFF
$title-font = #005E86
$inactive-font = #b7aba5


// **************************************
// some generic functions
// **************************************
vendor(prop, args)
  -webkit-{prop} args
  -moz-{prop} args
  -ms-{prop} args
  -o-{prop} args
  {prop} args

border-radius()
  vendor('border-radius', arguments)

box-shadow()
  vendor('box-shadow', arguments)

::-webkit-input-placeholder
  font-style normal

::-moz-placeholder
  font-style normal

:-ms-input-placeholder
  font-style normal

// **************************************
// form styles
// **************************************
.movements-form
  border-radius 0
  padding 45px 65px 45px 65px
  box-shadow 0 1px 1px 0 $border-color-alpha
  h1
    color $title-font
  h2
    color $main-font
    font-size 20px
  .form-title
    text-align center
  .action-text
    margin-top 30px
    text-align center
  .action-link
    line-height 40px
  .form-main-button
    margin-top 15px
  a
    color $main-font
    font-weight bold
  label
    margin-top 10px
    font-family "HurmeGeometricSans3-Bold"
    font-weight lighter
  input, select, textarea
    font-size 16px
  input[type=text]:focus, input[type=email]:focus, input[type=number]:focus, input[type=password]:focus, select:focus, textarea:focus
    border-color $primary-color-alpha
    box-shadow 0 1px 1px rgba(0, 0, 0, 0.075)// inset, 0 0 8px rgba(254, 109, 80, 0.6)
    outline 0 none
  input[type=text], input[type=email], input[type=number], input[type=password], select
    border-radius 3px
    height 40px

.extended-form
  margin-top 30px
  padding 0 65px 0 65px
  .action-text
    margin-top 30px
    text-align center
  .form-main-button
    margin-top 15px

// **************************************
// button styles
// **************************************

.btn
  border-radius 3px
  padding 9px 12px
  font-weight bold
  font-size 16px

.btn-action
  background-color $primary-color
  color $white-font

.btn-action:hover, .btn-action:active, .btn-action:focus
  color $white-font

.btn-social-facebook
  background-color $facebook-blue
  color $white-font
  img
    margin-right 10px

.btn-social-facebook:hover, .btn-social-facebook:active, .btn-social-facebook:focus
  color $white-font

// **************************************
// bootstrap overrides
// **************************************
.dialog
  background-color #fff

// **************************************
// base styles
// **************************************

html
  background-color $footer-color

body
  background-color $background-color
  color $main-font
  font-family "LinotypeUnivers-330Light"
  font-size 16px

.container
  max-width 960px

.navbar-default
  background-color $background-color

.header-nav
  border-radius 0
  border 0
  border-bottom 4px solid $border-color
  .header-nav-wrapper
    text-align center
    .main-logo
      padding-top 15px

footer
  margin-top 30px
  font-size 14px
  background-color $footer-color
  border-top 4px solid $border-color
  color #fff
  h4
    color #fff
    margin-top 30px
  .social-icons
    img
      margin-right 20px
  input
    font-size 14px
  input[type=text]:focus, input[type=email]:focus
    border-color $primary-color-alpha
    box-shadow 0 1px 1px rgba(0, 0, 0, 0.075)
    outline 0 none
  input[type=text], input[type=email]
    border-radius 3px
    height 30px
    width 80%
  hr
    border-top 1px solid $border-color
    margin-top 5px
    margin-bottom 15px
  .footer-nav-content
    text-align right
    li
      display inline-block
      border-left 1px solid $border-color
      line-height 16px
      a
        margin-left 11px
        color #fff
        text-decoration underline
    li:first-child
      border-left none

.footer-navbar
  background-color $secondary-color
  min-height 35px
  color $white-font
  line-height 35px
  .right-elements
    float right
    img
      margin-left 15px

h1,h2,h3,h4,h5,h6
  color $title-font
  font-family "HurmeGeometricSans3-Bold"

.btn
  font-family "HurmeGeometricSans3-Bold"
  font-weight lighter


// **************************************
// Sign up styles
// **************************************
.progress-counter
  border-top 2px solid $border-color
  margin-bottom 50px
  position relative
  .progress-item
    position absolute
    top -14px
  .progress-item-description
    font-weight bold
  .complete-state
    text-align center
    font-size 35px
    line-height 25px
    span
      background-color #ffffff
      padding-left 3px
      padding-right 3px
  .step1
    left -20px
  .step2
    left 15%
  .step3
    left 42%
  .step4
    left 70%
  .step5
    right -20px
  .complete
    color $title-font
  .current
    color $main-font
  .outstanding
    color $inactive-font

.form-select-multi
  min-height 250px
  .row
    margin-top 15px
  input[type=checkbox]
    display none

  .select-checkbox
    width 100%
    height 30px
    padding 6px
    border 1px solid $border-color
    box-shadow 0 1px 1px 0 $border-color-alpha
    background-color #fff
    border-radius 3px
    color $inactive-font
    cursor pointer

  .select-checkbox.checked
    box-shadow none
    background-color $third-color
    border none
    color #fff

  .select-checkbox label
    margin 0
    cursor pointer
    position absolute
    width 16px
    height 16px
    border 1px solid $border-color
    background-color #fff

  .select-checkbox label:after
    opacity 0
    content ''
    position absolute
    width 17px
    height 9px
    background transparent
    top -1px
    left 2px
    border 3px solid #fff
    border-top none
    border-right none
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);

  .select-checkbox input[type=checkbox]:checked + label:after
    opacity 1

  .select-checkbox input[type=checkbox]:checked + label
    background-color #0D2E3F
    border 1px solid #0D2E3F

  .select-label
    font-size 12px
    margin-left 23px
    line-height 19px


// **************************************
// exchange page
// **************************************
.exchange-filters
  border-bottom 2px solid $separator-color
  margin-bottom 20px