$dummy-counter = 117
$bg-color = #f4f4f4
$text-color = #596066
$header-text = #a3a3a3
$border-color = #e7e7e7
$warn-color = #ff0000
$offer-color = #BBEEFF
$request-color = #89DDDD
$filter-background = #585F65
$filter-item-selected = #444D54
$dialog-bg-color = rgba(255, 255, 255, 0.85)
$warning-bg-color = rgba(185, 74, 72, 0.69)
$std-border-radius = 10px
$modal-dialog-bg = #EAEAEA

//$issues-color = #FFF4D8
//$countries-color = #DAF6FF
//$skills-color = #FFDED8

//$issues-color = #96D5E9
//$countries-color = #CCF2FF
//$skills-color = #DAF6FF

//$issues-color = #cdcdcd
//$countries-color = #e8e8e8
//$skills-color = #fbfbfb

$issues-color = #e8e8e8
$countries-color = #e8e8e8
$skills-color = #e8e8e8


#google_translate_element
  margin-top: 12px;
.goog-te-banner-frame
  top -100px!important

vendor(prop, args)
  -webkit-{prop} args
  -moz-{prop} args
  -ms-{prop} args
  -o-{prop} args
  {prop} args

border-radius()
  vendor('border-radius', arguments)

box-shadow()
  vendor('box-shadow', arguments)

::-webkit-input-placeholder
  font-style italic

::-moz-placeholder
  font-style italic

:-ms-input-placeholder
  font-style italic

/******************************************************************************
 * Bootstrap overloads
 */

.navbar-default
  background-color $bg-color

.navbar
  margin-bottom 0

.navbar-fixed-top
  z-index 1031

body
  background-color $bg-color

.form-group
  margin-bottom 5px

.btn
  border-radius $std-border-radius
  color $text-color

.narrow .container
  max-width 970px

.backstretch
  background-color rgba(0, 0, 0, 0.63)

.round-image
  img
    border-radius 50%

.alert
  border-radius 15px

.dropdown-menu
  .btn-link
    color #333
    padding 3px 20px
    display block
    border-radius 0
    text-align left
    width 100%
  .btn-link:focus, .btn-link:hover
    color #262626
    text-decoration none
    background-color #f5f5f5

.btn:focus
  outline: none

.dialog
  h1
    margin-top 0
    font-size 2em
    color #59606A
  h2
    color #59606A
  h3
    color #59606A
  h4
    color #59606A
  a
    color $text-color
    text-decoration underline
  a.btn
    text-decoration none
  padding 15px
  background-color $dialog-bg-color
  border-radius $std-border-radius

pre
  word-break: normal
  font-family Helvetica, Arial, sans-serif;
  font-size 14px
  background-color white

.modal-content
  background-color $modal-dialog-bg
  .modal-title
    color $text-color
  .modal-title
    margin-left 5px
  .modal-footer
    padding 0
    padding-top: 15px

/******************************************************************************
 * Site styles
 */

body
  color $text-color

h1, h2, h3, h4
  color $header-text

.hr-no-margin
  margin-bottom: 0
  margin-top: 0

.center-content
  text-align: center

.full-width
  width: 100%!important

.filter-fixed-width
  width: 70px

.align-right
  text-align: right

.errorlist
  padding 0
  li
    color $warn-color
    list-style none

.selected
  background-color $filter-item-selected
  color white
.selected:hover
  background-color $filter-item-selected
  color white

.hidelarge
  display none

.nanamorde-mobile
  display none

.nanamorde
  display none
  margin-top 12px

.left-on-big
  float left

.right-on-big
  float right

.grey-spacer
  height: 32px

.header-spacer
  height: 10px

.col-spacing-bottom
  margin-bottom: 15px

.affix
  width: 100%
  top: 51px
  z-index: 100
  position fixed


select.input-extra-height
  height: 90px


.market-action:hover
  cursor: pointer

.action-banner-spacer
  background-color: #FFF
  height: 2px

.exchange-actions
  color: #FFF
  background-color: $filter-background
  padding-bottom: 5px
  padding-top: 5px

.rateit
  vertical-align middle

.action-container
  margin-bottom 0px;

#main-content-container
  margin-top 10px


.hero-text
  color #fff
  font-size 2em
  margin 20px 0
  a
    color #fff
    text-decoration underline
  a:hover
    color #262626

.content-page
  h1
    margin-bottom 20px
  h4
    margin 0
    color $text-color
  p
    margin-bottom 20px


.sign-up-form, .public
  input[type=text], input[type=email], input[type=number], input[type=password]
    border-radius $std-border-radius
    height 45px
  label
    font-weight normal

.private
  margin-top 20px
  margin-bottom 20px

.public
  margin-top 20px
  margin-bottom 20px
  .warning
    padding 15px
    margin-bottom 20px
    background-color $warning-bg-color
    border-radius $std-border-radius

.social-sign-up .dialog
  margin-bottom 10px
  a
    position relative
    img
      vertical-align text-bottom
      position absolute
      left 0
    color $text-color
    padding-left 30px

#settingform
  label
    margin-top 5px
    margin-bottom 9px

.settings-page-error
  margin-bottom -17px
  margin-left 15px
  margin-top 10px

#changeavatardialog
  ul
    list-style-type: none;
  li
    display: inline-block;

  .grey-content
    background-color: #EAEAEA;

  img
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;

.settings-change-avatar
  text-align: center
  margin-top: 10px
  img
    border-radius 50%
  h2
    margin-top 0
  .tag-line
    margin-bottom: 10px

.profile-item
  margin-bottom: 10px

.profile-label
  font-weight: bold

.user-profile
  .actions
    width 350px
    margin-right 5px
    float right
    margin-top -10px

.miniprof-score
  display none

.profile-avatar
  text-align: center
  img
    border-radius: 50%

.market-search-box
  margin-bottom 10px
  .input-group
    .form-control
      border-radius 10px 0 0 10px !important
  .tt-hint
    border-radius 10px


li.list-group-item
  line-height: 30px
  padding-bottom: 0

#pm_messages
  .action-container
    margin-bottom 10px;
    font-size 83%
  .actionitem
    padding 2px

/******************************************************************************
 * Imports
 */
@import 'market/actions'
@import 'market_common'
@import 'marketitem'
@import 'filter'
@import 'navbar'
@import 'postman'
@import 'typeahead_widget'
@import 'comment'