// **************************************
// default colors
// **************************************

$secondary-color = #BDB4AF
$background-color = #F8F6F7
$border-color = #E0D7D8

// **************************************
// font colors
// **************************************

$white-font = #FFFFFF


// **************************************
// some generic functions
// **************************************
vendor(prop, args)
  -webkit-{prop} args
  -moz-{prop} args
  -ms-{prop} args
  -o-{prop} args
  {prop} args

border-radius()
  vendor('border-radius', arguments)

box-shadow()
  vendor('box-shadow', arguments)

::-webkit-input-placeholder
  font-style italic

::-moz-placeholder
  font-style italic

:-ms-input-placeholder
  font-style italic


// **************************************
// base styles
// **************************************

html
  background-color $background-color

body
  background-color $background-color

.container
  max-width 960px

.navbar-default
  background-color $background-color

.header-nav
  border-radius 0
  border 0
  border-bottom 5px solid $border-color
  .header-nav-wrapper
    text-align center
    .main-logo
      padding-top 15px

.footer-navbar
  background-color $secondary-color
  min-height 35px
  color $white-font
  line-height 35px
  .right-elements
    float right
    img
      margin-left 15px

