@media (max-width: 767px)
  .exchange-banner
    background-image: none
  .market-action-wrap
    margin-top: 0
  .home-logos
    .left
      text-align center
      margin-bottom 5px
    .middle
      text-align center
      margin-bottom 5px
    .right
      text-align center
  .sign-up-initial
    margin-bottom 10px
  .social-sign-up
    margin-top 20px
  .market-place-item
    width: 100%