{% extends "admin/index.html" %}

{% block extra_sidebar %}

  {% if custom_list %}
    <div class="module">
      <h2>Group Management</h2>
      <ul>
          <li><a href="{% url 'admin:app_groupuser_changelist' %}">Groups and Users</a></li>
      </ul>
    </div>

    <div class="module">
      <h2>Security</h2>
      <ul>
          <li><a href="{% url 'two_factor:setup' %}">2 Factor Setup</a></li>
      </ul>
    </div>

    <div class="module">
      <h2>System Actions</h2>
      <ul>
          <li><a href="{% url 'admin:notification_ping' %}">Notification ping</a></li>
      </ul>
    </div>
  {% endif %}

{% endblock extra_sidebar %}
