{% extends "base_form.html" %}

{% load i18n %}
{% load widget_tweaks %}

{% block public-content-message %}
<form class="form-horizontal"  method="post">
  {% csrf_token %}
  <div class="dialog movements-form new-post">
    <div>
      <div class="form-title"><h1>{% trans "Offer a service" %}</h1></div>
      <p>{% blocktrans %}Do you have expertise to offer?{% endblocktrans %}</p>
      <p>{% blocktrans %}An Offer can be technical or professional skills, an opportunity to publish a story, or any skill that may be of help to others. Your Offer will be posted on Movements and will be seen by all members.{% endblocktrans %}</p>
      {{ form.non_field_errors }}
    </div>
    <div>
      <div class="form-sub-title"><h2>{% trans "1. What skills can you offer?" %}</h2></div>
      <div class="form-select-multi">
        {{ form.interests }}
      </div>
      <label for="{{ form.specific_skill.auto_id }}">{% trans 'Other' %}</label>
      <div class="form-group">
        <div class="col-xs-12">
          {% render_field form.specific_skill class="form-control" placeholder="" maxlength="30" %}
          {{ form.specific_skill.errors }}
          {{ form.interests.errors }}
        </div>
      </div>
    </div>
    <div>
      <div class="form-sub-title"><h2>{% trans "2. Which countries are you interested in helping?" %}</h2></div>
      <div class="form-select-multi">
        {{ form.countries }}
      </div>
    </div>
    <div>
      <p style="margin-top: 15px;">Movements.org provides access to skills and experts. Please describe your skills, abilities, or services below. Be as explicit and clear as possible.</p>
      <div class="form-sub-title"><h2>{% trans "3. Title of your post" %}</h2></div>
      <p>Be specific and clear.</p>
      <div class="form-group">
        <div class="col-xs-12">
          {% render_field form.title class="form-control input-sm" required="true" placeholder="" %}
          {{ form.title.errors }}
        </div>
      </div>
    </div>
    <div>
      <div class="form-sub-title"><h2>{% trans "4. Please write your post" %}</h2></div>
      <p>Tell a compelling story.</p>
      {% render_field form.details class="form-control input-sm" required="true" placeholder="" %}
      {{ form.details.errors }}
    </div>
{#    <div>#}
{#      <div class="form-sub-title"><h2>{% trans "4. Tag your post" %}</h2></div>#}
{#    </div>#}
    <div>
      <div class="form-group">
        <div class="col-xs-12">
          <label for="{{ form.tweet_permission.auto_id }}">{% trans "May we tweet this request?" %}</label>
          {% render_field form.tweet_permission class="" placeholder="" %}
          {{ form.tweet_permission.errors }}
          <p>We won’t use your name or any identifying information</p>
         </div>
      </div>
    </div>
    <div style="display: none;">
      <div class="form-group">
        <div class="col-xs-12">
          <label for="{{ form.receive_notifications.auto_id }}">{% trans "Receive notifications" %}</label>
          {% render_field form.receive_notifications class="" placeholder="" %}
          {{ form.receive_notifications.errors }}
         </div>
      </div>
    </div>

    <div style="margin-top: 20px;">
      <div class="form-group">
        <div class="col-xs-12">
          <button class="btn btn-action pull-right">Post now</button>
        </div>
      </div>
    </div>
  </div>
</form>
{% endblock %}

{% block javascript %}
  <script type="text/javascript">
    window.ahr.initCreatePost();
    window.ahr.widgets.initAccordionView();
  </script>
{% endblock %}
