{% extends "base_form.html" %}

{% load i18n %}
{% load widget_tweaks %}

{% block public-content-message %}
  <form class="form-horizontal" method="post">
    {% csrf_token %}
    <div class="dialog movements-form new-post">
      <div>
        <div class="form-title"><h1>{% trans "Request a service" %}</h1></div>
        <p>
          {% blocktrans %}A Request is a way to ask for help from experts on Movements. Be as specific and clear as possible about what you need.  If you need a lawyer tell us what kind (asylum or civil?) Where do you need that lawyer (In the UK,  US or China?)  The more you explain your need, the easier it will be for someone to help.{% endblocktrans %}
        </p>
        {{ form.non_field_errors }}
      </div>
      <div>
        <div class="form-sub-title"><h2>{% trans "1. What skills do you need?" %}</h2></div>
        <div class="form-select-multi">
          {{ form.interests }}
          <label for="{{ form.specific_skill.auto_id }}">{% trans 'Other' %}</label>
          <p>Movements.org provides access to skills and experts. At this time, we cannot provide funding or equipment. If you need either please see the Resources page. What might be available is a proposal writer to help you secure funding from a different source.</p>
          <div class="form-group">
            <div class="col-xs-12">
              {% render_field form.specific_skill class="form-control" placeholder="" maxlength="30" %}
              {{ form.specific_skill.errors }}
            </div>
          </div>
        </div>
      </div>

      <div>
        <div class="form-sub-title"><h2>{% trans "2. What countries does this affect?" %}</h2></div>
        <div class="form-select-multi">
          {{ form.countries }}
        </div>
      </div>

      <div>
        <div class="form-sub-title"><h2>{% trans "2. Title of your post" %}</h2></div>
        <p>Be specific and clear. Think of this as a tweet.</p>
        <div class="form-group">
          <div class="col-xs-12">
            {% render_field form.title class="form-control input-sm" required="true" placeholder="" %}
            {{ form.title.errors }}
          </div>
        </div>
      </div>
      <div>
        <div class="form-sub-title"><h2>{% trans "3. Please write your post" %}</h2></div>
        <p>Tell a compelling story and state your needs.</p>
        {% render_field form.details class="form-control input-sm" required="true" placeholder="" %}
        {{ form.details.errors }}
      </div>
{#      <div>#}
{#        <div class="form-sub-title"><h2>{% trans "4. Tag your post" %}</h2></div>#}
{#      </div>#}
      <div>
        <div class="form-group">
          <div class="col-xs-12">
            <label for="{{ form.tweet_permission.auto_id }}">{% trans "May we tweet this request" %}</label>
            {% render_field form.tweet_permission class="" placeholder="" %}
            {{ form.tweet_permission.errors }}
            <p>We won’t use your name or any identifying information if you </p>
           </div>
        </div>
      </div>
      <div style="display: none;">
        <div class="form-group">
          <div class="col-xs-12">
            <label for="{{ form.receive_notifications.auto_id }}">{% trans "Receive notifications" %}</label>
            {% render_field form.receive_notifications class="" placeholder="" %}
            {{ form.receive_notifications.errors }}
           </div>
        </div>
      </div>
      <div style="margin-top: 20px;">
        <div class="form-group">
          <div class="col-xs-12">
            <button class="btn btn-action pull-right">Post now</button>
          </div>
        </div>
      </div>
    </div>
  </form>
{% endblock %}

{% block javascript %}
  <script type="text/javascript">
    window.ahr.initCreatePost();
    window.ahr.widgets.initAccordionView();
  </script>
{% endblock %}
