{% extends "base_form.html" %}

{% load i18n %}
{% load widget_tweaks %}
{% load thumbnail %}

{% block public-content-message %}
<form class="form-horizontal"  method="post" enctype="multipart/form-data" id="create-post-form">
    {% csrf_token %}
    <div class="dialog movements-form new-post">
      <div>
        <div class="form-title"><h1>{% trans "Request a service" %}</h1></div>
        <p>
          {% trans "A Request is a way to ask for help from experts on Movements. Be as specific and clear as possible about what you need.  If you need a lawyer tell us what kind (asylum or civil?) Where do you need that lawyer (In the UK,  US or China?)  The more you explain your need, the easier it will be for someone to help."%}
        </p>
        {{ form.non_field_errors }}
      </div>
      <div>
        <div class="form-sub-title"><h2>{% trans "1. What skills do you need?" %}</h2></div>
        <div id="skills-select" class="form-select-multi">
          {{ form.interests }}
        </div>
        <label for="{{ form.specific_skill.auto_id }}">{% trans 'Other' %}</label>
        <div class="form-group">
        <div class="col-xs-12">
          {% render_field form.specific_skill class="form-control" placeholder="" maxlength="30" %}
          {{ form.specific_skill.errors }}
          <div class="interests-errors">{{ form.interests.errors }}</div>
        </div>
        </div>
      </div>
      <div>
        <div class="form-sub-title"><h2>{% trans "2. What issues does this relate to?" %}</h2></div>
        <div id="issues-select" class="form-select-multi">
          {{ form.issues }}
        </div>
        <label for="{{ form.specific_issue.auto_id }}">{% trans 'Other' %}</label>

      <div class="form-group">
        <div class="col-xs-12">
          {% render_field form.specific_issue class="form-control" placeholder="" maxlength="30" %}
          {{ form.specific_issue.errors }}
          <div class="issues-errors">{{ form.issues.errors }}</div>
        </div>
      </div>
      </div>
      <div>
        <div class="form-sub-title"><h2>{% trans "3. What countries does this request apply to?" %}</h2></div>
        <p>{% trans "Indicate the region and/or specific country."%}</p>
        <div class="form-select-multi">
          {{ form.countries }}
        </div>
      </div>

      <div>
        <p style="margin-top: 15px;">{% blocktrans %} Movements.org provides access to skills and experts. At this time, we cannot provide funding or equipment. If you need either please see the <a href="/movements/resources/">Resources</a> page. What might be available is a proposal writer to help you secure funding from a different source. {% endblocktrans %}</p>
        <p>{% trans "Please describe your request below. Be as explicit and clear as possible."%}</p>
        <div class="form-sub-title"><h2>{% trans "4. What do you need?" %}</h2></div>
        <p>{% trans "Be specific and clear."%}&nbsp;{% trans "(max 120 characters)" %}</p>
        <div class="form-group">
          <div class="col-xs-12">
            {% render_field form.title class="form-control input-sm" required="true" placeholder="" maxlength="120" %}
            {{ form.title.errors }}
          </div>
        </div>
      </div>
      <div>
        <div class="form-sub-title"><h2>{% trans "5. Please write your post" %}</h2></div>
        <p>{% trans "Tell a compelling story and state your needs."%}</p>
        {% render_field form.details class="form-control input-sm" required="true" placeholder="" %}
        {{ form.details.errors }}
      </div>
    <div>
      <div class="form-sub-title"><h2>{% trans "6. Add images to your post" %}</h2></div>
      {% if images %}
        {% for image in images %}
          {% thumbnail image.image 0x120 upscale as thumb %}
          <div><img src="{{ thumb.url }}" width="{{ thumb.width }}" style="max-width: 100%;"/></div>
          <div style="margin-bottom: 10px;"><input type="checkbox" name="delete_image_{{ image.id }}"/> Delete?
          </div>
          {% if not forloop.last %}
            <hr/>
          {% endif %}
        {% endfor %}
      {% endif %}
      <div class="dz-clickable dz-preview-container clearfix">
        <div>{% trans "Click here or drag files into this box in order to add an image into your post." %}</div>
      </div>
      <div class="fallback" style="display: none;">Select images: <input type="file" multiple/></div>
    </div>

    <div style="margin-top: 10px;">
        <div class="form-group">
          <div class="col-xs-12">
            <label for="{{ form.tweet_permission.auto_id }}">{% trans "May we tweet this request?" %}</label>
            {% render_field form.tweet_permission class="" placeholder="" %}
            {{ form.tweet_permission.errors }}
            <p>{% trans "We won’t use your name or any identifying information"%}</p>
           </div>
        </div>
      </div>
      <div style="display: none;">
        <div class="form-group">
          <div class="col-xs-12">
            <label for="{{ form.receive_notifications.auto_id }}">{% trans "Receive notifications" %}</label>
            {% render_field form.receive_notifications class="" placeholder="" %}
            {{ form.receive_notifications.errors }}
           </div>
        </div>
      </div>
      <div style="margin-top: 20px;">
        <div class="form-group">
          <div class="col-xs-12">
            <button class="btn btn-action pull-right">{% trans "Post now"%}</button>
          </div>
        </div>
      </div>
    </div>
  </form>
{% endblock %}

{% block javascript %}
  <script type="text/javascript">
    window.ahr.initCreatePost();
    window.ahr.widgets.initAccordionView();
  </script>
{% endblock %}
