{% extends "base_form.html" %}

{% load i18n %}
{% load widget_tweaks %}
{% load thumbnail %}

{% block public-content-message %}
<form class="form-horizontal"  method="post" enctype="multipart/form-data" id="create-post-form">
  {% csrf_token %}
  <div class="dialog movements-form new-post">
    <div>
      <div class="form-title"><h1>{% trans "News" %}</h1></div>
      {{ form.non_field_errors }}
    </div>
    <div>
      <p style="margin-top: 15px;">{% trans "Start a discussion about human rights violations in closed societies." %}</p>
      <div class="form-sub-title"><h2>{% trans "1. Paste the news item link into the box below" %}</h2></div>
      <div class="form-group">
        <div class="col-xs-12">
          {% if news_item %}
            {% render_field form.news_url class="form-control input-sm" required="true" placeholder="" readonly="true" %}
          {% else %}
            {% render_field form.news_url class="form-control input-sm" required="true" placeholder="" %}
          {% endif %}
          <div class="news_url-errors">{{ form.news_url.errors }}</div>
        </div>
      </div>
    </div>
    {% if not news_item %}
    <div>
      <div class="form-group">
        <div class="col-xs-12">
          <button id="parse_news_url" class="btn btn-action pull-right">&nbsp;&nbsp;{% trans "GO" %}&nbsp;&nbsp;</button>
        </div>
      </div>
    </div>
    {% endif %}
    <div style="margin-top: 15px;">
      <div id="news_item"></div>
    </div>
    <div style="display: none;" id="news_item_post_details">
      <div>
        <div class="form-sub-title"><h2>{% trans "2. What issues does this relate to?" %}</h2></div>
        <div id="issues-select" class="form-select-multi">
          {{ form.issues }}
        </div>
        <label for="{{ form.specific_issue.auto_id }}">{% trans 'Other' %}</label>
        <div class="form-group">
          <div class="col-xs-12">
            {% render_field form.specific_issue class="form-control" placeholder="" maxlength="30" %}
            {{ form.specific_issue.errors }}
            <div class="issues-errors">{{ form.issues.errors }}</div>
          </div>
        </div>
      </div>
      <div>
        <div class="form-sub-title"><h2>{% trans "3. How can people help?" %}</h2></div>
        {% render_field form.details class="form-control input-sm" placeholder="" %}
        {{ form.details.errors }}
      </div>
      <div class="form-sub-title"><h2>{% trans "4. Related Movements.Org post" %}</h2></div>
      {% render_field form.related_post_url class="form-control input-sm" placeholder="" %}
      <div style="margin-top: 20px;">
        <div class="form-group">
          <div class="col-xs-12">
            <button class="btn btn-action pull-right">{% trans "Post now"%}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
{% endblock %}

{% block sidebar %}
  <div class="hidden-sm hidden-xs col-md-2 rules-text">
    <h5>Rules:</h5>
    <p>Articles must address human rights violations in closed societies with populations of over 5 million. (The world
      is a big place. We’re a small non profit and can’t keep track of everything everywhere.)</p>
    <p>No product or service recommendations.</p>
    <p>Do not defame, slander. No homophobic slurs, or racism, xenophobia, religious intolerance</p>
    <p>No "adult" or non-family friendly material</p>
    <p>No “lists” (e.g. 50 Things Every Man Should Know). This includes links to long articles.</p>
    <h5>Grounds for a ban:</h5>
    <p>Note: We do not give chances, bans are immediate.</p>
    <p>You may appeal the ban by writing the Moderators and explaining what rule you broke and then agreeing not to
      break the rules again. If you break the rules one more time, the ban will become permanent.</p>
    <p>Not following any of the rules above.</p>
    <p>Homophobia, racism, harassment and general hate on ethnicity, sex, religion or anything else. Note: This ban is
      permanent and as such, is non appeal-able.</p>
    <p>Comments with ill intent or articles that suggest illegal action or violence.</p>
    <h5>Tips for success:</h5>
    <p>Flair your post.</p>
  </div>
{% endblock %}

{% block javascript %}
  <script type="text/template" id="news-item-card-template">
    <div class="news-item-card">
      <h2><a href="<%= url %>"><%- title %></a></h2>
      <img style="margin-bottom: 10px;" width="100%" src="<%= image %>">
      <p><a href="<%= url %>"><%- description %></a></p>
      <div class="row news-card-footer">
        <% if (published) { %>
        <div class="col-xs-12" style="margin-bottom: 10px;"><%- published %></div>
        <% } %>
        <div class="col-xs-6"><%- site_name %></div>
        <div style="text-align: right;" class="col-xs-6"><%- author %></div>
      </div>
    </div>
  </script>
  <script type="text/javascript">
    {% if news_item %}
      var news_args = {
        'title': '{{ news_item.title }}',
        'url': '{{ news_item.url|safe }}',
        'description': '{{ news_item.description }}',
        'site_name': '{{ news_item.site_name }}',
        'image': '{{ news_item.image }}',
        'published': "{{ news_item.published_date.0 }}",
        'author': '{{ news_item.author }}'
      };
    {% else %}
      var news_args = null;
    {% endif %}
    window.ahr.initCreateNewsItem(news_args);
  </script>
{% endblock %}