{% extends "base_form.html" %}
{% load i18n %}

{% block public-content-message %}
<form>
  <div class="dialog movements-form new-post">
    <div>
      <div class="form-title"><h1>{% trans "Offer a service" %}</h1></div>
      <p>
        {% blocktrans %}Porttitor magna cursus nec dolor magna in natoque magna, sed porta lectus ut tortor par turient
          odio. Magnis pellentesque et sit, nisi odio cum aliquet nec risus tincidunt.{% endblocktrans %}
      </p>
    </div>
    <div>
      <div class="form-sub-title"><h2>{% trans "1. What skills do you want to offer?" %}</h2></div>
      <div class="form-select-multi">
        <p>
          {% blocktrans %}Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua.{% endblocktrans %}
        </p>
        {% for item in skills %}
          {% if forloop.counter0|divisibleby:3 %}
            <div class="row">
          {% endif %}
        <div class="col-xs-4">
          <div class="select-checkbox">
            <input type="checkbox" id="" name="">
            <label for="checkboxFiveInput"></label>

            <div class="select-label">{{ item }}</div>
          </div>
        </div>
        {% if forloop.last or forloop.counter|divisibleby:3 %}
          </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>
    <div>
      <div class="form-sub-title"><h2>{% trans "2. Please enter the title of your post" %}</h2></div>
    </div>
    <div>
      <div class="form-sub-title"><h2>{% trans "3. Please write your post" %}</h2></div>
    </div>
    <div>
      <div class="form-sub-title"><h2>{% trans "4. Tag your post" %}</h2></div>
    </div>
    <div class="clearfix">
      <button class="btn btn-action pull-right">Post now</button>
    </div>
  </div>
</form>
{% endblock %}

{% block javascript %}
  <script type="text/javascript">
    window.ahr.initCreatePost();
  </script>
{% endblock %}