{% extends "base.html" %}
{% load i18n %}
{% load compress %}


{% block outsidecontainer %}
<div id="market" >
  <!-- Banner -->
  {% include "ahr/market_banner.html"%}

  <!-- Filter Spacer -->
  <div class="filter-banner-spacer"></div>
  <div id="filter-wrapper">
  <div id="fixed-filters">
    <div class="exchange-filter" >
      <div class="container">
        <div class="row" style="margin-top:10px;">
          <div id="create_offer" class="market-action col-xs-6 col-md-3">
            <img src="{{ STATIC_URL }}images/offer-button-50x50.png" alt="Create an offer" />
            <span>Create an offer</span>
          </div>
          <div id="create_request" class="market-action col-xs-6 col-md-3">
            <img src="{{ STATIC_URL }}images/request-button-50x50.png" alt="Create a request" />
            <span>Create a request</span>
          </div>
        </div>
      </div>
    </div>
    <div class="filter-banner-spacer-black"></div>
 	<div id="filter-container"></div>
</div>
 </div>
{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-md-12">
    <div id="itemandsearchwrap">
      <!-- Search -->
      <div class="row  market-search-box">
        <div class="input-group col-md-offset-2 col-md-8">
          <form>
            <label class="sr-only" for="q">Search by keyword for offers and requests</label>
            <input type="text" class="form-control" id="q" name="q" placeholder="Search by keyword for offers and requests" />
            <input type="submit" style="visibility:hidden;position: fixed;"/>
          </form>
          <span class="btn btn-default input-group-addon" id="searchbtn">Search</span>
        </div>
      </div>
      <!-- Market Items -->
      <div class="row">
        <div class="col-md-12">
          <div id="marketitems"></div>
        </div>
      </div>
    </div>
	<div class="col-lg-10" id="ajaxloader" style="text-align:center;display:none;">
	  <img src="{{ STATIC_URL}}images/ajax-loader.gif"/>
    </div>
    <div class="col-lg-offset-1 col-lg-10">
      <a id="backtothemarket" class="btn btn-default" href="{% url 'show_market' %}#">Back</a>
      <div id="singleItem"></div>
      <div id="marketitem_comment_form"></div>
      <div id="marketitem_comments"></div>
    </div>
  </div>
</div>

{% endblock %}

{% block endjavascript %}
    {% include "market/clientside/marketitem.html" %}
    {% include "market/clientside/marketuser.html" %}
    {% include "market/clientside/filtertag.html" %}
    {% include "market/clientside/checkbox.html" %}
    {% include "market/clientside/typetag.html" %}
    {% include "market/clientside/filters.html"%}

    {% include "market/clientside/expdate.html"%}
    {% include "market/clientside/datetimepicker.html"%}
    {% include "market/clientside/datepicker.html"%}
    {% include "market/clientside/typeahead.html" %}
    {% include "market/clientside/input.html" %}
    {% include "market/clientside/textarea.html" %}

    {% include "market/clientside/commentview.html" %}
    {% include "market/clientside/commentadd.html" %}
    {% include "market/clientside/messagedialog.html" %}
    {% include "market/clientside/recommenddialog.html" %}
    {% include "market/clientside/ratedialog.html" %}
    {% include "market/clientside/reportdialog.html" %}
    {% include "market/clientside/offerdialog.html"%}
    {% include "market/clientside/requestdialog.html"%}

    {% compress js inline %}
    <script type="text/javascript">

    $(document).ready(function(){
        var dfrd = window.ahr.getStatics();
        dfrd.done(function(){
            if("{{init}}"=="market"){
                window.ahr.market.initMarket({{tags|safe}});
            }else if("{{init}}"=="posts"){
                window.ahr.posts.initPosts({{tags|safe}});
            }else if ("{{init}}"=="users"){
                window.ahr.users.initUsers({{tags|safe}});
            }
        });
    });

    </script>
    {% endcompress %}

{% endblock %}


