{% extends "base_v2.html" %}
{% load i18n %}
{% load compress %}

{% block content %}
  <div id="exchange-filters" class="exchange-filters clearfix">
    <div class="pull-left">
      <ul class="type-menu">
        <li class="active"><a href="#" alt="filter all" data-filter="">{% trans 'See all' %}</a></li>
        <li><a href="#" alt="filter to requests" data-filter="request">{% trans 'Requests' %}</a></li>
        <li><a href="#" alt="filter to offers" data-filter="offer">{% trans 'Offers' %}</a></li>
      </ul>
    </div>
    <div class="pull-right categories">
      <h4>Filter by:</h4>
      <ul class="category-menu">
        <li>
          <a href="#" alt="filter by skills" class="skills">
            <img src="{{ STATIC_URL }}images/v2/skills-icon.png" />
            <img src="{{ STATIC_URL }}images/v2/dropdown-icon.png"/>
          </a>
          <div class="popover-container"></div>
        </li>
        <li>
          <a href="#" alt="skills" class="regions">
            <img src="{{ STATIC_URL }}images/v2/countries_icon.png"/>
            <img src="{{ STATIC_URL }}images/v2/dropdown-icon.png"/>
          </a>
          <div class="popover-container"></div>
        </li>
        <li>
          <a href="#" alt="text search" class="search">
            <img src="{{ STATIC_URL }}images/v2/search_icon.png"/>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div id="itemandsearchwrap">
    <div class="row">
      <div class="col-md-4 featured-col">
        <h2>Featured posts</h2>
        <div class="featured featured-request">
          <div class="header">
            <a class="share-twitter"><img src="{{ STATIC_URL }}images/v2/twitter.png"/></a>
            <a class="item-menu"><img src="{{ STATIC_URL }}images/v2/item_menu_icon.png"/></a>
          </div>
          <div class="feature-type">
            {% trans "FEATURED REQUEST" %}
          </div>
          <div class="title">
            Syrian activist in U.S.A. needs asylum immediately
          </div>
          <div class="details">
            Request by <a href="#" alt="author link">Mikachor</a>, posted on the <a href="#" alt="date link">20th May 2014</a>, <a href="#" alt="comment link">12 comments</a>.
          </div>
        </div>

        <div class="featured featured-offer">
          <div class="header">
            <a class="share-twitter"><img src="{{ STATIC_URL }}images/v2/twitter.png"/></a>
            <a class="item-menu"><img src="{{ STATIC_URL }}images/v2/item_menu_icon.png"/></a>
          </div>
          <div class="feature-type">
            {% trans "FEATURED OFFER" %}
          </div>
          <div class="title">
            Syrian activist in U.S.A. needs asylum immediately
          </div>
          <div class="details">
            Offer by <a href="#" alt="author link">Mikachor</a>, posted on the <a href="#" alt="date link">20th
            May 2014</a>, <a href="#" alt="comment link">12 comments</a>.
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div id="marketitems"></div>
        <div id="ajaxloader">
          <img src="{{ STATIC_URL }}images/ajax-loader.gif"/>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block endjavascript %}
  <script type="text/template" id="skill-filter-list-template">
    <% var skills = ['Lawyer', 'Writer', 'Media Producer', 'Journalist']; %>
    <ul class="skill-filter">
      <% _.each(skills, function(skill) { %>
      <li><a href="#"><%- skill %></a></li>
      <% }); %>
    </ul>
  </script>
  <script type="text/template" id="region-filter-list-template">
    <% var regions = ['Africa', 'Middle East', 'Asia', 'Europe', 'Americas', 'Oceania']; %>
    <ul class="region-filter">
      <% _.each(regions, function(region) { %>
      <li><a href="#"><%- region %></a></li>
      <% }); %>
    </ul>
  </script>
  {% include "market/clientside/marketitem.html" %}
{#  {% include "market/clientside/marketuser.html" %}#}
  {% include "market/clientside/filtertag.html" %}
  {% include "market/clientside/checkbox.html" %}
  {% include "market/clientside/typetag.html" %}
  {% include "market/clientside/filters.html"%}

{#  {% include "market/clientside/expdate.html"%}#}
{#  {% include "market/clientside/datetimepicker.html"%}#}
{#  {% include "market/clientside/datepicker.html"%}#}
{#  {% include "market/clientside/typeahead.html" %}#}
{#  {% include "market/clientside/input.html" %}#}
{#  {% include "market/clientside/textarea.html" %}#}

{#  {% include "market/clientside/commentview.html" %}#}
{#  {% include "market/clientside/commentadd.html" %}#}
{#  {% include "market/clientside/messagedialog.html" %}#}
{#  {% include "market/clientside/recommenddialog.html" %}#}
{#  {% include "market/clientside/ratedialog.html" %}#}
{#  {% include "market/clientside/reportdialog.html" %}#}
{#  {% include "market/clientside/offerdialog.html"%}#}
{#  {% include "market/clientside/requestdialog.html"%}#}
{#  {% include "market/clientside/closemarketitemdialog.html"%}#}
{#  {% include 'market/clientside/userprofile.html' %}#}
{#  {% include 'market/clientside/reportuserdialog.html' %}#}
{#  {% include "market/clientside/actions/actions.html"%}#}

  {% compress js inline %}
    <script type="text/javascript">
      $(document).ready(function(){
        window.GuerillaMarket = window.GuerillaMarket || {};
        window.GuerillaMarket.userDefaultTags = {{tags|safe}};
        var dfrd = window.ahr.getStatics();
        dfrd.done(function(){
          if("{{init}}"=="market"){
            window.ahr.market.initMarket({{tags|safe}});
          }else if("{{init}}"=="posts"){
            window.ahr.posts.initPosts({{tags|safe}});
          }else if ("{{init}}"=="users"){
            window.ahr.users.initUsers({{tags|safe}});
          }
        });
      });
    </script>
  {% endcompress %}

{% endblock %}


