{% extends "base.html" %}
{% load i18n %}

{% block content %}
{% include "market/clientside/marketitem.html" %}
{% include "market/clientside/marketuser.html" %}
{% include "market/clientside/filtertag.html" %}
{% include "market/clientside/typetag.html" %}

<div class="row">
  <div id="market" class="col-md-12 {{init}}">
    <div id="infobar"></div>

    {% include "market/clientside/expdate.html"%}
    {% include "market/clientside/datetimepicker.html"%}
    {% include "market/clientside/typeahead.html" %}
    {% include "market/clientside/input.html" %}
    {% include "market/clientside/textarea.html" %}

    {% include "market/clientside/messagedialog.html" %}
    {% include "market/clientside/recommenddialog.html" %}
    {% include "market/clientside/ratedialog.html" %}
    {% include "market/clientside/reportdialog.html" %}
    {% include "market/clientside/offerdialog.html"%}
    {% include "market/clientside/requestdialog.html"%}

    <!-- Banner -->
    <div class="row">
      <div class="col-md-12 exchange-banner">
        <div class="row">
          <div class="col-md-offset-6 col-md-4">
            <h1>{{ title }}</h1>
            <hr class="hr-no-margin" />
            <div class="message-text">{% include help_text_template %}</div>
          </div>
          <div class="col-md-2">
            <div class="market-action-wrap">
              <div id="create_offer" class="market-action">
                <img src="{{ STATIC_URL }}images/offer-button-50x50.png" alt="Create an offer" />
                <span>Create an offer</span>
              </div>
              <div id="create_request" class="market-action">
                <img src="{{ STATIC_URL }}images/request-button-50x50.png" alt="Create a request" />
                <span>Create a request</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Filters -->
    <div class="row">
      <div class="col-sm-12 filter-banner-spacer"></div>
    </div>
    <!-- Filters -->
    <div class="row">
      <div class="col-sm-12 exchange-filter"> 
        <div class="row">
          <div id="market-filters" class="collapse">
            <div class="col-sm-3"> 
              <div class="market-filter-main">
                <div class="market-filter-border"></div>
                <div class="market-action first">
                  <img src="{{ STATIC_URL }}images/all-button-50x50.png" alt="Filter by all" />
                  <span>ALL</span>
                </div>
                <div class="market-action">
                  <img src="{{ STATIC_URL }}images/offer-button-50x50.png" alt="Filter by offers" />
                  <span>OFFERS</span>
                </div>
                <div class="market-action">
                  <img src="{{ STATIC_URL }}images/request-button-50x50.png" alt="Filter by requests" />
                  <span>REQUESTS</span>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="filter-title">Issues</div>
              <div class="row issues btn-group-sm pull-left" item_title="issues"></div>
            </div>
            <div class="col-sm-3">
              <div class="filter-title">Countries</div>
              <div class="row countries btn-group-sm pull-left" item_title="countries"></div>
            </div>
            <div class="col-sm-3">
              <div class="filter-title">Skills</div>
              <div class="row skills btn-group-sm pull-left" item_title="skills"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 filter-show">
            <button type="button"class="btn btn-xs" data-toggle="collapse" data-target="#market-filters">
              Toggle Filters
              <span class="caret"></span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- Search -->
    <div class="row  market-search-box">
      <div class="input-group col-md-offset-2 col-md-8">
        <form>
          <label class="sr-only" for="q">Search by keyword for offers and requests</label>
          <input type="text" class="form-control" id="q" name="q" placeholder="Search by keyword for offers and requests" />
          <input type="submit" style="visibility:hidden;position: fixed;"/>
        </form>
        <span class="input-group-addon btn" id="searchbtn">Search</span>
      </div>
    </div>
    <!-- Market Items -->
    <div class="row">
      <div class="col-md-12">
        <div id="marketitems"></div>
      </div>
    </div>

    <!-- Market -->
<!--     <div class="row"> -->
      <!-- Filters -->
<!--       <div class="col-md-3">
        <div class="panel panel-default center-content">
          <div class="panel-heading">
            <h3 class="panel-title">FILTER BY</h3>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="btn-group">
                <button type="button" class="btn btn-default filter-type all filter-fixed-width">All</button>
                <button type="button" class="btn btn-default btn-success filter-type default filter-fixed-width">Default</button>
                <button type="button" class="btn btn-default filter-type custom filter-fixed-width">Custom</button>
              </div>
            </div>
            <div class="row"> &nbsp;</div>
            <div class="row">
              <div class="col-md-12 typetags"></div>
            </div>
            <div class="row"> &nbsp;</div>
            <div class="row">
              <div class="col-md-12"><strong>Issues:</strong></div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="row issues btn-group-sm pull-left" item_title="issues"></div>
              </div>
            </div>
            <div class="row"> &nbsp;</div>
            <div class="row"> &nbsp;</div>
            <div class="row">
              <div class="col-md-12"><strong>Countries:</strong></div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="row countries btn-group-sm pull-left" item_title="countries"></div>
              </div>
            </div>
            <div class="row"> &nbsp;</div>
            <div class="row"> &nbsp;</div>
            <div class="row">
              <div class="col-md-12"><strong>Skills:</strong></div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="row skills btn-group-sm pull-left" item_title="skills"></div>
              </div>
            </div>
          </div>
        </div>
      </div> -->
<!--     </div> -->
  </div>
</div>
{% endblock %}

{% block endjavascript %}

    <script type="text/javascript">

    $(document).ready(function(){
        var dfrd = window.ahr.getStatics();
        dfrd.done(function(){
            if("{{init}}"=="market"){
                window.ahr.market.initMarket({{tags|safe}});
            }else if("{{init}}"=="posts"){
                window.ahr.posts.initPosts({{tags|safe}});
            }else if ("{{init}}"=="users"){
                window.ahr.users.initUsers({{tags|safe}});
            }
        });
    });


    </script>

{% endblock %}


