{% extends "base_v2.html" %}
{% load i18n %}
{% load compress %}

{% block header_padding %}{% endblock %}
{% block content_outside_container %}
  {% include "users/snippets/profile_navigation.html" with page_type="notifications" %}
{% endblock %}

{% block content %}
  <div id="notifications">
    <ul class="list-group">
    </ul>
    <div class="message hide">All notifications loaded</div>
    <button class="btn btn-action more" type="button">{% trans "More"%}</button>
  </div>

  <script type="text/template" id="notificationspage_template">
    <li class="notif-seen list-group-item">
      <div class="row" >
        <div class="col-xs-8">
          <div class="row">
            <div class="col-md-1 col-xs-2">
                <a href="<%- notif.profile_link %>">
                  <img style="border-radius:50%; margin-bottom:10px;" width="30" height="30" src="<%- notif.avatar %>"/>
                </a>
            </div>
            <div class="col-md-11 col-xs-10 details<% if (!notif.seen) { %> new<% } %>">
              <a href="<%- notif.profile_link %>"><%- notif.user %></a>
              <% if (notif.comment) { %>
                <a href="/market/<%- notif.item_id %>" style="display:inline-block;">
                  {% trans "commented on" %} <% if (notif.owner_id == window.ahr.user_id) { %>{% trans "your" %}<% } %>
                  <%- notif.item_type %> "<%- notif.text.title %>"
                </a>
              <% } else if (notif.item_type) { %>
                <% if (notif.text.update) { %>{% trans "updated" %}<% } else { %> {% trans "posted" %} <% } %>
                {% trans "the" %} <%- notif.item_type %>
                <a href="/market/<%- notif.item_id %>">
                  "<%- notif.text.title %>"
                </a>
              <% } else if (notif.text.type == "message") { %>
                <a href="{% url 'postman_inbox' %}">
                  {% trans "sent you a private message" %}
                </a>
              <% } %>
            </div>
          </div>
        </div>
        <div class="col-xs-4 text-right">
          <%- moment(notif.pub_date,"YYYY-MM-DD h:mm").fromNow() %>
        </div>
       </div>
    </li>
  </script>
{% endblock %}

{% block endjavascript %}
  <script type="text/javascript">

    $(document).ready(function () {
      var notificationsPage = Backbone.View.extend({
        el: '#notifications',
        counter: 0,
        events: {
          'click button.more': 'showmore'
        },

        showmore: function () {
          var that = this;
          var dfrd = $.ajax({
            url: window.ahr.app_urls.getmarketnotificationsfromto.replace(0, that.counter) + (that.counter + 15),
            context: this
          });

          dfrd.done(function (data) {
            if (!data.notifications.length) {
              if (!that.counter) {
                this.$el.find('.message').html('You have no notifications');
              }
              this.$el.find('.message').removeClass('hide');
              this.$el.find('button.more').hide();
              return;
            }
            _.each(data.notifications, function (notif) {
              that.$container.append(that.tmpl({'notif': notif}));
            });
            that.counter = that.counter + 15;
          });
        },

        initialize: function () {
          this.$container = this.$el.find('ul');
          this.tmpl = _.template($('#notificationspage_template').html());
          this.showmore()
        }
      });
      var np = new notificationsPage();
    });

  </script>
{% endblock %}
