{% extends "base_v2.html" %}
{% load i18n %}

{% block header_padding %}{% endblock %}
{% block content_outside_container %}
  {% include "users/snippets/profile_navigation.html" with page_type="notifications" %}
{% endblock %}

{% block content %}
  <div id="notifications">
    <div class="col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8">
      <div class="movements-form">
        <h2>{% trans "Alert History" %}</h2>
        <hr/>
        <div class="notifications-container"></div>
        <div class="message hide">{% trans "All notifications loaded" %}</div>
        <button class="btn btn-action more" type="button">{% trans "More" %}</button>
      </div>
    </div>
  </div>

  <script type="text/template" id="notificationspage_template">
    <div class="clearfix">
      <div class="dates pull-right">
        <%- moment(notif.pub_date, "YYYY-MM-DD h:mm").fromNow() %>
      </div>
      <div class="details<% if (!notif.seen) { %> new<% } %>">
        {# translation notification #}
        <% if (notif.translation) {
            if (notif.translation == 7) { %>
                <a href="{% url 'show_translations' %}" href="translations dashboard">
                  <% if (notif.text.total == 1) { %>
                    {% trans "There is 1 item that we need your help translating." %}
                  <% } else { %>
                    {% trans "There are " %}<%- notif.text.total %>{% trans " item that we need your help translating." %}
                  <% } %>
                </a>
            <% } else if (notif.translation == 8) { %>
                <a href="{% url 'show_translations' %}" href="translations dashboard">
                  <% if (notif.text.total == 1) { %>
                    {% trans "There is 1 translation that needs your approval." %}
                  <% } else { %>
                    {% trans "There are " %}<%- notif.text.total %>{% trans " translations that need your approval." %}
                  <% } %>
                </a>
            <% } %>
        <% } else { %>
          {# comment or post notification #}        
          <a class="user" href="<%- notif.profile_link %>"><%- notif.user %></a>
          <% if (notif.comment) { %>
            {# comment #}
            {% trans "commented on" %} <% if (notif.owner_id == window.ahr.user_id) { %>{% trans "your" %}<% } %>
            <% if (notif.item_type == "offer") { %>
              {% trans "offer" %}
            <% } else { %>
              {% trans "request" %}
            <% } %>
          <a href="/market/<%- notif.item_id %>" style="display:inline-block;">"<%- notif.text.title %>"
            </a>
          <% } else if (notif.item_type) { %>
            {# post #}
            <% if (notif.text.update) { %>{% trans "updated" %}<% } else { %> {% trans "posted" %} <% } %>
            {% trans "the" %}
            <% if (notif.item_type == "offer") { %>
              {% trans "offer" %}
            <% } else { %>
              {% trans "request" %}
            <% } %>
            <a href="/market/<%- notif.item_id %>">
              "<%- notif.text.title %>"
            </a>
          <% } else if (notif.text.type == "message") { %>
              {% trans "sent you a private " %} <a href="{% url 'postman_inbox' %}"> {% trans "message" %} </a>
          <% } %>
        <% } %>
      </div>
    </div>
    <hr/>
  </script>
{% endblock %}

{% block endjavascript %}
  <script type="text/javascript">

    $(document).ready(function () {
      var notificationsPage = Backbone.View.extend({
        el: '#notifications',
        counter: 0,
        events: {
          'click button.more': 'showmore'
        },

        showmore: function () {
          var that = this;
          var dfrd = $.ajax({
            url: window.ahr.app_urls.getmarketnotificationsfromto.replace(0, that.counter) + (that.counter + 15),
            context: this
          });

          dfrd.done(function (data) {
            if (!data.notifications.length) {
              if (!that.counter) {
                this.$el.find('.message').html('You have no notifications');
              }
              this.$el.find('.message').removeClass('hide');
              this.$el.find('button.more').hide();
              return;
            }
            _.each(data.notifications, function (notif) {
              that.$container.append(that.tmpl({'notif': notif}));
            });
            that.counter = that.counter + 15;
            $(document).trigger('doHeartBeat');
          });
        },

        initialize: function () {
          this.$container = this.$el.find('.notifications-container');
          this.tmpl = _.template($('#notificationspage_template').html());
          this.showmore()
        }
      });
      var np = new notificationsPage();
    });

  </script>
{% endblock %}
