{% extends "base.html" %}
{% load i18n %}

{% block outsidecontainer %}
<div id="market" >
  <!-- Banner -->
  

  <!-- Filter Spacer -->
  <div class="filter-banner-spacer"></div>
  <div id="filter-wrapper">
    <div id="fixed-filters">
      <div class="exchange-filter" >
        <div class="container">
          
        </div>
      </div>
      <div class="filter-banner-spacer-black"></div>
      
    </div>
  </div>
{% endblock %}

{% block content %}
<div>
  <ul class="list-group" id="notificatoins">
  </ul>
</div>
<div class="btn btn-default" id="more">More</div>

<script type="text/template" id="notificationspage_template">
    <li class="notif-seen list-group-item <% if(notif.seen){ %>true<% }else{ %>false<%}%>">
         <a href="/market/#item/<%- notif.item_id %>" style="display:inline-block;">
            <div class="pull-left">
             <img style="border-radius:50%;" width="30" height="30" src="<%- notif.avatar %>"/>                                                                        
            </div>
            <div style="white-space:normal;float:right;margin-left:8px;">
                <% if(notif.read==false){ %><strong><%}%>
                <%- notif.text %> 
                <% if(notif.read==false){ %></strong><%}%><br/>            
            </div>            
        </a>      
         <div style="float:right;">
            <%- moment(notif.pub_date,"YYYY-MM-DD h:mm").fromNow() %>
            </div>
    </li>
</script>

{% endblock %}

{% block endjavascript %} 
    <script type="text/javascript">

    $(document).ready(function(){
      var notificationsPage = Backbone.View.extend({
        el: 'body',   
        counter: 0,
        events:{
            'click #more': 'showmore'
        },
        
        showmore:function(ev){
          var that = this;            
          var dfrd = $.ajax({
            url:window.ahr.app_urls.getmarketnotificationsfromto.replace(0,that.counter)+(that.counter+15)
          });
          dfrd.done(function(data){
            _.each(data.notifications,function(notif){              
              $('#notificatoins').append(that.tmpl({'notif':notif}));
            });
            that.counter=that.counter+15;
          });
        },
        
        initialize:function(){
          this.tmpl = _.template($('#notificationspage_template').html());
          this.showmore()
        }
      });
      var np = new notificationsPage();
    });


    </script>

{% endblock %}


