{% extends "base_site.html" %}


{% block body %}

	<form class="form-horizontal" role="form" id="offerform"> {% csrf_token %}
	    <legend>OFFER A SERVICE</legend>

		<span id="issuesplace"></span>
		<span id="countriesplace"></span>
		<span id="skillsplace"></span>

		<div class="row">
			<div class="form-group">
				<label for="post-title" class="col-sm-2 control-label">Title of post</label>
				<div class="col-xs-2">
					<input id="post-title" name="post-title" class="form-control" type="text"/>
				</div>
			</div>
		</div>

		<div class="row">
	        <div class="form-group">
				<label for="exp-date" class="col-sm-2 control-label">Expiry date</label>
	            <div class='input-group date col-xs-2' id='datetimepicker1'>
	                <input type='text' id="exp-date"  name="exp-date" class="form-control" />
	                <span class="input-group-addon">
	                	<span class="glyphicon glyphicon-calendar"></span>
	                </span>
	            </div>
	        </div>
		</div>

		<div class="row">
			<div class="col-lg-2">
				<div class="form-group">
	  				<textarea class="form-control" name="details" id="details" height="400" placeholder="Please give details of what you can help with?"></textarea>
				</div>
			</div>
		</div>

	    <button type="submit" class="btn btn-primary">Save</button>
	</form>

{% endblock %}

{% block javascript %}

	<script type="text/javascript">
		$(document).ready(function(){
			window.offer.initOffer({{ offer|safe }});
		});
	</script>

{% endblock %}