{% extends "base.html" %}
{% load i18n %}
{% load compress %}


{% block outsidecontainer %}
<div style="height:50px;"></div>
<div id="preview">
  <!-- Banner -->
  {% include "ahr/market_banner.html"%}
  <!-- Filter Spacer -->
  <div class="action-banner-spacer">
  </div>
  <div id="filter-container"></div>
  <div class="clearfix"></div>
{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-md-12">
      <div class="nanamorde-mobile col-md-4">
        <div class="userprofile"></div>
      </div>
      <div class="row singleiteem-container">
        <div class="col-md-8 left-on-big">
          <div id="singleItem"></div>
        </div>
        <div class="col-md-4 dialog nanamorde">
          <div class="userprofile"></div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block endjavascript %}
  {% include "market/clientside/marketitem.html" %}
  {% include 'market/clientside/userprofile.html' %}

  {% compress js inline %}
    <script type="text/javascript">

      $(document).ready(function(){
        var dfrd = window.ahr.getStatics();
        dfrd.done(function(){
          if ("{{init}}"=="recommendation") {
            window.ahr.recommendation.initRecommendation('{{obj_type|safe}}', '{{obj_id|safe}}');
          }
        });
      });

    </script>
  {% endcompress %}

{% endblock %}

