{% extends "base_v2.html" %}
{% load i18n %}

{% block header_padding %}{% endblock %}

{% block content %}
  <div id="translations">
    {% if request.user.userprofile.is_cm %}
    <div class="for-approval section">
      <h4>{% trans 'Translations for approval' %}</h4>
      <div class="list">
        <div class="ajaxloader">
          <img src="{{ STATIC_URL }}images/ajax-loader.gif"/>
        </div>
      </div>
    </div>
    {% endif %}
    <div class="in-progress section">
      <h4>{% trans 'Your translations in progress' %}</h4>
      <div class="list">
        <div class="ajaxloader">
          <img src="{{ STATIC_URL }}images/ajax-loader.gif"/>
        </div>
      </div>
    </div>
    <div class="needed section">
        <h4>{% trans 'Translations needed' %}</h4>
        <div class="list">
          <div class="ajaxloader">
            <img src="{{ STATIC_URL }}images/ajax-loader.gif"/>
          </div>
        </div>
    </div>
  </div>
{% endblock %}

{% block endjavascript %}
  <script type="text/template" id="user-translations-template">
    <% if (translations.length == 0) { %>
        <em>{% trans 'You are not currently working on any translations.' %}</em>
    <% } %>
    <% _.each(translations, function(translation, ix) { %>
       <div class="translation">
         <% if (translation.type == 'post') %>
         <div><a href="<%- translation.item_url %>" alt="Go to translation item" target="_blank">
             {% trans 'Translating post from ' %}
             <%- translation.from_code %>
             {% trans ' to ' %}
             <%- translation.to_code %>
           {% trans ' - go to item' %}
           </a></div>
         <div><strong>{% trans 'Original' %}</strong> <em><%- translation.title %></em></div>
         <div><strong>{% trans 'Translation' %}</strong> <em><%- translation.title_candidate %></em></div>
       </div>
    <% if (ix < (translations.length - 1)) print('<hr/>'); }); %>
  </script>
  <script type="text/template" id="available-translations-template">
    <% if (translations.length == 0) { %>
    <em>{% trans 'There is nothing that currently needs translating.' %}</em>
    <% } %>
    <% _.each(translations, function(translation, ix) { %>
    <div class="translation">
      <% if (translation.type == 'post') %>
      <div><a href="<%- translation.item_url %>" alt="Go to translation item" target="_blank">
        {% trans 'Translating post from ' %}
        <%- translation.from_code %>
        {% trans ' to ' %}
        <%- translation.to_code %>
        {% trans ' - go to item' %}
      </a></div>
      <div><strong>{% trans 'Original' %}</strong> <em><%- translation.title %></em></div>
    </div>
    <% if (ix < (translations.length - 1)) print('<hr/>'); }); %>
  </script>
  <script type="text/template" id="translations-for-approval-template">
    <% if (translations.length == 0) { %>
    <em>{% trans 'There are no translations waiting approval.' %}</em>
    <% } %>
    <% _.each(translations, function(translation, ix) { %>
    <div class="translation" data-code="<%- translation.to_code %>">
      <div><strong>{% trans 'Original title' %}</strong>
        <a href="<%- translation.item_url %>" alt="Go to translation item" target="_blank">
          <em><%- translation.title %></em>
        </a>
      </div>
      <div><strong>{% trans 'Translated title' %}</strong> <%= translation.display_title %></div>
      <div><strong>{% trans 'Original body' %}</strong>
        <pre><%- translation.details_original %></pre></div>
      <div><strong>{% trans 'Translated body' %}</strong>
      <pre id="approve-details"><%= translation.display_text %></pre>
      <button type="button" class="btn btn-success accept-translation" data-url="<%- translation.approve_url %>">{% trans 'Approve' %}</button>
      <button type="button" class="btn btn-danger reject-translation" data-url="<%- translation.reject_url %>">{% trans 'Discard' %}</button>
    </div>
    <% if (ix < (translations.length - 1)) print('<hr/>'); }); %>
  </script>
  <script type="text/javascript">
    $(document).ready(function () {
      new ahr.translations.TranslationsView({
        el: '#translations',
        translationLanguages: {{ translation_languages|safe }},
        is_cm: {{ user.userprofile.is_cm|yesno:"true,false" }},
        getUserTranslationsUrl: '{% url 'translation:translator:claimed_translations' %}',
        getAvailableTranslationsUrl: '{% url 'translation:translator:available_translations' %}',
        getTranslationsForApprovalUrl: '{% url 'translation:translator:translations_for_approval' %}'
      });
    });
  </script>
{% endblock %}