{% extends "base_v2.html" %}

{% load avatar_tags %}
{% load i18n %}
{% load thumbnail %}

{% block open_graph_data %}
<meta property="fb:app_id" content="261373627348815"/>
<meta property="og:type" content="article">
<meta property="article:published_time" content="{{ post.pub_date }}" />
<meta property="article:modified_time" content="{{ post.pub_date }}" />
<meta property="og:title" content="{{ post.title }}">
<meta property="og:description" content="Crowdsourcing human rights.">
{#<meta property="og:url" content="https://www.movements.org/market/{{ post.pk }}/{{ post.title|slugify }}">#}
<meta property="og:url" content="https://www.movements.org/market/{{ post.pk }}">
<meta property="og:site_name" content="Movements.Org">
  {% if images %}
    {% thumbnail images.0.image 1200x630 upscale as thumb %}
    <meta property="og:image" content="{{ thumb.url }}">
  {% else %}
    <meta property="og:image" content="https://www.movements.org/static/images/logos/logo_large.png">
  {% endif %}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-xs-12 col-md-offset-1 col-md-10">
    <div class="view-post"
        data-post_type="{{ post.item_type|lower }}"
        data-default_translate_url="{% url 'translation:market:translate' post.id %}"
        data-takein-url="{% url 'translation:market:take_in' post.id %}">
      <div class="row">
        <div class="col-xs-12">
          <div class="post-header {{ post.item_type|lower }} %>">
            <span>{{ post.item_type_display }}</span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6 post-date">
          {{ post.pub_date|date:"G:i"}} {%  trans 'on' %} {{ post.pub_date|date:"d M Y" }}
        </div>
        <div class="col-sm-6">
          {% if request.user == post.owner %}
              <a href="{% url 'edit_post' post.id %}" alt="edit post" class="btn btn-action edit-post" />
                {% trans 'Edit Post' %}
              </a>
          {% else %}
            <div class="how-you-can-help">
              <div class="title">{% trans 'How you can Help' %} <span class="expand">+</span></div>
              <ul>
                <li><span class="title">{% trans 'Social Media' %} - </span>{% trans "Share Movements' posts across your social media platforms. For example, you can share Movements' users' requests with your representatives." %}</li>
                <li><span class="title">{% trans 'Tweet' %} - </span>{% trans "posts that interest you." %}</li>
                <li><span class="title">{% trans 'Recommend a Friend' %} - </span>{% trans "If you have a friend with the skills in demand on our network, tell them about us!" %}</li>
                {% for item in post.marketitemhowcanyouhelp_set.all %}
                  <li>
                    <span class="title">{{ item.title }} - </span> {{ item.text|safe }}
                  </li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}
        </div>
      </div>
      <h1 id="post-title">{{ post.title }}</h1>
      {% if post.item_type == 'news' %}
        {% include 'market/snippets/_news_card.html' %}
      {% endif %}
      <div class="row poster clearfix">
        <div class="col-sm-6">
          <div class="avatar">
            {% primary_avatar post.owner 60 %}
          </div>
          <div class="poster-details">
            <div class="poster-name">{% trans "Posted by" %} <a href="/user/profile/{{ post.owner }}">{{ post.owner }}</a></div>
            {% include "users/snippets/star_rating.html" with rating=post.owner.userprofile.ahr_rating show_rating_help=True %}
          </div>
          <div style="clear: both"></div>
        </div>
      {% if request.user != post.owner %}
        <div class="col-sm-6 post-direct-action">
          {% if post.item_type == 'request' %}
          <a username="{{ post.owner.username }}"
             onClick="if (typeof(ga) != 'undefined') {ga('send', 'event', 'button', 'click', 'direct-action');}"
             subject="I saw your Movements post and want to help."
             {% if user.is_authenticated %}
             href="#"
             {% else %}
             href="{% url 'account_login' %}"
             {% endif %}
             class="btn btn-action private-message btn-thinner" >{% trans 'I WANT TO HELP' %}</a>
          {% elif post.item_type == 'news' %}
          <a onClick="if (typeof(ga) != 'undefined') {ga('send', 'event', 'button', 'click', 'direct-action');}"
             {% if user.is_authenticated %}
             id="news_offer_help"
             href="#"
             {% else %}
             href="{% url 'account_login' %}"
             {% endif %}
             class="btn btn-action btn-thinner" >{% trans 'I WANT TO HELP' %}</a>
          {% else %}
          <a username="{{ post.owner.username }}"
             onClick="if (typeof(ga) != 'undefined') {ga('send', 'event', 'button', 'click', 'direct-action');}"
             subject="I saw your Movements post and I need your help."
             {% if user.is_authenticated %}
             href="#"
             {% else %}
             href="{% url 'account_login' %}"
             {% endif %}
             class="btn btn-action private-message btn-thinner" >{% trans 'CONTACT THIS OFFER' %}</a>
          {% endif %}
        </div>
      {% endif %}
      </div>
      {% include 'market/snippets/_post_actions.html' %}
      <div class="post">
        {% if post.item_type == 'news' and post.details %}
        <div class="comments-header">{% trans "How can people help?" %}</div>
        {% endif %}
        <pre class="linkify" id="post-body">{{ post.details|striptags }}</pre>
        <div class="translated_by" style="display: none;">
            <a class="google" data-translate_url="">{% trans 'via Google Translate' %}</a><span style="display:none;"> |
            {% trans 'via'%} <a class="user" data-translate_url=""></a></span>
         </div>
        <pre id="post-body-translated" style="display: none;"></pre>
      </div>
      <div class="row" style="margin-bottom: 20px;">
        {% if post.tweet_permission %}
        <div class="col-xs-6">
          <div class="fb-like" data-href="https://www.movements.org/market/{{ post.id }}"
               data-layout="button" data-action="like" data-show-faces="true" data-share="false"></div>
        </div>
        {% endif %}
        {% if is_logged_in and post.details %}
        <div class="post-translate {% if post.tweet_permission %}col-xs-6{% else %}col-xs-12{% endif %}">
          <div class="translate"><span>{% trans 'Translate this post' %}</span></div>
          <div id="translate-menu-container"></div>
        </div>
        {% endif %}
      </div>
      {% if images %}
      <div class="post-images clearfix">
        {% for image in images %}
          {% thumbnail image.image 120x120 upscale as thumb %}
          <div class="col-xs-6 col-sm-3 col-md-2">
            <a class="gallery" href="{{ image.image.url }}">
              <img src="{{ thumb.url }}" />
            </a>
          </div>
        {% endfor %}
      </div>
      {% endif %}
      <div style="margin-bottom: 15px; margin-top: 10px;">
        <div class="tags clearfix">
          {% for tag in post.interests.all %}
            <div class="tag">{{ tag }}</div>
          {% endfor %}
          {% if post.specific_skill %}
            <div class="tag">{{ post.specific_skill }}</div>
          {% endif %}
          {% for tag in post.issues.all %}
            <div class="issue">{{ tag }}</div>
          {% endfor %}
          {% if post.specific_issue%}
            <div class="issue">{{ post.specific_issue }}</div>
          {% endif %}
          {% if countries_to_render %}
            {% for country in countries_to_render %}
              <div class="country">{{ country }}</div>
            {% endfor %}
          {% endif %}
        </div>
      </div>
      {% if translator or request.user.userprofile.is_cm %}
      <div class="row">
        <div class="post-actions col-xs-12">
          <ul>
            <li>
              <div class="post-languages-menu">
                <a obj_id="{{ post.id }}" class="post-pre-init provide-translation" href="#">
                  <span>{% blocktrans %}TRANSLATE THIS POST{% endblocktrans %}</span>
                </a>
                <div id="post-languages-menu-container"></div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      {% endif %}
      {% if post.item_type == 'news' %}
      {% if post.marketitemrelatedpost_set.count > 0 %}
      <div class="comments-header">{% trans "Releated Movements posts" %}</div>
        {% for p in post.marketitemrelatedpost_set.all %}
          <div style="margin-bottom: 15px;"><a target="_blank" href="/market/{{ p.related_market_item.id }}" >{{ p.related_market_item.title|striptags }}</a></div>
        {% endfor %}
      {% endif %}
      <div class="comments-header">{% trans "Offers" %}</div>
      <div {% if news_offers %}style="display: none;"{% endif %} id="no_post_offers">
        {% blocktrans %}This post currently has no offers. Why not be the <a class="news_help" href="#">first</a>.{% endblocktrans %}
      </div>
      <div class="row" id="direct_offers">
        {% for i in news_offers %}
          <div id="direct_offer_{{ i.id }}" class="col-xs-12">
            <div class="direct-offer">
              <div class="direct-offer-header clearfix">
                <div class="avatar">{% primary_avatar i.owner 60 %}</div>
                <div class="poster-details">
                  <div class="poster-name">{% trans "Posted by" %} <a href="/user/profile/{{ i.owner }}">{{ i.owner }}</a></div>
                  {% include "users/snippets/star_rating.html" with rating=i.owner.userprofile.ahr_rating %}
                </div>
              </div>
              <div class="direct-offer-details">
                <div class="tags clearfix">
                  {% for s in i.interests.all %}
                  <div class="tag">{{ s }}</div>
                  {% endfor %}
                  {% if i.specific_interest %}
                  <div class="tag">{{ i.specific_interest }}</div>
                  {% endif %}
                </div>
                <div class="details-full">{{ i.details }}</div>
              </div>
              <div class="direct-offer-actions">
                {% if i.owner == request.user %}
                <ul><li data-object_id="{{ i.id }}" class="delete-direct-offer">delete</li></ul>
                {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      <div {% if not news_offers %}style="display: none;"{% endif %} id="post_offers_add_another">
        Get involved and <a class="news_help" href="#">offer your skills</a>.
      </div>
      <div id="inline_reply" style="display: none;" class="inline-reply-form clearfix row">
        <div class="col-xs-12">
          {% include 'market/snippets/__news_help_form.html' %}
        </div>
      </div>
      {% endif %}

      <div id="post-translation-container" class="comments" style="display: none;">
      </div>
      <div class="comments">
        <div class="comments-header">
          <div class="comment-count">
            {{ post.commentcount }}
            <img src="{{ STATIC_URL }}images/v2/comment_icon.png" alt="comment count" />
          </div>
          {% trans 'Leave a comment' %}
        </div>
        <form>
          <textarea class="form-control" name="comment"></textarea>
          <div style="display: none;" class="post content-block" id="comment-not-authenticated">
            {% url 'account_login' as accountUrl %}
            {% url 'signup_start' as signupUrl %}
            <p class="error">{% blocktrans %}Please note that you will need to <a href="{{ accountUrl }}">login</a>
              or <a href="{{ signupUrl }}">sign up</a> before you will be able to contact the author or comment.{% endblocktrans %}</p>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <button class="btn btn-action btn-thinner pull-right"
                      style="margin-left: 15px;" type="submit"
                      onClick="ga('send', 'event', 'button', 'click', 'post-comment');">{% trans "POST COMMENT"%}</button>
              <p class="caution-text" >CAUTION: Comments and posts can be read by anyone. Avoid personally identifying
                information when creating a post or leaving a comment. For better protection, send a private message.</p>
            </div>
          </div>
        </form>
        <div class="comment-list">
          <div class="loader text-center"><img src="{{ STATIC_URL }}images/ajax-loader.gif" alt="loading comments"/>
          </div>
          <div class="content"></div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block endjavascript %}
  {% if is_logged_in %}
  {% include "market/clientside/recommenddialog.html" %}
  {% include "market/clientside/messagedialog.html" %}
  {% include "market/clientside/reportdialog.html" %}

  <script type="text/template" id="translate-menu-template">
    <div class="language-selector">
      {% if language_list.count > 0 %}
      <ul>
        {% for l in language_list %}
          <li data-translate_url="{% url 'translation:market:translate' post.id %}?lang_code={{ l.language_code }}">{{ l.name }}</li>
        {% endfor %}
      </ul>
      {% else %}
        {% url 'user_settings' as settingsUrl %}
        <p class="content-page">{% blocktrans %}You don't have any languages selected. Please add some in your <a href="{{ settingsUrl }}#skills">settings</a>{% endblocktrans %}</p>
      {% endif %}
    </div>
  </script>

  <script type="text/template" id="init-languages-menu-template">
    <div class="language-selector">
    <ul>
      <% _.each(languages, function(language) {
       if (language.code != itemLanguage) { %>
        <li data-lang-code="<%- language.code %>"><%- language.name %></li>
      <% }}); %>
    </ul>
    </div>
  </script>

  <script type="text/template" id="translated-by-template">
    <% if (humanTranslation) { %>
        <a data-human="false" data-translate_url="<%- translateUrl %>" href="#">{% trans 'via Google Translate' %}</a>
        <% if (humanAvailable) { %>
          | <strong>{% trans 'via'%} <%- username %></strong>
        <% } %>
   <% } else { %>
        <strong>{% trans 'via Google Translate' %}</strong>
        <% if (humanAvailable) { %>
          | <a data-human="true" data-translate_url="<%- translateUrl %>" href="#">{% trans 'via'%} <%- username %></a>
        <% } %>
   <% } %>
  </script>
  {% endif %}


  <script type="text/template" id="comment-template">
    <div class="comment"
         comment_id="<%- pk %>"
         data-translate-language-url="<%- translate_language_url %>"
         data-language="<%- language %>"
         data-take-in-url="<%- take_in_url %>">
      <div class="avatar"><img src="<%- avatar %>"></div>
      <div class="comment-header">
        <a href="<%- profile_url %>" alt="poster profile"><%- username %></a>
        <%- pub_date_formatted %>
      </div>
        <div class="comment-body">
          <pre><%= contents %></pre>
          <div class="translated_by" style="display:none;"></div>
          <pre id="comment-body-translated" style="display: none;"></pre>
          {% if translator or request.user.userprofile.is_cm %}
          <div id="CommentButtons" class='comment-languages-menu'>
            <a class="comment-pre-init"><span>{% trans 'Provide a translation' %}</span></a>
            <div id="comment-languages-menu-container"></div>
          </div>
          {% endif %}
          <% if (username == document.getElementById('currentusername').innerHTML) { %>
          <div id="CommentButtons">
            <a class="delete-comment" href="<%- delete_url %>">{% trans "Delete"%}</a>
          </div>
          <% } %>
        </div>
      <div id="comment-translation-container" class="comments"></div>
    </div>
  </script>

  {% if is_logged_in %}
  <script type="text/template" id="comment-translation-area">
    <form>
      <input type="hidden" name="lang_code" value="<%- lang_code %>"/>
      <% if (status == 3) { %>
        {% trans 'Waiting for approval. Translator - ' %}<a href="<%- owner_url %>"><%- owner %></a>
        <% if (user_is_owner) { %> <a href="#" class="back-to-edit">edit</a> <% } %>
        <pre id="approve-details"><%= display_text %></pre>
      <% } else if (status == 2 && !active) { %>
        {% trans 'In correction now. Translator - ' %}<a href="<%- owner_url %>"><%- owner %></a>
      <% } else if (status == 1 && !active) { %>
        {% trans 'In translation now. Translator - ' %}<a href="<%- owner_url %>"><%- owner %></a>
      <% } %>

      <% if (active) { %>
        <textarea class="form-control" name="details_translated"><%- details_translated %></textarea>
      <% } %>

      <% if (status != 3) { %>
        <% if (active) { %>
          <button type="button" class="btn btn-success" id="done" >{% trans 'Translation completed' %}</button>
          <button type="button" class="btn" id="save_draft" >{% trans 'Save draft' %}</button>
          <button type="button" class="btn btn-danger" id="take_off" >{% trans 'Cancel translation' %}</button>
        <% } %>
      <% } %>

      <% if (is_cm && status == 3) { %>
        <hr>
        <button type="button" class="btn btn-warning<% if (!approval_url) { %> disabled<% } %>" id="edit" >
        <% if (active) { %>
          {% trans 'Cancel editing' %}
        <% } else { %>
          {% trans 'Edit' %}
        <% } %>
        </button>
{#        <button type="button" class="btn btn-danger<% if (!correction_url) { %> disabled<% } %>" id="correction" >{% trans 'Request a correction' %}</button>#}
        <button type="button" class="btn btn-success<% if (!approval_url) { %> disabled<% } %>" id="confirm" >{% trans 'Approve' %}</button>
        <button type="button" class="btn btn-danger<% if (!revoke_url) { %> disabled<% } %>" id="revoke" >{% trans 'Discard' %}</button>
      <% } %>


      <% if (error) { %>
        <div class="alert alert-warning">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button><%- error %>
        </div>
      <% } %>

     <% if (message) { %>
        <div class="alert alert-success" style="margin-top: 15px;">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button><%- message %>
        </div>
      <% } %>

      <% if (other_user_editing && is_cm) { %>
        <div>{% trans 'If you want to take over the translation from another user you can do so below by clicking on the confirm button. That will make you the current owner of the translation and the existing owner will not be able to complete their translation.' %}</div>
        <button style="margin-top: 10px;" type="button" class="btn btn-danger" id="take_over" >{% trans 'Confirm' %}</button>
        <button style="margin-top: 10px;" type="button" class="btn" id="cancel_take_over" >{% trans 'Cancel' %}</button>
      <% } %>


    </form>
  </script>
  <script type="text/template" id="translation-area">
    <form>
      <input type="hidden" name="lang_code" value="<%- lang_code %>"/>
      <% if (status == 3) { %>
        {% trans 'Waiting for approval. Translator - ' %}<a href="<%- owner_url %>"><%- owner %></a>
        <% if (user_is_owner) { %> <a href="#" class="back-to-edit">edit</a> <% } %>
        <pre id="approve-title"><%= display_title %></pre>
        <pre id="approve-details"><%= display_text %></pre>
      <% } else if (status == 2 && !active) { %>
        {% trans 'In correction now. Translator - ' %}<a href="<%- owner_url %>"><%- owner %></a>
      <% } else if (status == 1 && !active) { %>
        {% trans 'In translation now. Translator - ' %}<a href="<%- owner_url %>"><%- owner %></a>
      <% } %>

      <% if (active) { %>
      <input class="form-control" name="title_translated" type="text" value="<%- title_translated %>">
      <textarea class="form-control" name="details_translated"><%- details_translated %></textarea>
      <% } %>

      <% if (status != 3) { %>
        <% if (active) { %>
          <button type="button" class="btn btn-success" id="done" >{% trans 'Translation completed' %}</button>
          <button type="button" class="btn" id="save_draft" >{% trans 'Save draft' %}</button>
          <button type="button" class="btn btn-danger" id="take_off" >{% trans 'Cancel translation' %}</button>
        <% } %>
      <% } %>

      <% if (is_cm && status == 3) { %>
        <hr>
        <button type="button" class="btn btn-warning<% if (!approval_url) { %> disabled<% } %>" id="edit" >
        <% if (active) { %>
          {% trans 'Cancel editing' %}
        <% } else { %>
          {% trans 'Edit' %}
        <% } %>
        </button>
{#        <button type="button" class="btn btn-danger<% if (!correction_url) { %> disabled<% } %>" id="correction" >{% trans 'Request a correction' %}</button>#}
        <button type="button" class="btn btn-success<% if (!approval_url) { %> disabled<% } %>" id="confirm" >{% trans 'Approve' %}</button>
        <button type="button" class="btn btn-danger<% if (!revoke_url) { %> disabled<% } %>" id="revoke" >{% trans 'Discard' %}</button>
      <% } %>

      <% if (error) { %>
        <div class="alert alert-warning" style="margin-top: 15px;">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button><%- error %>
        </div>
      <% } %>

     <% if (message) { %>
        <div class="alert alert-success" style="margin-top: 15px;">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button><%- message %>
        </div>
      <% } %>

      <% if (other_user_editing && is_cm) { %>
        <div>{% trans 'If you want to take over the translation from another user you can do so below by clicking on the confirm button. That will make you the current owner of the translation and the existing owner will not be able to complete their translation.' %}</div>
        <button style="margin-top: 10px;" type="button" class="btn btn-danger" id="take_over" >{% trans 'Confirm' %}</button>
        <button style="margin-top: 10px;" type="button" class="btn" id="cancel_take_over" >{% trans 'Cancel' %}</button>
      <% } %>

    </form>
  </script>
  <script type="text/javascript">
    (function() {
      $('.gpopover').popover({
        html: true
      });
      ahr.initViewPost({
        getCommentsUrl: '{% url 'get_comments_last' 'json' post.id 50 %}',
        addCommentUrl: "{% url 'add_comment' 'json' post.id %}",
        deleteCommentUrl: "{% url 'delete_comment' %}",
        userDefaultLangage: '{{ LANGUAGE_CODE }}',
        postLanguage: '{{ post.language }}',
        loggedIn: true
      });

      ahr.initNewsViewPost({
        postItemOfferUrl: '{% url 'market_item_offer_help' post.id %}'
      });
      {% if translator or request.user.userprofile.is_cm %}
          ahr.initViewPostTranslation({
            is_translator: {{ translator|yesno:"true,false" }},
            is_cm: {{ user.userprofile.is_cm|yesno:"true,false" }},
            postLanguage: '{{ post.language }}',
            translationLanguages: {{ translation_languages|safe }}
          });
         ahr.initCommentTranslationView({
            is_translator: {{ translator|yesno:"true,false" }},
            is_cm: {{ user.userprofile.is_cm|yesno:"true,false" }},
            translationLanguages: {{ translation_languages|safe }}
        });
      {% endif %}
      this.message_widget = window.ahr.messagedialog_widget.initWidget('body', '#infobar', {{ post.id }});
      this.recommend_widget = window.ahr.recommend_widget.initWidget(window.ahr.username);
    })();
  </script>
  {% else %}
  <script type="text/javascript">
    (function() {
      ahr.initViewPost({
        getCommentsUrl: '{% url 'get_comments_last' 'json' post.id 50 %}',
        loginUrl: '{% url 'account_login' %}',
        loggedIn: false
      });
    })();
  </script>
  {% endif %}
{% endblock %}
