{% extends "base_v2.html" %}
{% load avatar_tags %}
{% load i18n %}
{% block content %}
<div class="row">
  <div class="col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
    <div class="view-post" data-default_translate_url="{% url 'translation:market:translate' post.id %}" data-takein-url="{% url 'translation:market:take_in' post.id %}">
      <div class="post-header {{ post.item_type|lower }} %>">
        <span>{{ post.item_type_display }}</span>
      </div>
      <div class="post-date">
        {{ post.pub_date|date:"G:i"}} {%  trans 'on' %} {{ post.pub_date|date:"d M Y" }}
      </div>
      <h1 id="post-title">{{ post.title }}</h1>
      <div class="poster clearfix">
        <div class="avatar">
          {% primary_avatar post.owner 60 %}
        </div>
        <div class="poster-details">
          <div class="poster-name">{% trans "Posted by" %} <a href="/user/profile/{{ post.owner }}">{{ post.owner }}</a></div>
          {% include "users/snippets/star_rating.html" with rating=post.owner.userprofile.ahr_rating %}
        </div>
      </div>
      {% if is_logged_in %}
      <div class="post">
        <pre class="linkify" id="post-body">{{ post.details|striptags }}</pre>
        <div class="translated_by" style="display: none;"><a class="google" data-translate_url="">{% trans 'via Google Translate' %}</a><span style="display:none;"> | {% trans 'via'%} <a class="user" data-translate_url=""></a></span></div>
        <pre id="post-body-translated" style="display: none;"></pre>
      </div>
      <div class="post-translate">
        <div class="translate"><span>{% trans 'Translate this post' %}</span></div>
        <div id="translate-menu-container"></div>
      </div>
      <div class="clearfix"></div>
      {% endif %}
        <div style="margin-bottom: 15px; margin-top: 10px;">
          <div class="tags clearfix">
            {% for tag in post.interests.all %}
              <div class="tag">{{ tag }}</div>
            {% endfor %}
            {% if post.specific_skill %}
              <div class="tag">{{ post.specific_skill }}</div>
            {% endif %}
            {% for tag in post.issues.all %}
              <div class="issue">{{ tag }}</div>
            {% endfor %}
            {% if post.specific_issue%}
              <div class="issue">{{ post.specific_issue }}</div>
            {% endif %}
            {% if countries_to_render %}
              {% for country in countries_to_render %}
                <div class="country">{{ country }}</div>
              {% endfor %}
            {% endif %}
          </div>
        </div>
      {% if is_logged_in %}
      <div class="post-actions">
        <ul>
          <li><a
              obj_id="{{ post.id }}"
              rec_type="market_item"
              onClick="if (typeof(ga) != 'undefined') {ga('send', 'event', 'button', 'click', 'recommend');}"
              class="recommend" href='#' alt="recommend post">{% trans 'Recommend' %}</a></li>
          {% if post.tweet_permission %}
            <li><a
              obj_id="{{ post.id }}"
              rec_type="market_item"
              onClick="if (typeof(ga) != 'undefined') {ga('send', 'event', 'button', 'click', 'tweet');}"
              class="tweet" href='#' alt="tweet post">{% trans 'Tweet' %}</a></li>
          {% endif %}
          <li><a
                username="{{ post.owner.username }}"
                subject="RE: {{ post.title }}"
                readonlysub="1"
                onClick="if (typeof(ga) != 'undefined') {ga('send', 'event', 'button', 'click', 'direct-message');}"
                class="message private-message" href='#' alt="direct message author">{% trans 'Direct message' %}</a></li>
          <li><a
              report_url="{{ report_url }}"
              onClick="if (typeof(ga) != 'undefined') {ga('send', 'event', 'button', 'click', 'report-post');}"
              class="report" href='#' alt="report post">{% trans 'Report this post' %}</a></li>
          {% if translator or request.user.userprofile.is_cm %}
          <li>
            <div class="post-languages-menu">
              <a obj_id="{{ post.id }}" class="post-pre-init provide-translation" href="#">
                <span>{% trans 'Provide a translation' %}</span>
              </a>
              <div id="post-languages-menu-container"></div>
            </div>
  {% comment %}
          <a
              class="translate" alt="translate post">{% trans 'Translate this post' %}</a>
              <div id="translation-menu-container"></div>
  {% endcomment %}
              </li>
          {% endif %}
        </ul>
      </div>

      <div id="post-translation-container" class="comments" style="display: none;">
      </div>

      <div class="comments">
        <div class="comments-header">
          <div class="comment-count">
            {{ post.commentcount }}
            <img src="{{ STATIC_URL }}images/v2/comment_icon.png" alt="comment count" />
          </div>
          {% trans 'Leave a comment' %}
        </div>
        <form>
          <div class="alert alert-danger">
            <h4>{% trans "Please do not post any personally identifying information." %}</h4>
            <p>{% trans "Don't use your real name or email address when leaving a comment." %}</p>
          </div>
          <textarea class="form-control" name="comment"></textarea>
          <button class="btn btn-action" type="submit">{% trans "Post comment"%}</button>
        </form>

        <div class="comment-list">
          <div class="loader text-center"><img src="{{ STATIC_URL }}images/ajax-loader.gif" alt="loading comments"/>
          </div>
          <div class="content"></div>
        </div>
      </div>
      {% else %}
      <div class="post content-block">
        {% url 'account_login' as accountUrl %}
        {% url 'signup_start' as signupUrl %}
        <p>{% blocktrans %}Please <a href="{{ accountUrl }}">Login</a> or <a href="{{ signupUrl }}">Sign up</a> to view more about this post. Once you've done this you will be able to send messages to the author, comment and rate this post.{% endblocktrans %}</p>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}

{% block endjavascript %}
  {% if is_logged_in %}
  {% include "market/clientside/recommenddialog.html" %}
  {% include "market/clientside/messagedialog.html" %}
  {% include "market/clientside/reportdialog.html" %}

  <script type="text/template" id="translate-menu-template">
    <div class="language-selector">
      {% if language_list.count > 0 %}
      <ul>
        {% for l in language_list %}
          <li data-translate_url="{% url 'translation:market:translate' post.id %}?lang_code={{ l.language_code }}">{{ l.name }}</li>
        {% endfor %}
      </ul>
      {% else %}
        {% url 'user_settings' as settingsUrl %}
        <p class="content-page">{% blocktrans %}You don't have any languages selected. Please add some in your <a href="{{ settingsUrl }}#skills">settings</a>{% endblocktrans %}</p>
      {% endif %}
    </div>
  </script>

{% comment %}
  <script type="text/template" id="translator-menu-template">
    <div class="language-selector">
      {% if language_list.count > 0 %}
      <ul>
        {% for l in language_list %}
          {% if l.launguage_code != post.language %}
            <li data-init-url="{% url 'translation:market_init' post.id l.launguage_code %}">{{ l.name }}</li>
          {% endif %}
        {% endfor %}
      </ul>
      {% else %}
        {% url 'user_settings' as settingsUrl %}
        <p class="content-page">{% blocktrans %}You don't have any languages selected. Please add some in your <a href="{{ settingsUrl }}#skills">settings</a>{% endblocktrans %}</p>
      {% endif %}
    </div>
  </script>
{% endcomment %}

  <script type="text/template" id="init-languages-menu-template">
    <div class="language-selector">
    <ul>
      {% for language in translation_languages %}
        <li data-lang-code="{{ language.launguage_code }}">{{ language.name }}</li>
      {% endfor %}
    </ul>
    </div>
  </script>

{% comment %}
  <script type="text/template" id="comment-list-template">
    <% _.each(comments, function(comment) { %>
      <div comment_id="<%- comment.pk %>" class="comment">
        <div class="avatar"><img src="<%- comment.fields.avatar %>"></div>
        <div class="comment-header">
          <a href="<%- comment.fields.profile_url %>" alt="poster profile"><%- comment.fields.username %></a>
          <%- comment.fields.pub_date_formatted %>
        </div>
        <div class="comment-body">
          <pre><%- comment.fields.contents %></pre>
          <% if (comment.fields.username == document.getElementById('currentusername').innerHTML) { %>
          <div id="CommentButtons">
            <a class="delete-comment" href="<%- comment.fields.delete_url %>">{% trans "Delete"%}</a>
          </div>
          <% } %>
        </div>
      </div>
    <% }); %>
  </script>
{% endcomment %}

  <script type="text/template" id="comment-template">
    <div class="comment"
         comment_id="<%- pk %>"
         data-translate-language-url="<%- translate_language_url %>"
         data-language="<%- language %>"
         data-take-in-url="<%- take_in_url %>">
      <div class="avatar"><img src="<%- avatar %>"></div>
      <div class="comment-header">
        <a href="<%- profile_url %>" alt="poster profile"><%- username %></a>
        <%- pub_date_formatted %>
      </div>
        <div class="comment-body">
          <pre><%- contents %></pre>
          <div class="translated_by" style="display:none;"><a class="google" data-translate-human="false">{% trans 'via Google Translate' %}</a><span style="display:none;"> | {% trans 'via'%} <a class="user" data-translate-human="true"></a></span></div>
          <pre id="comment-body-translated" style="display: none;"></pre>
          {% if translator or request.user.userprofile.is_cm %}
          <div id="CommentButtons" class='comment-languages-menu'>
            <a class="comment-pre-init"><span>{% trans 'Provide a translation' %}</span></a>
            <div id="comment-languages-menu-container"></div>
          </div>
          {% endif %}
          <% if (username == document.getElementById('currentusername').innerHTML) { %>
          <div id="CommentButtons">
            <a class="delete-comment" href="<%- delete_url %>">{% trans "Delete"%}</a>
          </div>
          <% } %>
        </div>
      <div id="comment-translation-container" class="comments"></div>
    </div>
  </script>

  <script type="text/template" id="comment-translation-area">
    <form>
      <input type="hidden" name="lang_code" value="<%- lang_code %>"/>
      <% if (status == 3) { %>
        {% trans 'Waiting for approval. Translator - ' %}<a href="<%= owner_url %>"><%= owner %></a>
        <pre id="approve-details"><%= display_text %></pre>
      <% } else if (status == 2 && !active) { %>
        {% trans 'In correction now. Translator - ' %}<a href="<%= owner_url %>"><%= owner %></a>
      <% } else if (status == 1 && !active) { %>
        {% trans 'In translation now. Translator - ' %}<a href="<%= owner_url %>"><%= owner %></a>
      <% } %>

      <% if (active) { %>
        <textarea class="form-control" name="details_translated"><%= details_translated %></textarea>
      <% } %>

      <% if (status != 3) { %>
        <% if (active) { %>
          <button type="button" class="btn btn-success" id="done" >{% trans 'Translation completed' %}</button>
          <button type="button" class="btn btn-danger" id="take_off" >{% trans 'Cancel translation' %}</button>
        <% } %>
      <% } %>

      <% if (is_cm && status == 3) { %>
        <hr>
        <button type="button" class="btn btn-warning<% if (!approval_url) { %> disabled<% } %>" id="edit" >
        <% if (active) { %>
          {% trans 'Cancel editing' %}
        <% } else { %>
          {% trans 'Edit' %}
        <% } %>
        </button>
        <button type="button" class="btn btn-danger<% if (!correction_url) { %> disabled<% } %>" id="correction" >{% trans 'Request a correction' %}</button>
        <button type="button" class="btn btn-success<% if (!approval_url) { %> disabled<% } %>" id="confirm" >{% trans 'Approve' %}</button>
        <button type="button" class="btn btn-danger<% if (!revoke_url) { %> disabled<% } %>" id="revoke" >{% trans 'Discard' %}</button>
      <% } %>


      <% if (error) { %>
        <div class="alert alert-warning">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button><%- error %>
        </div>
      <% } %>

      <% if (other_user_editing && is_cm) { %>
        <div>{% trans 'If you want to take over the translation from another user you can do so below by clicking on the confirm button. That will make you the current owner of the translation and the existing owner will not be able to complete their translation.' %}</div>
        <button style="margin-top: 10px;" type="button" class="btn btn-danger" id="take_over" >{% trans 'Confirm' %}</button>
        <button style="margin-top: 10px;" type="button" class="btn" id="cancel_take_over" >{% trans 'Cancel' %}</button>
      <% } %>


    </form>
  </script>

  <script type="text/template" id="translation-area">
    <form>
      <input type="hidden" name="lang_code" value="<%- lang_code %>"/>
      <% if (status == 3) { %>
        {% trans 'Waiting for approval. Translator - ' %}<a href="<%= owner_url %>"><%= owner %></a>
        <pre id="approve-title"><%= display_title %></pre>
        <pre id="approve-details"><%= display_text %></pre>
      <% } else if (status == 2 && !active) { %>
        {% trans 'In correction now. Translator - ' %}<a href="<%= owner_url %>"><%= owner %></a>
      <% } else if (status == 1 && !active) { %>
        {% trans 'In translation now. Translator - ' %}<a href="<%= owner_url %>"><%= owner %></a>
      <% } %>

      <% if (active) { %>
      <input class="form-control" name="title_translated" type="text" value="<%= title_translated %>">
      <textarea class="form-control" name="details_translated"><%= details_translated %></textarea>
      <% } %>

      <% if (status != 3) { %>
        <% if (active) { %>
          <button type="button" class="btn btn-success" id="done" >{% trans 'Translation completed' %}</button>
          <button type="button" class="btn btn-danger" id="take_off" >{% trans 'Cancel translation' %}</button>
        <% } %>
      <% } %>

      <% if (is_cm && status == 3) { %>
        <hr>
        <button type="button" class="btn btn-warning<% if (!approval_url) { %> disabled<% } %>" id="edit" >
        <% if (active) { %>
          {% trans 'Cancel editing' %}
        <% } else { %>
          {% trans 'Edit' %}
        <% } %>
        </button>
        <button type="button" class="btn btn-danger<% if (!correction_url) { %> disabled<% } %>" id="correction" >{% trans 'Request a correction' %}</button>
        <button type="button" class="btn btn-success<% if (!approval_url) { %> disabled<% } %>" id="confirm" >{% trans 'Approve' %}</button>
        <button type="button" class="btn btn-danger<% if (!revoke_url) { %> disabled<% } %>" id="revoke" >{% trans 'Discard' %}</button>
      <% } %>

      <% if (error) { %>
        <div class="alert alert-warning">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button><%- error %>
        </div>
      <% } %>

      <% if (other_user_editing && is_cm) { %>
        <div>{% trans 'If you want to take over the translation from another user you can do so below by clicking on the confirm button. That will make you the current owner of the translation and the existing owner will not be able to complete their translation.' %}</div>
        <button style="margin-top: 10px;" type="button" class="btn btn-danger" id="take_over" >{% trans 'Confirm' %}</button>
        <button style="margin-top: 10px;" type="button" class="btn" id="cancel_take_over" >{% trans 'Cancel' %}</button>
      <% } %>

    </form>
  </script>

  <script type="text/javascript">
    (function() {
      $('.gpopover').popover({
        html: true
      });
      ahr.initViewPost({
        getCommentsUrl: '{% url 'get_comments_last' 'json' post.id 50 %}',
        addCommentUrl: "{% url 'add_comment' 'json' post.id %}",
        deleteCommentUrl: "{% url 'delete_comment' %}",
        userDefaultLangage: '{{ LANGUAGE_CODE }}',
        postLanguage: '{{ post.language }}'
      });
      ahr.initViewPostTranslation({
        is_translator: {{ translator|yesno:"true,false" }},
        is_cm: {{ user.userprofile.is_cm|yesno:"true,false" }}
      });
      {% if translator or request.user.userprofile.is_cm %}
        ahr.initCommentTranslationView({
            is_translator: {{ translator|yesno:"true,false" }},
            is_cm: {{ user.userprofile.is_cm|yesno:"true,false" }}
        });
      {% endif %}
      this.message_widget = window.ahr.messagedialog_widget.initWidget('body', '#infobar', {{ post.id }});
      this.recommend_widget = window.ahr.recommend_widget.initWidget(window.ahr.username);
    })();
  </script>

  {% endif %}
{% endblock %}
