.actions
  background-color $bg-color
  margin-top 3px
  padding-left 5px
  padding-right 5px
  padding-top 2px
  height 30px
  .right-on-large
    float right
    margin-top 3px
  a
    text-decoration none
    color $text-color

  .commentcount
    font-size 85%
    //vertical-align super
    margin-left -5px

  .actionitem
    background-color $bg-color
    padding 1px!important
    cursor pointer
    text-align center
    display inline-block
    height 15px
    &.dot
      vertical-align 2px

  .item-glyph
    font-size 100%

  .text
    font-size 80%
    padding-top 3px
    &:hover
      text-decoration underline

  .routehref.actionitem
    width auto
    .commentcount
      margin-left 0px
      vertical-align top

  .rate.rate_user.actionitem
    padding-top: 5px!important;

  .commentaction
    margin-left 10px
    padding-top: 5px!important;


#singleItem
  .actions
    .routehref.actionitem
      display none