.grayback
  background-color $filter-background
  height 30px
  overflow hidden

#filter-actions
  margin-right 20px

.filter-posts
  margin-top 4px
  margin-left 5px
  display inline-block

#showhide-hidden-container
    padding-right 10px
    margin-top -1px
    #filter-show-hidden
      &.btn-success
        background-color #596066!important
        border-color: $filter-item-selected
        color white

#info-panel-container
  height 30px
  overflow hidden
  padding-top 5px
  background-color #585f65
  #filter-info-panel
    display inline-block
    color white
    font-size 85%
    cursor pointer
    font-style italic
    color #d7d7d7
    max-width 78%
    width 78%
    max-height 20px
    overflow hidden
    float left
    .filt-inf-wrapper
      white-space: nowrap;
      overflow hidden
      text-overflow: ellipsis;
      margin-left 1%
      max-width 30%
      float left
      &.first
        margin-left 0

#market-filters
  margin-right 25px

.exchange-filter
  color: #FFF
  background-color: $filter-background
  .filter-tag
    display inline-block
    margin 2px
  .filterbuttons-cont
    max-height 250px
    margin-bottom 5px;
    overflow-y: scroll;
    margin-top 5px
    overflow-x hidden
  .market-filter-main
    position: relative
    .filter-action
      margin-bottom: 10px
    .market-filter-border
      border-right: 1px solid #FFF
      position: absolute
      height: 100%
      right: 0
    .first
      margin-top: 20px
    .market-action:hover
      cursor: pointer
  .filter-title
    text-align: center
    margin-bottom: 2px
  .filter-show
    margin-top:10px
    text-align: right
  .filter-tag
    .btn-success
      color: #FFF
      background-color: $filter-item-selected
      border-color: $filter-item-selected
    .btn-success:hover,
    .btn-success:focus,
    .btn-success:active,
    .btn-success.active,
    .open .dropdown-toggle.btn-success
      border-color: #3a3a3a;

.filter-bulk-selector.btn-default.active
    background-color #444d54
    color white
    border-color #444d54

.filter-banner-spacer-black
  background-color: #444d54
  height: 2px

.filter-toggle-button
  margin-top 5px
  margin-right 25px

.filtergroup
  margin-bottom 8px