.nonotif
  display inherit
  color #777!important

.notif
  display inherit
  //color #428BCA!important
  color #EB2D2D!important

.notif-seen.false
  background-color #f4f6f9

.notification-drop-down
  width 300px

.notifdropdown-click.title
  height 50px

.mobilenofication-icon
  position absolute
  right 13px
  top 0
  .dropdown-toggle
    margin-top 7px

.navbar-admin
  background-color: red

a.navavatar
  margin: 0 !important
  padding: 0 !important
  img
    margin 5px 10px
    width: 40px
    height: 40px
    border-radius 50%

.footer-nav
  // z-index: 5000
  background: rgba(20,20,20,0.95)!important
  color: #fff
  text-align: center
  margin-left: -10px
  padding-right: 10px
  border-color: $text-color
  text-align: center
  .navbar-nav
    float: none
  ul
    display: inline-block
  .footer-nav-content
    height: 45px
    a
      line-height: 45px
      color: #fff
      text-decoration: none
    a:hover
      color: $text-color


.footer-logos
  margin-top: 20px
  .middle
    text-align center
  .right
    text-align right


.put-in-nav
   display inline-block

.navbar-header.authenticated
  padding-right:12px;
  
.postman-notification
  font-size 135%
  .hidelarge
    font-size 75%
    vertical-align top
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  
#bellonlarge
  font-size 135%
  .hidelarge
    font-size 75%
    vertical-align top
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;