@import 'site'
@import 'site-sm'
@import 'site-xs'

.nonotif
  display inherit
  color #777!important

.notif
  display inherit
  color #428BCA!important

.notif-seen.false
  background-color #f4f6f9

#bellonlarge
  padding-top 3px

.navbar-admin
  background-color: red

a.navavatar
  margin: 0 !important
  padding: 0 !important
  img
    margin 5px 10px
    width: 40px
    height: 40px
    border-radius 50%

.footer-nav
  // z-index: 5000
  background: rgba(20,20,20,0.95)!important
  color: #fff
  text-align: center
  margin-left: -10px
  padding-right: 10px
  border-color: $text-color
  text-align: center
  .navbar-nav
    float: none
  ul
    display: inline-block
  .footer-nav-content
    height: 45px
    a
      line-height: 45px
      color: #fff
      text-decoration: none
    a:hover
      color: $text-color


.footer-logos
  margin-top: 20px
  .middle
    text-align center
  .right
    text-align right


.put-in-nav
   display inline-block