@import 'site'
@import 'site-sm'
@import 'site-xs'


.conv_link
  cursor pointer

.messageavatar>img
  border-radius 50%
  margin-top 3px

#conversation-cont
  display none
  .breadcrumb
    background-color #fff

#messagelist
 hr
    margin-top 5px
    margin-bottom 5px

#conversation
  background white
  .panel-footer
    background white
  a
    color $text-color
  a:hover
    text-decoration none

#postman_message
  #back
    visibility hidden;
  hr
    margin-top 5px
    margin-bottom 5px
