@import 'site'
@import 'site-sm'
@import 'site-xs'


.tag-buttons-fortypeahead
  max-height 110px

.tag-buttons-fortypeahead-container
  margin-top 5px

.typeahead-btn
  margin-left -5px!important

.mCSB_dragger
  background white
