{% load i18n %}
{% load socialaccount %}

<div class="home-login-form" style="margin: 0 auto;" >
  <div class="login-form-title login_or_signup_text">{% trans "LOGIN OR SIGNUP"%}</div>
  <form id="home_login_form" action="{% url 'account_login' %}" method="POST" class="form-horizontal" role="form" autocomplete="off">
    {% csrf_token %}
    <div class="form-group">
      <input class="form-control input-sm" name="email" placeholder="{% trans 'Email' %}" type="text">
    </div>
    <div class="form-group">
      <input class="form-control input-sm" name="password1" placeholder="{% trans 'Password' %}" type="password">
    </div>
    <div style="display: none;" class="form-group password_repeat">
      <input class="form-control input-sm" name="password2" placeholder="{% trans 'Retype Password ' %}" type="password">
    </div>
    <div class="clearfix">
      <h4 style="display: none;" class="invalid-login">&nbsp;</h4>
    </div>
    <div class="clearfix login_buttons">
      <div class="home-login-button first" style="width: 48%; float: left; margin-right: 4%;">
        <button onClick="ga('send', 'event', 'homepage-events', 'click', 'login');" type="submit"
                class="btn btn-secondary full-width home_login">{% trans "Login" %}</button>
      </div>
      <div class="home-login-button" style="width: 48%; float: left; ">
        <button onClick="ga('send', 'event', 'homepage-events', 'click', 'sign-up');" type="submit"
                class="btn btn-action full-width home_signup">{% trans "Sign up" %}</button>
      </div>
    </div>
    <div style="display: none;" class="clearfix submit_continue">
      <div class="home-login-button first" style="width: 48%; float: left; margin-right: 4%;">
        <button type="submit" class="btn btn-secondary full-width home_cancel">{% trans "Cancel" %}</button>
      </div>
      <div class="home-login-button" style="width: 48%; float: left; ">
        <button type="submit" class="btn btn-action full-width home_continue">{% trans "Continue" %}</button>
      </div>
    </div>
  </form>
  <div class="login-form-title social">{%trans "SIGN IN WITH"%}</div>
  <div class="home-social-signin clearfix">
    <div class="col-xs-4">
      <a onClick="ga('send', 'event', 'homepage-events', 'click', 'facebook-connect');"
         href="{% provider_login_url "facebook" %}">
        <div class="circle-container facebook"><i class="fa fa-facebook fa-lg"></i></div>
      </a>
    </div>
    <div class="col-xs-4">
      <a onClick="ga('send', 'event', 'homepage-events', 'click', 'twitter-connect');"
         href="{% provider_login_url "twitter" %}">
        <div class="circle-container twitter"><i class="fa fa-twitter fa-lg"></i></div>
      </a>
    </div>
    <div class="col-xs-4">
      <a onClick="ga('send', 'event', 'homepage-events', 'click', 'linkedin-connect');"
         href="{% provider_login_url "linkedin" %}">
        <div class="circle-container linkedin"><i class="fa fa-linkedin fa-lg"></i></div>
      </a>
    </div>
  </div>
</div>