#ajaxloader
  text-align center
  display none

#backtomarket-but-container
  height 30px

.row.singleiteem-container
  padding 4px

#searchform
  input[type=submit]
    visibility hidden
    position fixed

#market
  width 100%
  overflow hidden
  .exchange-banner.users
    background-image: url('../images/exchangivists-banner.jpg')
  .exchange-banner.posts
    background-image: url('../images/homepage-banner.jpg')

#market.market
  .delete-item
    display none

#marketitem_comments
  margin-top 70px

#marketitem_comment_form
  display none

#no-search-result
  text-align center

#create_offer
  margin-right: 145px;
  margin-left 15px

#marketitemdialog
  .market-place-item
    width 100%

#backtothemarket
  visibility hidden

#issues_place, #countries_place, #skills_place, #request_issues_place ,#request_countries_place
  .input-sm
    height 34px
    padding 10px 12px
    font-size 14px

.exchange-banner
  background: url('../images/myexchange-banner.jpg') no-repeat
  background-position: center
  background-size: cover
  background-color: #FFF
  h1
    color: $text-color
  .exchange-opacity
    min-height: 100px
    .dialog
      border-radius 0
  .message-text
    margin-bottom: 10px
  .exchange-banner-outerthing
    display table
    height 150px
    padding-right 25px
    overflow hidden
    .exchange-banner-inner-thing
      display table-cell
      vertical-align middle


.stars0
    background url('/static/images/stars.png') 0 0px
    width 118px
    height 22px
    display inline-block

.stars1
    background url('/static/images/stars.png') 0 108px
    width 118px
    height 21px
    display inline-block

.stars2
    background url('/static/images/stars.png') 0 86px
    width 118px
    height 21px
    display inline-block

.stars3
    background url('/static/images/stars.png') 0 65px
    width 118px
    height 21px
    display inline-block

.stars4
    background url('/static/images/stars.png') 0 43px
    width 118px
    height 21px
    display inline-block

.stars5
    background url('/static/images/stars.png') 0 22px
    width 118px
    height 22px
    display inline-block

.error
    font-weight bold
    color red