{% load i18n %}
<div class="poster-rating"><span class="rateit"
      data-rateit-readonly="true"
      data-rateit-value="{{ rating }}"
      data-rateit-min="0"
      data-rateit-starwidth="22"
      data-rateit-starheight="17"
      data-rateit-max="5"></span>
  <i class="gpopover glyphicon glyphicon-question-sign"
     data-toggle="popover"
     title="{% trans "MOVEMENTS STAR RATING" %}"
     data-content="{% blocktrans %}0 Stars: Confirmed Email<br>
                   1 Star: Confirmed 1 social media account<br>
                   2 Stars: Confirmed 2 social media accounts<br>
                   3 Stars: Confirmed all social media and bio<br>
                   4 Stars: Confirmed significant online presence<br>
                   5 Stars: Personally known by Movements.org<br>{% endblocktrans %}"></i>
</div>
