{% load i18n %}

{% blocktrans %}
   Welcome to the exchange, the heart of the Exchangivist online tool. 
   The Exchange allows anyone in the world to offer their skills to those who 
   are working to make a difference in the darkest places on earth, or for 
   users to post requests for help. In the exchange you can browse offers and 
   requests, create offers and requests, connect with other users, comment on 
   posts and rate users. Use the search tool or filters to see all the offers 
   and requests. The Exchangivist platform has the potential to change the work 
   of human rights forever, get started today.
{% endblocktrans %}