{% load compress %}

{% compress js inline %}
<script type="text/javascript" id="api_urls">
  window.ahr = window.ahr || {};
  window.ahr.app_urls = {
    getissues: "{% url 'get_issues' 'json' %}",
    getskills: "{% url 'get_skills' 'json' %}",
    getcountries: "{% url 'get_countries' 'json' %}",

    {% if not user.is_authenticated %}
    {% else %}
      postmanwrite: "{% url 'postman_write' 'a' %}".slice(0,-1),
      postmanreply: "{% url 'postman_reply' 0 %}".slice(0,-1),

      getprofile: "{% url 'get_userprofile' 'json' 0 %}".slice(0,-1),
      getavatar: "{% url 'get_avatar' 'json' 0 0 %}".slice(0,-1),
      getusercount: "{% url 'get_usercount' 'json' %}",
      getuserfromto: "{% url 'get_user_fromto' 'json' 0 0 %}".slice(0,-1),
      viewuserprofile: "{% url 'user_profile_for_user' 'a' %}".slice(0,-1),
      setuserrate: "{% url 'user_set_rate' 'json' 'a' %}".slice(0,-1),
      getusernames: "{% url 'user_get_usernames' 'json' %}",
      changepassword : "{% url 'account_change_password' %}",
      setpassword: "{% url 'account_set_password' %}",

      getNationalities: "{% url 'get_nationalities' 'json' %}",
      getmessagecount: "{% url 'get_messagecount' 'json' %}",

      market: "{% url 'show_market' %}",
      getposts:  "{% url 'posts'  %}",
      getmarketitemfromto: "{% url 'get_marketitems_fromto' 'json' 0 0 %}".slice(0,-1),
      getusermarketitemsfromto : "{% url 'get_usermarketitems_fromto' 'json' 0 0 %}".slice(0,-1),
      getusermarketitemsforuserfromto: "{% url 'get_usermarketitems_for_user_fromto' 'json' 0 0 0 %}".slice(0,-1),
      sendmessage: "{% url 'send_message' 'json' 0 %}".slice(0,-1),
      senditemrecommendation: "{% url 'send_recommendation' 'json' 'item' 0 %}".slice(0,-1),
      senduserrecommendation: "{% url 'send_recommendation' 'json' 'user' 0 %}".slice(0,-1),
      marketsetrate: "{% url 'market_set_rate' 'json' 0 %}".slice(0,-1),

      reportuser: "{% url 'report_user' 'json' 0 %}".slice(0,-1),

      getmarketnotificationsfromto: "{% url 'get_notifications_fromto' 'json' 0 0 %}".slice(0,-1),
      getnotseennotif: "{% url 'get_notseen_notif' 'json' 0 0 %}".slice(0,-1),
      shownotifications: "{% url 'show_notifications' %}"
    {% endif %}
  };

  {% if user and user.id %}
    window.ahr.user_id = {{ user.id }};
    window.ahr.username = "{{ user.username }}";
    window.ahr.messageCounterWatch();
  {% else %}
    window.ahr.user_id = 0;
  {% endif %}
    window.ahr.current_site = "{{ request.build_absolute_uri }}"
</script>
{% endcompress %}

