{% load i18n %}
{% load compress %}

<div id="close_item_dialog" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">
          <span id="close_modal_title"
                data-request_title="{%trans "CLOSE A REQUEST"%}"
                data-offer_title="{%trans "CLOSE AN OFFER"%}"></span>
        </h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" role="form" id="questionnaire_form"></form>
      </div>
    </div>
  </div>
</div>

<script type="text/template" id="close-item-form-template">
  <div id="itemformerror"></div>
  <div class="form-group"><%- title %></div>
  <% _.each(questions, function(question) { %>
      <div class="form-group" id="question_<%- question.question_id %>"></div>
  <% }); %>
  <div class="modal-footer">
    <span class="col-xs-offset-6 col-xs-6 pull-right">
      <div class="row">
        <button type="submit" class="btn btn-default full-width pull-right item-close">{% trans "Close" %}</button>
      </div>
    </span>
  </div>
</script>

{% compress js inline %}
<script type="text/javascript">
(function(){
  window.ahr.CloseItemDialogView = window.ahr.BaseView.extend({
    el: '#close_item_dialog',

    events: {
      'hide.bs.modal': 'dialogClosing',
      'submit': 'submit'
    },

    initialize: function () {
      this.widgets = [];
    },

    dialogClosing: function(ev){
      ev.stopImmediatePropagation();
      this.emptyTheForm();
    },

    close: function(item_id, item_type, close_url, callback){
      $('#' + this.el.id + ' #itemformerror').empty();
      $('#' + this.el.id + ' .error').empty();

      this.item_id = item_id;
      this.item_type = item_type;
      this.url = close_url;
      this.callback = callback;

      $.ajax({
        url: this.url,
        context: this,
        success: this.setQuestionnaire
      });
    },

    setQuestionnaire: function(data) {
      this.questionnaire = data.questionnaire;
      var templateArgs = {
        title: this.questionnaire.questionnaire_title,
        questions: this.questionnaire.questions
      };
      var questionnaire_form = _.template($('#close-item-form-template').html(), templateArgs);
      $('#questionnaire_form').html(questionnaire_form);

      this.makeWidget();
      this.showModal();
    },

    makeWidget: function () {
      var widgets = {},
          widget;
      var questions = this.questionnaire.questions;
      for (var i in questions) {
          var question = questions[i];
          widget = window.ahr.textarea_widget.initWidget(
              '#question_' + question.question_id,
              {title: question.question_text,
               jsonfield: 'question_' + question.question_id,
               placeholder: '{%trans "Please enter your answer"%}'},
              null);
          widgets['question_' + question.question_id] = widget;
      }
      this.widgets = widgets;
    },

    showModal: function () {
      $('#' + this.el.id + ' #itemformerror').empty();
      var $close_modal_title = $('#close_modal_title');
      $close_modal_title.text($close_modal_title.data(this.item_type + '_title'));
      this.$el.modal('show');
    },

    getFormData: function(){
      var retdict = {};
      var widgets = this.widgets;
      for (var i in widgets) {
          var widget = widgets[i];
          retdict[i] = widget.getval();
      }
      return retdict;
    },

    emptyTheForm: function () {
      $('input,textarea', $('#requestdialog')).val('');
    },

    submit: function (e) {
      e.preventDefault();
      var that = this;
      $('#' + that.el.id + ' #itemformerror').empty();
      $('#' + that.el.id + ' .error').empty();

      var dfrd = $.ajax({
        type: 'POST',
        url: this.url,
        dataType: 'json',
        traditional: true,
        data: this.getFormData()
      });

      dfrd.done(function () {
        that.aftersubmit();
        return true;
      });

      dfrd.fail(function (data) {
        for (var item in data.responseJSON.errors) {
          $('.' + data.responseJSON.errors[item][0] + '.error', $(that.el)).html(data.responseJSON.errors[item][1]);
          if (data.responseJSON.errors[item][0] == "__all__") {
            that.alert(data.responseJSON.errors[item][1], '#' + that.el.id + ' #itemformerror');
          }
        }
      });

      return false;
    },

    aftersubmit: function(){
      this.$el.modal('hide');
      this.emptyTheForm();
      if (typeof this.callback == "function") {
          this.callback(this.item_id);
      }
    }
  });
})();
</script>
{% endcompress %}
