{% load i18n %}

{% load compress %}
<script type="text/template" id="expdate_template">
  <div class="col-md-12 ">
    <div class="<%- jsonfield %> error"></div>
  </div>
  <div class="col-md-12">
    <label for="<%- jsonfield %>"><%- title %></label>
  </div>
  <div class="col-md-6">
    <input type='text' id="<%- jsonfield %>"  name="<%- jsonfield %>" class="form-control input-sm" />
  </div>
  <div class="col-md-6">
    <label for="expdate-neverexpire"><input type="checkbox" id="expdate-neverexpire" name="expdate-neverexpire"/>{% trans "Never expire" %}</label>
  </div>

</script>

{% compress js inline %}
<script type="text/javascript" id="expdate_view">
 (function(){

    var ExpdateWidget = window.ahr.BaseView.extend({

        change: function(obj){
            this.setExpDate(obj);
        },

        neverexp: function(ev){
            if($(ev.currentTarget).prop('checked') === false){
                $('#'+this.name,$(this.container)).attr('readonly',false);
                $('#'+this.name,$(this.container)).show();
            }else{
                $('#'+this.name,$(this.container)).attr('readonly',true);
                $('#'+this.name,$(this.container)).hide();
            }
        },


        setExpDate: function(obj){
            days = moment(obj.exp_date).diff(moment(),'days');
            $('#'+this.name,$(this.container)).val(days);
            if (moment(obj.pub_date).diff(moment(obj.exp_date),'days') <= -36500){
                $('#'+this.name,$(this.container)).attr('readonly',true);
                $('#'+this.name,$(this.container)).hide();
                $('#expdate-neverexpire',$(this.container)).prop('checked',true);
            }else{
                $('#'+this.name,$(this.container)).attr('readonly',false);
                $('#'+this.name,$(this.container)).show();
                $('#expdate-neverexpire',$(this.container)).prop('checked',false);
            }
        },

        getExpDate: function(){
            var val;
            if($('#expdate-neverexpire',$(this.container)).prop('checked') === true){
                val = 36500;
            } else {
                val = $('#'+this.name,$(this.container)).val();
            }

            if(val===""){return "";}
            var date = moment().add('days', parseInt(val, 10) + 1).format("D/M/YYYY HH:m");
            return date;
        },

        initialize: function(data){
            var that = this;
            this.container = data.container;
            this.settings = data.settings
            this.name = this.settings.jsonfield;
            var tmpl = _.template($('#expdate_template').html());
            var html = tmpl({title:this.settings.title,jsonfield: this.settings.jsonfield});
            $(this.container).html(html);
            var evnt = {}
            this.delegateEvents(_.extend(this.events,{'click #expdate-neverexpire':'neverexp'}));
            if(data.prvl){
                this.setExpDate(data.preset);
            }
        }
    });
    window.ahr.expdate_widget = window.ahr.expdate_widget || {};
    window.ahr.expdate_widget.initWidget= function(container,item,preval){
        var widget = new ExpdateWidget({el: container, 'container':container,'settings':item,'preset':preval});
        return widget;

    };
})();
</script>
{% endcompress %}