{% load i18n %}

{% load compress %}
<script type="text/template" id="filters_template">
<div class="exchange-filter">
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div id="market-filters" class="collapse">
              <div class="col-md-3">
                <div class="market-filter-main">
                  <div class="market-filter-border"></div>
                  <div class="filter-action first item-type" item_type="all">
                    <img src="{{ STATIC_URL }}images/all-button-50x50.png" alt="Filter by all" />
                    <span>{% trans "All" %}</span>
                  </div>
                  <div class="filter-action item-type" item_type="Offers">
                    <img src="{{ STATIC_URL }}images/offer-button-50x50.png" alt="Filter by offers" />
                    <span id="filter-offer-text">{% trans "Offers" %}</span>
                  </div>
                  <div class="filter-action item-type" item_type="Request">
                    <img src="{{ STATIC_URL }}images/request-button-50x50.png" alt="Filter by requests" />
                    <span id="filter-request-text">{% trans "Requests" %}</span>
                  </div>
                </div>
              </div>

              <div class="filterbuttons-cont">
                <div class="col-md-4 pull-left">
                  <div class="filter-title">{% trans "Issues" %}</div>
                  <div class="btn-group btn-group-justified filtergroup" data-toggle="buttons">
                    <label class="btn filter-bulk-selector btn-default btn-xs all all-issues issues">
                      <input type="radio" name="all-issues"> {% trans "All" %}
                    </label>
                    <label class="btn filter-bulk-selector btn-default btn-xs cus cus-issues issues">
                      <input type="radio" name="cus-issues"> {% trans "Custom" %}
                    </label>
                    <label class="btn filter-bulk-selector btn-default btn-xs def def-issues issues">
                      <input type="radio" name="def-issues"> {% trans "Default" %}
                    </label>
                  </div>
                  <div class="row issues btn-group-sm pull-left" item_title="issues"></div>
                </div>

                <div class="col-md-4 pull-left">
                  <div class="filter-title">{% trans "Countries" %}</div>
                  <div class="btn-group btn-group-justified filtergroup" data-toggle="buttons">
                    <label class="btn filter-bulk-selector btn-default btn-xs all all-countries countries">
                      <input type="radio" name="all-countries"> {% trans "All" %}
                    </label>
                    <label class="btn filter-bulk-selector btn-default btn-xs  cus cus-countries countries">
                      <input type="radio" name="cus-countries"> {% trans "Custom" %}
                    </label>
                    <label class="btn filter-bulk-selector btn-default btn-xs def def-countries countries">
                      <input type="radio" name="def-countries"> {% trans "Default" %}
                    </label>
                  </div>
                  <div class="row countries btn-group-sm pull-left" item_title="countries"></div>
                </div>

                <div class="col-md-4 pull-left">
                  <div class="filter-title">{% trans "Skills" %}</div>
                  <div class="btn-group btn-group-justified filtergroup" data-toggle="buttons">
                    <label class="btn filter-bulk-selector btn-default btn-xs all all-skills skills">
                      <input type="radio" name="all-skills"> {% trans "All" %}
                    </label>
                    <label class="btn filter-bulk-selector btn-default btn-xs cus cus-skills skills">
                      <input type="radio" name="cus-skills"> {% trans "Custom" %}
                    </label>
                    <label class="btn filter-bulk-selector btn-default btn-xs def def-skills skills">
                      <input type="radio" name="def-skills"> {% trans "Default" %}
                    </label>
                  </div>
                  <div class="row skills btn-group-sm pull-left" item_title="skills"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</script>


{% compress js inline %}
<script type="text/javascript">
  $(document).ready(function () {
  var filterWidget = Backbone.View.extend({
    filterheightOpen: 0,
    filterheightClosed: 0,
    cookieread: false,
    hasScroll: false,
    justOpend: true,
    events:{
        'click #searchbtn': 'search',
        'click .tagbutton': 'tagsfilter',
        'click .item-type': 'itemTypesfilter',
        'click .filter-bulk-selector': 'bulkCustomizeFiltersEV',
        'click .btn.tag-button': 'itemTagCick',
        'submit #searchform': 'filterKeySearch',
        'show.bs.collapse #market-filters': 'filterButtonShow',
        'hide.bs.collapse #market-filters': 'filterButtonHide'
    },
    search: function () {
      this.filters.search = $('#q').val();
      this.callback();
    },

    setFiltersDefault: function (tags) {
      this.filters[tags] = window.ahr.clone(this.default_filters[tags]);
    },

    setFilterNone: function (tags) {
      if (typeof tags == 'string') {
        this.filters[tags] = window.ahr.clone(this.default_filters[tags]);
      } else {
        this.filters = window.ahr.clone(this.default_filters);
      }
      var tagsarr = [];
      _.each(window.ahr[tags], function (item) {
        tagsarr.push(parseInt(item.pk, 10));
      });
      this.filters[tags] = tagsarr;
    },

    setFilterKeys: function (taghead) {
      var that = this;
      $('.row.' + taghead).empty();
      this.initFilters(that, taghead, that.tagtemp);

    },

    setFiltersFromCookie: function (that, items) {
      var cookie = $.cookie('tagfilters');
      if (typeof cookie != 'undefined') {
        if (items != "types") {
          that.filters[items] = cookie[items];
        }
      }
    },

    initFilters: function (that, items, templ) {
      _.each(window.ahr[items], function (item) {
        var activeFlag = ' ';
        if (_.contains(that.filters[items], item.pk)) {
          activeFlag = 'btn-success';
        }
        $('.row.btn-group-sm.' + items).append(templ({
          filtertag: item.value,
          active: activeFlag
        }));
      });
    },

    updateTagsfilter: function (that, ev) {
      var a = $(ev.currentTarget).closest('.row').attr("item_title");
      ar = that.filters[a];
      data = window.ahr[a];
      var tagData = _.find(data, function (test) {
        return (test.value == ev.currentTarget.textContent);
      });
      if (tagData) {
        if (_.contains(ar, tagData.pk)) {
          that.filters[a] = _.filter(ar, function (item) {
            return item != tagData.pk;
          });
          $(ev.currentTarget).removeClass('btn-success');
        } else {
          that.filters[a].push(tagData.pk);
          $(ev.currentTarget).addClass('btn-success');
        }
      }
      $.cookie('tagfilters', that.filters);
    },

    updateTypefilter: function (that, ev) {
      that.filters.types.length = 0;
      var item_type = ev.currentTarget.getAttribute('item_type');
      if (that.types[item_type]) {
        that.filters.types.push(that.types[item_type]);
      }
    },

    setFilterType: function (tags, ftype) {
      $('input[name$="-' + tags + '"]').parent().removeClass('active');
      $('input[name="' + ftype + '-' + tags + '"]').parent().addClass('active');
    },

    setFilterOpenHeight: function () {
      var that = this,
      oldViz = $('.filterbuttons-cont').css('visibility');
      $('#market-filters').removeClass('collapse');
      $('.filterbuttons-cont').css('visibility','visible');
      this.setFilterWrapperMargin(this.filterheightOpen, 0, function(){
        that.filterheightOpen = $('.filterbuttons-cont').css('height')+114;
        $('.filterbuttons-cont').css('visibility',oldViz);
        $('#market-filters').addClass('collapse');
      });

    },

    filterKeySearch: function (ev) {
      ev.preventDefault();
      this.search();
      return false;
    },

    itemTypesfilter: function (ev) {
      this.updateTypefilter(this, ev);
      this.callback();
    },

    tagsfilter: function (ev) {
      this.updateTagsfilter(this, ev);
      var tags = $(ev.currentTarget).closest('.btn-group-sm').attr('item_title');
      this.setFilterType(tags, 'cus');
      this.callback();
    },

    filterButtonHide: function (ev) {
      var that = this;
      $('#filterbuttontext').html('&nbsp; {% trans "Show Filters" %} &nbsp;');
      $('#togglefilter').removeClass('dropup');
      this.setFilterWrapperMargin(this.filterheightClosed, 300, function(){
        $.noop();
      });
    },

    filterButtonShow: function (ev) {
      var that = this;
      $('#filterbuttontext').html('&nbsp; {% trans "Hide Filters" %}&nbsp;');
      $('#togglefilter').addClass('dropup');
      this.setFilterWrapperMargin(this.filterheightOpen, 300, function(){
        $.noop();
      });
    },

    bulkCustomizeFilters: function (tag, action) {
      if (action == 'all') {
        this.setFilterNone(tag);
      }
      if (action == 'def') {
        this.setFiltersDefault(tag);
      }
      if (action == 'cus') {
        this.setFiltersFromCookie(this, tag);
      }
      var tmp = $.cookie('bulkfilters');
      tmp[tag] = action;
      $.cookie('bulkfilters', tmp);
      this.setFilterKeys(tag);
      this.callback();
    },

    initBulkFilters: function (bulksArg) {
      $('.btn.filter-bulk-selector').removeClass('active');
      var bulks;
      if (typeof bulksArg === 'undefined') {
        bulks = $.cookie('bulkfilters');
      } else {
        bulks = bulksArg;
      }
      if (typeof bulks === "undefined") {
        bulks = {
          countries: "all",
          issues: "all",
          skills: "all"
        };
        $.cookie('bulkfilters', bulks);
        $('.filter-bulk-selector.all').addClass('active');
      }
      var that = this;
      _.each(bulks, function (selection, tag) {
        that.bulkCustomizeFilters(tag, selection);
        $('.filter-bulk-selector.' + selection + '-' + tag).addClass('active');
      });
    },

    setFilterWrapperMargin: function (height, speed, callback) {
      $('#action-wrapper').animate({
        height: height
      }, speed, callback);
    },

    bulkCustomizeFiltersEV: function (ev) {
      var val = $('input', $(ev.currentTarget)).attr('name').split('-');
      action = val[0];
      tag = val[1];
      this.bulkCustomizeFilters(tag, action);
    },

    itemTagCick: function (ev) {
      var that = this;
      if (that.disable_item_click() === true) return;
      that.markAll();
      var tagType = ev.currentTarget.getAttribute('tagtype');
      var len = ev.currentTarget.textContent.length;
      var tag = ev.currentTarget.textContent.slice(1, len - 1)
      data = window.ahr[tagType];
      var tagData = _.find(data, function (test) {
        return (test.value == tag);
      });
      $('.btn.filter-bulk-selector.' + tagType).removeClass('active');
      $('.tagbutton', $('.row.' + tagType)).removeClass('btn-success');
      $('.tagbutton', $('.row.' + tagType)).each(function () {
        if ($(this).text() == tag) {
          $(this).addClass('btn-success');
          return false;
        }
      });
      that.filters[tagType] = [tagData.pk];
      that.filters.types = _.values(that.types);
      that.callback();
    },

    markAll: function () {
      $('.tagbutton', $('.row')).removeClass('btn-success');
      $('.tagbutton', $('.row')).addClass('btn-success');
      this.filters.types = _.values(this.types);
      this.filters.skills = _.keys(window.ahr.skills_lookup);
      this.filters.issues = _.keys(window.ahr.issues_lookup);
      this.filters.countries = _.keys(window.ahr.countries_lookup);
      $('.btn.filter-bulk-selector').removeClass('active');
      $('.btn.filter-bulk-selector.all').addClass('active');
    },

    initTemplates: function () {
      this.typetag_tmp = _.template($('#type-tag').html());
      this.tagtemp = _.template($('#filter-tag').html());
      for (var key in this.filters) {
        if (["skills", "countries", "issues"].indexOf(key) > -1) {
          this.initFilters(this, key, this.tagtemp);
        }
      }
      this.cookieread = true;
    },

    initialize: function (data) {
      var that = this;
      // calculate height of the market-filters when opened and closed so we can set
      // the height of the market-filter correctly when we fix it to the top
      this.filterheightClosed = $('#fixed-actions').height();
      $('#action-wrapper').height(this.filterheightClosed + "px");

      $.cookie.json = true;
      this.container = data.container;
      this.filters = data.filters;
      this.first_types = data.filters.types;
      this.initTemplates(data.filters);
      this.default_filters = data.default_filters;
      this.callback = data.callback;
      this.disable_item_click = data.disable_item_click;
      this.filters.search = $('#q').val();
      var tmpl = _.template($('#filters_template').html());
      var html = tmpl({});
      $('#' + this.container).html(html);
      var resizeFilters = function () {
        var newHight = $('#fixed-actions').height();
        $('#action-wrapper').height(newHight + "px");
        that.setFilterOpenHeight();
      };
      this.setFilterOpenHeight();
      $.subscribe("filters.resize", resizeFilters);
      $(window).resize(resizeFilters);
      $('#action-wrapper').affix({
        offset: {
          top: 300
        }
      });
    }
  });

  window.widgets = window.widgets || {};
  window.widgets.filter_widget = window.widgets.filter_widget || {};
  window.widgets.filter_widget.initWidget = function (container, el, filters, default_filters, callback, disable_item_click) {
    var widget = new filterWidget({
      'el': el,
      'container': container,
      'filters': filters,
      'default_filters': default_filters,
      'callback': callback,
      'disable_item_click':  disable_item_click
    });
    return widget;
  };
});
</script>
{% endcompress %}