<div class="exchange-filter">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="row">
          <div id="market-filters" class="collapse">
            <div class="col-sm-3">
              <div class="market-filter-main">
                <div class="market-filter-border"></div>
                <div class="market-action first item-type" item_type="all">
                  <img src="{{ STATIC_URL }}images/all-button-50x50.png" alt="Filter by all" />
                  <span>All</span>
                </div>
                <div class="market-action item-type" item_type="Offers">
                  <img src="{{ STATIC_URL }}images/offer-button-50x50.png" alt="Filter by offers" />
                  <span id="filter-offer-text">Offers</span>
                </div>
                <div class="market-action item-type" item_type="Request">
                  <img src="{{ STATIC_URL }}images/request-button-50x50.png" alt="Filter by requests" />
                  <span id="filter-request-text">Requests</span>
                </div>
              </div>
            </div>
            <div class="col-sm-3 pull-left">
              <div class="filter-title">Issues</div>
              <div class="btn-group btn-group-justified filtergroup" data-toggle="buttons">
                  <label class="btn filterselector btn-default btn-xs">
                      <input type="radio" name="all-issues"> All
                  </label>
                  <label class="btn filterselector btn-default btn-xs">
                      <input type="radio" name="cus-issues"> Custom
                  </label>
                  <label class="btn filterselector btn-default btn-xs">
                      <input type="radio" name="def-issues"> Default
                  </label>
              </div>
              <div class="row issues btn-group-sm pull-left" item_title="issues"></div>
            </div>
            <div class="col-sm-3 pull-left">
              <div class="filter-title">Countries</div>
              <div class="btn-group btn-group-justified filtergroup" data-toggle="buttons">
                  <label class="btn filterselector btn-default btn-xs">
                      <input type="radio" name="all-countries"> All
                  </label>
                  <label class="btn filterselector btn-default btn-xs">
                      <input type="radio" name="cus-countries"> Custom
                  </label>
                  <label class="btn filterselector btn-default btn-xs">
                      <input type="radio" name="def-countries"> Default
                  </label>
              </div>
              <div class="row countries btn-group-sm pull-left" item_title="countries"></div>
            </div>
            <div class="col-sm-3 pull-left">
              <div class="filter-title">Skills</div>
              <div class="btn-group btn-group-justified filtergroup" data-toggle="buttons">
                  <label class="btn filterselector btn-default btn-xs">
                      <input type="radio" name="all-skills"> All
                  </label>
                  <label class="btn filterselector btn-default btn-xs">
                      <input type="radio" name="cus-skills"> Custom
                  </label>
                  <label class="btn filterselector btn-default btn-xs">
                      <input type="radio" name="def-skills"> Default
                  </label>
              </div>
              <div class="row skills btn-group-sm pull-left" item_title="skills"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 filter-show">
            <button type="button"class="btn btn-xs" id="togglefilter" data-toggle="collapse" data-target="#market-filters">
              <span id="filterbuttontext">Show Filters</span>
              <span class="caret"></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
