{% load i18n %}

{% load compress %}
<script type="text/template" id="filters_template">
<div id="action-wrapper">
    <div id="fixed-actions">
      <div class="exchange-actions" >
        <div class="container">
          <div class="row">
            <div id="create_offer" class="market-action pull-left">
              <img src="{{ STATIC_URL }}images/offer-button-30x30.png" alt="{%trans "Create an offer"%}" />
              <span>{%trans "Create an offer"%}</span>
            </div>
            <div id="create_request" class="market-action pull-left">
              <img src="{{ STATIC_URL }}images/request-button-30x30.png" alt="{%trans "Create a request"%}" />
              <span>{%trans "Create a request"%}</span>
            </div>
            <div id="filter-actions" class="right-on-big">
              <div class="filter-posts">
                <button type="button"class="btn btn-success btn-default btn-xs item-type" item_type="Request">
                  <span>&nbsp; {% trans "Show Requests" %} &nbsp;</span>
                </button>
              </div>
              <div class="filter-posts">
                <button type="button" class="btn btn-success btn-default btn-xs item-type" item_type="Offers">
                  <span>&nbsp; {% trans "Show Offers" %} &nbsp;</span>
                </button>
              </div>
              <div class="filter-posts" id="showhide-hidden-container">
                <button class="btn btn-default btn-xs" id="filter-show-hidden">Show hidden</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="filter-banner-spacer-black"></div>
      <div class="row grayback">
        <div class="container">
          <div id="info-panel-container">
            <div>
              <div id="filter-info-panel">
                <span class="filt-inf-wrapper first">
                 Filters:
                </span>
                <span class="filt-inf-wrapper">
                  Issues: <span id="activate-issues-filters"></span>
                </span>
                <span class="filt-inf-wrapper">
                  Countries: <span id="activate-countries-filters"></span>
                </span>
                <span class="filt-inf-wrapper">
                  Skills: <span id="activate-skills-filters"></span>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</script>


{% compress js inline %}
<script type="text/javascript">
  $(document).ready(function () {
  var filterWidget = Backbone.View.extend({
    filterheightOpen: 0,
    filterheightClosed: 0,
    cookieread: false,

    events:{
        'click #searchbtn': 'search',
        'click .tagbutton': 'tagsfilter',
        'click .item-type': 'itemTypesfilter',
        'click .btn.tag-button': 'itemTagCick',
        'click #filter-show-hidden': 'showHidden',
        'submit #searchform': 'filterKeySearch',
    },

    showHidden: function(ev){
      $(ev.currentTarget).toggleClass("btn-success");
      if($(ev.currentTarget).hasClass('btn-success')){
        this.filters.showHidden = true;
      }else{
        this.filters.showHidden = false;
      }
      this.callback();
    },

    search: function () {
      this.filters.search = $('#q').val();
      this.callback();
    },

    setFiltersDefault: function (tags) {
      this.filters[tags] = window.ahr.clone(this.default_filters[tags]);
    },

    setFilterNone: function (tags) {
      if (typeof tags == 'string') {
        this.filters[tags] = window.ahr.clone(this.default_filters[tags]);
      } else {
        this.filters = window.ahr.clone(this.default_filters);
      }
      var tagsarr = [];
      _.each(window.ahr[tags], function (item) {
        tagsarr.push(parseInt(item.pk, 10));
      });
      this.filters[tags] = tagsarr;
    },

    setFiltersFromCookie: function (that, items) {
      var cookie = $.cookie('tagfilters');
      if (typeof cookie != 'undefined') {
        if (items != "types") {
          that.filters[items] = cookie[items];
        }
      }
    },

    initFilters: function (that, items, templ) {
      _.each(window.ahr[items], function (item) {
        var activeFlag = ' ';
        if (_.contains(that.filters[items], item.pk)) {
          activeFlag = 'btn-success';
        }
        $('.row.btn-group-sm.' + items).append(templ({
          filtertag: item.value,
          active: activeFlag
        }));
      });
    },

    updateTagsfilter: function (that, ev) {
      var a = $(ev.currentTarget).closest('.row').attr("item_title");
      ar = that.filters[a];
      data = window.ahr[a];
      var tagData = _.find(data, function (test) {
        return (test.value == ev.currentTarget.textContent);
      });
      if (tagData) {
        if (_.contains(ar, tagData.pk)) {
          that.filters[a] = _.filter(ar, function (item) {
            return item != tagData.pk;
          });
          $(ev.currentTarget).removeClass('btn-success');
        } else {
          that.filters[a].push(tagData.pk);
          $(ev.currentTarget).addClass('btn-success');
        }
      }
      $.cookie('tagfilters', that.filters);
    },

    setFilterType: function (tags, ftype) {
      console.log('setFilterType');
      return;
    },

    setFilterOpenHeight: function () {
      $('#market-filters').removeClass('collapse');
      if($('#market-filters').css('height')=='0px'){
        $('#market-filters').css('height','auto');
        this.filterheightOpen = $("#fixed-actions").height();
        $('#market-filters').css('height','0px');
        $('#market-filters').addClass('collapse');
      }else{
        this.filterheightOpen = $("#fixed-actions").height();
        $('#market-filters').addClass('collapse');
      }
    },

    filterKeySearch: function (ev) {
      ev.preventDefault();
      this.search();
      return false;
    },

    updateTypefilter: function () {
      var that = this;
      that.filters.types.length = 0;
      $('.item-type').each(function(ind, item){
        if($(item).hasClass('btn-success')){
          var item_type = item.getAttribute('item_type');
          that.filters.types.push(that.types[item_type]);
        }
      });
    },

    itemTypesfilter: function (ev) {
      $(ev.currentTarget).toggleClass('btn-success');
      this.updateTypefilter();
      this.callback();
    },

    tagsfilter: function (ev) {
      this.updateTagsfilter(this, ev);
      var tags = $(ev.currentTarget).closest('.btn-group-sm').attr('item_title');
      this.setFilterType(tags, 'cus');
      this.callback();
      this.updateFiltInfo();
    },

    updateFiltInfo:function(){
      var a=[[$('.filter-bulk-selector.all-issues'),$('.filter-bulk-selector.def-issues'),'issues'],
        [$('.filter-bulk-selector.all-skills'),$('.filter-bulk-selector.def-skills'),'skills'],
        [$('.filter-bulk-selector.all-countries'),$('.filter-bulk-selector.def-countries'),'countries']]
      _.each(a,function(item){
        if(item[0].hasClass('active')){
          $('#activate-'+item[2]+'-filters').text('All');
        }
        else if(item[1].hasClass('active')){
          $('#activate-'+item[2]+'-filters').text('Defaults');
        }else{
          var a_list = '';
          $('.btn.tagbutton.btn-success',$('.row.'+item[2]+'.btn-group-sm')).each(function(){
            a_list += $(this).text()+', ';
          });
          $('#activate-'+item[2]+'-filters').text(a_list);
        }
      });
    },

    toggleFiltInfo:function(h,speed){
      this.updateFiltInfo();
    },

    filterButtonShowAndTog: function(ev){
      $('#togglefilter').trigger('click');
    },

    initBulkFilters: function (bulksArg) {
      console.log('initBulkFilters');
      return;
    },

    setFilterWrapperMargin: function (height, speed, callback) {
      $('#action-wrapper').animate({
        height: height
      }, speed, callback);
    },


    itemTagCick: function (ev) {
      var that = this;
      if (that.disable_item_click() === true) return;
      that.markAll();
      var tagType = ev.currentTarget.getAttribute('tagtype');
      var len = ev.currentTarget.textContent.length;
      var tag = ev.currentTarget.textContent.slice(1, len - 1)
      data = window.ahr[tagType];
      var tagData = _.find(data, function (test) {
        return (test.value == tag);
      });
      $('.btn.filter-bulk-selector.' + tagType).removeClass('active');
      $('.tagbutton', $('.row.' + tagType)).removeClass('btn-success');
      $('.tagbutton', $('.row.' + tagType)).each(function () {
        if ($(this).text() == tag) {
          $(this).addClass('btn-success');
          return false;
        }
      });
      that.filters[tagType] = [tagData.pk];
      that.filters.types = _.values(that.types);
      that.callback();
      this.updateFiltInfo();
    },

    initTemplates: function () {
      this.typetag_tmp = _.template($('#type-tag').html());
      this.tagtemp = _.template($('#filter-tag').html());
      for (var key in this.filters) {
        if (["skills", "countries", "issues"].indexOf(key) > -1) {
          this.initFilters(this, key, this.tagtemp);
        }
      }
      this.cookieread = true;
    },

    initialize: function (data) {
      var that = this;
      $.cookie.json = true;
      this.container = data.container;
      this.filters = data.filters;
      this.first_types = data.filters.types;
      this.initTemplates(data.filters);
      this.default_filters = data.default_filters;
      this.callback = data.callback;
      this.disable_item_click = data.disable_item_click;
      this.filters.search = $('#q').val();
      this.filters.showHidden = false;
      var tmpl = _.template($('#filters_template').html());
      var html = tmpl({});
      $('#' + this.container).html(html);
      var resizeFilters = function () {
        that.setFilterOpenHeight();
        var newHight = $('#fixed-actions').height();
        $('#action-wrapper').height( newHight+ "px");
      };
      // calculate height of the market-filters when opened and closed so we can set
      // the height of the market-filter correctly when we fix it to the top
      this.filterheightClosed = $('#fixed-actions').height();
      this.setFilterOpenHeight();
      $('#action-wrapper').height(this.filterheightClosed + "px");

      $.subscribe("filters.resize", resizeFilters);
      $(window).resize(resizeFilters);
      $('#fixed-actions').affix({
        offset: {
          top: 155
        }
      });
    }
  });

  window.widgets = window.widgets || {};
  window.widgets.filter_widget = window.widgets.filter_widget || {};
  window.widgets.filter_widget.initWidget = function (container, el, filters, default_filters, callback, disable_item_click) {
    var widget = new filterWidget({
      'el': el,
      'container': container,
      'filters': filters,
      'default_filters': default_filters,
      'callback': callback,
      'disable_item_click':  disable_item_click
    });
    return widget;
  };
});
</script>
{% endcompress %}