{% load i18n %}
{% load compress %}

<script type="text/template" id="item_template">
  <div class="market-place-item <%- item_type %> <% if(stick) { %>item-stuck<% } %> <% if (hidden) { %>item-hidden<% } %>"
       data-item-id="<%- pk %>"
       data-owner-id="<%- ownerid %>"
       data-close-url="<%- close_url %>"
       data-report-url="<%- report_url %>"
       data-item-type="<%- item_type %>"
       data-stick="<%- stick %>"
       data-hidden="<%- hidden %>"
       data-has-edit="<%- hasEdit %>"
       data-attributes-url="<%- attributes_url %>">
    <div class="market-item-card">
      <div class="body">
        <a href="/market/<%- pk %>" alt="Open post">
          <div class="item-type"><%- item_type_display %></div>
          <div class="title"><%- title %></div>
        </a>
        <div class="details">
          <%- item_type_display %>
          by <a href="/user/profile/<%- owner %>"><%- owner %></a>, posted on <%- moment(pub_date).format('MMMM Do YYYY, h:mm a') %>, </span>
          <a href="/market/<%- pk %>"><%- commentcount %> comments</a>.
        </div>
      </div>
      <div class="item-menu-container">
        <a class="item-menu" href="#">
          <img src="{{ STATIC_URL }}images/v2/item_menu_gray_icon.png"/>
        </a>
      </div>
      <a class="share-twitter" href="#"><img src="{{ STATIC_URL }}images/v2/twitter_gray.png"/></a>
      </ul>
    </div>
  </div>

{#        {% if user.is_authenticated %}#}
{#          <% if (stick) { %>#}
{#            <a href="<%- window.ahr.app_urls.setMarketItemunStick+pk %>" item_id="<%- pk %>" class="marketitem-unstick toggle-stick pull-right">Unstick</a>#}
{#          <% } else { %>#}
{#            <a href="<%- window.ahr.app_urls.setMarketItemStick+pk %>" item_id="<%- pk %>" class="marketitem-stick toggle-stick pull-right">Stick</a>#}
{#          <% } %>#}
{#          <% if (hidden) { %>#}
{#            <a clas href="<%- window.ahr.app_urls.setMarketItemunHide+pk %>" item_id="<%- pk %>" class="show-hidden-item-link unhide-item toggle-hidden">Show</a>#}
{#          <% } else { %>#}
{#            <a href="<%- window.ahr.app_urls.setMarketItemHide+pk %>" item_id="<%- pk %>" class="hide-item toggle-hidden">Hide</a>#}
{#          <% } %>#}
{#        {% endif %}#}

</script>
<script type="text/template" id="item-menu-template">
  <%
     var actions = [];
     if (!isProfile) {
       actions.push({display: 'Hide', value: 'hide', toggle: true});
       actions.push({display: 'Stick', value: 'stick', toggle: true});
     }
     if (hasEdit) {
       actions.push({display: 'Close', value: 'close'});
     } else {
       actions.push({display: 'Report', value: 'report'});
     }
  %>
  <ul class="item-action-menu">
    <% _.each(actions, function(action) {
      var cssClass = '';
      if (!action.toggle) cssClass += ' plain';
      else if (toggled[action.value]) cssClass += ' selected';
    %>
    <li>
      <a class="<%- cssClass %>" data-action="<%- action.value %>" href="#"><%- action.display %></a>
    </li>
    <% }); %>
  </ul>
</script>
