{% load i18n %}
{% load compress %}

<script type="text/template" id="item_template">
  <div class="market-place-item item-wrap item-<%-pk%>" item_id="<%- pk %>" owner_id="<%- ownerid %>">
    <div class="market-item-card" item_id="<%- pk %>" owner_id="<%- ownerid %>">
      <div class="item-header <%- item_type.toLowerCase() %>">
        <a class="routehref" href="#item/<%- pk %>" >
        <div class="item-header-clickable item_container" item_id="<%- pk %>">
          <%- item_type.toUpperCase() %>&nbsp;
          <span>by&nbsp;<a href="/user/profile/<%- owner %>"><%- owner %> </a></span>
        </div>
        </a>
      </div>
      <div class="" item_id="<%- pk %>">
        <div class="item-title" owner_id="<%- ownerid %>">
          <div class="item-icon <%- item_type.toLowerCase() %>"></div>
          <div class="marketitem_title">
            <%- title %>
        </div>
        <div class="clearfix"></div>
        <div class="item-body multi-line-text"><%- details %></div>
        </div>
        <% var index=issues.length+countries.length+skills.length, top=10, counter=0; %>
        <div class="item-tags clearfix <% if(index>top && isSingle === false){ %> more-items-here <%}%>">
          <div class="tagbuttons-container" >
            <% _.each(issues, function(ind) { counter+=1;if(counter<top || isSingle === true){ %>
              <div class="btn btn-default btn-xs tag-button issues-tag-button" tagtype="issues"> <%- window.ahr.issues_lookup[ind] %> </div>
            <% }}); %>
            <% _.each(countries, function(ind) { counter+=1;if(counter<top || isSingle === true){ %>
              <div class="btn btn-default btn-xs tag-button countries-tag-button" tagtype="countries"> <%- window.ahr.countries_lookup[ind] %> </div>
            <% }}); %>
            <% _.each(skills, function(ind) { counter+=1; if(counter<top || isSingle === true){ %>
              <div class="btn btn-default btn-xs tag-button skills-tag-button" tagtype="skills"> <%- window.ahr.skills_lookup[ind] %> </div>
            <% }}); %>
            <% if(counter>top && isSingle === false){ %>
              <div class="dotdotdot">&nbsp;...&nbsp;</div>
            <%}%>
          </div>
        </div>
      <div class="action-place"></div>
    </div>
  </div>
</script>


{% compress js inline %}
<script type="text/javascript">
(function () {
  var MarketItemWidget = window.ahr.BaseView.extend({

    getCommentData: function () {
      var dfrd = $.Deferred();
      window.ahr.getcsrf(function (csrf) {
        dfrd.resolve(csrf);
      });
      return dfrd;
    },

    comment: function (ev) {
      ev.preventDefault();
      var id = $(ev.currentTarget).data().id;
      var comment = $('#newcomment').val();
      var that = this;
      if (comment) {
        var dfrd = this.getCommentData();
        dfrd.done(function (csrf) {
          $.ajax({
            type: 'POST',
            url: window.ahr.app_urls.addcomment + id,
            dataType: 'json',
            data: {
              "csrfmiddlewaretoken": csrf.csrfmiddlewaretoken,
              "contents": comment
            },
            success: function (item) {
              $('#newcomment').val("");
              $('#newcomment').height(100);
              that.addCommentToCommentList(item.obj, true);
              that.setCommentCount(id);
            }
          });
        });
      }
      return (false);
    },

    setCommentCount: function (id) {
      $.getJSON(
        window.ahr.app_urls.getcommentcount + id,
        function (data) {
          $('.market-item-card[item_id="' + id + '"] .item-comment-count .commentcount').text(data);
        });
    },

    deleteComment: function (ev) {
      ev.preventDefault();
      var that = this;
      if (confirm('{% trans "Are you sure you want yo delete your comment?" %}')) {
        var comment_id = ev.currentTarget.getAttribute('comment-id');
        var href = ev.currentTarget.href;
        var dfrd = $.ajax({
          url: href
        });
        dfrd.success(function (data) {
          $('.comment[comment-id="' + comment_id + '"]').remove();
        });
      }
      return false;
    },

    addCommentToCommentList: function (comment_item, front) {
      front = front === true ? front : false;
      var data = {
        pk: comment_item.pk,
        userpic: comment_item.fields.avatar,
        user: comment_item.fields.username,
        owner: comment_item.fields.owner,
        owner_url: comment_item.fields.profile_url,
        pub_date: moment(comment_item.fields.pub_date).format("HH:mm on D/MM/YY"),
        content: comment_item.fields.contents, //.replace(/\n/g, '<br />')
        score: comment_item.score,
        username: comment_item.fields.username,
        ownerid : comment_item.fields.ownerid,
        ratecount: comment_item.ratecount,
        avatar: comment_item.fields.avatar
      };
      var comment_html = this.comment_tmp(data);
      var actions = this.market.actions_view.get('comment', data);
      var $comment_html = $(comment_html);
      $comment_html.find('.commentaction-place').replaceWith(actions);
      if (front) {
        $('#marketitem_comments').prepend($comment_html);
      } else {
        $('#marketitem_comments').append($comment_html);
      }
    },

    resetitemrate: function (username, rate) {
      try {
        $(".numstars[username=" + username + "]").each(function () {
          $(this).rateit('value', rate);
          $(this).attr('rate', rate);
        });
      } catch (err) {
        $.noop();
      }
    },

    deleteItem: function (ev) {
      ev.preventDefault();
      var that = this;
      if (confirm('{% trans "Are you sure you want to delete this item?" %}')) {
        var item_id = ev.currentTarget.getAttribute('item_id');
        var dfrd = $.ajax({
          url: window.ahr.app_urls.deletemarketitem + item_id,
        });
        dfrd.done(function (data) {
          if (typeof that.del_callback == "function") {
            that.del_callback(item_id);
          }
        });
      }
      return (false);
    },

    editItem: function (ev) {
      ev.preventDefault();
      var that = this;
      var id = ev.currentTarget.getAttribute('item_id');
      $.getJSON(window.ahr.app_urls.getuseritem + id, function (item) {
        if (item[0].fields.item_type == "request") {
          that.market.requestdialog.edit(item, that.edit_callback);
          that.market.requestdialog.showModal();
        } else {
          that.market.offerdialog.edit(item, that.edit_callback);
          that.market.offerdialog.showModal();
        }
      });
      return (false);
    },

    reloadItem: function (item) {
      var isSingle = this.market.isSingle();
      return (this.item_tmp(_.extend(item[0].fields,{'isSingle': isSingle})));
    },

    showMoreTags: function(ev){
      var item = $(ev.currentTarget).closest('.more-items-here');
      item.removeClass('more-items-here');
      this.market.fancyref();
      $(ev.currentTarget).replaceWith('<div class="showlesstags">{% trans "Less ..." %}</div>');
    },

    showLessTags: function(ev){
      var item = $(ev.currentTarget).closest('.item-tags.clearfix');
      item.addClass('more-items-here');
      this.market.fancyref();
      $(ev.currentTarget).replaceWith('<div class="showmoretags">{% trans "More ..." %}</div>');
    },

    afterset: function (item_container) {
      return;
    },

    initialize: function (options) {
      this.item_type = 'item';
      this.market = options.market;
      this.del_callback = options.del_callback;
      this.edit_callback = options.edit_callback;
      this.item_tmp = _.template($('#item_template').html());
      this.message_widget = window.ahr.messagedialog_widget.initWidget('body', '#infobar');
      this.rate_widget = window.ahr.rate_form_dialog.initWidget('body', this.resetitemrate.bind(this));
      this.report_dialog = window.ahr.report_dialog.initWidget('body');
      this.comment_tmp = _.template($('#comment_view_template').html());
      this.comment_form_tmp = _.template($('#comment_add_template').html());
      $('#marketitem_comment_form').html(this.comment_form_tmp());

      window.ahr.expandTextarea('#newcomment');

      _.extend(this.events, {
        'click .comment-btn': 'comment',
        'click .comment-delete': 'deleteComment',
        'click .delete': 'deleteItem',
        'click .edit': 'editItem',
        'click .showmoretags': 'showMoreTags',
        'click .showlesstags': 'showLessTags'
      });
    }
  });

  window.ahr.marketitem_widget = window.ahr.marketitem_widget || {};
  window.ahr.marketitem_widget.initWidget = function (element, market, del_callback, edit_callback) {
    var marketitem_widget = new MarketItemWidget({
      el: element,
      market: market,
      del_callback: del_callback,
      edit_callback: edit_callback
    });
    return marketitem_widget;
  };

})();
</script>
{% endcompress %}