<script type="text/template" id="user-template">
  <div class="market-place-item item-wrap" item_id="<%- pk %>" >
    <div class="market-item-card user-card" >
      <div class="item-header user">
        <div class="item-header-clickable" item_id="<%- username %>">
          <a href="<%- profile_url %>"><%- username %></a>
        </div>
        <div class="pull-right item-menu" style="position:relative;">
          <div item_id="<%- pk %>" class="pull-right glyphicon glyphicon-align-justify itemactions"></div>
          <div class="dropdown">
            <button class="btn dropdown-toggle sr-only dropdownMenu<%- pk %>" type="button" id="dropdownMenu<%- pk %>" data-toggle="dropdown" />
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu<%- pk %>">
              <li role="presentation"></li>
              <li role="presentation"><a username="<%- username %>" class="recommend" role="menuitem" tabindex="-1" href="#">Recommend</a></li>
              <li role="presentation"><a username="<%- username %>" class="private_message" role="menuitem" tabindex="-1" href="#">Private message</a></li>
              <li role="presentation"><a username="<%- username %>" class="rate" rateing="user" image_src="<%- avatar %>" score="<%- score %>" ratecount="<%- ratecount %>" role="menuitem" tabindex="-1" href="#">Rate user</a></li>
            </ul>
          </div>
        </div>

      </div>
      <div class="item_container" item_id="<%- username %>">
        <div class="item-title" >
          <div style="height:80px;">
            <a class="linktoprofile" href="<%- profile_url %>"><img src="<%- avatar %>" alt="<%- username %>" /></a>
          </div>
          <div>&nbsp;</div>
          <div item_id="<%- pk %>" username="<%- username %>" score="<%- score %>" class="numstars"></div>
          <div class="marketitem_title"><%- tag_line %></div>
        </div>
        <div class="clearfix"></div>
        <div class="item-body multi-line-text"><%- bio %></div>
        <div class="item-title">
          <div>Areas Of Interest</div>
        </div>
        <div class="item-tags">
          <div>
            <% _.each(issues, function(ind) { %> <div class="btn btn-default disabled btn-xs"> <%- window.ahr.issues_lookup[ind] %> </div> <% }); %>
            <% _.each(countries, function(ind) { %> <div class="btn btn-default disabled btn-xs"> <%- window.ahr.countries_lookup[ind] %> </div> <% }); %>
            <% _.each(skills, function(ind) { %> <div class="btn btn-default disabled btn-xs"> <%- window.ahr.skills_lookup[ind] %> </div> <% }); %>
          </div>
        </div>
      </div>
    </div>
  </div>
</script>


<script type="text/javascript">
(function(){
    var MarketUserWidget =  window.ahr.BaseView.extend({

      show_dropdown:function(ev){
        ev.preventDefault();
        var item_id = ev.currentTarget.getAttribute('item_id');
        $('.dropdownMenu'+item_id).trigger('click');
        return false;
      },

      private_message: function(ev){
        ev.preventDefault();
        var username = ev.currentTarget.getAttribute('username');
        var item_id = ev.currentTarget.getAttribute('item_id');
        var msgsub = 'Re: '+$('.marketitem_title',$('.market-item-card[item_id='+item_id+']')).text();
        this.message_widget.show(username, msgsub, '', false);
        return(false);
      },

      resetitemrate:function(username, rate){
        try{
          $(".numstars[username="+username+"]").rateit('value',rate);
        }catch(err){
          $.noop();
        }
      },

      recommend: function(ev){
        ev.preventDefault();
        var username = ev.currentTarget.getAttribute('username');
        this.market.recommend_dialog.setup('user',
           username,
           $('#currentusername').text()+' recommends this user : '+ username,
           $('#currentusername').text()+' recommend you have a look at user '+ username );
        return(false);
      },

      afterset: function(){
        $('.numstars').rateit();
        $('.numstars').rateit('min',0);
        $('.numstars').rateit('max',5);
        $('.numstars').rateit('readonly',true);
        $('.numstars').each(function(){
            $(this).rateit('value',this.getAttribute('score'));
        });
      },

      initialize: function(options){
        this.market = options.market;
        this.item_tmp = _.template($('#user-template').html());
        this.message_widget = window.ahr.messagedialog_widget.initWidget('body', '#infobar');
        this.rate_widget = window.ahr.rate_form_dialog.initWidget('body', this.resetitemrate);

        this.delegateEvents(_.extend(this.events,{
          'click .itemactions' : 'show_dropdown',
          'click .private_message' : 'private_message',
          'click .recommend': 'recommend',
        }));
      }
    });

    window.ahr.marketuser_widget = window.ahr.marketuser_widget || {};
    window.ahr.marketuser_widget.initWidget= function(element,market){
        var marketuser_widget = new MarketUserWidget({el:element, market:market});
        return marketuser_widget;
    };

  })();

</script>