{% load compress %}
<div id="messagedialog" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">New message to <span id="usernameh"></span></h4>
        <div id="pmerror"></div>
      </div>
      <div class="modal-body">
        <div>Subject</div>
          <div style="margin-bottom:5px;">
            <input  class="form-control" id="msgsub" type="text" name="subject" required="true"/>
          </div>
          <div>Message</div>
          <div>
            <textarea class="form-control" name="newmessage" id="newmessage" rows="4" placeholder="" required="true"></textarea>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default cancelpm" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary sendpm">Send</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% compress js %}
<script type="text/javascript" id="expdate_view">
(function(){

  var MessageDialogWidget = window.ahr.BaseView.extend({
    events:{
      //'click .sendprivatemessageuser': 'showpMessage',
      'click .sendpm': 'sendpm',
      'click .cancelpm': 'cancelpm'
    },

    getval:function(){
      this.subject = $('#msgsub').val();
      this.message = $('#newmessage').val();
      return([this.subject,this.message]);
    },

    sendpm: function(ev){
      var that = this;
      this.getval();
      if( this.subject !== '' &&  this.message !== ''){
        $('#messagedialog').modal('hide');
        window.ahr.getcsrf(function(csrf){
          var dfrd = $.ajax({
            url:window.ahr.app_urls.sendmessage+that.username,
            type: 'POST',
            dataType: 'json',
            data: {
              csrfmiddlewaretoken :csrf.csrfmiddlewaretoken,
              subject: that.subject,
              message: that.message
            }
          });
          dfrd.done(function(){
            that.info('Your message was sent successfuly.',that.alert_place);
          });
          dfrd.fail(function(){
            $('#messagedialog').modal('show');
            that.alert('Please try again.',that.alert_place);
          });
        });
      }else{
        this.alert('Please provide a subject and message.',that.alert_place);
      }
    },

    cancelpm: function(ev){
    },

    show: function(username,subject,message,readonlysub){
      this.username = username;
      this.subject = subject;
      this.message = message;
      $('#usernameh').text(this.username);
      $('#msgsub').val(this.subject);
      $('#newmessage').val(this.message);
      if(readonlysub==true){
        $('#msgsub').attr('readonly',true);
      }
      $('#messagedialog').modal('show');
    },

    initialize:function(settings){
      this.alert_place = settings.alert_place;
      return this;
    }
});

window.ahr.messagedialog_widget = window.ahr.messagedialog_widget || {};
window.ahr.messagedialog_widget.initWidget= function(container,alert_place){
  var widget = new MessageDialogWidget({el: container,alert_place:alert_place});
  return widget;
};
})();
</script>
{% endcompress %}