{% load compress %}
<div id="messagedialog" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">New message to <span id="usernameh"></span></h4>
        <div id="pmerror"></div>
      </div>
      <div class="modal-body">
        <label for="msgsub">Subject</label>
        <div style="margin-bottom:5px;">
          <input  class="form-control" id="msgsub" type="text" name="subject" required="true"/>
        </div>
        <label for="newmessage">Message</label>
        <div>
          <textarea class="form-control" name="newmessage" id="newmessage" rows="4" placeholder="" required="true"></textarea>
        </div>
        <div class="modal-footer">
          <div class="row">
            <div class="col-xs-6 col-md-offset-6 col-md-3">
              <button type="button" class="btn btn-default full-width cancelpm" data-dismiss="modal">Cancel</button>
            </div>
            <div class="col-xs-6 col-md-3">
              <button type="button" class="btn btn-default full-width btn-default sendpm">Send</button>
            </div>
          </div>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% compress js inline %}
<script type="text/javascript" id="expdate_view">
(function () {

  var MessageDialogWidget = window.ahr.BaseView.extend({
    events: {
      'click .private-message': 'show',
      'click .sendpm': 'sendpm',
      'click .cancelpm': 'cancelpm',
      'shown.bs.modal #messagedialog': 'focus'
    },

    focus: function(){
      this.$messageText.trigger('focus');
    },

    getval: function () {
      this.subject = this.$subject.val();
      this.message = this.$messageText.val();
      return ([this.subject, this.message]);
    },

    disableSend:function(){
      this.$sendkey .prop('disabled', true);
    },

    enableSend:function(){
      this.$sendkey .prop('disabled', false);
    },

    sendpm: function (ev) {
      ev.preventDefault();
      var that = this;
      this.disableSend();
      this.getval(ev);
      if (this.subject !== '' && this.message !== '') {
        window.ahr.getcsrf(function (csrf) {
          var dfrd = $.ajax({
            url: window.ahr.app_urls.sendmessage + that.username,
            type: 'POST',
            dataType: 'json',
            data: {
              csrfmiddlewaretoken: csrf.csrfmiddlewaretoken,
              subject: that.subject,
              message: that.message
            }
          });
          dfrd.done(function () {
            that.$dialog.modal('hide');
            that.enableSend();
          });
          dfrd.fail(function (data) {
            that.alert(data.responseJSON.message + '. Please try again.', that.alert_place);
            that.enableSend();
          });
        });
      } else {
        this.alert('Please provide a subject and message.', that.alert_place);
        that.enableSend();
      }
      return (false);
    },

    cancelpm: function (ev) {
      ev.preventDefault();
      return (false);
    },

    show: function (ev) {
      this.username = ev.currentTarget.getAttribute('username');
      this.subject = ev.currentTarget.getAttribute('subject');
      this.message = ev.currentTarget.getAttribute('message');
      readonlysub = ev.currentTarget.getAttribute('readonlysub');

      this.$messageText.height(100);
      $('#usernameh').text(this.username);
      this.$subject.val(this.subject);
      this.$messageText.val(this.message);
      if (readonlysub == true) {
        this.$subject.attr('readonly', true);
      }
      this.$dialog.modal('show');
    },

    initialize: function (settings) {
      this.alert_place = '#pmerror'
      this.$messageText = $('#newmessage');
      this.$username = $('#usernameh');
      this.$subject = $('#msgsub');
      this.$dialog = $('#messagedialog');
      this.$sendkey = $('.sendpm')
      window.ahr.expandTextarea('#newmessage');
      return this;
    }
  });

  window.ahr.messagedialog_widget = window.ahr.messagedialog_widget || {};
  window.ahr.messagedialog_widget.initWidget = function (container, alert_place) {
    var widget = new MessageDialogWidget({
      el: container,
      alert_place: alert_place
    });
    return widget;
  };
})();
</script>
{% endcompress %}