{% load i18n %}

<div id="messagedialog" class="modal fade movements-form">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{%trans "New message to "%}<span id="usernameh"></span></h4>
        <div id="pmerror"></div>
      </div>
      <div class="modal-body">
        <label for="msgsub">{%trans "Subject"%}</label>
        <div style="margin-bottom:5px;">
          <input  class="form-control" id="msgsub" type="text" name="subject" required="true"/>
        </div>
        <label for="newmessage">{%trans "Message"%}</label>
        <div>
          <textarea class="form-control" name="newmessage" id="newmessage" rows="4" placeholder="" required="true"></textarea>
        </div>
        <div class="modal-footer">
          <div class="row action-text">
            <div class="col-xs-4 col-sm-offset-2 col-sm-2 form-main-button">
              <a href="#" class="action-link cancelpm" data-dismiss="modal">{% trans 'Cancel' %}</a>
            </div>
            <div class="col-xs-8 col-sm-6 form-main-button">
              <button type="button" class="btn btn-action full-width send sendpm">{% trans 'Send' %}</button>
            </div>
          </div>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type="text/javascript" id="expdate_view">
(function () {

  var MessageDialogWidget = window.ahr.BaseView.extend({
    events: {
      'click .private-message': 'show',
      'click .sendpm': 'sendpm',
      'click .cancelpm': 'cancelpm',
      'shown.bs.modal #messagedialog': 'focus'
    },

    focus: function(){
      this.$messageText.trigger('focus');
    },

    getval: function () {
      this.subject = this.$subject.val();
      this.message = this.$messageText.val();
      return ([this.subject, this.message]);
    },

    disableSend:function(){
      this.$sendkey .prop('disabled', true);
    },

    enableSend:function(){
      this.$sendkey .prop('disabled', false);
    },

    sendpm: function (ev) {
      ev.preventDefault();
      var that = this;
      this.disableSend();
      this.getval(ev);
      if (this.subject !== '' && this.message !== '') {
        var dfrd = $.ajax({
          url: window.ahr.app_urls.sendmessage + that.username,
          type: 'POST',
          dataType: 'json',
          data: {
            subject: that.subject,
            message: that.message,
            post_id: that.post_id
          }
        });
        dfrd.done(function () {
          that.$dialog.modal('hide');
          that.enableSend();
        });
        dfrd.fail(function (data) {
          that.alert(data.responseJSON.message + '{%trans ". Please try again."%}', that.alert_place);
          that.enableSend();
        });
      } else {
        this.alert('{%trans "Please provide a subject and message."%}', that.alert_place);
        that.enableSend();
      }
      return (false);
    },

    cancelpm: function (ev) {
      ev.preventDefault();
      return (false);
    },

    show: function (ev) {
      this.username = ev.currentTarget.getAttribute('username');
      this.subject = ev.currentTarget.getAttribute('subject');
      this.message = ev.currentTarget.getAttribute('message');
      readonlysub = ev.currentTarget.getAttribute('readonlysub');

      this.$messageText.height(100);
      $('#usernameh').text(this.username);
      this.$subject.val(this.subject);
      this.$messageText.val(this.message);
      if (readonlysub == true) {
        this.$subject.attr('readonly', true);
      }
      this.$dialog.modal('show');
    },

    initialize: function (options) {
      this.post_id = options.post_id || null;
      this.alert_place = '#pmerror';
      this.$messageText = $('#newmessage');
      this.$username = $('#usernameh');
      this.$subject = $('#msgsub');
      this.$dialog = $('#messagedialog');
      this.$sendkey = $('.sendpm');
      window.ahr.expandTextarea('#newmessage');
      return this;
    }
  });

  window.ahr.messagedialog_widget = window.ahr.messagedialog_widget || {};
  window.ahr.messagedialog_widget.initWidget = function (container, alert_place, post_id) {
    var widget = new MessageDialogWidget({
      el: container,
      alert_place: alert_place,
      post_id: post_id
    });
    return widget;
  };
})();
</script>
