<script type="text/template" id="notifications_template">
    <li class="notif-seen <% if(notif.seen){ %>true<% }else{ %>false<%}%>">
        <a href="/market/#item/<%- notif.item_id %>">
            <img style="border-radius:50%;" width="30" height="30" src="<%- notif.avatar %>"/>
            <% if(notif.seen==false){ %><strong><%}%>
            <%- notif.text %>
            <% if(notif.seen){ %></strong><%}%>
        <a>
    </li>
</script>


<script type="text/javascript" id="notifications_view">
 (function(){
    var notificationsWidget = Backbone.View.extend({
        el: 'body',          
        events:{
            'show.bs.dropdown #notifdropdown-click': 'populateNotifications',
            'hide.bs.dropdown #notifdropdown-click': 'checkNotif'
        },
        
        checkNotif:function(){
            window.setTimeout(this.newNotifExists.bind(this),2000);
        },
        
        populateNotifications: function(ev){   
            var that = this;
            this.newNotifExists();
            $('#notification-drop-down').empty();
            var dfrd = $.ajax({
                url:this.notif_url+'15'
            });
            dfrd.done(function(data){
                _.each(data.notifications,function(notif){                    
                    $('#notification-drop-down').append(that.tmpl({'notif':notif}));
                });
                $('#notification-drop-down').append('<li><a style="text-align:center;" href="'+window.ahr.app_urls.shownotifications+'">See All</a></li>');
            });
            return ev;
        },
        
        newNotifExists: function(){
            var that=this;
            $.getJSON(that.notseen_url,function(data){               
             if(data.result == true){
                 $('#notifbell').removeClass('nonotif');
                 $('#notifbell').addClass('notif');
             }else{
                 $('#notifbell').addClass('nonotif');
                 $('#notifbell').removeClass('notif');
             }
            });             
        },
        
        initialize: function(data){
            this.notif_url = window.ahr.app_urls.getmarketnotificationsfromto;
            this.avat_url = window.ahr.app_urls.getavatar;  
            this.notseen_url = window.ahr.app_urls.getnotseennotif+'15';
            this.tmpl = _.template($('#notifications_template').html());
            var that = this            
            that.newNotifExists();
            window.setInterval(that.newNotifExists.bind(this),60000);
        }
    });
    window.ahr.notifications_widget = window.ahr.notifications_widget || {};
    window.ahr.notifications_widget.initWidget= function(){
        var widget = new notificationsWidget();
        return widget;
    };
})();
</script>