{% load i18n %}

<div id="offerdialog" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">OFFER A SERVICE</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" role="form" enctype="multipart/form-data" id="offerform">
          <div id="itemformerror"></div>
          <div class="form-group" id="issues_place"></div>
          <div class="form-group" id="countries_place"></div>
          <div class="form-group" id="skills_place"></div>
          <div class="form-group" id="title_place"></div>
          <div class="form-group">
            <div class="col-md-5">
              <div id="date_place"></div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-12">
              <div id="never_exp_place"></div>
            </div>
          </div>
          <div class="form-group" id="exp_date_place"></div>
          <div class="form-group"  id="details_place"></div>
          <div class="modal-footer">
            <span class="col-xs-offset-6 col-xs-6 pull-right">
              <div class="row">
                <button type="submit" class="btn btn-default full-width pull-right itemdialogsave">{% trans "Save" %}</button>
              </div>
            </span>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
(function(){
    var OfferDialogView = window.ahr.item_form_base.extend({
        item:'',
        el: '#offerform',

        init:function(){
            var that=this;
            this.url = window.ahr.app_urls.addmarketitem+'offer';
            $('#offerdialog').on('hidden.bs.modal',function(){
              if(that.changing==true){
              $('input,textarea',$('#offerdialog')).val('');
              that.issues_widget.empty();
              that.countries_widget.empty();
              that.skills_widget.empty();
              that.changing=false;
            }
          });
        },

        getFormData: function(){
            var that = this;
            var retdict={};
            retdict['skills'] = that.skills_widget.getval();
            retdict['countries'] = that.countries_widget.getval();
            retdict['issues'] = that.issues_widget.getval();
            retdict['exp_date'] = that.expdate_widget.getval();
            retdict['never_exp'] = that.never_exp_widget.getval();
            retdict['title'] = that.title_widget.getval();
            retdict['details'] = that.details_widget.getval();
            retdict.csrfmiddlewaretoken=that.csrf;
            return retdict;
        },

        edit: function(item, edit_calback){
          this.changing=true;
          $('#'+this.el.id+' .error').empty();
          this.url = window.ahr.app_urls.editmarketitem+item[0].pk;
          this.issues_widget.change(item[0].fields.issues);
          this.countries_widget.change(item[0].fields.countries);
          this.skills_widget.change(item[0].fields.skills);
          this.expdate_widget.change(item[0].fields.exp_date);
          this.never_exp_widget.change(item[0].fields.never_exp);
          if(item[0].fields.never_exp==true){
            this.expdate_widget.disable();
          }else{
            this.expdate_widget.enable();
          }
          this.title_widget.change(item[0].fields.title);
          this.details_widget.change(item[0].fields.details);
          this.edit_calback = edit_calback;
          this.item_id = item[0].pk;
        },

        makeWidget: function(){
            var that = this;
            this.issues_widget = window.ahr.typeahead_widget.initWidget(
                        '#issues_place',
                        {title:'I can help to advance freedom of:', jsonfield:'issues'},
                        this.item_obj? this.item_obj.issues: null);

            this.countries_widget = window.ahr.typeahead_widget.initWidget(
                        '#countries_place',
                        {title:'Please select the countries where you can help',  jsonfield:'countries'},
                        this.item_obj? this.item_obj.countries: null);

            this.skills_widget = window.ahr.typeahead_widget.initWidget(
                        '#skills_place',
                        {title:'Please select the skills you have to offer',  jsonfield:'skills'},
                        this.item_obj? this.item_obj.skills: null);

            this.expdate_widget = window.ahr.datepicker_widget.initWidget(
                        '#date_place',
                        {title:'Expiry date', jsonfield:'exp_date'},
                        this.item_obj);

            this.never_exp_widget = window.ahr.checkbox_widget.initWidget(
                        '#never_exp_place',
                        {
                          title:'Never expires',
                          field:'never_exp',
                          preval: this.item_obj? this.item_obj.never_exp : '',
                          callback: that.onNeverexpClick,
                          context: that
                        });

            this.title_widget = window.ahr.input_widget.initWidget(
                        '#title_place',
                        {title:'Title of post', jsonfield:'title', placeholder:''},
                        this.item_obj? this.item_obj.title : null);

            this.details_widget = window.ahr.textarea_widget.initWidget(
                        '#details_place',
                        {title:'', jsonfield:'details', placeholder:'Please give details of what you can help with?'},
                        this.item_obj? this.item_obj.details : null);
        },

        showModal:function(newitem){
          this.closing=false;
          if(newitem){
            this.url = window.ahr.app_urls.addmarketitem+'offer';
          }
          var that = this;
          $('#'+that.el.id+' #itemformerror').empty();
          $('#offerdialog').modal('show');
          window.ahr.getcsrf(function(csrf){
              if(csrf==false){
                  that.alert('Unable to connect to the server. please try again in a few minutes','#infobar');
                  return;
              }
              that.csrf = csrf.csrfmiddlewaretoken;
            });
          $('#offerdialog').on('scroll',function(){
            var top = $('.glyphicon.glyphicon-calendar',$('#offerdialog')).offset().top-$(window).scrollTop();
            $('.bootstrap-datetimepicker-widget.dropdown-menu').each(function(){$(this).css('top',top+20);})
          });
          window.ahr.expandTextarea($('#details',$("#offerdialog")));          
          $('#offerdialog').on('hide.bs.modal',function(ev){            
            ev.stopImmediatePropagation();
            if(!that.closing && !confirm('Are you sure you want to close this dialog?')){
              return false;
            }            
          });
        },

        aftersubmit:function(){
          this.closing=true;
          $('#offerdialog').modal('hide');
          this.skills_widget.empty();
          this.countries_widget.empty();
          this.issues_widget.empty();
          $('input,textarea',$('#offerdialog')).val('');
          if(typeof this.edit_calback == "function"){
            this.edit_calback(this.item_id);
          }
        },
    });

    window.ahr.offer_form_dialog = window.ahr.offer_form_dialog|| {};
    window.ahr.offer_form_dialog.initItem= function(item){
        var offer_form = new OfferDialogView(item);
        return offer_form;
    };
})();
</script>