{% load avatar_tags %}

<div id="ratedialog" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"> Rate <span id="ratetitle"></span></h4>
        <div id="rateerror"></div>
      </div>
      <div class="modal-body">
        <div class="row">

          <div class="pull-left col-lg-offset-1">
            {% primary_avatar user 100 %}
          </div>

          <div class="pull-left col-lg-offset-1">
            <div class="row" id="username">test test</div>
            <div class="row">
                <div id="avgstars">
                  <div id="numstars"></div>
                  <span id="ratecount">12</span>Rating(s)
                </div>

            </div>
          </div>

        </div>
        <div style="margin-bottom:10px;"></div>

        <div class="row" id="rateradios" >
          <div class="col-lg-offset-1">
            <div>
              <label>
                <div style="display: inline-block;width:150px;"> <input type="radio" name="stars" value="1">One star </div>
                <div class="stars1"></div>
              </label>
            </div>

            <div>
              <label class="">
                <div style="display: inline-block;width:150px;"><input type="radio" name="stars" value="2">Two stars</div>
                <div class="stars2"></div>
              </label>
            </div>

            <div>
              <label class="">
                <div style="display: inline-block;width:150px;"><input type="radio" name="stars" value="3">Three stars</div>
                <div class="stars3"></div>
              </label>
            </div>

            <div>
              <label class="">
                <div style="display: inline-block;width:150px;"><input type="radio" name="stars" value="4">Four stars</div>
                <div class="stars4"></div>
              </label>
            </div>

            <div>
              <label class="">
                <div style="display: inline-block;width:150px;"><input type="radio" name="stars" value="5">Five stars</div>
                <div class="stars5"></div>
              </label>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default cancelrate" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary sendrate">Submit</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type="text/javascript">
(function(){
   var RateDialogView = window.ahr.BaseView.extend({
    events:{
      'click .rate': 'showrate',
      'click .sendrate': 'setrate',
      'click .cancelrate': 'resetrate',
    },
    showrate: function(ev){
      ev.preventDefault();
      this.evrate = ev;
      var username = ev.currentTarget.getAttribute('username');
      var image_src = ev.currentTarget.getAttribute('image_src');
      var score = ev.currentTarget.getAttribute('score');
      var ratecount = ev.currentTarget.getAttribute('ratecount');

      $('#ratecount').text(ratecount);
      if ($(ev.currentTarget).attr('rateing')=='user'){
        this.rateurl = window.ahr.app_urls.setuserrate+username;
        $('#username').text(username);
        $('#ratetitle').text(username);
      }else{
        this.rateurl = window.ahr.app_urls.marketsetrate+$("#item-single").attr("item-id");
        $('#username').text($('#marketitem_title').text());
        $('#ratetitle').text($('#marketitem_title').text());
      }
      $('#ratedialog').modal('show');

      $('#numstars').rateit();
      $('#numstars').rateit('min',0);
      $('#numstars').rateit('max',5);
      $('#numstars').rateit('readonly',true);
      $('#numstars').rateit('value',score);

      $('#profileimage').attr('src',image_src);
      return(false);
    },

    setrate: function(ev){
      ev.preventDefault();
      var that = this;
      var event = ev;
      if($('input[name="stars"]:checked').val() == undefined){
        this.alert('You have to select a rateing.','#rateerror');
        return(false);
      }
      window.ahr.getcsrf(function(csrf){
        var dfrd = $.ajax({
          url: that.rateurl,
          type: 'POST',
          dataType: 'json',
          data: {
            score:$('input[name="stars"]:checked').val(),
            csrfmiddlewaretoken :csrf.csrfmiddlewaretoken,
            }
        });
        dfrd.done(function(data){
          $(that.evrate.currentTarget).attr('ratecount',data.ratecount);
          $(that.evrate.currentTarget).attr('score',data.score);
          if(typeof that.callback == 'function'){
            that.callback(that.evrate.currentTarget.getAttribute('item_id'), data.score);
          }

          $('#ratedialog').modal('hide');
          that.resetrate();
        });
        dfrd.fail(function(data){
          that.alert('Rating failed.','#rateerror');
        });
      });
      return(false);
    },

    resetrate: function(){
      $('input[name="stars"]:checked').prop('checked',false);
    },

    initialize:function(data){
      this.callback = data.callback;
      return this;
    }

   });

    window.ahr.rate_form_dialog = window.ahr.rate_form_dialog|| {};
    window.ahr.rate_form_dialog.initWidget= function(element,callback){
        var rate_form_dialog = new RateDialogView({el:element, callback:callback});
        return rate_form_dialog;
    };
})();
</script>