{% load i18n %}

<div id="ratelangdialog" class="modal fade movements-form">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{% trans "Rate User language skills"%}<span id="rateuserusername"></span></h4>
        <p>{% trans "This is where you can verify and change a translator's language skills by Movements.org" %}
        <i class="ratepopover glyphicon glyphicon glyphicon-info-sign"
         data-toggle="popover"
         title="{% trans "MOVEMENTS TRANSLATOR RATING" %}"
         data-content="
         <ul>
          <li>{% trans '1 Star: Beginner - Has a basic understanding of this language. User can not translate on the Movements.org website.' %}</li>
          <li>{% trans '2 Stars: Intermediate - Has a good understanding of this language. User can not translate on the Movemetns.org website.' %}</li>
          <li>{% trans '3 Stars: Advanced -  Can make translations. Is fluent in this language.' %}</li>
          <li>{% trans '4 Stars: Trusted Translator - Has experience in translation work. Can make translations and corrections.' %}</li>
          <li>{% trans '5 Stars: Personally known by Movements.org and is a Trusted Translator. Can make translations and corrections.' %}</li>
        </ul>
         "></i>
        </p>
        <div class="rates">
          Current user language ratings are:
          <ul class="list-group rates">
          </ul>
        </div>
      </div>
      <div class="modal-body">
        <div id="modal-message"></div>
        <div id="error"></div>
        <form class="form-horizontal" action="{% url 'user_language_rate' user_details.pk %}" method="POST">
          <div class="form-group">
            <div class="languageerror"></div>
            <label for="id_language" class="col-sm-5 control-label">{% trans "Chose language" %}</label>
            <div class="col-sm-6">
              <select id="id_language" class="form-control" name="language"></select>
            </div>
          </div>
          <div class="form-group">
            <div class="rateerror"></div>
            <label for="id_rate" class="col-sm-5 control-label">{% trans "Rate language" %}</label>
            <div class="col-sm-6">
              <select id="id_rate" name="rate" class="form-control">
                <option value="1">{% trans "1 star" %}</option>
                <option value="2">{% trans "2 stars" %}</option>
                <option value="3">{% trans "3 stars" %}</option>
                <option value="4">{% trans "4 stars" %}</option>
                <option value="5">{% trans "5 stars" %}</option>
              </select>
            </div>
          </div>
        </form>
        <div class="modal-footer">
          <div class="row">
            <div class="col-sm-offset-2 col-sm-2 form-main-button">
              <a href="#" class="action-link cancelrate" data-dismiss="modal">{% trans 'Close' %}</a>
            </div>
            <div class="col-sm-6 form-main-button">
              <button type="button" class="btn btn-action full-width send updaterate">{% trans 'Change' %}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" id="reportuser_dialog">
 (function(){
    rateUserLanguageWidget = window.ahr.BaseView.extend({
      events:{
        'click button.updaterate' : 'updaterate',
        'click .rate_user' : 'showratedialog',
        'change select#id_language': 'rateassign',
      },

      data_sync: function (url, method, data) {
        var self = this;
        //clear messages and error classes
        self.clearalert(self.$dialog.find('div#modal-message').selector);
        self.clearalert(self.$dialog.find('div#error').selector);
        self.clearalert(self.$dialog.find('div.rateerror').selector);
        self.clearalert(self.$dialog.find('div.languageerror').selector);
        self.$dialog.find('div.form-group').removeClass('has-error');
        // sync data
        $.ajax({
            url : url,
            type: method,
            data: data,
            success: function(data) {
              self.updatehtml(data);
            },
            error: function(data){
              self.updatehtml({error: '{% trans "Unrecognizable error. Please try later." %}'});
            }
        });
      },

      showratedialog: function (ev) {
        this.$button.prop('disabled', true);
        this.$dialog.modal('show');
        this.data_sync(this.$form.attr("action"), "GET", {});
      },

      updatehtml: function(data) {
        var self = this;
        // global errors
        if (data.error) {
          self.alert(data.error, self.$dialog.find('div#error').selector);
        }
        // form errors
        $.each(data.errors, function(i, val) {
            if (i == '__all__') {
              self.alert(val, self.$dialog.find('div#error').selector);
            } else {
              self.alert(val, self.$dialog.selector +' div.' + i + 'error');
              self.$dialog.find('select#id_' + i).parents('div.form-group').addClass('has-error');
            }
        });
        // language select options
        self.$lang_select.empty();
        self.$lang_select.append('<option value="">---------</option>');
        $.each(data.languages, function(index, val) {
             self.$lang_select.append('<option value="' + val.pk + '">' + val.name + '</option>');
        });
        // current rates
        self.$dialog.find('div.rates').hide();
        if (data.rates) {
          self.$dialog.find('div.rates ul.rates').html('');
          $.each(data.rates, function(index, val) {
            self.$dialog.find('div.rates ul.rates').append(
              '<li class="list-group-item" lang_id="' + val.language_id + '"' + 'data-rate="' + val.rate + '"' + '>' +
              '<span class="badge">' + val.rate + '</span>' + val.language__name +
              '</li>'
            );
          });
          self.$dialog.find('div.rates').show();
        }
        // info msg
        if (data.msg) {
          self.info(data.msg, self.$dialog.find('div#modal-message').selector);
        }
        //enable button
        this.$button.prop('disabled', false);
      },

      updaterate: function (ev) {
        this.$button.prop('disabled', true);
        this.data_sync(this.$form.attr("action"), this.$form.attr("method"), this.$form.serializeArray());
      },
    
      rateassign: function (ev) {
        this.$dialog.find('select#id_rate').val(
          this.$dialog.find('div.rates li[lang_id="' + this.$lang_select.val() + '"]').data('rate')
        );
      },

      initialize: function(data){
          this.$dialog = $('#ratelangdialog');
          this.$form = this.$dialog.find('form');
          this.$lang_select = this.$form.find('select#id_language');
          this.$button = this.$dialog.find('button.updaterate');
          this.$dialog.find('.ratepopover').popover({
            html: true,
            placement: 'bottom'
          });
      }
    });
    window.ahr.rateUserLanguageWidget = window.ahr.rateUserLanguageWidget || {};
    window.ahr.rateUserLanguageWidget.initWidget = function(element){
        var widget = new rateUserLanguageWidget({'el': element});
        return widget;
    };
})();
</script>
