<div id="recommenddialog" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Recommed<span id="usernameh"></span></h4>
        <div id="recerror"></div>
      </div>
      <div class="modal-body">
        <div>To</div>
        <div style="margin-bottom:5px;">
          <input  class="form-control" id="touser" type="text" name="subject" required="true"/>
        </div>
        <div>Subject</div>
        <div style="margin-bottom:5px;">
          <input  class="form-control" id="recsub" type="text" name="subject" required="true"/>
        </div>
        <div>Message</div>
        <div>
          <textarea class="form-control" name="recmessage" id="recmessage" rows="4" placeholder="" required="true"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default cancelrec" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary sendrec">Send</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<script type="text/javascript" id="recommend_view">
 (function(){
    var RecommendDialog = window.ahr.BaseView.extend({
        el: 'body',
        events:{
          'click .sendrec': 'send'
        },

        send: function(){
          var that = this;
          if( $('#touser').val() !== '' && $('#recsub').val()!== '' &&  $('#recmessage').val() !== ''){
                $.blockUI({theme: true,baseZ: 200});
                window.ahr.getcsrf(function(csrf){
                    var dfrd = $.ajax({
                        url:window.ahr.app_urls.sendmessage+$('#touser').val(),
                        type: 'POST',
                        dataType: 'json',
                        data: {
                            csrfmiddlewaretoken :csrf.csrfmiddlewaretoken,
                            subject: $('#recsub').val(),
                            message: $('#recmessage').val()
                        }
                    });
                    dfrd.done(function(){
                      $.unblockUI();
                      $('#recommenddialog').modal('hide');
                      that.info('Your message was sent successfuly.','#infobar');
                    });
                    dfrd.fail(function(){
                      $.unblockUI();
                      that.alert('Faild to send message','#recerror');
                    });
                });
            }else{
                this.alert('Please provide a recipient subject and message.','#recerror');
            }
        },

        initialize: function(data){
            var that = this;
            this.item = data.item;
            $('#touser').typeahead({
                limit: 10,
                remote: window.ahr.app_urls['getusernames']+'?username='+$('#touser').val()
                }).on('typeahead:selected', function (e, d){
                  $.noop();
            });
        }
    });
    window.ahr.recommend_widget = window.ahr.recommend_widget || {};
    window.ahr.recommend_widget.initWidget= function(fromuser,item){
        var widget = new RecommendDialog({'fromuser':fromuser,'item':item});
        return widget;
    };
})();
</script>