{% load i18n %}
<div id="recommenddialog" class="modal fade movements-form">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{%trans "Recommend this"%}<span id="rec-thing"></span></h4>
        <div id="recerror"></div>
      </div>
      <div class="modal-body">
        <label for="touser">{%trans "To: username or email address"%}</label>
        <div style="margin-bottom:5px;">
          <input  class="form-control" id="touser" type="text" required="true" placeholder="{%trans "Start typing a username or enter an email address"%}"/>
        </div>
        {% if user.is_staff %}
        <label for="to-group">{%trans "To: Group"%}</label>
        <div style="margin-bottom:5px;">
          <input  class="form-control" id="to-group" type="text" placeholder="{%trans "Start typing a group name"%}"/>
        </div>
        <div style="margin-bottom:5px;">
          <select class="form-control" id="group-filter">
            <option value="all">All</option>
            <option value="requesters">Requesters Only</option>
            <option value="providers">Providers Only</option>
          </select>
        </div>
        {% endif %}
        <label for="recsub">{%trans "Subject"%}</label>
        <div style="margin-bottom:5px;">
          <input  class="form-control" id="recsub" type="text" name="subject" required="true"/>
        </div>
        <label for="recmessage">{%trans "Message"%}</label>
        <div>
          <textarea class="form-control" name="recmessage" id="recmessage" rows="4" placeholder="" required="true"></textarea>
        </div>
        <div class="modal-footer">
          <div class="row action-text">
            <div class="col-sm-offset-2 col-sm-2 form-main-button">
              <a href="#" class="action-link cancelrec" data-dismiss="modal">{% trans 'Cancel' %}</a>
            </div>
            <div class="col-sm-6 form-main-button">
              <button type="button" class="btn btn-action full-width send sendrec">{% trans 'Send' %}</button>
            </div>
          </div>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type="text/javascript" id="recommend_view">
 (function () {
   var RecommendDialog = window.ahr.BaseView.extend({
     el: 'body',
     allowGroups: {% if user.is_staff %}true{% else %}false{% endif %},
     postType: '',
     events: {
       'click .sendrec': 'send',
       'click .recommend': 'show'
     },

     show: function(ev){
       var subject = ev.currentTarget.getAttribute('subject'),
          message = ev.currentTarget.getAttribute('message'),
          obj_id = ev.currentTarget.getAttribute('obj_id');
       this.setup(obj_id, subject, message);
       this.clearalert('#recerror');
     },

     setup: function (obj_id, subject, message) {
       this.postType = $('.view-post').data('post_type');
       if(this.postType === 'request') {
         this.$el.find('#group-filter').val('providers');
       } else if (this.postType === 'offer') {
         this.$el.find('#group-filter').val('requesters');
       } else {
         this.$el.find('#group-filter').val('all');
       }
       var $toUser = this.$el.find('#touser');
       $toUser.typeahead({
         remote: window.ahr.app_urls['getusernames'] + '?username=%QUERY'
       });
       var $toGroup = this.$el.find('#to-group');
       $toGroup.typeahead({
         remote: window.ahr.app_urls['getGroupNames'] + '?groupname=%QUERY'
       });

       var $recMessage = this.$el.find('#recmessage');
       var $recSubject = this.$el.find('#recsub');
       $('.sendrec').prop('disabled', false);
       this.obj_id = obj_id;
       $recSubject.val(subject);
       $recSubject.attr('readonly', false);
       $recMessage.val(message);
       $toUser.val('');
       $toGroup.val('');
       $recMessage.height(130);
       $('#rec-thing').text(' {%trans "post"%}');
       $('#recommenddialog').modal('show');
     },

     send: function () {
       var that = this;
       var subject = this.$el.find('#recsub').val();
       var message = this.$el.find('#recmessage').val();
       var toUser = this.$el.find('#touser').val();
       var toGroup = this.$el.find('#to-group').val();

       if (!subject || !message) {
         this.alert('{%trans "Please enter both a subject and a message."%}', '#recerror');
         return;
       }
       // generally needs better validation
       var errorMessage = "";
       if (this.allowGroups) {
         if(!toUser && !toGroup) {
           errorMessage = '{%trans "Please enter a valid username, email address or group. "%}';
         }
       } else {
         if(!toUser){
            errorMessage = '{%trans "Please enter a valid username and or email address. "%}';
         }
       }
       if (errorMessage) {
         this.alert(errorMessage, '#recerror');
         return;
       }

       $('.sendrec').prop('disabled', true);
       var dfrd = $.ajax({
         url: window.ahr.app_urls.senditemrecommendation + this.obj_id,
         type: 'POST',
         dataType: 'json',
         data: {
           recipients: toUser,
           groupFilter: that.$el.find('#group-filter').val(),
           groups: toGroup,
           subject: subject,
           message: message
         }
       });
       dfrd.done(function (data) {
         $('.sendrec').prop('disabled', false);
         if (data.success === 'true') {
           $('#touser').typeahead('destroy');
           $('#recommenddialog').modal('hide');
         }
         else {
           if (data.badrecipients.length == 1) {
             that.alert('{%trans "Failed to send message to user:"%} ' + data.badrecipients[0], '#recerror');
           }
           else {
             that.alert('{%trans "Failed to send message to users:"%} ' + data.badrecipients.join(', '), '#recerror');
           }
         }
       });
       dfrd.fail(function () {
         $('.sendrec').prop('disabled', false);
         that.alert('{%trans "Failed to send message"%}', '#recerror');
       });
     },

     initialize: function (data) {
       this.item = data.item;
       this.url = data.url;
       window.ahr.expandTextarea('#recmessage');
       $('#recommenddialog').on('shown.bs.modal',function(){
        $('#recmessage').trigger('focus');
      });
     }
   });
   window.ahr.recommend_widget = window.ahr.recommend_widget || {};
   window.ahr.recommend_widget.initWidget = function (fromuser, item, url) {
     var widget = new RecommendDialog({
       'fromuser': fromuser,
       'item': item,
        url: url
     });
     return widget;
   };
 })();
</script>
