<div id="recommenddialog" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Recommed<span id="usernameh"></span></h4>
        <div id="recerror"></div>
      </div>
      <div class="modal-body">
        <div>To</div>
        <div style="margin-bottom:5px;">
          <input  class="form-control" id="touser" type="text" name="subject" required="true"/>
        </div>
        <div>Subject</div>
        <div style="margin-bottom:5px;">
          <input  class="form-control" id="recsub" type="text" name="subject" required="true"/>
        </div>
        <div>Message</div>
        <div>
          <textarea class="form-control" name="recmessage" id="recmessage" rows="4" placeholder="" required="true"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default cancelrec" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary sendrec">Send</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<script type="text/javascript" id="recommend_view">
 (function(){
    var RecommendDialog = window.ahr.BaseView.extend({
        el: 'body',
        events:{
          'click .sendrec': 'send'
        },

        setup: function(rec_type,obj_id,subject,message){
          $('#touser').typeahead({
              remote: window.ahr.app_urls['getusernames']+'?username=%QUERY'
            });
          $('.sendrec').prop('disabled',false);
          this.rec_type=rec_type;
          this.obj_id = obj_id;
          $('#recsub').val(subject);
          $('#recsub').attr('readonly',false);
          $('#recmessage').val(message);
          $('#touser').val('');
          $('#recmessage').height(100);
          $('#recommenddialog').modal('show');
        },

        send: function(){
          var that = this;
          $('.sendrec').prop('disabled',true);
          if( $('#touser').val() !== '' && $('#recsub').val()!== '' &&  $('#recmessage').val() !== ''){
            if(this.rec_type=='user'){
             this.url = window.ahr.app_urls.senduserrecommendation.replace('0',$('#touser').val())+this.obj_id;
            }else{
              this.url = window.ahr.app_urls.senditemrecommendation.replace('0',$('#touser').val())+this.obj_id;
            }
            window.ahr.getcsrf(function(csrf){
              var dfrd = $.ajax({
                  url:that.url,
                  type: 'POST',
                  dataType: 'json',
                  data: {
                      csrfmiddlewaretoken :csrf.csrfmiddlewaretoken,
                      subject: $('#recsub').val(),
                      message: $('#recmessage').val()
                  }
              });
              dfrd.done(function(){
                $('#recommenddialog').modal('hide');
                $('.sendrec').prop('disabled',false);
                $('#touser').typeahead('destroy');
              });
              dfrd.fail(function(){
                $('.sendrec').prop('disabled',false);
                that.alert('Faild to send message','#recerror');
              });
            });
            }else{
                this.alert('Please provide a recipient subject and message.','#recerror');
            }
        },

        initialize: function(data){
            var that = this;
            this.item = data.item;
            this.url =  data.url;
            window.ahr.expandTextarea('#recmessage');
        }
    });
    window.ahr.recommend_widget = window.ahr.recommend_widget || {};
    window.ahr.recommend_widget.initWidget= function(fromuser,item, url){
        var widget = new RecommendDialog({'fromuser':fromuser,'item':item,url: url});
        return widget;
    };
})();
</script>