{% load i18n %}

<div id="reportdialog" class="modal fade movements-form">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{%trans "Report Post"%}</h4>
        <div id="modal-message"></div>
      </div>
      <div class="modal-body">
        <div id="reporterror"></div>
        <label for="content">{%trans "Message"%}</label>
        <div>
          <textarea class="form-control" id="report-dialog-content" name="content" rows="6" placeholder="" required="true"></textarea>
        </div>
        <div class="modal-footer">
          <div class="row action-text">
            <div class="col-xs-4 col-sm-offset-2 col-sm-2 form-main-button">
              <a href="#" class="action-link cancel" data-dismiss="modal">{% trans 'Cancel' %}</a>
            </div>
            <div class="col-xs-8 col-sm-6 form-main-button">
              <button type="button" class="btn btn-action full-width send sendreport">{% trans 'Send' %}</button>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>

<script type="text/javascript" id="reportdialog_view">
 (function(){
   window.ahr.ReportPostView = window.ahr.BaseView.extend({
    el: '#reportdialog',
    events: {
      'click .sendreport' : 'sendReport'
    },
    initialize: function() {
      var that = this;
      this.$content = $("#report-dialog-content");
      this.$el.on('shown.bs.modal', function() {
        that.dialogShown();
      });
    },
    dialogShown: function() {
      window.ahr.expandTextarea(this.$content);
      this.$content.trigger('focus');
    },
    showReport: function(reportUrl){
      this.$content.val('');
      this.reportUrl = reportUrl;
      this.$el.modal('show');
    },
    sendReport: function(ev) {
      ev.preventDefault();
      var that = this;
      $('.sendreport').attr('disabled','disabled');
      $.ajax({
        type: "POST",
        url: this.reportUrl,
        dataType: 'json',
        data: {
          "contents": this.$content.val()
        },
        success: function() {
          $('#reportdialog').modal('hide');
          $('.sendreport').removeAttr('disabled');
        },
        statusCode: {
          400: function(data) {
          that.alert(data.responseJSON.errors[0].errors[0], '#reporterror');
          $('.sendreport').removeAttr('disabled');
          }
        }
      });
    }
  });
})();
</script>
