{% load compress %}
<script type="text/template" id="report_template">
<div id="reportdialog" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Report Post</h4>
        <div id="modal-message"></div>
      </div>
      <div class="modal-body">
        <div id="reporterror"></div>
        <div>Message</div>
        <div>
          <textarea class="form-control" id="content" name="content" rows="6" placeholder="" required="true"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default cancel cancelreport" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary send sendreport">Send</button>
      </div>
    </div>
  </div>
</div>
</script>

{% compress js %}
<script type="text/javascript" id="input_view">
 (function(){
    var reportWidget = window.ahr.BaseView.extend({
        events:{
          'click .sendreport' : 'sendreport',
          'click .cancelreport' : 'cancelreport',
          'click .report_post' : 'showreport'
        },

        showreport: function(ev){
          ev.preventDefault();
          var that = this;
          var item_id = ev.currentTarget.getAttribute('item_id');
          this.showModalDialog('#report_template', {}, '#reportdialog', function(){
            that.item_id = item_id;
          });
          return(false);
        },

        sendreport: function(){
          var that = this;
          window.ahr.getcsrf(function(csrf){
            if(csrf==false){
              that.alert('Unable to send report. please try again','#reporterror');
              return;
              }
            $('.sendreport').attr('disabled','disabled');
            $.ajax({
                type: "POST",
                url: window.ahr.app_urls.reportpost + that.item_id,
                dataType: 'json',
                data: {
                  "csrfmiddlewaretoken": csrf.csrfmiddlewaretoken,
                  "contents": $("#reportdialog #content").val()
                },
                success: function(data) {
                  console.log(data);
                  // that.info('Report sent succesfuly','#infobar');
                  $('#reportdialog').modal('hide');
                  $('.sendreport').removeAttr('disabled');
                },
                statusCode: {
                  400: function(data) {
                  console.log(data);
                  that.alert(data.responseJSON.errors[0].errors[0],'#reporterror');
                  $('.sendreport').removeAttr('disabled');
                  },
                }
              });
            });
        },

        initialize: function(data){
            var that = this;
        }
    });
    window.ahr.report_dialog = window.ahr.report_dialog || {};
    window.ahr.report_dialog.initWidget= function(element){
        var widget = new reportWidget({'el':element});
        return widget;
    };
})();
</script>

{% endcompress %}