<script type="text/template" id="report_template">
<div id="reportdialog" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Report Post</h4>
        <div id="modal-message"></div>
      </div>
      <div class="modal-body">
        <div id="reporterror"></div>
        <div>Message</div>
        <div>
          <textarea class="form-control" name="content" id="content" rows="6" placeholder="" required="true"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default cancel" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary send">Send</button>
      </div>
    </div>
  </div>
</div>
</script>