{% load i18n %}

<script type="text/template" id="report_user_template">
<div id="reportdialog" class="modal fade movements-form">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{%trans "Report User "%}<span id="reportuserusername"></span></h4>
        <div id="modal-message"></div>
      </div>
      <div class="modal-body">
        <div id="reporterror"></div>
        <label for="content">{%trans "Message"%}</label>
        <div>
          <textarea class="form-control" id="content" name="content" rows="6" placeholder="" required="true"></textarea>
        </div>
        <div class="modal-footer">
          <div class="row action-text">
            <div class="col-sm-offset-2 col-sm-2 form-main-button">
              <a href="#" class="action-link cancelreport" data-dismiss="modal">{% trans 'Cancel' %}</a>
            </div>
            <div class="col-sm-6 form-main-button">
              <button type="button" class="btn btn-action full-width send senduserreport">{% trans 'Send' %}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</script>

<script type="text/javascript" id="reportuser_dialog">
 (function(){
    var reportUserWidget = window.ahr.BaseView.extend({
        events:{
          'click .senduserreport' : 'sendreport',
          'click .cancelreport' : 'cancelreport',
          'click .report_user' : 'showreport'
        },

        showreport: function(ev){
          ev.preventDefault();
          var that = this;
          var username = ev.currentTarget.getAttribute('username');
          this.showModalDialog('#report_user_template', {}, '#reportdialog', function(){
            $('#reportuserusername').text(username);
            that.username = username;
            window.ahr.expandTextarea($("#reportdialog #content"));
            $("#reportdialog #content").trigger('focus');
          });
          return(false);
        },

        sendreport: function(){
          var that = this;
          $('.senduserreport').attr('disabled','disabled');
          $.ajax({
              type: "POST",
              url: window.ahr.app_urls.reportuser + that.username,
              dataType: 'json',
              data: {
                "contents": $("#reportdialog #content").val()
              },
              success: function(data) {
                $('#reportdialog').modal('hide');
                $('.senduserreport').removeAttr('disabled');
              },
              statusCode: {
                400: function(data) {
                console.log(data);
                that.alert(data.responseJSON.errors[0].errors[0],'#reporterror');
                $('.senduserreport').removeAttr('disabled');
                }
              }
            });
        },

        initialize: function(data){
            var that = this;
        }
    });
    window.ahr.reportUserDialog = window.ahr.reportUserDialog || {};
    window.ahr.reportUserDialog.initWidget = function(element){
        var widget = new reportUserWidget({'el':element});
        return widget;
    };
})();
</script>
