{% load compress %}
<script type="text/template" id="report_user_template">
<div id="reportdialog" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Report User <span id="reportuserusername"></span></h4>
        <div id="modal-message"></div>
      </div>
      <div class="modal-body">
        <div id="reporterror"></div>
        <label for="content">Message</label>
        <div>
          <textarea class="form-control" id="content" name="content" rows="6" placeholder="" required="true"></textarea>
        </div>
        <div class="modal-footer">
          <div class="row">
            <div class="col-xs-6 col-md-offset-6 col-md-3">
              <button type="button" class="btn btn-default full-width cancel cancelreport" data-dismiss="modal">Cancel</button>
            </div>
            <div class="col-xs-6 col-md-3">
              <button type="button" class="btn btn-default full-width send sendreport">Send</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</script>

{% compress js %}
<script type="text/javascript" id="reportuser_dialog">
 (function(){
    var reportUserWidget = window.ahr.BaseView.extend({
        events:{
          'click .sendreport' : 'sendreport',
          'click .cancelreport' : 'cancelreport',
          'click .report_user' : 'showreport'
        },

        showreport: function(ev){
          ev.preventDefault();
          var that = this;
          var username = ev.currentTarget.getAttribute('username');
          this.showModalDialog('#report_user_template', {}, '#reportdialog', function(){
            $('#reportuserusername').text(username);
            that.username = username;
            window.ahr.expandTextarea($("#reportdialog #content"));
            $("#reportdialog #content").trigger('focus');
          });
          return(false);
        },

        sendreport: function(){
          var that = this;
          window.ahr.getcsrf(function(csrf){
            if(csrf==false){
              that.alert('Unable to send report. please try again','#reporterror');
              return;
              }
            $('.sendreport').attr('disabled','disabled');
            $.ajax({
                type: "POST",
                url: window.ahr.app_urls.reportuser + that.username,
                dataType: 'json',
                data: {
                  "csrfmiddlewaretoken": csrf.csrfmiddlewaretoken,
                  "contents": $("#reportdialog #content").val()
                },
                success: function(data) {
                  console.log(data);
                  // that.info('Report sent succesfuly','#infobar');
                  $('#reportdialog').modal('hide');
                  $('.sendreport').removeAttr('disabled');
                },
                statusCode: {
                  400: function(data) {
                  console.log(data);
                  that.alert(data.responseJSON.errors[0].errors[0],'#reporterror');
                  $('.sendreport').removeAttr('disabled');
                  },
                }
              });
            });
        },

        initialize: function(data){
            var that = this;
        }
    });
    window.ahr.reportUserDialog = window.ahr.reportUserDialog || {};
    window.ahr.reportUserDialog.initWidget = function(element){
        var widget = new reportUserWidget({'el':element});
        return widget;
    };
})();
</script>

{% endcompress %}