{% load compress %}

<script type="text/template" id="textarea_template">
  <div class="col-md-12">
    <div class="<%- jsonfield %> error"></div>
  </div>
  <div class="col-md-12">
    <label for="<%- jsonfield %>"><%- title %></label>
    <textarea class="form-control" name="<%- jsonfield %>" id="<%- jsonfield %>" rows="6" placeholder="<%- placeholder %>"></textarea>
  </div>
</script>

{% compress js inline %}

<script type="text/javascript" id="textarea_view">
 (function () {
   var TextareaWidget = window.ahr.BaseView.extend({
     el: '#itemform',

     change: function (value) {
       $('#' + this.jsonfield, $(this.container)).val(value);
     },

     getval: function () {
       return $('#' + this.jsonfield, $(this.container)).val();
     },

     initialize: function (data) {
       var that = this;
       this.container = data.cont;
       this.item = data.itm;
       this.jsonfield = data.itm.jsonfield;
       var tmpl = _.template($('#textarea_template').html());
       var html = tmpl({
         title: this.item.title,
         jsonfield: this.item.jsonfield,
         placeholder: this.item.placeholder
       });
       $(this.container).html(html);
       if (data.prvl) {
         $('#' + this.jsonfield, $(this.container)).val(data.prvl);
       }
     }
   });
   window.ahr.textarea_widget = window.ahr.textarea_widget || {};
   window.ahr.textarea_widget.initWidget = function (container, item, preval) {
     var widget = new TextareaWidget({
       'cont': container,
       'itm': item,
       'prvl': preval
     });
     return widget;
   };
 })();
</script>
{% endcompress %}
