<div class="actions">
  <div username="<%- username %>" title="Recommend" class="recommend dialog">
    <div class="item-glyph glyphicon glyphicon-thumbs-up"></div>
    <div class="item-glyph-text">
      Recommend
    </div>
  </div>

  <div title="Rate" rateing="user" username="<%- username %>" score="<%- usercore %>" ratecount="<%- ratecount %>" class="rate rate_user dialog">
    <div class="item-glyph glyphicon glyphicon-star-empty"></div>
    <div class="item-glyph-text">
      Rate
    </div>
  </div>

  <div username="<%- username %>" title="Send private message" class="private_message dialog">
    <div class="item-glyph glyphicon glyphicon-envelope"></div>
    <div class="item-glyph-text">
      Private Message
    </div>
  </div>

  <div style="float:right;"  username="<%- username %>"  class="report_user dialog">
      <div>
        Report
      </div>
  </div>
</div>