<script type="text/template" id="message-profile">
  <div>
    <div style="text-align: center;margin:10px;">
      <img style="border-radius:50%;" src="<%= avatar %>"/>
    </div>
    <div style="text-align: center;margin:10px;">
      <%- username %>
    </div>
    <div class="well well-sm">
      <div>
        Rating: <span class="rateit" rate="<%- score %>"></span> <%-score %> Stars (<%-ratecount %> votes)
      </div>
      <div>
        Nationality: <%- nationality %>
      </div>
      <div>
        Country of residence: <%- resident_country %>
      </div>
      <div>
        AHR rating: <span class="rateit redstars" rate="<%- orate %>"></span> <%- orate %> Stars
      </div>
    </div>
    <h4>Safety First</h4>
    <div style="margin-bottom: 20px;">
    For your own safety and security, do not share personal contact information
    (such as your phone number, address, email address, etc.) with other users.
    Exchangivist also prohibits abusive language or harassment.
    To report an abusive user,<span class="report_user" style="cursor:pointer;" username="<%- username %>"> <strong>click here</strong></span>.
    </div>
  </div>
</script>