{% load i18n %}

<script type="text/template" id="message-profile">
  <div>
    <div style="text-align: center;margin:10px;">
      <a href="<%- window.ahr.app_urls.viewuserprofile + username %>"><img style="border-radius:50%;" src="<%- avatar %>"/></a>
    </div>
    <div style="text-align: center;margin:10px;">
      <%- username %>
    </div>
    <div class="well well-sm">
      <div>
        {%trans "AHR rating"%}: <span class="rateit redstars" rate="<%- orate %>"></span>
      </div>
      <div class="userprofile-widget-rating">
        {%trans "Community rating:"%}
        {% if user.is_authenticated %}
          <span
            class="rateit numstars"
            username="<%- username %>"
            score="<%- score %>"
            rate="<%- score %>"
            image_src = "<%- avatar %>"
            ratecount="<%- ratecount %>"></span>
          <span class="miniprof-score">
            <span class="score"  username="<%- username %>"> <%- score %> {%trans "Stars"%} </span>
            (<span class="ratecount"  username="<%- username %>"><%-ratecount %></span> {%trans "votes"%})
          </span>
        {% else %}
          <span class="rateit numstars" rate="<%- score %>"></span>
        {% endif %}
      </div>
      <div>
        {%trans "Nationality"%}: <%- nationality %>
      </div>
      <div>
        {%trans "Country of residence"%}: <%- resident_country %>
      </div>
    </div>
    {% if user.is_authenticated %}
      <% if (username != window.ahr.username) {%>
        <h4>Safety First</h4>
        <div style="margin-bottom: 20px;">
          {% blocktrans %}
          For your own safety and security, do not share personal contact information
          (such as your phone number, address, email address, etc.) with other users.
          Movements also prohibits abusive language or harassment.
          To report an abusive user,
          {% endblocktrans %}
          <span class="report_user" style="cursor:pointer;" username="<%- username %>"> <strong>{%trans "click here"%}</strong></span>.
        </div>
      <% }%>
    {% endif %}
  </div>
</script>


<script type="text/javascript">
  (function(){
    var profileWidget = window.ahr.BaseView.extend({
      set: function(username, container, ac_type) {
        var that = this;

        {% if user.is_authenticated %}
          $('.action-container').empty();
        {% endif %}

        $.getJSON(that.profile_url + username,
          function (data) {
            $(container).html(that.tmpl(data));
            $('.rateit', $(container)).rateit();
            $('.rateit', $(container)).rateit('min', 0);
            $('.rateit', $(container)).rateit('max', 5);
            $('.rateit', $(container)).rateit('readonly', true);
            $('.rateit', $(container)).each(function () {
              $(this).rateit('value', this.getAttribute('rate'));
            });
            {% if user.is_authenticated %}
              if(username !== window.ahr.username) {
                var ac_data ={
                  'username':data.username,
                  'usercore':data.score,
                  'ratecount':data.ratecount,
                  'avatar': data.avatar
                  };
                var actions = that.actions_view.get(ac_type, ac_data);
                $('.action-container').html(actions);
              }
              $('.actionitem.routehref',$('#singleItem')).empty();
            {% endif %}
        });
      },
      initialize: function(data){
        this.actions_view = data.actions_view;
        this.tmpl = _.template($('#message-profile').html());
        this.profile_url = data.profile_url;
      }
    });
    window.ahr.profile_widget = window.ahr.profile_widget || {};
    window.ahr.profile_widget.initWidget = function(actions_view, profile_url){
      var widget = new profileWidget({'actions_view':actions_view, 'profile_url':profile_url});
      return widget;
    };
  })();
</script>
