{% extends "base.html" %}
{% load cms_tags sekizai_tags %}
{% load socialaccount %}
{% load i18n %}
{% load url from future %}

{% block ext_container %}
<div class="container" id="main-content-container">
  <div id="currentusername" class="hidden">{{ user.username }}</div>
  {% block content %}
  <div class="public">
    {% block public-content %}
      {% placeholder "contetns" %}
    {% endblock %}
  </div>
  {% endblock %}
  {% include "market/clientside/app_urls.html" %}
</div>
{% endblock %}
