{% extends "base_v2.html" %}
{% load cms_tags sekizai_tags menu_tags %}
{% load i18n %}

{% block head_title %}
Movements: {% page_attribute "page_title" %}
{% endblock %}

{% block content %}
<div class="hidden-xs hidden-sm" style="height:30px;"></div>
<div class="content-page">
  <div class="row">
    <div class="col-md-4 cms-left-column toggle-menu-container">
      <ul class="left-navigation toggled">
      {% show_menu 1 1 0 100 "cms/navs/left_nav.html" %}
      </ul>
      <div class="toggle-menu text-center visible-xs visible-sm">
        SHOW MENU
      </div>
    </div>
    <div class="col-md-8 cms-body-content">
      <h1>{% placeholder "title" %}</h1>
      {% placeholder "content" %}
    </div>
  </div>
</div>
{% endblock %}


{% block endjavascript %}
  <script type="text/javascript">
    (function() {
      var $leftNavigation = $('.toggle-menu-container .left-navigation');
      var $toggle = $('.toggle-menu-container .toggle-menu');
      $toggle.click(function(ev) {
        $leftNavigation.toggleClass('toggled');
        $toggle.html($leftNavigation.hasClass('toggled') ? 'SHOW MENU' : 'HIDE MENU');
      });
    })();
  </script>
{% endblock %}