{% extends "base.html" %}
{% load cms_tags sekizai_tags placeholder_tags %}
{% load i18n %}

{% block head_title %}
Movements: {% page_attribute "page_title" %}
{% endblock %}

{% block outsidecontainer %}
<div class="action-banner-spacer"></div>
<div class="exchange-actions">
  <div class="container">
  </div>
</div>
{% endblock %}

{% block content %}
<div style="height:50px;"></div>
<div class="dialog content-page">
  <div class="row">
    <div class="col-md-12">
      <h1>{% placeholder "title" %}</h1>
      {% placeholder "content" %}
    </div>
  </div>
</div>
{% endblock %}