{% extends "base_v2.html" %}
{% load cms_tags sekizai_tags %}
{% load i18n %}

{% block head_title %}
Movements: {% page_attribute "page_title" %}
{% endblock %}

{% block extra_body_script %}
  {% placeholder "extra_body_script" %}
{% endblock %}

{% block content %}
<div style="height:30px;"></div>
<div class="content-page">
  <div class="row">
    <div class="col-md-offset-2 col-md-8 cms-body-content">
      <h1>{% placeholder "title" %}</h1>
      {% placeholder "content" %}
    </div>
  </div>
</div>
{% endblock %}