{% extends "base.html" %}

{% load url from future %}
{% load i18n %}

{% block head_title %}{% trans "Sign Up" %}{% endblock %}

{% block body_class %}narrow{% endblock %}

{% block ext_container %}
<div class="container" id="main-content-container">

  <div id="currentusername" class="hidden">{{ user.username }}</div>

  {% block content %}
  <div class="public">
    {% block public-content %}
    {% endblock %}
  </div>
  {% endblock %}
  {% include "market/clientside/app_urls.html" %}

  {% block extra_body %}
  {% endblock %}  
</div>
{% endblock %}

{% block javascript %}
  <script type="text/javascript">
    $.backstretch("{{ STATIC_URL }}images/homepage-banner.jpg");
  </script>
  {% include 'ahr/_center_content.html' %}
{% endblock %}
