{% load cms_tags sekizai_tags%}
{% load menu_tags %}
{% load assets %}
{% load i18n %}
{% load l10n %}
{% load avatar_tags %}
{% load url from future %}
{% load account %}
{% load postman_tags %}
{% postman_unread as unread_count %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_current_language_bidi as LANGUAGE_BIDI %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{% block head_title %}Movements{% endblock %}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% assets "css_all_v2" %}
    <LINK href="{{ ASSET_URL }}" rel="stylesheet" type="text/css">
  {% endassets %}

  {% block extra_head %}
  {% endblock %}

  {% if config.GOOGLE_ANALYTICS %}
  {{ config.GOOGLE_ANALYTICS|safe }}
  {% endif %}
  {% render_block "css" %}
</head>
<body>
{% cms_toolbar %}

{% if messages %}
  {% for message in messages %}
    <div style="display:none;">{{ message }}</div>
  {% endfor %}
{% endif %}

{% block header_nav %}
<nav class="navbar navbar-default header-nav {% if user.is_authenticated and user.is_superuser %}navbar-admin {% endif %}" role="navigation">
  <div class="container" style="position:relative;">
      <div class="navbar-left">
        <div id="view-content-menu" class="menu-selector">
          <div class="menu-icon"></div>
          <div class="action-font">Menu</div>
        </div>
      </div>
    {% if user.is_authenticated %}
      <div class="navbar-right">
        <a id="add-post" class="btn btn-action"><img src="{{ STATIC_URL }}images/v2/add_icon.png"/> Add Post</a>
        <div id="add-post-popup-container"></div>
      </div>
    {% else %}
      <div class="navbar-right">
        <a href="{% url 'account_login' %}" class="btn btn-action">Login</a>
      </div>
    {% endif %}
    <div class="header-nav-wrapper">
      <a href="/"><img class="main-logo" src="{{ STATIC_URL }}images/v2/movements-logo-v2.png"></a>
    </div>
  </div>
</nav>
<div id="main-cms-nav" style="display: none;">
  <div class="container">
    <div class="row">
      <div class="col-xs-4">
        <h4>About Movements</h4>
        {% show_menu_below_id "col1" 0 100 100 100 %}
      </div>
      <div class="col-xs-4">
        <h4>Navigation</h4>
        {% if not user.is_authenticated %}
          <li>
            <a href="{% url 'account_login' %}">Login</a>
          </li>
          <li>
            <a href="{% url 'signup_start' %}">Sign up</a>
          </li>
        {% endif %}
          <li>
            <a href="{% url 'show_market' %}">Exchange</a>
          </li>
        {% show_menu_below_id "col2" 0 100 100 100 %}
      </div>
      <div class="col-xs-4">
        <h4>Our Terms</h4>
        {% show_menu_below_id "col3" 0 100 100 100 %}
      </div>
    </div>
  </div>
</div>
<div style="height: 20px;"></div>
{% endblock %}

{% block content_outside_container %}
{% endblock %}

{% block ext_container %}
<div class="container">

  <div id="currentusername" class="hidden">{{ user.username }}</div>

  {% block content %}
  {% endblock %}

  {% block extra_body %}
  {% endblock %}
</div>
{% endblock %}

{% block footer_padding %}<div style="height: 30px"></div>{% endblock %}
<footer>
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-4">
          <h4>{% trans "Get updates"  %}</h4>
          <form>
            <div class="form-group">
              <input class="form-control" id="id_email" name="email" type="text" placeholder="Enter your e-mail...">
            </div>
          </form>
          <p>{% blocktrans %}Get all the latest updates, including featured posts, and security tips!{% endblocktrans %}</p>
        </div>
        <div class="col-xs-3">
          <h4>{% trans "Connect with us"  %}</h4>
          <div class="social-icons">
            <a href="/movements/">
              <img src="{{ STATIC_URL }}images/v2/twitter-bigger.png" alt="Connect with Twitter" >
            </a>
            <a href="">
              <img src="{{ STATIC_URL }}images/v2/facebook-bigger.png" alt="Connect with Facebook" >
            </a>
            <a href="">
              <img src="{{ STATIC_URL }}images/v2/gplus-bigger.png" alt="Connect with Google Plus" >
            </a>
          </div>
        </div>
        <div class="col-xs-5">
          <h4>{% trans "About Movements"  %}</h4>
          <p>{% blocktrans %}Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.{% endblocktrans %}</p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-xs-6">
          <div class="footer-copyright">{% blocktrans %}Copyright &copy; 2014 Advancing Human Rights{% endblocktrans %}</div>
        </div>
        <div class="col-xs-6">
          <div class="footer-nav-content">
            {% show_menu 0 100 100 100 "cms/navs/bottom_nav_v2.html" %}
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<div id="modal-placeholder"></div>
<script type="text/template" id="add-post-template">
  <a class="btn btn-request" href="{% url 'create_request' %}"><img src="{{ STATIC_URL }}images/v2/request_icon.png"/>Request</a>
  <a class="btn btn-offer" href="{% url 'create_offer' %}"><img src="{{ STATIC_URL }}images/v2/offer_icon.png"/>Offer</a>
</script>

{% assets "js_all" %}
  <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

{% include "market/clientside/app_urls.html" %}

{% block javascript %}
{% endblock %}

{% block endjavascript %}
{% endblock %}
{% render_block "js" %}

<script type="text/javascript" src="{% url 'django.views.i18n.javascript_catalog' %}"></script>
{% if user.is_authenticated %}
  {% include "market/clientside/notifications.html" %}
  <script type="text/javascript" id="notifications_view">
    (function () {
      window.ahr.notifications_widget.initWidget()
    })();
  </script>
{% endif %}

<script type="text/javascript">
  (function () {
    window.ahr.string_constants = {{ string_constants|safe }};
  })();
</script>

<script type="text/javascript">
  (function () {
    $('#view-content-menu').click(function(){
      if($('#main-cms-nav').is(":visible")){
        //$('#main-cms-nav').slideUp();
        $('#main-cms-nav').hide();
        $('.menu-selector').removeClass("selected");
      } else {
        //$('#main-cms-nav').slideDown();
        $('#main-cms-nav').show();
        $('.menu-selector').addClass("selected");
      }
    });
  })();
</script>



</body>
</html>