{% load cms_tags sekizai_tags%}
{% load menu_tags %}
{% load assets %}
{% load i18n %}
{% load l10n %}
{% load avatar_tags %}
{% load url from future %}
{% load account %}
{% load postman_tags %}
{% postman_unread as unread_count %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_current_language_bidi as LANGUAGE_BIDI %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{% block head_title %}Movements{% endblock %}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% block open_graph_data %}
  <meta property="og:type" content="website">
  <meta property="og:title" content="Movements.Org">
  <meta property="og:description" content="Crowdsourcing human rights.">
  <meta property="og:url" content="https://www.movements.org/">
  <meta property="og:site_name" content="Movements.Org">
  <meta property="og:image" content="https://www.movements.org/static/images/logos/logo_large.png">
  {% endblock %}

  <link rel="apple-touch-icon" sizes="57x57" href="{{ STATIC_URL }}images/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="{{ STATIC_URL }}images/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="{{ STATIC_URL }}images/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="{{ STATIC_URL }}images/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="{{ STATIC_URL }}images/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="{{ STATIC_URL }}images/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="{{ STATIC_URL }}images/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ STATIC_URL }}images/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ STATIC_URL }}images/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="{{ STATIC_URL }}images/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ STATIC_URL }}images/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="{{ STATIC_URL }}images/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ STATIC_URL }}images/favicon/favicon-16x16.png">
  <link rel="manifest" href="{{ STATIC_URL }}images/favicon/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="{{ STATIC_URL }}images/favicon/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  {% assets "css_all_v2" %}
    <LINK href="{{ ASSET_URL }}" rel="stylesheet" type="text/css">
  {% endassets %}


  {% if LANGUAGE_CODE == 'ar' or LANGUAGE_CODE == 'fa' %}
    {% assets "css_language_ar" %}
      <LINK href="{{ ASSET_URL }}" rel="stylesheet" type="text/css">
    {% endassets %}

{#    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/language_ar.css" />#}
  {% endif %}


  {% block extra_head %}
  {% endblock %}

  {% if config.GOOGLE_ANALYTICS %}
  {{ config.GOOGLE_ANALYTICS|safe }}
  {% endif %}
  {% render_block "css" %}
</head>
<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3&appId=564720613600351";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

{% cms_toolbar %}

{% if messages %}
  {% for message in messages %}
    <div style="display:none;">{{ message }}</div>
  {% endfor %}
{% endif %}

{% block base_header_nav %}
  <div class="navbar navbar-header-top navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#collapse-menu">
          <img src="{{ STATIC_URL }}img/menu-icon.png"/>
        </button>
      {% if user.is_authenticated %}
        <a class="main-logo" href="#">
      {% else %}
        <a class="main-logo" href="/">
      {% endif %}
         <img src="{{ STATIC_URL }}images/v2/logo.png" alt="Movements Logo" />
        </a>
      </div>
      <ul class="navbar-right">
        <div id="view-content-menu" class="menu-selector">
          <div class="menu-icon"></div>
        </div>
      </ul>
      <div id="collapse-menu" class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-main">
          <li class="">
            <a href="{% page_url 'how_it_works' %}">
              <span>{%trans "Find out more"%}</span>
            </a>
          </li>
          <li class="">
            <a href="#">
              <span>{%trans "Connect"%}</span>
            </a>
          </li>
          <li class="">
            <a href="#">
              <span>{%trans "Language"%}</span>
            </a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Separated link</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a class="nav-button" href="{% url 'signup_start' %}">
            <button class="btn btn-action">{%trans "Sign up now"%}</button>
          </a></li>
          <li><a class="nav-button" href="{% url 'account_login' %}">
            <button class="btn btn-secondary">{%trans "Login"%}</button>
          </a></li>
        </ul>
      </div>
    </div>
  </div>
  <div style="height: 80px">&nbsp;</div>
  <div id="main-cms-nav" style="display: none;">
    <div class="container">
      <div class="row">
        <div class="main-menu-slider">
          <ul>
            {% show_menu 0 100 100 100 "cms/navs/top_nav_v2.html" %}
            {% if not user.is_authenticated %}
              <li><h3><a href="{% url 'show_market' %}">{%trans "Visit market"%}</a></h3></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock base_header_nav %}


{% block header_nav %}
<nav class="navbar navbar-default header-nav
  {% if user.is_authenticated and user.is_superuser %}navbar-admin {% endif %}
  {% if user.is_authenticated and not user.userprofile.first_login %}
    navbar-logged-in
  {% else %}
    navbar-logged-out
  {% endif %}" role="navigation">
  <div class="container" style="position:relative;">
      {% if not user.userprofile.first_login %}
      <div id="NavLeftMenus" class="navbar-left">
        <div id="view-content-menu" class="menu-selector">
          <div class="menu-icon"></div>
        </div>
        {% if user.is_authenticated and not user.userprofile.first_login %}
          <div class="nav-avatar" id="view-profile-menu">
            <div class="menu-icon-profile"></div>
            <div id="content-menu-container"></div>
          </div>
          <a href="{% url 'show_notifications' %}">
            <div class="nav-notification">
              <div style="display: none;" id="main-nav-count" class="notification-count"></div>
              <div class="menu-icon-bell"></div>
            </div>
          </a>
          <a href="{% url 'postman_inbox' %}">
            <div class="nav-messages">
              <div style="display: none;" id="main-nav-message-count" class="notification-count"></div>
              <div class="menu-icon-message"></div>
            </div>
          </a>
        {% endif %}
      </div>
      {% endif %}


      <div class="navbar-left-top">
        {% if user.is_authenticated and not user.userprofile.first_login %}
          <a href="https://twitter.com/movements_org" target="_blank">
            <div class="nav-twitter">
              <img src="{{ STATIC_URL }}images/v2/twitter-dualstate.png" alt="{%trans "Connect with Twitter"%}">
            </div>
          </a>
          <a target="_blank" href="https://www.facebook.com/Movements.org">
            <div class="nav-facebook">
              <img src="{{ STATIC_URL }}images/v2/facebook-dualstate.png" alt="{%trans "Connect with Facebook"%}" >
            </div>
          </a>
          <a href="http://www.advancinghumanrights.org/" target="_blank">
            <div class="nav-ahr">
              <img src="{{ STATIC_URL }}images/v2/ahr-dualstate.png" alt="{%trans "AHR"%}">
            </div>
          </a>
          <a href="{{ config.BLOG_URL }}" target="_blank">
            <div class="top-left-nav-button nav-blog">{% trans "Blog" %}</div>
          </a>
          <a href="{% page_url 'success_stories' %}" target="_blank">
            <div class="top-left-nav-button nav-success">{% trans "Success Stories" %}</div>
          </a>
        {% endif %}
      </div>
    {% if user.is_authenticated and not user.userprofile.first_login %}
      <div id="NavRightLoggedIn" class="navbar-right">
        <div class="nav-flags">
          <a data-language="fa" class="set-lang" href="#"><img src="{{ STATIC_URL }}images/v2/flag_iran.png"></a>
          <a data-language="ru" class="set-lang" href="#"><img src="{{ STATIC_URL }}images/v2/flag_russian.png"></a>
          <a data-language="uk" class="set-lang" href="#"><img src="{{ STATIC_URL }}images/v2/flag_ukrainian.png" ></a>
          <a data-language="zh-cn" class="set-lang" href="#"><img src="{{ STATIC_URL }}images/v2/flag_chinese.png"></a>
          <a data-language="ar" class="set-lang" href="#"><img src="{{ STATIC_URL }}images/v2/flag_arabic.png"></a>
          <a data-language="en" class="set-lang" href="#"><img src="{{ STATIC_URL }}images/v2/flag_uk.png"></a>
        </div>
        <a id="add-post" class="btn btn-action" onClick="ga('send', 'event', 'button', 'click', 'add-post');">
          <img src="{{ STATIC_URL }}images/v2/add_icon.png"/>
          <span id="AddPostText"> {% trans "Add Post" %}</span>
        </a>
        {% if config.DONATE_BUTTON_LOGGED_IN %}{{ config.DONATE_BUTTON_LOGGED_IN|safe }}{% endif %}
        <div id="add-post-popup-container"></div>
      </div>
    {% else %}
      {% if not user.userprofile.first_login %}
      <div id="NavRightLoggedOut" class="navbar-right">
        <a href="{% url 'account_login' %}" class="btn btn-action">{%trans "Login"%}</a>
      </div>
       {% endif %}
    {% endif %}
    <div class="header-nav-wrapper">
      <a href="/"><img class="main-logo" src="{{ STATIC_URL }}images/v2/movements-logo-v2.png"></a>
    </div>
    <div class="header-nav-text">
      <p>{% trans "Crowdsourcing human rights."%}<br/>{%  trans "The online platform that is opening closed societies."%}</p>
    </div>
  </div>
</nav>
{% endblock %}

{% block header_padding %}<div style="height: 20px;"></div>{% endblock %}
{% block content_outside_container %}{% endblock %}

{% block ext_container %}
<div class="container" >
  <div id="currentusername" class="hidden">{{ user.username }}</div>
  {% block content %}{% endblock %}
  {% block extra_body %}{% endblock %}
</div>
{% endblock %}

{% block footer_padding %}<div style="height: 30px"></div>{% endblock %}
{% if not user.is_authenticated or user.userprofile.first_login %}
<footer>
  <div id="FooterSocialMedia_Big" class="footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-4">
          <h4>{% trans "Get updates"  %}</h4>
          <form id="sign-up-form" action="{% url 'newsletter_signup' %}">
            <div class="form-group">
              <input class="form-control" id="id_email" name="email" type="text" placeholder="{%trans "Enter your e-mail..."%}">
            </div>
          </form>
          <p id="newsletter-conf"></p>
          <p>{% blocktrans %}Get all the latest updates, including featured posts, and security tips!{% endblocktrans %}</p>
        </div>
        <div class="col-xs-3">
          <h4>{% trans "Connect with us"  %}</h4>
          <div class="social-icons">
            <a target="_blank" href="https://twitter.com/movements_org">
              <img src="{{ STATIC_URL }}images/v2/twitter-bigger.png" alt="{%trans "Connect with Twitter"%}" >
            </a>
            <a target="_blank" href="https://www.facebook.com/Movements.org">
              <img src="{{ STATIC_URL }}images/v2/facebook-bigger.png" alt="{%trans "Connect with Facebook"%}" >
            </a>
{#            <a href="">#}
{#              <img src="{{ STATIC_URL }}images/v2/gplus-bigger.png" alt="Connect with Google Plus" >#}
{#            </a>#}
          </div>
        </div>
        <div class="col-xs-5">
          <h4>{% trans "About MOVEMENTS"  %}</h4>
          <p>{% blocktrans %}Crowdsourcing human rights. The online platform that is opening closed societies.{% endblocktrans %}</p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-xs-6">
          <div class="footer-copyright">{% blocktrans %}Copyright &copy; 2015 Advancing Human Rights{% endblocktrans %}</div>
        </div>
        <div class="col-xs-6">
          <div class="footer-nav-content">
            {% show_menu 0 100 100 100 "cms/navs/bottom_nav_v2.html" %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="FooterSocialMedia_Small" class="footer">
    <div class="footer-copyright">{% blocktrans %}Copyright &copy; 2014 Advancing Human Rights{% endblocktrans %}</div>
    <div class="social-icons">
        {% trans "Connect with us"  %}
        <a target="_blank" href="https://twitter.com/movements_org">
          <img src="{{ STATIC_URL }}images/v2/twitter.png" alt="Twitter" >
        </a>
        <a target="_blank" href="https://www.facebook.com/Movements.org">
          <img src="{{ STATIC_URL }}images/v2/facebook.png" alt="Facebook" >
        </a>
        <a href="">
          <img src="{{ STATIC_URL }}images/v2/gplus.png" alt="Google Plus" >
        </a>
    </div>
  </div>
</footer>
{% endif %}
<div id="modal-placeholder"></div>
<script type="text/template" id="add-post-template">
  <a onClick="ga('send', 'event', 'button', 'click', 'create-request');" class="btn btn-request" href="{% url 'create_request' %}">
    <img src="{{ STATIC_URL }}images/v2/request_icon.png"/>{%trans "Request"%}
  </a>
  <a onClick="ga('send', 'event', 'button', 'click', 'create-offer');" class="btn btn-offer" href="{% url 'create_offer' %}">
    <img src="{{ STATIC_URL }}images/v2/offer_icon.png"/>{%trans "Offer"%}
  </a>
</script>
<script type="text/template" id="content-menu-template">
  <ul>
  <li><a href="{% url 'user_profile' %}">
    <div class="nav-menu-item-wrap profile">
      <div class="nav-menu-item"></div>
      {% trans "Profile"%}
    </div>
  </a></li>
  <li><a href="{% url 'user_settings' %}">
    <div class="nav-menu-item-wrap settings">
      <div class="nav-menu-item"></div>
      {% trans "Settings"%}
    </div>
  </a></li>
  {% if request.user.userprofile.is_translator %}
  <li><a href="{% url 'show_translations' %}">
    <div class="nav-menu-item-wrap translations">
      <div class="nav-menu-item"></div>
      {% trans "Translations"%}
    </div>
  </a></li>
  {% endif %}
  <li><form method="post" action="{% url 'account_logout' %}">
    {% csrf_token %}
    <a href="#" onclick="parentNode.submit();">
      <div class="nav-menu-item-wrap logout">
        <div class="nav-menu-item"></div>
        {% trans "Logout" %}
      </div>
    </a>
  </form></li></ul>
  <div class="clearfix"></div>
</script>

<script type="text/template" id="loader-template">
  <div class="ajaxloader">
    <img src="{{ STATIC_URL }}images/ajax-loader.gif"/>
  </div>
</script>

{% assets "js_all" %}
  <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% include "market/clientside/app_urls.html" %}
<script type="text/javascript">
  window.ahr.string_constants = {{ string_constants|safe }};
</script>

{% block javascript %}
{% endblock %}

{% block endjavascript %}
{% endblock %}
{% render_block "js" %}

{#Commenting this out until we have some sort of design for it and can redo it#}
{#{% if user.is_authenticated and not user.userprofile.first_login %}#}
{#  {% include "market/clientside/notifications.html" %}#}
{#  <script type="text/javascript" id="notifications_view">#}
{#    (function () {#}
{#      window.ahr.notifications_widget.initWidget()#}
{#    })();#}
{#  </script>#}
{#{% endif %}#}

<script type="text/javascript">
  (function () {
    $('#view-content-menu').click(function(){
      if($('#main-cms-nav').is(":visible")){
        $('#main-cms-nav').slideUp("fast");
        $('.menu-selector').removeClass("selected");
      } else {
        $('#main-cms-nav').slideDown("fast");
        $('.menu-selector').addClass("selected");
      }
    });
  })();
</script>
<script type="text/javascript">
  $(document).ready(function(){
      $('.set-lang').click(function(ev){
        ev.preventDefault();
        var lang = $(ev.currentTarget).data('language');
        $.ajax({
          url: '/set-language',
          type: 'POST',
          dataType: 'json',
          data: {
            language_code: lang
          },
          success: function(ev){
            if(ev.result === 'success'){
              window.location.reload();
            }
          }
        });
      });
  });
</script>

</body>
</html>
