{% load cms_tags sekizai_tags%}
{% load menu_tags %}
{% load assets %}
{% load i18n %}
{% load l10n %}
{% load avatar_tags %}
{% load url from future %}
{% load account %}
{% load postman_tags %}
{% postman_unread as unread_count %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_current_language_bidi as LANGUAGE_BIDI %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{% block head_title %}{% endblock %}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% assets "css_all" %}
    <LINK href="{{ ASSET_URL }}" rel="stylesheet" type="text/css">
  {% endassets %}


  {% assets "js_all" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}

  {% block extra_head %}
  {% endblock %}

  {% if config.GOOGLE_ANALYTICS %}
  {{ config.GOOGLE_ANALYTICS|safe }}
  {% endif %}

</head>
<body class="{% block body_class %}{{ body_class }}{% endblock %}">
{% cms_toolbar %}
{% render_block "css" %}
{% render_block "js" %}

{% if messages %}
  {% for message in messages %}
    <div style="display:none;">{{ message }}</div>
  {% endfor %}
{% endif %}
<nav class="navbar navbar-default navbar-fixed-top {% if user.is_authenticated and user.is_superuser %}navbar-admin {% endif %}"
    role="navigation">

  <div class="container" style="position:relative;">
    <div class="row">
      <div class="col-xs-12">
      <div class="navbar-header{% if user.is_authenticated %} authenticated{%endif%}">
        <button id="shownavbarbutton" type="button" class="navbar-toggle" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">{%trans "Toggle navigation"%}</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class_="navbar-brand" href="/"><img src="{{ STATIC_URL }}images/logos/Logo.png"/></a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          {% if not user.is_authenticated %}
            <li><a href="{% url 'how_it_works_pub' %}">{%trans "How It Works"%}</a></li>
          {% else %}
            <li><a href="{% url 'how_it_works_priv' %}">{%trans "How It Works"%}</a></li>
            <li><a href="/">Exchange</a></li>
            <li><a href="{% url 'show_users' %}">{%trans "Exchangivists"%}</a></li>
          {% endif %}
          {% show_menu 0 100 100 100 "cms/menu.html" %}
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {% if user.is_authenticated %}
            <li>
              <a class="postman-notification glyphicon glyphicon-envelope {% if unread_count %}notif{% endif %}" href="{% url 'postman_inbox' %}">
                <span class="hidelarge">
                  {%trans "Messages"%}<span id="msgcntr">{% if unread_count %}({{ unread_count }}){% endif %} </span>
                </span>
              </a>
            </li>
            <li class="notifdropdown-click">
              <a data-toggle="dropdown" class="dropdown-toggle title" href="#">
                <div id="bellonlarge" class="notifbell glyphicon glyphicon-bell nonotif">
                <span class="hidelarge">{%trans "Notifications"%}</span>
                </div>
              </a>
              <ul id="" class="notification-drop-down dropdown-menu pull-right"></ul>
            </li>
            <li class="dropdown">
              <a href="#" class="navavatar dropdown-toggle" data-toggle="dropdown">
                {% primary_avatar user 50 %}
                 <span class="hidelarge">{%trans "Settings"%}</span>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a href="#" onclick="window.location = window.ahr.app_urls.getposts;">
                    {%trans "My Posts"%}
                  </a>
                </li>
                <li><a href="{% url 'user_profile' %}">{%trans "My Profile"%}</a></li>
                <li><a href="{% url 'user_settings' %}">{%trans "Settings"%}</a></li>
                <li>
                  <form method="post" action="{% url 'account_logout' %}">
                    {% csrf_token %}
                    <button class="btn btn-link" type="submit">{%trans "Sign Out"%}</button>
                  </form>
                </li>
              </ul>
            </li>
          {% else %}
            {% block sign_in %}
              <li><a href="{% url 'account_login' %}">{%trans "Sign In"%}</a></li>{% endblock %}
            {% if not sign_up %}
              <li><a href="{% url 'home' %}">{%trans "Sign Up"%}</a></li>
            {% endif %}
          {% endif %}
        </ul>
      </div>
    </div>
    {% if user.is_authenticated %}
      <div class="mobilenofication-icon hidelarge">
        <div class="row">
          <ul class="nav pull-right">
            <li class="notifdropdown-click">
              <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                <div id="bellonlarge" class="notifbell glyphicon glyphicon-bell nonotif"></div>
              </a>
              <ul id="" class="notification-drop-down dropdown-menu pull-right"></ul>
            </li>
          </ul>
        </div>
      </div>
    {% endif %}
    </div>
  </div>
</nav>
<!--<div style="height:50px;"></div>-->
{% block outsidecontainer %}
{% endblock %}

{% block ext_container %}
<div class="container" id="main-content-container">

  <div id="currentusername" class="hidden">{{ user.username }}</div>

  {% block content %}
  {% endblock %}

  {% include "market/clientside/app_urls.html" %}

  {% block extra_body %}
  {% endblock %}
</div>
{% endblock %}

<div style="height: 70px"></div>
<nav class="navbar navbar-default navbar-fixed-bottom footer-nav" role="navigation">
  <div class="footer-nav-content">
    <a href="{% url 'contact_us' %}">{%trans "Contact Us"%}</a>&nbsp;&nbsp;
    <a href="{% url 'terms_and_conditions' %}">{%trans "Terms and Conditions"%}</a>&nbsp;&nbsp;
    <a href="{% url 'privacy' %}">{%trans "Privacy"%}</a>
  </div>
</nav>
<div id="modal-placeholder"></div>

{% block javascript %}
{% endblock %}

{% block endjavascript %}
{% endblock %}
<script type="text/javascript" src="{% url 'django.views.i18n.javascript_catalog' %}"></script>
{% if user.is_authenticated %}

  {% include "market/clientside/notifications.html" %}

  <script type="text/javascript" id="notifications_view">
    (function () {
      window.ahr.notifications_widget.initWidget()

    })();
  </script>
{% endif %}
</body>
</html>