{% extends "base.html" %}

{% load url from future %}
{% load i18n %}

{% block head_title %}{% trans "Sign Up" %}{% endblock %}

{% block body_class %}narrow{% endblock %}

{% block content %}
<div class="public">
  {% block public-content %}
  {% endblock %}
</div>
<div class="row">
  <div class="col-md-12">
    {% include 'ahr/_footer_logos.html' %}
  </div>
</div>
{% endblock %}

{% block javascript %}
  <script type="text/javascript">
    $.backstretch("{{ STATIC_URL }}images/landing-bg-1920x1202-blended.jpg");
  </script>
{% endblock %}
