{% extends "base_v2.html" %}

{% load url from future %}
{% load i18n %}

{% block head_title %}{% trans "Sign Up" %}{% endblock %}

{% block ext_container %}
<div class="container" id="main-content-container">

  <div id="currentusername" class="hidden">{{ user.username }}</div>

  {% block content %}
  <div class="public">
    {% block public-content %}
    {% endblock %}
  </div>
  {% endblock %}
  {% include "market/clientside/app_urls.html" %}

  {% block extra_body %}
  {% endblock %}  
</div>
{% endblock %}
