{% extends "base.html" %}
{% load socialaccount %}
{% load i18n %}

{% block head_title %}{% trans "Exchangivist" %}{% endblock %}

{% block content %}
<div class="hero-text">
    {% blocktrans %}Exchangivist is an online portal giving activists the tools they need to advance human rights in closed societies around the world.{% endblocktrans %}
</div>

<div class="row">
  <div class="col-md-6 col-sm-7 ">
    <div class="dialog sign-up-initial">
      <div><h1>{% trans "Sign Up" %}</h1></div>
        <form id="signup_form" action="/home-page-sign" method="GET" class="form-horizontal" role="form">
        <div class="form-group">
          <div class="col-xs-6">
            <input type="text" class="form-control" name="first_name" placeholder="Firstname">
          </div>
          <div class="col-xs-6">
            <input type="text" class="form-control" name="last_name" placeholder="Lastname">
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-12">
            <input type="email" class="form-control" name="email" placeholder="Email">
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-6">
            <button type="submit" class="btn full-width">{% trans "I'M AN ACTIVIST" %}</button>
          </div>
          <div class="col-xs-6">
            <button type="submit" class="btn full-width">{% trans "I'M READY TO HELP" %}</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="col-sm-5 col-md-offset-2 col-md-4 social-sign-up">
    <div class="dialog">
      <a href="{% provider_login_url "twitter" %}">
        <img src="{{ STATIC_URL }}images/twitter-24x18.png" alt="Google+"/>
        SIGN UP WITH TWITTER
      </a>
    </div>
    <div class="dialog">
      <a href="{% provider_login_url "facebook" method="oauth2" %}">
        <img src="{{ STATIC_URL }}images/facebook-12x23.png" alt="Facebook"/>
        SIGN UP WITH FACEBOOK
      </a>
    </div>
    <div class="dialog">
      <a href="{% provider_login_url "google" %}">
        <img src="{{ STATIC_URL }}images/google-plus-23x20.png" alt="Google+"/>
        SIGN UP WITH GOOGLE PLUS
      </a>
    </div>
  </div>
</div>

<div class="hero-text">
  {% blocktrans %}Activists and experts can connect to exchange their expertise in support of basic freedoms like speech, press, association, religion and movement.{% endblocktrans %}
</div>

<div class="row home-logos">
  <div class="col-sm-3 col-md-4 left">
    <a href="http://movements.org" alt="movements.org" target="_blank"><img src="{{ STATIC_URL }}images/logos/movements-165x36.png" alt="movements.org"/></a>
  </div>
  <div class="col-sm-6 col-md-4 middle">
    <a href="http://advancinghumanrights.org" alt="Advancing Human Rights" target="_blank"><img src="{{ STATIC_URL }}images/logos/ahr-311x39.png" alt="Advancing Human Rights"/></a>
  </div>
  <div class="col-sm-3 col-md-4 right">
    <a href="https://www.uproxy.org/" alt="uProxy" target="_blank"><img src="{{ STATIC_URL }}images/logos/uproxy-218x37.png" alt="uProxy"/></a>
  </div>
</div>

{% endblock %}

{% block javascript %}
  <script type="text/javascript">
    $.backstretch("{{ STATIC_URL }}images/landing-bg-1020x1300-blended.jpg");
  </script>
{% endblock %}