<script type="text/template" id="textarea_template">

	<div class="row">		
		<div class="form-group  col-sm-4">	
			<textarea class="form-control col-sm-12" name="<%=jsonfield%>" id="<%=jsonfield%>" style="height:200px;" placeholder="<%=placeholder%>"></textarea>	
		</div>
	</div>
		
</script>


<script type="text/template" id="input_template">

	<div class="row">
		<div class="form-group">
			<label for="post-title" class="col-sm-2 control-label"><%=title%></label>
			<div class="col-sm-2">
				<input id="<%=jsonfield%>" name="<%=jsonfield%>" class="form-control" type="text" placeholder="<%=placeholder%>"/>
			</div>
		</div>
	</div>

</script>


<script type="text/template" id="datetimepicker_template">

	<div class="row">
        <div class="form-group">
			<label for="exp-date" class="col-sm-2 control-label"><%=title%>Expiry date</label>
            <div class='input-group date col-sm-2' id='datetimepicker-<%=jsonfield%>'>
                <input type='text' id="<%=jsonfield%>"  name="<%=jsonfield%>" class="form-control" />
                <span class="input-group-addon">
                	<span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
	</div>

</script>	


<script type="text/template" id="typeahead_template">

	<div class="row">		
		<span class="col-sm-4"><%=title%></span>
	</div>


	<div class="row">		
	  	<div class="input-group col-sm-4">
			<input id="<%=item%>" class="form-control" type="text"/>
			<span class="input-group-addon">
				<span class="glyphicon <%=item%>">Add</span>
  			</span>
  		</div>		
	</div>
	<div class="row errors">&nbsp;</div>
	<div class="row">		
		<div class="col-sm-4">		
			<div class="input-group" id="<%=item%>Tags"></div>
		</div>
	</div>
	<div class="row">&nbsp;</div>

</script>


<script type="text/template" id="afile_template">

	<div class="row">
		<div class="form-group">
			<label for="post-title" class="col-sm-2 control-label"><%=title%></label>
			<div class="col-sm-4">
				<input id="<%=jsonfield%>" name="<%=jsonfield%>" class="form-control file-input" type="file" placeholder="<%=placeholder%>"/>
			</div>
		</div>
	</div>

</script>
