{% extends "admin/base_site.html" %}
{% load i18n admin_static %}
{% load admin_urls %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label='auth' %}">Auth</a>
&rsaquo; <a href="/admin/auth/user">{{ 'Users'|capfirst }}</a>
&rsaquo; <a href="/admin/auth/user/{{ original.pk }}">{{ original|truncatewords:"18" }}</a>
&rsaquo; {% trans 'Vet User' %}
</div>
{% endblock %}

{% block content %}
<div id="content-main">  
  <form action="" method="post">
    {% csrf_token %}{% block form_top %}{% endblock %}
    <div>
      {% if form.errors %}
        <p class="errornote">
        {% blocktrans count counter=form.errors.items|length %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
        </p>
      {% endif %}
      <p>This is where you can mark a user as verified by Movements.org, the star ratings mean this:</p>
      <ul>
        <li>0 Stars - Confirmed email</li>
        <li>1 Star -  Confirmed email and confirmed 1 social media account and/or bio</li>
        <li>2 Stars - Confirmed email and confirmed 2 social media accounts/bio</li>
        <li>3 Stars - Confirmed email and confirmed all social media and bio</li>
        <li>4 Stars - Movements.org knows user/significant online present</li>
        <li>5 Stars - Personally known by Movements.org</li>
      </ul>
      <p>You are vetting <strong>{{original}}</strong>, who provided the email <strong>{{original.email}}</strong> which they <strong>have {% if not email_verified %}not{% endif %} verified</strong> through the system.</p>
      <div>
        <p>Rate User: {{ form.rated_by_ahr }}</p>
      </div>
      {% if msg %}
      <div style="border: 1px solid teal; padding: 10px; font-size: 1.2em; color: teal; margin-bottom: 5px;">
        {{ msg }}
      </div>
      {% endif %}      
      <div>
        <input type="submit" value="{% trans 'Update' %}"  />
      </div>
      {% if vetted %}
      <div style="margin-top:50px;">
      <div id="emailvetmsg" style="border: 1px solid teal; padding: 10px; font-size: 1.2em; color: teal; margin-bottom: 5px;display:none;">
        
{#      </div>#}
{#        <a class="sendvettedemail" target="_blank" href="{% url 'email_vet_user' user.id %}"><button>Send vetted email</button></a>#}
{#      </div>#}
      {% endif %}
    </div>
  </form>
</div>
<script type="text/javascript" src='/static/js/lib/jquery-1.11.0.min.js'></script>
<script type="text/javascript">
$(document).ready(function(){  
    $('body').on('click','.sendvettedemail',function(ev){
        ev.preventDefault();
        if(confirm('Send a vetted email to this user?')){
            $.getJSON(ev.currentTarget.href,function(data){
              $('#emailvetmsg').show();
              $('#emailvetmsg').text(data.message);
            });
        }
        return false;
    });
});
</script>
{% endblock %}
